<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
	.summblock {
    border: none;
}
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  
  <form name="frmftr02" id="frmftr02"   method="post" data-bind='submit: rrblp02Submit'>
  
  <div class="summblock">
  		
  		<div class="info_row even"> <span class="info_row_left">Utility</span> <span class="info_row_right clslineht" id="fldCompanyName"></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row odd"><span class="info_row_left">Identification No.</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span  id="fldBillCompId"></span></a></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row even"> <span class="info_row_left">Consumer No.</span> <span class="info_row_right clslineht"><a href="javascript:void(0);" class="disableclick"><span  id="fldConsumerNo"></span></a></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row odd"><span class="info_row_left">Debit Account</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span  id="fldFromAcctNo"></span></a></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row even"> <span class="info_row_left">Available Balance</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span  id="fldCustAcctBal" style="display:none;"></span><span  id="fldCustAcctBalS" ></span></a></span>
        <div class="clearfix"></div>
      </div>
  
      <div class="info_row odd" id="billOutStandingDiv" style="display:none;"><span class="info_row_left">Pay Amount</span> <span class="info_row_right">
        <a href="javascript:void(0);" class="disableclick"><span id="BilOtstnd" style="display:none;"></span><span id="BilOtstndS" ></span></a>
        </span>
        <div class="clearfix"></div>
      </div>
	  </div>


	  
	   <div class="info_row" id="billOutStandingOtherDiv" style="display:none;">
      	<div class="info_row2">Amount</div>
      	<div class="info_row3">
      	  <input id="fldTxnAmt" name="fldTxnAmt" type="text" value="" size="8" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" style="display:none;"/>     	
        </div> 
      </div>
      
	 
		
 
	<input type="hidden" name="fldRequestId" id="fldRequestId" value="RRBLP03" />
	<input type="hidden" name="fldTxnId" value="BLP" />
	
	<input type="hidden" name="fldScrnSeqNbr" value="03" />
  
  
   <div class="clearfix"></div>
      <br/>
      <div class="alignc"> <input type="submit" class="button" value="BillPay" /></div>
  
   
 </form>

  

  </div>
</div>

<script type="text/javascript">


</script>
