<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  
  <div class="summblock">
       <div class="info_row dark_header"> <span class="info_row_left" >Reference No.</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span id="refno"></span></a></span>
        <div class="clearfix"></div>
      </div>	
	  <div class="info_row even"> <span class="info_row_left">Utility</span> <span class="info_row_right clslineht" id="fldCompanyName"></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row odd"><span class="info_row_left">Identification No.</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span  id="fldBillCompId"></span></a></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row even"> <span class="info_row_left">Consumer No.</span> <span class="info_row_right clslineht"><a href="javascript:void(0);" class="disableclick"><span  id="fldConsumerNo"></span></a></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row odd"><span class="info_row_left">Debit Account</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span  id="fldFromAcctNo"></span></a></span>
        <div class="clearfix"></div>
      </div>      
      
      <div class="info_row odd"> <span class="info_row_left clslineht">Bill Outstanding Amount</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span id="balavailable" style="display:none;"></span><span id="balavailableS"></span></a></span>
        <div class="clearfix"></div>
      </div>
      
      <div class="info_row even"><span class="info_row_left">Pay Amount</span> <span class="info_row_right page_title_sub">
        <a href="javascript:void(0);" class="disableclick" style="color:#001f79;"><span id="billamount" style="display:none;"></span><span id="billamountS"></span></a>
        </span>
        <div class="clearfix"></div>
      </div>
	 
     </div> 

  

  </div>
</div>


