<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  
  <form name="f1" id="f1" method="post" data-bind='submit: rrblp03Submit'>
  
  <div class="summblock">
  
  <div class="info_row dark_header"> <span class="info_row_left" >Identification No.</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span id="fldBillCompId"></span></a></span>
        <div class="clearfix"></div>
      </div>	
	  <div class="info_row odd"> <span class="info_row_left">Utility</span> <span class="info_row_right clslineht" id="fldCompanyName"></span>
        <div class="clearfix"></div>
      </div>
  
  		
      <div class="info_row even"> <span class="info_row_left">Consumer No.</span> <span class="info_row_right clslineht"><a href="javascript:void(0);" class="disableclick"><span  id="fldConsumerNo"></span></a></span>
        <div class="clearfix"></div>
      </div>
      <div class="info_row odd"><span class="info_row_left">Debit Account</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span  id="fldFromAcctNo"></span></a></span>
        <div class="clearfix"></div>
      </div>
      
	      <div class="info_row even" id="fldcustacctbalDiv" style="display:none;"> 
	      <span class="info_row_left">Available Balance</span> <span class="info_row_right"><a href="javascript:void(0);" class="disableclick"><span id="fldcustacctbal" style="display:none;"></span><span id="fldcustacctbalS"></span></a></span>
	        <div class="clearfix"></div>
	      </div>
	  
	     <div class="info_row even" id="fldcustacctbalDivOthr" style="display:none;"> 
	      <span class="info_row_left">Available Balance</span> <span class="info_row_right">0.00</span>
	        <div class="clearfix"></div>
	      </div>
	    
   
       <div class="info_row odd"> <span class="info_row_left">Pay Amount</span> <span class="info_row_right page_title_sub"><a href="javascript:void(0);" class="disableclick" style="color:#001f79;"> <span id="fldTxnAmt" style="display:none;"></span><span id="fldTxnAmtS"></span></a></span>
        <div class="clearfix"></div>
      </div>
      
      </div>
      <br/><div class="clearfix"></div>
      <div class="alignc"><input type="submit" class="button" value="Confirm" /></div>
		
  <p/> 
 
	
   <input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
  
   
 </form>

  

  </div>
</div>


