<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
	
		<form name="frmaddbill2" id="frmaddbill2"method="post" data-bind='submit: addbillSubmit2'>
		<div class="summblock">
		 <span style="display:none;" id="rchamt1"></span>
		 <input type="hidden" id="authenticate1" name="authenticate1" value="" />
		  
		 <div class="info_row dark_header"> <span class="info_row_left clslineht">Biller</span> 
		 <span class="info_row_right clslineht " name="fldbillername" id="fldbillername">				
			   </span>
			<div class="clearfix"></div>
		  </div> 
		
		<div class="info_row odd"> <span class="info_row_left clslineht">Mobile Number</span> 
		<span class="info_row_right clslineht " name="authenticator1" id="authenticator1">			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row even" id="Bname" style="display:none;"> <span class="info_row_left clslineht">Biller Short Name</span> 
		<span class="info_row_right clslineht " name="Billershotname" id="Billershotname">			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  

		  
		  </div>
		  
		  <br/>
		  

		
		  
		 <div class="clearfix20"></div>
		   <div class="info_row">
		    <input type="submit" class="button" value="Confirm" >
		   </div> 
		  <input type="hidden" name="billerId" id="billerId" value="" />
		  <input type="hidden" name="Bsname" id="Bsname" value="" />
		  <input type="hidden" name="custid" id="custid" value="" />
</form>
</div>
</div>	 