<style>
   .info_row { display:table; width:100%; }
   .summblock { margin:0 5px !important; }
   
   
   
.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}

::-webkit-input-placeholder { font-size: 17px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
   <div class="content sub_content">
     <form name="fromuab02" id="fromuab02" method="post" data-bind="submit:addbillSubmit1" >
     
   
	   <div class="summblock">
         <div class="info_row  dark_header">
            <span class="info_row_left_new" id="company"></span> 
            <div class="clearfix"></div>
         </div>
         <div class="clearfix"></div>
		 
      </div>
		  
      <div class="info_row rchgMenu" id="div1" >
         <div><label id="lable1">Mobile Number</label></div>
         <div class="dispTable">
            <input type="tel" id="authenticator1" maxlength="10"  name="authenticator1" value=""  class="rs_fld" />
         </div>
      </div>
	  
	   <div class="info_row rchgMenu">
         <div><label>Biller Short Name (Optional)</label></div>
         <div class="dispTable">
            <input type="text" id="Bsname" name="Bsname" value="" maxlength="6" placeholder="Max 6 Character e.g.,HOME"  class="rs_fld"  />
         </div>
      </div>
		 
      
	  	<div class="clearfix"></div>
	    <div class="linedivider"></div>
		<div class="clearfix"></div>
		    <br/><br/>
	            <div >
		         <input type="submit" class="button" value="Submit" />
	            </div>
				
				 <input type="hidden" name="billerId" id="billerId" value="" />
			    <input type="hidden" name="custid" id="custid" value="" />
				 <input type="hidden" name="company1" id="company1" value="" />
	 </form>
	 
		</div>
      </div>
  
</div>
<!-- /content --> 
</div>

<script>
 $(document).ready(function(){
 
 $(function(){
    var txt = $("input#Bsname");
    var func = function(e) {
      if(e.keyCode === 32){
        txt.val(txt.val().replace(/\s/g, ''));
      }
    }
    txt.keyup(func).blur(func);
});
 
 function checkLength(id,len){
		//$("#"+id).prop("type","text"); $("#"+id).blur();
        var val = $("#"+id).val();
        var re = /^([A-Za-z0-9]+)$/g;
        var re1 = /^([A-Za-z0-9]+)/g;
        if (re.test(val)) {
            if(val.length > len){
					length=val.length-len;
					$("#"+id).val(val.toString().slice(0, -length));
			}
				
    
        } else {
            val = re1.exec(val);
            if (val) {
                $("#"+id).val(val[0]);
            } else {
                $("#"+id).val("");
            }
        }//$("#"+id).blur(); $("#"+id).prop("type","number"); $("#"+id).focus();
		}
 
 
 
$.validator.addMethod("alphanumeric", function(value, element) {
     return this.optional(element) || /^[A-Za-z0-9]+$/i.test(value); 
}
, "Please enter valid Passport no");  
  // var
	$("#fromuab02").validate({
	
	rules: {
		
		authenticator1: {		
		  required:true
		  
		 }, 
		 Bsname: {
		  alphanumeric:true,
		 }, 
		 
	
	
		
	},
	messages: {
		authenticator1: {		
		  required:"Please enter mobile number"
		
		  
		 }, 
		 
	    Bsname:{
		    alphanumeric : "Space and special character not allowed in Biller Short Name",	    
		},	
		
		
								
	}
});
	});
	</script>	

	