<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
     <div id="success" style="display:none;"> 
			<div style=" margin-left: 5px;">
			<img src="img/icon_ok.png" style="
             vertical-align: middle;">
			<span class="sucess_msg" style="
                  vertical-align: middle;">Your Biller has been successfully added.</span>
			</div>

			<!-- <div class="summblock">
			<div class="info_row  dark_header"><span class="info_row_left clslineht">Mobile No:</span> 
		          <span class="info_row_right clslineht " name="Mobileno" id="Mobileno">				
			   </span>
				<div class="clearfix"></div>
			</div>
		
			<div class="clearfix"></div>
			
			
			
			<div class="info_row even"> <span class="info_row_left clslineht">Biller Short Name:</span> 
		        <span class="info_row_right clslineht " name="fldBillerS" id="fldBillerS">			
			   </span>
				<div class="clearfix"></div>
			</div>
					
				 
				<div class="clearfix"></div>
			</div> -->
		</div>	
		<div class="info_row" id="fail" style="display:none;">
            <p id="failmsg"></p>
        </div>
			
	
	</div>
