<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
			
			
			
			<div class="summblock">
			
			<div class="info_row even"> <span class="info_row_left clslineht">Operator Name</span> 
			<span class="info_row_right " id="rchrgdata">
				
				 </span>
				<div class="clearfix"></div>
			</div>
		
			
			
			
			
			<div class="info_row odd"> <span class="info_row_left clslineht" >Subscriber Number</span> 
			<span class="info_row_right " id="chkdata">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row even"> <span class="info_row_left clslineht" >Recharge Amount(Rs.Ps)</span> 
			<span class="info_row_right " id="chktxn">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
		
			
			
			<div class="info_row odd"> <span class="info_row_left clslineht" >Recharge Status</span> 
			<span class="info_row_right clslineht " id="rchrstatus">
			
				 </span>
				<div class="clearfix"></div>
			</div>
			
				<div class="info_row even"> <span class="info_row_left clslineht">Recharge  Description</span> 
			<span class="info_row_right clslineht " id="rchrdesc">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			
				<div class="info_row odd"> <span class="info_row_left clslineht"  >Transaction Status</span> 
			<span class="info_row_right clslineht " id="rchrpaystatus">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row even"> <span class="info_row_left clslineht"  >Transaction Reference Number</span> 
			<span class="info_row_right clslineht " id="rchrtxn">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row odd"> <span class="info_row_left clslineht"  >Transaction Date and Time</span> 
			<span class="info_row_right clslineht " id="chkdate">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			
		</div>	
				
		
				
			
	
	
	</div>
</div>	
	