<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
	
		<form name="rrpmb03" id="rrpmb03" method="post" data-bind='submit: rrdth03submit'>
		<div class="summblock">
		  <input type="hidden" id="subcriber1" name="subcriber1" value=""/>
		 <span  id="rchdth1" style="display:none;"></span>
		  
		 <div class="info_row dark_header"> <span class="info_row_left clslineht">DTH Operator</span> 
		 <span class="info_row_right clslineht " id="dthoper2">				
			   </span>
			<div class="clearfix"></div>
		  </div> 
		
		<div class="info_row odd"> <span class="info_row_left clslineht">Subscriber No</span> 
		<span class="info_row_right clslineht " id="dthnum2">			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row even"> <span class="info_row_left clslineht">Recharge amount</span> 
		  <span class="info_row_right clslineht " id="rchdth2">
				
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		    <div class="info_row odd"> <span class="info_row_left clslineht">Bank account</span> 
		  <span class="info_row_right clslineht " id="dthbak1">
				
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  </div>
		  
		  <br/>
		  
		  
		  
		  <!-- <div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div>
		  <div class="info_row3">
				<select name="fldAcceptTerms" id="fldAcceptTerms" class="styled">
					<option value="true">Accept</option>
					<option value="false">Decline</option>
				</select>
			</div>
		  </div>-->
		
	

		
		  
		 <div class="clearfix20"></div>
		   <div class="info_row">
		    <input type="submit" class="button" value="Confirm" >
		   </div> 
		</form>
</div>
</div>