<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	 .info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    <form name="rruab03" id="rruab03" method="post" data-bind="submit:autopay">
	 <div class="summblock">  
			<div class="info_row  dark_header"><span class="info_row_left_new " id="type3"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right" id="billershort1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"  id="auth1" style="display:none;"><span class="info_row_left" id="fldlable1"></span> 
			<span class="info_row_right" id="authenticator1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" id="auth2" style="display:none;"><span class="info_row_left" id="fldlable2"></span> 
				<span class="info_row_right" id="authenticator2"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even" id="auth3" style="display:none;" ><span class="info_row_left" id="fldlable3"></span> 
				<span class="info_row_right" id="authenticator3"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" id="auth4" style="display:none;" ><span class="info_row_left" id="fldlable4"></span> 
				<span class="info_row_right" id="authenticator4"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" id="auth5" style="display:none;" ><span class="info_row_left" id="fldlable5"></span> 
				<span class="info_row_right" id="authenticator5"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" id="auth6" style="display:none;" ><span class="info_row_left" id="fldlable6"></span> 
				<span class="info_row_right" id="authenticator6"></span>
				<div class="clearfix"></div>
			</div>
				<div class="info_row odd" id="auth7" style="display:none;" ><span class="info_row_left" id="fldlable7"></span> 
				<span class="info_row_right" id="authenticator7"></span>
				<div class="clearfix"></div>
			</div>
				<div class="info_row odd" id="auth8" style="display:none;" ><span class="info_row_left" id="fldlable8"></span> 
				<span class="info_row_right" id="authenticator8"></span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row even" id="amount" style="display:none;"><span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub" id="Amount"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" id="fldaccount" style="display:none;"><span class="info_row_left">Bank Account</span> 
			<span class="info_row_right" id="billaccnt1"></span>
				<div class="clearfix"></div>
			</div>
            <div class="info_row even" style="display:none;"><span class="info_row_left"></span> 
			<span class="info_row_right" id="checkbutton"></span>
				<div class="clearfix"></div>
			</div>				
		</div>
		     
	    
          <br/><br/>		
		     <div>	
		    <input type="submit" class="button" value="Confirm" />
	        </div>
     </form>
	     <div class="info_row">
					 <b>Note:</b>
					 <br/><br/>
					 <p> Payment Date: To ensure no service disruptions or late payment charges, you are requested to pay your bills at least 3 working days before the due date.</p>
					 <br/><br/>
		             <p>Rejection of Payment: If the biller details provided by you are incorrect, the biller will not accept the payment.</p>
					 <br/><br/>
					 <p>Kindly refer your bill copy to reconfirm the payment amount.</p>
					 <div class="clearfix"></div>
		  </div>
		   <br/><br/>
		
				  
<br/><br/>

 <br/>
	    </div> 
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>
<script>

</script>