<div id="wrapper" style="top:96px;">
  				<div class="content ">
		<form name="rruap01" id="rruap01" method="post" data-bind='submit:rruap01submit'>
					<div class="info_row rchgMenu"> 
						
							<div><label>Select Biller Category</label></div>
							<div class="dispTable">
						<select name="Blist1" id="Blist1" data-bind="options: billoperlist2, optionsText: 'displaytxt', optionsValue: 'values',  optionsCaption: '-Select-'" >
						  
						</select>
							</div>
					  
					</div>
					<div class="clearfix"></div>
					<div class="linedivider"></div>
					
							
					 <div class="info_row rchgMenu"> 
						
							<div><label>Select Biller</label></div>
							<div class="dispTable">
						<select name="Blist2" id="Blist2" >
						<option>-Select-</option>
						</select>
							</div>
					  
					</div>
					
					<div class="linedivider"></div>
					<br/>
					<br/>
					<div>
						<input type="submit" class="button" value="Submit" />
					</div>
		</form>
                    <div class="info_row">
		<b>Note:</b>
		<br/><br/>
		<p>Payment only type billers (e.g. Credit Cards) will be available only through the Ad-hoc Payment option under BillPay tab. For other billers please click on View/Pay Bills under the BillPay tab</p>
		</br>
		<p><b>Payment Date:</b> To ensure no service disruptions or late payment charges, you are requested to pay your bills at least 3 working days before the due date</p>
		</br>
		<p><b>Rejection of Payment:</b> If the biller details provided by you are incorrect, the biller will not accept the payment.</p>
		</br>
		<p>Kindly refer your bill copy to reconfirm the payment amount.</p>
	
		



		


			<div class="clearfix"></div>

			
		 </div>
				</div>
			</div>
	<script>
    $(document).ready(function(){
        $('#Blist1').change(function(){
		$('#Blist2').empty();	
        category =($('#Blist1').val());
		if(category=="PREPAID MOBILE"){
		  $("#mobiller").show();
		}
		else{
		  $("#mobiller").hide();
		}
		
    var option1 = new Option('-Select-', '');
   	$("#Blist2").append($(option1));
	
		    $(billoperlist).each(function(index, obj) {
			 displaytxt = obj.BillerName;
				 	
	         value = obj.SubCategory+"#"+obj.BillerID+"#"+obj.Type+"#"+obj.Label+"#"+obj.REF2_LABEL+"#"+obj.REF3_LABEL+"#"+obj.REF4_LABEL+"#"+obj.Min+"#"+obj.Max+"#"+obj.REF2_MIN+"#"+obj.REF2_MAX+"#"+obj.REF3_MIN+"#"+obj.REF3_MAX+"#"+obj.REF4_MIN+"#"+obj.REF4_MAX+"#"+obj.REF4_REMARKS;
			 
            if((obj.Type=='PAYEE'|| obj.Type=='BOTH') && obj.Type!='BILLER'){
	         value1 = obj.SubCategory+"#"+obj.BillerID+"#"+obj.Type+"#"+obj.Label+"#"+obj.REF2_LABEL+"#"+obj.REF3_LABEL+"#"+obj.REF4_LABEL+"#"+obj.Min+"#"+obj.Max+"#"+obj.REF2_MIN+"#"+obj.REF2_MAX+"#"+obj.REF3_MIN+"#"+obj.REF3_MAX+"#"+obj.REF4_MIN+"#"+obj.REF4_MAX+"#"+obj.REF4_REMARKS;
		    }
			 subvalue= value.split('#')[0];	
			 subvalue1= value.split('#')[2];	
			
			if(subvalue1!='BILLER'){
             		
			    if(category==subvalue){
					//console.log("Value of Biller >>>>>  "+value1);
          			
					var option = new Option(displaytxt, value1);
					$("#Blist2").append($(option));
					
					//$("#Blist2").append('<option value='+value1+'>'+displaytxt+'</option>');										
					}
						//$('select').append($('<option>', {value:1, text:'One'}));

//$('select').append('<option val="1">One</option>');
             }
		  
		    });
						 
						
        });
		
		$('#Blist2').change(function(){ 
			 fldbillerID = $('#Blist2 option:selected').val().split('#')[1];	
             
        });
    }); 
	
	
	$("#rruap01").validate({
	
	rules: {
		Blist1: "required",
		Blist2: "required",
	},
	messages: {
		Blist1: "Please Select Biller Category",
		Blist2: "Please Select atleat one",						
	}
});
	
	</script>				