<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	 .info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    <form name="rruab03" id="rruab03" method="post" data-bind="submit:rruab03Page"  >
	 <div class="summblock">  
			<div class="info_row  dark_header"><span class="info_row_left_new " id="type2"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="billershort"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"  id="auth1" style="display:none;"><span class="info_row_left" id="fldlable1"></span> 
			<span class="info_row_right"  style="word-wrap: break-word;" id="authenticator1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" id="auth2" style="display:none;"><span class="info_row_left" id="fldlable2"></span> 
				<span class="info_row_right" id="authenticator2"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even" id="auth3" style="display:none;" ><span class="info_row_left" id="fldlable3"></span> 
				<span class="info_row_right" id="authenticator3"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" id="auth4" style="display:none;" ><span class="info_row_left" id="fldlable4"></span> 
				<span class="info_row_right" id="authenticator4"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even" id="auth5" style="display:none;" ><span class="info_row_left" id="fldlable5"></span> 
				<span class="info_row_right" id="authenticator5"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" id="auth6" style="display:none;" ><span class="info_row_left" id="fldlable6"></span> 
				<span class="info_row_right" id="authenticator6"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even" id="auth7" style="display:none;" ><span class="info_row_left" id="fldlable7"></span> 
				<span class="info_row_right" id="authenticator7"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" id="auth8" style="display:none;" ><span class="info_row_left" id="fldlable8"></span> 
				<span class="info_row_right" id="authenticator8"></span>
				<div class="clearfix"></div>
			</div>
			<!-- <div class="info_row odd"><span class="info_row_left">Bank Account</span> 
			<span class="info_row_right" id="billaccnt"></span>
				<div class="clearfix"></div>
			</div>	 -->		
		</div>
		
	 
		
		
          	<br/><br/>
			<div id="forpayee" style="display:none;">
					<div class="info_row" >
							<div class="info_row2" style="padding: 0px 4px;">Set Standing Instruction ( Auto Pay / SI )</div> 
							
					</div>
		  
				   <div style="padding:0 6px;margin-left: 10px;">    
					<p class="width50Per radio_box">
					   <label>
					  <input type="radio" name="radOption" id="autopay" value="autopay1" checked="checked"  />
					  <span >Yes</span></label>
					</p>
					<p class="width50Per radio_box">
					  <label>
					  <input type="radio" name="radOption"  id="nonautopay" value="autopay2"  />
					  <span >No</span></label>
					</p>  
				 </div>
		  </div>
		 <br/><br/>
		 
		 <div id="fldradio" style="display:none;">
		  <div class="info_row" >
			    <div class="info_row2" style="padding: 0px 4px;"> Pay Entire Bill Amount</div> 
		    </div>
		  <div style="padding:0 6px;margin-left: 10px;">    
			<p class="width50Per radio_box">
	          <label>
	          <input type="radio" name="radOption1"  id="Yes" value="yes" />
	          <span >Yes</span></label>
	        </p>
	        <p class="width50Per radio_box">
	          <label>
	          <input type="radio" name="radOption1" id="No" value="no" />
	          <span >No</span></label>
	        </p>  
		  </div>
		 </div>
          <br/><br/>
		  
		<div id="fldAmonts" style="display:none;">	
		<div class="info_row"  style="padding: 0px 4px;" > <div class="info_row2">Standing Instruction Limit(Rs.Ps.)</div> <div class="info_row3">
			<input type="text" name="fldAmont" id="fldAmont" value=""   class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
			   </div>
			<div class="clearfix"></div>
		  </div>
		  
	
		</div>
		
		  <div class="info_row rchgMenu" id="fldaccount" style="display:none;">
         <div class="info_row2">Bank Account</div>
         <div class="dispTable">
           <select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: billaccounts, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-'">
			</select>	
         </div>
       </div>
		
            <input type="hidden" name="fldChekval" id="fldChekval" value="" />	
            <input type="hidden" id="amount2" name="amount2" value=""/>	
            <input type="hidden" id="radioval1" name="radioval1" value=""/>	
            <input type="hidden" id="radioval2" name="radioval2" value=""/>				
		     <div>	
		    <input type="submit" class="button" value="Submit" />
	        </div>
     </form>
	              <div class="info_row" id="sinotes" style="display:none;">
					<b>Note:</b>
					<br/><br/>
					<p>Addition of Standing Instruction for a biller or any modification of Standing Instruction (change or deletion of existing instructions) will be effective from the next billing cycle/payment subject to successful validation from the biller.</p>
					<br/><br/>
				    <p><b>Pay Entire bill Amount:</b> To pay the entire bill amount with no limit, select 'Yes'. If you wish to set a limit for the maximum bill amount which will be paid through Standing Instruction please select 'No' and enter the 'Standing Instruction Limit'.</p>
					<br/><br/>
					<p><b>Standing Instruction Limit:</b> Bill amount will get paid provided the amount is within the specified limit set for Standing Instruction. (Kindly ensure that the Standing Instruction Limit is sufficiently high to ensure payments in case of normal variations in bill amount). In case a bill amount presented is higher than the amount specified here, the bill will not be paid automatically and will have to be paid using 'View / Pay Bill' option.</p>
					<br/><br/>
					<p>For Standing Instruction setup for 'Presentment' and 'Presentment & Payment' type of billers, the bills will be paid 4 days prior to the due date.</p>
					 <div class="clearfix"></div>
				  </div>
				  <br/><br/>
	    </div> 
		
		
<br/><br/>
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>
<script>
 $(document).ready(function(){
 
  // var
	$("#rruab03").validate({
	
	rules: {
		
		
		fldFromAcctNo:'required',
		fldAmont:'required'
		
	},
	messages: {

		 fldFromAcctNo:'Please Select Account Number',
		 fldAmont:'Please Enter Amount'
								
	}
});
	});
	</script>