<style>
   .info_row { display:table; width:100%; }
   .summblock { margin:0 5px !important; }
   
   
   
.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
   <div class="content sub_content">
     <form name="fromuab02" id="fromuab02" method="post" data-bind="submit:rruab02Page" >
      <div class="summblock">
         <div class="info_row  dark_header">
            <span class="info_row_left_new" id="company"></span> 
            <div class="clearfix"></div>
         </div>
         <div class="clearfix"></div>
		 <div class="info_row odd"><span class="info_row_left">Biller Type</span> 
			<span class="info_row_right " style="word-wrap: break-word;" id="type">Presentment & Payment</span>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
      </div>
      <div class="info_row rchgMenu">
         <div><label>Biller Short Name</label></div>
         <div class="dispTable">
            <input type="text" id="Bsname" name="Bsname" value="" maxlength="6" placeholder="Max 6 Character e.g.,HOME"  class="rs_fld"  />
         </div>
      </div>
	  
		  
      <div class="info_row rchgMenu" id="div1" style="display:none;">
         <div><label id="lable1">Customer Id</label></div>
         <div class="dispTable">
            <input type="text" id="authenticator1" name="authenticator1" value=""  class="rs_fld" />
         </div>
      </div>
		 
      <div class="info_row rchgMenu" id="div2" style="display:none;">
         <div><label id="lable2"></label></div>
         <div class="dispTable">
            <input type="text" id="authenticator2" name="authenticator2" value="" class="rs_fld" />
         </div>
      </div>
	     
	  <div class="info_row rchgMenu" id="div3" style="display:none;">
         <div><label id="lable3"></label></div>
         <div class="dispTable">
            <input type="text" id="authenticator3" name="authenticator3" value="" class="rs_fld" />
         </div>
      </div>
     <div class="info_row rchgMenu" id="div4" style="display:none;">
         <div><label id="lable4"></label></div>
         <div class="dispTable">
            <input type="text" id="authenticator4" name="authenticator4" value="" class="rs_fld" />
         </div>
      </div> 
	  
	   <div class="info_row rchgMenu" id="DIV2" style="display:none;">
            <div><label id="lable6"></label></div>
            <div class="dispTable">
               <select name="authenticator6" id="authenticator6" data-bind="options: remark2, optionsCaption: '-Select-'" >
               </select>
            </div>
        </div>
		
		<div class="info_row rchgMenu" id="DIV3" style="display:none;">
            <div><label id="lable7"></label></div>
            <div class="dispTable">
               <select name="authenticator7" id="authenticator7" data-bind="options: remark3, optionsCaption: '-Select-'" >
               </select>
            </div>
        </div>
		
		<div class="info_row rchgMenu" id="DIV4" style="display:none;">
            <div><label id="lable8"></label></div>
            <div class="dispTable">
               <select name="authenticator8" id="authenticator8" data-bind="options: remark, optionsCaption: '-Select-'" >
               </select>
            </div>
        </div>
		
		
	  <div class="info_row rchgMenu" id="div5" style="display:none;">
            <div><label id="lable5"></label></div>
            <div class="dispTable">
               <select name="authenticator5" id="authenticator5" data-bind="options: remark4, optionsCaption: '-Select-'" >
               </select>
            </div>
        </div>
     	  
		  <div class="clearfix"></div>
    
      <div class="info_row rchgMenu" style="display:none;">
         <div><label>Bank Account</label></div>
         <div class="dispTable">
           <select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: billaccounts, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-'">
			</select>	
         </div>
      </div>
	  	<div class="clearfix"></div>
	    <div class="linedivider"></div>
		<div class="clearfix"></div>
		    <br/><br/>
	            <div >
		         <input type="submit" class="button" value="Register Now" />
	            </div>
	 </form>
	   <div class="info_row">
		<b>Note:</b>
		<br/><br/>
		<p>Billers Type:</p>
		<br/><br/>
		<p>- <b>Presentment: </b>Billers that present an electronic bill (i.e. you will receive the bill electronically through the HDFC Bank Bill Payment service) and accept a payment against the presented bill.</p>
		<br/><br/>
		<p>- <b>Payment: </b>Billers that do not present an electronic bill but accept instant or adhoc payment.</p>
		<br/>
		<p>- <b>Presentment and Payment: </b>Billers that present an electronic bill as well as accept instant or adhoc payment.</p>
		<br/><br/>
		<b  style="padding-left: 2px;">For LIC:</b>
		<br/><br/>
		<p>Payment for Monthly & ULIP mode policies is not accepted by LIC under BillPay.</p>
		<br/><br/>
		<p>Only E-receipts will be issued to the policy holders by LIC for Bill payments hence valid email id is compulsory.</p>
	     <br/><br/>
		<p>In Premium Amount - Kindly enter "basic Premium Amount" only, i.e. exclusive of service tax and interest amount(if any).</p>
		<br/><br/>
		</div>
		</div>
      </div>
  
</div>
<!-- /content --> 
</div>

<script>
 $(document).ready(function(){
 
  // var
	$("#fromuab02").validate({
	
	rules: {
		
		Bsname: {		
		  required:true
		  
		 }, 
		 
		authenticator1:'required',
		authenticator2:'required',
		authenticator3:'required',
		authenticator4:'required',
		authenticator5:'required',
		authenticator6:'required',
		authenticator7:'required',
		authenticator8:'required',
	
		fldFromAcctNo:'required',
		
	},
	messages: {
		Bsname: {		
		  required:"Please enter Short Name"
		
		  
		 }, 
		
		 authenticator1:'Please enter valid Input',
		 authenticator2:'Please enter valid Input',
		 authenticator3:'Please enter valid Input',
		 authenticator4:'Please enter valid Input',
		 authenticator5:'Please select atleast one',
		 authenticator6:'Please select atleast one',
		 authenticator7:'Please select atleast one',
		 authenticator8:'Please select atleast one',
		 fldFromAcctNo:'Please Select Account Number',
								
	}
});
	});
	</script>	