<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    <form name="rruab03" id="rruab03" method="post" data-bind="submit:rruap03Page">
	 <div class="summblock">  
			 <div class="info_row  dark_header"><span class="info_row_left_new" id="type2"></span> 
			 
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="billershort"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even" id="auth1" style="display:none;"><span class="info_row_left" id="lables1"></span> 
			<span class="info_row_right"  style="word-wrap: break-word;" id="authenticator1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" id="auth2" style="display:none;"><span class="info_row_left" id="lables2"></span> 
				<span class="info_row_right" id="authenticator2"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even" id="auth3" style="display:none;"><span class="info_row_left" id="lables3"></span> 
				<span class="info_row_right" id="authenticator3"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" id="auth4" style="display:none;"><span class="info_row_left" id="lables4"></span> 
				<span class="info_row_right" id="authenticator4"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even" id="auth5" style="display:none;" ><span class="info_row_left" id="lables5"></span> 
				<span class="info_row_right" id="authenticator5"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub" id="amount1" ></span>
				<span class="info_row_right page_title_sub" id="amount" style="display:none;"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Bank Account</span> 
			<span class="info_row_right" id="billaccnt"></span>
				<div class="clearfix"></div>
			</div>			
		</div>
		
          	<br/><br/>
	     		
		     <div>	
		    <input type="submit" class="button" value="Submit" />
	        </div>
     </form>
	    </div> 
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>
<script>

</script>