<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
   
	  
	  <div data-bind="foreach: paymentlists">
	  
	
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Biller Name</span> 
			 <span class="info_row_right" data-bind="text: billername"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" data-bind="text: billernick"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference1</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" data-bind="text: Reference1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference2</span> 
				<span class="info_row_right" data-bind="text: Reference2"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Bill Amount</span> 
			<span class="info_row_right page_title_sub" data-bind="text: amount"></span>
				<div class="clearfix"></div>
			</div>	
			
			<div class="info_row odd"><span class="info_row_left">Transaction Amount</span> 
				<span class="info_row_right" data-bind="text: transamount"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Transaction Date</span> 
			<span class="info_row_right" data-bind="text: transdate"></span>
				<div class="clearfix"></div>
			</div>	
			
			<div class="info_row odd"><span class="info_row_left">Transaction Ref No.</span> 
				<span class="info_row_right" data-bind="text: transrefrence"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Status</span> 
			<span class="info_row_right" data-bind="text: status"></span>
				<div class="clearfix"></div>
			</div>	
					
		</div>
		
		<div class="info_row odd"><span class="info_row_left"></span> <span class="info_row_right"> 
				</span>
				<div class="clearfix"></div>
			</div>
		
	 </div>
			<div class="info_row odd"><span class="info_row_left"></span> <span class="info_row_right"> 
				</span>
				<div class="clearfix"></div>
			</div>
	  
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>