<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">

  
  <form class="custStyleInput" name="frmuph01" id="frmuph01" method="post" data-bind="submit:rruph01submit">

   <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
	<div class="info_row"><div class="info_row2">Select Biller</div> 
		<div class="info_row3">
		  <select name="Billerlist" id="Billerlist" data-bind="options: billerDetails, optionsText: 'displaytxt', optionsValue: 'BillerValue',optionsCaption: 'All'">
		
          </select>		  
		</div>
	</div>

	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
	  <br/>
	
	  
    <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"> <div class="info_row2">From Date (dd/mm/yyyy)</div> 
	<div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate" />
        <div  id="show_date"><img src="img/index.png"  /></div></div>		
     </div>
	 </div>
	 
	  <div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
    
     <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><div class="info_row2">To Date (dd/mm/yyyy)</div> 
	<div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
        <div  id="show_date1"><img src="img/index.png"  /></div></div>
     </div>
     <div class="clearfix"></div>
     </div>

    <br/>
  	
   <div class="clearfix20"></div>
   <div class="info_row">
    <input type="submit" class="button" value="Submit" >
   </div>
 
   
  
   </form>
       <div class="info_row">
		<b>Note:</b>
		<br/><br/>
		<p> - Payment history is limited to last 5 transactions for the selected period. For additional details please use NetBanking mode.</p>
	</div>
  </div>
</div>

<script type="text/javascript">


$(function(){
		var now = new Date();
	    $('#fldFromDate,#fldToDate').scroller({
	        preset: 'date',
	        theme: 'sense-ui',
	        display: 'modal',
	        mode: 'scroller',
	        dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10
	    });

$('#show_date1').click(function(){
  $('#fldToDate').scroller('show'); 
  return false;
});

$('#show_date').click(function(){
  $('#fldFromDate').scroller('show'); 
  return false;
});


$('#clear').click(function () {
  $('#fldFromDate').val('');
  return false;
});

});
$.validator.addMethod('greaterThan', 
function(value, element) {
				//Today Dat check
				 var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!

				var yyyy = today.getFullYear();
				if(dd<10){
					dd='0'+dd
				} 
				if(mm<10){
					mm='0'+mm
				} 
				var today = dd+'/'+mm+'/'+yyyy;
				
				//Today date check end

                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				tmpdt2 = $('#fldFromDate').val();
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);
			  var date3 = new Date(yyyy,mm,dd);
    if ( date1 < date2) {
	
     return false;  
    }
	else{
return true;
}

},'To Date should be later than From Date');
	

$.validator.addMethod('CurrentDate', 
function(value, element) {

                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!

				var yyyy = today.getFullYear();
				if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} 
				var today = dd+'/'+mm+'/'+yyyy;
				
				tmpdt2 = today;
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);

    if ( date2 < date1) {
	
     return false;  
    }
	else{
return true;
}

},'To Date cannot be greater than Current Date');	
	
	
	
 $("#frmuph01").validate({

	focusInvalid: false,
	rules: {
		//Billerlist: "required",	
        fldFromDate:"required",
        fldToDate:{
		greaterThan:"#fldToDate",
		CurrentDate:"#fldToDate",
		 required:true,
		},		
	},
	messages: {
		//Billerlist: "Please Select Biller",
        fldFromDate:"From Date cannot be blank",
       fldToDate:{
		  required:" To Date cannot be blank",
       	},		
	}
});

</script>
