
<div id="wrapper" style="top:114px;">
  <div class="content sub_content">
		
		
			<div style=" margin-left: 5px;">
			<img src="img/icon_ok.png" style="
    vertical-align: middle;">
			<span class="sucess_msg" style="
    vertical-align: middle;">Thank you</span>
			</div>
			
			<div class="success_msg">
			Your Biller has been deleted successfully.<span id="moboper5" class="page_title_sub clsamttxn" style="word-wrap: break-word;display:none;"></span> 
			</div>
					
			<div class="summblock">
			<div class="info_row  dark_header"> <span class="info_row_left  ">Reference No</span> 
			<span class="info_row_right " id="rchrefid">
				
				 </span>
				<div class="clearfix"></div>
			</div>
		
			<div class="clearfix"></div>
			
			
			<div class="info_row even"> <span class="info_row_left ">Phone operator</span> 
			<span class="info_row_right " id="moboper4">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
		
			<div class="info_row odd"> <span class="info_row_left ">Mobile No</span> 
			<span class="info_row_right " id="mobnumber2">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			
			<!-- <div class="info_row even"> <span class="info_row_left clslineht">Recharge amount</span> 
			<span class="info_row_right " id="rechargeamtmob">
				 
			</span>
				<div class="clearfix"></div>
			</div> -->

			
			</div>
			
	
		
	</div>
