<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
  <!-- <div class="success_msg">
		<p>Your payment request has been successfully processed. </p>	
	</div> -->
		<div class="success_msg">
			Your payment request has been successfully recorded and the payment will reach the biller within 3 working days.
		</div>	
		
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left" id="biller"></span> 
				<div class="clearfix"></div>
			</div>
			<!-- <div class="info_row odd"><span class="info_row_left">Transactin ID</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id=""></span>
				<div class="clearfix"></div>
			</div> -->
			<div class="info_row even"><span class="info_row_left">Reference Number</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="refno"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Biller Nick/short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="shortname"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference1</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" id="ref1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference2</span> 
				<span class="info_row_right" id="ref2" ></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Reference2</span> 
				<span class="info_row_right" id="ref3" ></span>
				<div class="clearfix"></div>
			</div>
			
			<!-- <div class="info_row odd"><span class="info_row_left">Bill Date</span> 
			<span class="info_row_right" id="billdate"></span>
			  	<div class="clearfix"></div>
			</div>	 -->
			<div class="info_row odd"><span class="info_row_left">Bill Amount</span> 
				<span class="info_row_right page_title_sub" id="billamt" ></span>
				<div class="clearfix"></div>
			</div> 
			<!-- <div class="info_row odd"><span class="info_row_left">Due Date</span> 
			<span class="info_row_right" id="duedate"></span>
			  	<div class="clearfix"></div>
			</div> -->
	  </div>		

		
	
	   <br/>
	 
      <div class="clearfix"></div>
   <div class="info_row">
		<!--  <p>Your payment request has been successfully recorded and the payment will reach the biller within 3 working days. </p> -->
         <b>Note:</b>
         <br/><br/>
         <p>Updation of the payment at the biller's end may take 3 to 6 working days. </p>
		 <br/><br/>
	    <p>The payment made above will only reflect in your NetBanking & MobileBanking Bill Payment channel. Please do not repay the bill through any other channels to avoid duplicate payment.</p>
		<br/><br/>
	    <p>Please quote the Transaction Reference Number below for any queries relating to this payment request.</p>
         <div class="clearfix"></div>
      </div>
  </div>
  <!-- /content --> 
  
</div>
