<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content"">	
	 <div class="summblock">
			<div class="info_row  dark_header"><span class="info_row_left">Biller Name</span> 
			 <span class="info_row_right" id="Billernme1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="shortname1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference1</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" id="refno11" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference2</span> 
				<span class="info_row_right"  id="refno22"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Status</span> 
			   <span class="info_row_right" id="status1"></span>
			</div>	
			 
					
		</div>
		  <br/>
           
		
			 <div>
				<input type="submit" class="button" value="Confirm" onclick="DELETEBILL()" />
			 </div> 
		   
	  
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>