<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
   <form name="rruvp03" id="rruvp03" method="post" data-bind="submit:rruvp03Submit" >	
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left_new" id="Billers"></span> 
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Nick/short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="shortnames"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference1</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" id="refrence1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference2</span> 
				<span class="info_row_right" id="refrence2" ></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Reference3</span> 
				<span class="info_row_right" id="refrence3" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Bill Date</span> 
			<span class="info_row_right" id="billdates"></span>
			  	<div class="clearfix"></div>
			</div>	
			<div class="info_row even"><span class="info_row_left">Bill Amount</span> 
				<span class="info_row_right page_title_sub" id="billamts" ></span>
				<div class="clearfix"></div>
			</div> 
			<div class="info_row odd"><span class="info_row_left">Due Date</span> 
			<span class="info_row_right" id="duedates"></span>
			  	<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">From Account</span> 
				<span class="info_row_right" id="account" ></span>
				<div class="clearfix"></div>
			</div> 
	  </div>		

		   <br/><br/>
	  
	           <div>
		         <input type="submit" class="button" value="Confirm" />
	           </div>
	 
	</form>	 
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>