<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
	<div class="success_msg">
		<p>Biller has been successfully deleted.</p>	
	</div>
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left">Biller Name</span> 
			 <span class="info_row_right" id="fldbiller"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Account ID</span> 
			<span class="info_row_right" id="fldBillerAccountId"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Biller Short Name</span> 
			<span class="info_row_right"  id="Shortname"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference1</span> 
				<span class="info_row_right" id="fldAuth1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference2</span> 
			<span class="info_row_right" id="fldAuth2"></span>
			  	<div class="clearfix"></div>
			</div>
          			
		</div>
		       
      
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>