<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
   <form name="rruvp02" id="rruvp02" method="post" data-bind="submit:rruvp02Submit" >	
			
	 <div class="summblock">
			  
			 <div class="info_row  dark_header"><span class="info_row_left_new" id="biller"></span> 
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Biller Nick/short Name</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="shortname"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Reference1</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" id="ref1"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Reference2</span> 
				<span class="info_row_right" id="ref2" ></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Reference3</span> 
				<span class="info_row_right" id="ref3" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Bill Date</span> 
			<span class="info_row_right" id="billdate"></span>
			  	<div class="clearfix"></div>
			</div>	
			<!-- <div class="info_row even"><span class="info_row_left">Bill Amount</span> 
				<span class="info_row_right" id="billamt" ></span>
				<div class="clearfix"></div>
			</div>  -->
			<div class="info_row even"><span class="info_row_left">Due Date</span> 
			<span class="info_row_right" id="duedate"></span>
			  	<div class="clearfix"></div>
			</div>
	  </div>
	   <div class="clearfix"></div>
	<div class="info_row rchgMenu">
         <div><label>Bill Amount</label></div>
         <div class="dispTable">
            <input type="number" id="billamt" name="billamt" value=""   onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" class="rs_fld"  />
         </div>
      </div>	  
         <div class="clearfix"></div>
	  <div class="info_row rchgMenu">
         <div><label>Bank Account</label></div>
         <div class="dispTable">
           <select name="fldFromAcctNo" id="fldFromAcctNo" data-bind="options: paybillsaccount, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-'">
			</select>	
         </div>
      </div>
	    
		    <input type="hidden" id="amount1" name="amount1" value=""/>	
	   
	     <div class="clearfix"></div>
         <div class="linedivider"></div>
         <div class="clearfix20"></div>
	           <div>
		         <input type="submit" class="button" id="buttonval" value="" />
	           </div>
	 
	</form>	
       <div class="info_row">
		<b>Note:</b>
		<br/><br/>
		<p>Payment Date: To ensure no service disruptions or late payment charges, you are requested to pay your bills at least 3 working days before the due date.</p>
		</br>
		<p>Rejection of Payment: If the biller details provided by you are incorrect, the biller may not accept the payment.</p>
		</br>
		<p>Kindly refer your bill copy to reconfirm the payment amount.</p>
			<div class="clearfix"></div>
			
	   </div>		
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>
<script>
				
$("#rruvp02").validate({
	
	rules: {
		fldFromAcctNo: "required"
		
			
	},
	messages: {
		fldFromAcctNo: "Please Select Account No."
								
	}
});
</script>