
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
	
		<form name="rrpmb03" id="rrpmb03" method="post" data-bind='submit: rruvb03submit'>
		<div class="summblock">
		
		 <input type="hidden" id="authenticate1" name="authenticate1" value="" />
		  
		 <div class="info_row dark_header"> <span class="info_row_left">Phone Operator</span> 
		 <span class="info_row_right " id="moboper2">				
			   </span>
			<div class="clearfix"></div>
		  </div> 
		
		<div class="info_row odd"> <span class="info_row_left ">Mobile number</span> 
		<span class="info_row_right  " id="mobnumber2">			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <!-- <div class="info_row even"> <span class="info_row_left clslineht">Recharge amount</span> 
		  <span class="info_row_right clslineht " id="rchamt1">
				
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row odd"> <span class="info_row_left clslineht">Bank account</span> 
		  <span class="info_row_right clslineht " id="mobbak1">
				
			   </span>
			<div class="clearfix"></div>
		  </div> -->
		  
		  </div>
		  
		  <br/>
		  
		  
		  
		  <!-- <div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div>
		  <div class="info_row3">
				<select name="fldAcceptTerms" id="fldAcceptTerms" class="styled">
					<option value="true">Accept</option>
					<option value="false">Decline</option>
				</select>
			</div>
		  </div>-->
	
		
		  
		 <div class="clearfix20"></div>
		   <div class="info_row">
		    <input type="submit" class="button" value="Confirm" >
		   </div> 
		   
		   	<input type="hidden" name="mobshortname2" id="mobshortname2" value=""/>
			<input type="hidden" name="Billeraccounid" id="Billeraccounid" value=""/>
			
</form>
</div>
</div>	 