	<style>
	 .viewBills aside{display:table-cell;vertical-align:middle;padding-right:7px;}
	 .viewBills .title{font-size:20px;color:#001f79;}
	 .viewBills .lower{font-size:17px;color:#000;padding-top:5px;}
	 .viewBills .amt{font-size:18px;color:#000;}
	 .viewBills .arrRt{float:right;}
	</style>
	<div id="wrapper" style="top:96px; padding-bottom:110px;">
  				<div class="content">
  				
  				<div class="success_msg" >
						<span id="sm"></span>
			</div>
  <div>
  	<div data-bind="foreach: paybillist">
  <a data-bind="attr: { id: 'hid_bills_' + bills, name: 'hid_nickname_' + nickname  }, value:nickname+'###'+ref1+'###'+ref2+'###'+ref3+'###'+duedate+'###'+billdate+'###'+amt+'###'+bills+'###'+billtype+'###'+billerid+'###'+aacountid+'###'+billid+'###'+aacno+'###'+PartialPay  " onclick="rruvp01Submit(this.value,'')" >	
	<div class="info_row rchgMenu viewBills"> 
						
						
							<div class="dispTable">
								
								<!--  <div class="rchgMobNum"  style="width:40%;display: table-cell;
vertical-align: middle;color:#000;">sdfsdf</div>
								<div class="" style="width:20%">600.00</div>
								<div class="right_arrow"></div>  -->
								<aside style="width:60%;">
								   <div class="title" data-bind="text:bills" ></div>
								   <div class="lower" data-bind="text:nickname"></div>
								   
								</aside>
								<aside style="width:30%;text-align:right;display:none;" id="amtfield">
								  <span class="amt" data-bind="text:amount"></span>
								</aside>
								<aside>
								   <!-- <span class="right_arrow"></span> -->
								   <span class="arrRt"><img src="img/rarrow.png"></span>
								</aside>
							</div>
							 <div class="clearfix"></div>
					        <div class="linedivider"></div>
							</div>
				
		          <input type="hidden" name="Refnumber1" id="Refnumber1" data-bind="text: ref1"/>
				  <input type="hidden" name="Refnumber2" id="Refnumber2" data-bind="text: ref2"/>
				  <input type="hidden" name="Refnumber3" id="Refnumber3" data-bind="text: ref3"/>
				  <input type="hidden" name="Duedate" id="Duedate" data-bind="text: duedate"/>
				  <input type="hidden" name="Billdate" id="Billdate" data-bind="text: billdate"/>
				  <input type="hidden" name="billtype" id="billtype" data-bind="text: billtype"/>
				  <input type="hidden" name="billerid" id="billerid" data-bind="text: billerid"/>
		          <input type="hidden" name="aacountid" id="aacountid" data-bind="text: aacountid"/>
	              <input type="hidden" name="billid" id="billid" data-bind="text: billid"/>
				  <input type="hidden" name="aacno" id="aacno" data-bind="text: aacno"/>
				  <input type="hidden" name="PartialPay" id="PartialPay" data-bind="text: PartialPay"/>
		</a>
		</div>	
		
		
		           <!--  <div class="clearfix"></div>
					<div class="linedivider"></div> -->
					
	</div>	
  	  <div class="info_row">
		<b>Note:</b>
		<br/><br/>
		<p>Any bills that are on Standing Instruction mode will not reflect here. For details on bills that are on Standing Instruction mode, please login to the BillPay & Recharge tab under NetBanking and click on the Standing Instruction section.</p>
		</br>
		<p>In case you have already paid your bill using Ad-hoc mode / Alternate channel, please do not make a payment against presented bill to avoid duplicate payment to biller.</p>
		</br>
		<p>Pay Bill - To pay for a pending bill, please select the biller.The option bill amount will appear when an electronic bill is presented to you by the biller and is due for payment.</p>
		</br>
		<p>Payment Date: To ensure no service disruptions or late payment charges, you are requested to pay your bills at least 3 working days before the due date.</p>
		</br>
		<p>Rejection of Payment: If the biller details provided by you are incorrect, the biller may not accept the payment.</p>
		</br>
		<p>Payment using debit or credit card, pay later and Standing Instruction (SI) modification options are available in BillPay & Recharge tab under NetBanking</p>
		</br>
		<p>Kindly refer your bill copy to reconfirm the payment amount.</p>
			<div class="clearfix"></div>
			
	   </div>		
				
					<div class="clearfix20"></div>
					
					<script>
					   
					   
					
					</script>
				</div>
			</div>