			
	<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
<div class="info_row" id="accExitsMsg" style="padding-top:8px;display:none;"><p>No credit cards are mapped to the user. Map a card and return to the transaction OR your request cannot be processed temporarily. We regret the inconvenience caused.</p></div>	  
	 	
			
			<div class="info_row">
				<p>** Negative value indicates credit balances</p>
			</div>
			<br/>
			<div class="info_row"><span class="page_title_sub">All Accounts</span>
				<div class="clearfix"></div>
			</div>
		 <div data-bind="foreach: ccaccountList">	
		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">Card Number</span> <span class="info_row_right" data-bind="text: codacctno"> 
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Product</span> <span class="info_row_right clslineht" data-bind="text: logodesc"> 
				</span>
				<div class="clearfix"></div>
			</div>
		
			<div class="info_row even"><span class="info_row_left">Total Credit</span> <span class="info_row_right" data-bind="text: totalcreditlimit"> 
				</span>
				<div class="clearfix"></div>
			</div>

			<div class="info_row odd"><span class="info_row_left">Available Cash</span> <span class="info_row_right" data-bind="text: availcashlimit"> 
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Available Credit</span> <span class="info_row_right page_title_sub" data-bind="text:availcreditlimit "> 
				</span>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="info_row odd"><span class="info_row_left"></span> <span class="info_row_right"> 
				</span>
				<div class="clearfix"></div>
			</div>
	


	</div>
	
	</div>