<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	#table1, #table {width: 100%;}
	#table { padding:0 10px; }
	#table1 td {
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	}
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <div class="info_row" id="accExitsMsg" style="padding-top:5px;display:none;">
    <p>You do not have any transactions for the selected period</p>
    <br>
  </div>
  <div class="info_row" id="flgwarningMsg" style="display:none;"><p></p><div class="clearfix"></div></div>
  
  
   <div class="info_row odd">
    <span class="info_row_left page_block_sub" style="padding-left:10px;" id="acctType"></span><span class="info_row_right clslineht"></span><div class="clearfix"></div>
    </div>
	<table id="table" cellpadding="0" cellspacing="0" >
	<tr>
		<td>		
		<div class="info_row" style="color:#7f7f7f"><div class="info_row2">Credit Card Number</div> 
			<div class="info_row3">
			  <select name="fldAcctNo" id="fldAcctNo" data-bind="options:ccaccountList, optionsText: 'cardNo', optionsValue: 'cardNo', value: selAccountcc, event: {change:showSelectedccAccount}">
				
			  </select>	
			</div>
		</div>		
		</td>
		</tr>
	</table>
	
	<table id="table1" align="center" cellpadding="5" cellspacing="0">
	<tr>
		<td>
			<div class="panel_new">
			<span class="rotating-item swipe" >
			<div class="info_row4 alignc" style="margin:10px 0 0 0;font-size:11pt;">Available Credit</div>
			
			<div style="height: 2px;margin: 0px 0 0 8px;padding: 0 10px;width: 87%;">
				<div style=" float:left;height: 2px;width: 20%;background-color:#ed1c24;">
				</div>
				<div style=" float:left;height: 2px;width: 80%;background-color:#004a8f;">
				</div>
			</div>
			
			<div class="info_row4 page_block_sub alignc" style="margin:8px 0 0 0;" data-bind="text: curraccbalval"></div>
			</span>     
			</div>
		</td>
	</tr>
	</table>
	
     <!-- ko if: ccaccountList1().length > 0 --> 			
		    <div data-bind="foreach: ccaccountList1, visible:ccaccountList1().length > 0">
		<div class="summblock">
		<div class="info_row odd"><span class="info_row_left">Transaction Date</span>
		<span class="info_row_right" data-bind="text: transdate"> 
		
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left">Description</span>
		<span class="info_row_right clslineht" data-bind="text: txndesc"> 
	
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left">Amount</span>
		<span class="info_row_right" data-bind="text: txnamount"> 
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left">Transaction Type</span>
		<span class="info_row_right" data-bind="text: drcrflag"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		</div>
		<div class="info_row odd"><span class="info_row_left"></span>
		<span class="info_row_right"> 
			</span>
			<div class="clearfix"></div>
		</div>
		
		
	<input type="hidden" name="fldInitialSwitch" id="fldInitialSwitch" value="I" />
	<input type="hidden" name="fldLastTxnSeqNo" id="fldLastTxnSeqNo" value="0" />
	<!--here-->
	<input type="hidden" name="fldRequestId" value="RRUNB02" />
	<input type="hidden" name="fldTxnId" value="UNB" />
	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	<input type="hidden" id="fldCodDrCr" name="fldCodDrCr" value="B" />
	<input type="hidden" id="fldCodDrCr_txt" name="fldCodDrCr_txt" value="Both" />
	<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />
	<input type="hidden" id="fldCardNoOld" name="fldCardNoOld" value="{/faml/request/fldCardNo}##{/faml//request/fldAvailCredit}" />
	<input type="hidden" id="fldCardNo_txt" name="fldCardNo_txt" value="" />

	<input type="hidden" id="fldAvailCredit" name="fldAvailCredit" value="" />


		
	</form>
   </div>
  
<!-- /ko -->
  </div>
</div>
<script>
/*$(document).on('change','#fldAcctNo',function(e){
alert("call acc");
	accmodel.showSelectedAccount();
});*/
</script>
