<style>
.info_row2,.info_row3 {
	padding-left: 0;
	padding-right: 0;
}

.info_row p {
	padding-left: 10px;
}
</style>

<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">


		<form name="frmrraci01" id="frmrraci01" method="post"
			data-bind='submit: rraci01Submit'>


			<br />
			<div class="clearfix"></div>
			<div class="linedivider"></div>




			<div class="info_row">
				<div class="info_row2">For Card No.</div>
				<div class="info_row3">
					<select name="fldCardNo" id="fldCardNo"
						data-bind="options: ccaccountList, optionsText: 'cardNo', optionsValue: 'ccaccountvalue' ">
					</select>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="linedivider"></div>

			<br />
			<div class="info_row alignc">
				<input type="submit" class="button" value="View" />
				<div class="clearfix"></div>
			</div>










		</form>


	</div>
	<!-- End content_container -->
</div>
<script>
$("#frmrraci01").validate({
	rules: {
		fldCardNo: "required",
			
	},
	messages: {
		fldCardNo: "Select Card Number",
				
	}
});
</script>
