
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
      


	
	<div class="summblock">
	
	<div class="info_row dark_header"> <span class="info_row_left clslineht">Card Number</span> 
		<span class="info_row_right clslineht" id="cardNum"></span>
	    <div class="clearfix"></div>
    </div>
    <div class="info_row odd"><span class="info_row_left clslineht">Total Credit Limit</span> 
    	<span class="info_row_right clslineht page_title_sub" id="credLim" ></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row even"> <span class="info_row_left clslineht" >Available Credit Limit</span> 
        <span class="info_row_right clslineht" id="avlLim"></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row odd"><span class="info_row_left clslineht" >Available Cash Limit</span> 
    	<span class="info_row_right clslineht" id="avlCalim"></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row even"> <span class="info_row_left clslineht" >Total Billed Amount (Balance as per last month's statement)</span> 
        <span class="info_row_right clslineht" id="totBillamt"></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row odd"> <span class="info_row_left clslineht">Minimum Amount Due</span> 
        <span class="info_row_right clslineht" id="minAmtd"></span>
        <div class="clearfix"></div>
    </div>
     <div class="info_row even"> <span class="info_row_left clslineht">Payment Due Date (as per last statement)</span> 
        <span class="info_row_right clslineht" id="payDue"></span>
        <div class="clearfix"></div>
    </div>
     <div class="info_row odd"> <span class="info_row_left clslineht">Total Unbilled Debits (Debit transactions after last statement)</span> 
        <span class="info_row_right clslineht" id="totUnbd"></span>
        <div class="clearfix"></div>
    </div>  
    <div class="info_row even"> <span class="info_row_left clslineht">Total Unbilled Credits (Credit transactions after last statement, including payments)</span> 
        <span class="info_row_right clslineht" id="totUnbc"></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row odd"> <span class="info_row_left clslineht">Total Outstanding Authorization Amount</span> 
        <span class="info_row_right clslineht" id="totOust"></span>
        <div class="clearfix"></div>
    </div> 
    <div class="info_row even"> <span class="info_row_left clslineht">Reward Points Balance - Last Statement</span> 
        <span class="info_row_right clslineht" id="rewPobl"></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row odd"> <span class="info_row_left clslineht">Reward Points Balance - Current</span> 
        <span class="info_row_right clslineht" id="rewPobc"></span>
        <div class="clearfix"></div>
    </div>
    
    </div>
    
	</div>
    <!-- Start section search_box -->
  </div>
  
 
</div>