

<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">  
    

<form name="frmrrapr01" id="frmrrapr01" method="post"
			data-bind='submit: rrapr01Submit'>
	

	
	<br/>
	 <div class="clearfix"></div>
     <div class="linedivider"></div>   
     <div class="clearfix"></div>
      
     <div class="info_row">
      	<div class="info_row2">Card No.</div>
      	<div class="info_row3 page_title_sub" id="cardNum">
      
        </div> 
     </div>
     
	 <div class="clearfix"></div>
     <div class="linedivider"></div>   
     <div class="clearfix"></div>
	
	

			<div class="info_row">
	      	<div class="info_row2">Account No.</div>
		      	<div class="info_row3">
		      	 
					 <select name="fldCasaAcctNo" id="fldCasaAcctNo"
						data-bind="options: ccaccountList2, optionsText: 'accNo', optionsValue: 'accNo' ,visible: SelectVisible ,event: { change: selectionChangedAcc }, optionsCaption: '-Select Account-'">
					</select>
					
		
					<span style="display: none;"  id="fldCasaAcct" data-bind="visible: !SelectVisible()"></span>
					
		        </div> 
		     </div>
			     
			 <div class="clearfix"></div>
		     <div class="linedivider"></div>   
		     <div class="clearfix"></div>
			
		     <div class="info_row">
	      	<div class="info_row2">Payment Type</div>
		      	<div class="info_row3">
		      	 <select name="fldPayFlag" class="styled" id="fldPayFlag" data-bind="visible: SelectVisibleFlag,event: { change: selectionChangedFlag }">
					 <option value="T">Total Amount Due</option>
					 <option value="M">Minimum Amount Due</option>
				 </select>
				 <span style="display: none;"  id="fldPayFlagtext"  data-bind="visible: !SelectVisibleFlag()"></span>
				 
		        </div> 
		     </div>
		     
		     <div class="clearfix"></div>
		     <div class="linedivider"></div>   
		     <div class="clearfix"></div>
		     
			<input type="hidden" name="fldRegFlag" id="fldRegFlag" value="Y" />	
		<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			</div>
		

	<input type="hidden" name="fldCardNo" id="fldCardNo" value="" />

	<input type="hidden" name="tempflag" id="tempflag" value="" />
	<input type="hidden" name="fldCasaAcctNo1" id="fldCasaAcctNo1" />
	 	
	<input type="hidden" name="fldRequestId" value="RRAPR02" />
	<input type="hidden" name="fldTxnId" value="APR" />	
	<input type="hidden" name="fldScrnSeqNbr" value="01" />
	
	<input type="hidden" id="fldPayFlag_txt" name="fldPayFlag_txt" value="" />
	<input type="hidden" id="fldCasaAcctNo_txt" name="fldCasaAcctNo_txt" value="" />
	

	
	</form>


   




</div>

</div>  
<script>
$("#frmrrapr01").validate({
	
	rules: {
	fldCasaAcctNo: {
            required: {
                depends: function(element) {
                //alert($('#fldCasaAcctNo').is(':visible'));
                	return $('#fldCasaAcctNo').is(':visible');
                }
            },
	
		
},
	},
	messages: {
		fldCasaAcctNo: "Please select Account No.",
							
	}
});
</script>	