<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
   
    <div class="summblock">
    <div class="info_row dark_header"> <span class="info_row_left">Reference No.</span> 
		<span class="info_row_right" id="codtxnrefno" ></span>
	    <div class="clearfix"></div>
    </div>    
    <div class="info_row odd"> <span class="info_row_left">Card No.</span> 
		<span class="info_row_right" id="fldCardNo"></span>
	    <div class="clearfix"></div>
    </div>
    <div class="info_row even"><span class="info_row_left">Account No.</span> 
    	<span class="info_row_right" id="fldAutoAcctNo"></span>
        <div class="clearfix"></div>
    </div>

	 <div class="info_row odd"> <span class="info_row_left">Payment type</span> 
		<span class="info_row_right clslineht" id="payType"></span>
	    <div class="clearfix"></div>
    </div>
 

    </div>   
    
	</div>
	

</div>  
