
<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
		<div class="summblock">
			
		  <div class="info_row dark_header"> <span class="info_row_left">Card No.</span> 
		  <span class="info_row_right" id="cardNum">
			 
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  <div class="info_row odd"> <span class="info_row_left">Reference No.</span>
		   <span class="info_row_right page_title_sub" id="refNum">
			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		  </div>

    </div>
	 
    <!-- Start section search_box -->
  </div>
