<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
 <form name="frmrrapr02" id="frmrrapr02" method="post"
			data-bind='submit: rrapr02Submit'>
    <div class="sub_content">  
   
    <div class="summblock">
    <div class="info_row dark_header"> <span class="info_row_left">Card No.</span> 
		<span class="info_row_right" id="fldcardno" ></span>
	    <div class="clearfix"></div>
    </div>
    <div class="info_row odd"><span class="info_row_left">Account No.</span> 
    	<span class="info_row_right"  id="fldcasaacctno"></span>
        <div class="clearfix"></div>
    </div>
    
	 <div class="info_row even"> <span class="info_row_left">Payment type</span> 
		<span class="info_row_right clslineht" id="payType"></span>
	    <div class="clearfix"></div>
    </div>
    
    
    </div>
    </br>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>    
	</div>
	

	<input type="hidden" name="fldTxnId" value="APR" />	
	<input type="hidden" name="fldScrnSeqNbr" value="03" />
	
	<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />
	<input type="hidden" id="fldCasaAcctNo" name="fldCasaAcctNo" value="" />
	<input type="hidden" id="fldAutoAcctNo" name="fldAutoAcctNo" value="" />
	<input type="hidden" id="fldCardAANNo" name="fldCardAANNo" value="" />
	<input type="hidden" id="fldRegFlag" name="fldRegFlag" value="" />
	<input type="hidden" id="fldPayFlag" name="fldPayFlag" value="" />


    </form>
  </div>
  <!-- End content_container --> 
</div>  
