
<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
		 <form name="frmrrapd02" id="frmrrapd02" method="post"
			data-bind='submit: rrapd02Submit'>
			<br/>
			
			
			<div class="summblock">	
			<div class="info_row"> <span class="info_row_left clslineht">Card No.</span>
			 <span class="info_row_right clslineht" id="cardNum">
			
			   </span>
			   </div>
			<div class="clearfix"></div>
		  </div>
		  
	
		  </br>
		  
				<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>
	
			<input type="hidden" name="fldRequestId" value="RRAPD03" />
			<input type="hidden" name="fldTxnId" value="APD" />
			
			<input type="hidden" name="fldScrnSeqNbr" value="03" />
		  
			<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />
			<input type="hidden" id="fldRegFlag" name="fldRegFlag" value="" />
			
			<input type="hidden" id="fldmodule" name="fldmodule" value="" />
			<input type="hidden" id="fldAppId" name="fldAppId" value="" />
			<input type="hidden" id="fldCasaAcctNo" name="fldCasaAcctNo" value="" />
			<input type="hidden" id="fldAutoAcctNo" name="fldAutoAcctNo" value="" />
           <input type="hidden" name="fldCardAANNo" id="fldCardAANNo" value="" />
	
      </form>

		 <div class="info_row" id="ErrMsg" style="display:none">Credit Cards not mapped to this user.
				<div class="clearfix"></div>
			  </div>
		

    </div>

  </div>
