<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
	
	
		
			<div class="" style="display: none" id="Succ1">
			
			<div class="info_row" id="str1" ></div>
				
						
			</div>
		
		<form name="frmrrcac02" id="frmrrcac02" method="post"
			data-bind='submit: rrcac02Submit' style="display: none">
			<br/>

			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
		
		<div class="info_row" id="str2" ></div>
				
	  	<br />
			<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>	
	
		

			
			<input type="hidden" name="fldScrnSeqNbr" value="02" />
			<input type="hidden" name="fldTxnId" value="CAC" />
			
			<input type="hidden" name="fldCardNo" value= "" />
			<input type="hidden" name="fldPin" value= "" />
			<input type="hidden" name="fldExpiryDate" value= "" />
			<input type="hidden" name="fldCardUser" value="" />

		
		</form>

	</div>

  </div>
