<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
	<form name="frmrrcac01" id="frmrrcac01" method="post"
			data-bind='submit: rrcac01Submit'>
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
				
			<div class="info_row"><div class="info_row2">Card No.<br/></div> <div class="info_row3">
				<input type="text" name="fldCardNo" id="fldCardNo" value="" maxlength="16" minlength="16" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
			   </div>
			<div class="clearfix"></div>
			</div>
	
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row odd"><span class="info_row_left">Credit Card Expiry</span> <span class="info_row_right">
			   </span>
			<div class="clearfix"></div>
			</div>

			
			<div class="info_row"><div class="info_row2">Month (MM)</div> <div class="info_row3">
				<select name="cardExpMonth" id="cardExpMonth" class='styled'>
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				</select>
			   </div>
			<div class="clearfix"></div>
			</div>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"><div class="info_row2">Year (YY)</div> <div class="info_row3">
			<select name='cardExpYear' id='cardExpYear' class='styled'>
				
			
				<!--  <script  type="text/javascript">
				<![CDATA[
					d= new Date();
					var yr = d.getFullYear();
					var year = String(yr).slice(2);
					document.write("<select name='cardExpYear' id='cardExpYear' class='styled'>");
					for (var i=1; i <=20; i++) {
						/*if(i.length = 1) {year = "0"+year;}*/
						document.write("<option value='" + year + "'>" + year + "</option>");
						year++;
					}
					document.write("</select>");
					]]>
				</script>-->
				<option></option>
					</select>
			   </div>
			<div class="clearfix"></div>
			</div>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"><div class="info_row2">Credit Card PIN</div> <div class="info_row3">
				<input type="password" name="fldPin" id="fldPin" maxlength="4" minlength="4" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				
			   </div>
			<div class="clearfix"></div>
			</div>
	
			

			  	<br />
			<div class="info_row alignc">
				<input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			</div>
			
			<input type="hidden" name="fldScrnSeqNbr" value="02" />
			<input type="hidden" name="fldTxnId" value="CAC" />
			
			<input type="hidden" id="cardExpYear_txt" name="cardExpYear_txt" value="" />
			<input type="hidden" id="cardExpMonth_txt" name="cardExpMonth_txt" value="" />
			
			<input type="hidden" id="fldExpiryDate" name="fldExpiryDate" value="" />
			<input type="hidden" id="cardExpYear_ix" name="cardExpYear_ix" value="" />
			<input type="hidden" id="cardExpMonth_ix" name="cardExpMonth_ix" value="" />
			


		</form>
	</div>
	

  </div>
<script>
$('#cardExpYear').empty();
var min = new Date().getFullYear(),
    max = min + 15,
    select = document.getElementById('cardExpYear');

for (var i = min; i<=max; i++){
    var opt = document.createElement('option');
    opt.value = i.toString().substr(2);
    opt.innerHTML =i.toString().substr(2);
    select.appendChild(opt);
}

</script>
<script type="text/javascript">
$("#frmrrcac01").validate({
	rules: {
		
		cardExpMonth: "required",
		cardExpYear: "required",
		
		fldCardNo: {
					  digits: true,
					  minlength: 16,
					  maxlength:16,
					  required:true
				 },	
		fldPin: {
					  digits: true,
					  minlength: 4,
					  maxlength:4,
					  required:true
				 },		 	
	},
	messages: {
		
		cardExpMonth: "Select Month",	
		cardExpYear: "Select Year",
		
		fldCardNo: {
			    digits: "Numeric characters are allowed for  Card Number",
			    minlength:" Card Number must be of length 16",
			    maxlength:"Card Number must be of length 16",
			    required: "Enter Credit Card Number"
	         },	
	         fldPin: {
			    digits: "Numeric characters are allowed for Pin Number",
			    minlength:" Enter Valid 4 Digit Pin Number",
			    maxlength:"Enter Valid 4 Digit Pin Number",
			    required: "Enter Valid 4 Digit Pin Number"
	         },	
	}
});

</script>

