<?xml version="1.0" ?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<xsl:decimal-format name="euro" decimal-separator="." grouping-separator=","/>
<xsl:template match="/">
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<title></title>
<link type="text/css" rel="stylesheet" href="css/main.css" />
<script src="js/custom_select.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
</head>
<body>

  <!-- Start content_container -->
  <section id="content_container">
    <div class="sub_content">
    
    	<div class="success_msg">
			<p>Transaction successful</p>
		</div>
    
		<div class="summblock">
			<div class="info_row dark_header"> <span class="info_row_left clslineht">Reference No.</span> 
			  <span class="info_row_right clslineht">
					<xsl:value-of select='//faml//response//codtxnrefno'/> 
				</span>
				<div class="clearfix"></div>
			</div>
			
		<xsl:variable name="fldBalance">
			<xsl:value-of select="//faml//response//paymentdtls//billcurr"/>. <xsl:value-of select="format-number(//faml//response//paymentdtls//billamount, '#,###,##0.00', 'euro')"/>
		</xsl:variable>
		
			<xsl:choose>
		  <xsl:when test="//faml//response//fldamttype = 'TAD'">
			<div class="info_row odd"> <span class="info_row_left clslineht">Last Statement Bal</span> 
			  <span class="info_row_right clslineht page_title_sub">
					<xsl:value-of select='$fldBalance'/> 
				</span>
				<div class="clearfix"></div>
			</div>					
		  </xsl:when>
		  <xsl:when test="//faml//response//fldamttype = 'MAD'">
			<div class="info_row odd"> <span class="info_row_left clslineht">Minimum Amount Due</span> 
			  <span class="info_row_right clslineht page_title_sub">
					<xsl:value-of select='$fldBalance'/> 
				</span>
				<div class="clearfix"></div>
			</div>	
					
		  </xsl:when>
		  <xsl:otherwise>
				<div class="info_row odd"> <span class="info_row_left clslineht">Amount</span> 
				  <span class="info_row_right clslineht page_title_sub">
						<xsl:value-of select='$fldBalance'/> 
					</span>
					<div class="clearfix"></div>
				</div>						
		  </xsl:otherwise>
	 </xsl:choose>
			
			<div class="info_row even"> <span class="info_row_left clslineht">From Account No.</span> 
			  <span class="info_row_right clslineht">
					<xsl:value-of select='//faml//response//fromacctno'/> 
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"> <span class="info_row_left clslineht">Card No.</span> 
			  <span class="info_row_right clslineht">
					<xsl:value-of select='//faml//response//consumerno'/> 
				</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"> <span class="info_row_left clslineht">Card Type</span> 
			  <span class="info_row_right clslineht">
					<xsl:value-of select='//faml//response//paymentdtls//companyname'/> 
				</span>
				<div class="clearfix"></div>
			</div>
				
		<xsl:if test ="//faml//response//benefname != ''">
			<div class="info_row odd"> <span class="info_row_left clslineht">Beneficiary Name</span> 
			  <span class="info_row_right clslineht">
					<xsl:value-of select='//faml//response//benefname'/> 
				</span>
				<div class="clearfix"></div>
			</div>			
		</xsl:if>
		
	
		</div>
	</div>

    <!-- Start section search_box -->
  </section>
  <!-- End content_container -->

</body>
</html>
</xsl:template>
</xsl:stylesheet>