<div id="wrapper" style="top: 96px; ">
	<div class="content sub_content">
	<form name="frmrrccp02" id="frmrrccp02" method="post"
			data-bind='submit: rrccp02Submit'>
			<br/>
	
		
	
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
			  <div class="info_row"><div class="info_row2">From Account</div> <div class="info_row3">
				<select name="fldFromAcctNo" class="styled" id="fldFromAcctNo" 
              data-bind="options: ccaccountList3, optionsText: 'accDesc', optionsValue: 'accDetails' ">
					
				</select>
				   </div>
				<div class="clearfix"></div>
			  </div>
	
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>

				
			  <div class="info_row"><div class="info_row2">Card no.</div> <div class="info_row3">
				<select name="fldCardNo" class="styled" id="fldCardNo" data-bind="options: ccaccountList4, optionsText: 'cardno', optionsValue: 'cardDetails' ">
				
				
				</select>
				   </div>
				<div class="clearfix"></div>
			  </div>
	
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
		
					<div class="info_row" id="othdiv"><div class="info_row2"></div> <div class="info_row3">
						<select name="fldAmtType" class="styled" id="fldAmtType">
							<option value="TAD">Last Statement Bal</option>
							<option value="MAD">Minimum Amount Due</option>
							<option value="AMT">Other Amount</option>
						</select>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
				
					<div class="info_row" id="othdivnote"><div class="info_row2 clslineht">If Other Amount option is selected, please enter amount below.</div> 
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row" id="othercard" style="display:none;"><div class="info_row2">Amount</div> 
						<div class="clearfix"></div>
					</div>
					
			<div class="info_row3">
						<input type="text" name="fldTxnAmt" id="fldTxnAmt" value="" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />
						   </div>
			
		

			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>

				  	  <br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Pay Bill" />
				<div class="clearfix"></div>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>	  
			

		<input type="hidden" id="fldRequestId" name="fldRequestId" value="" />
		<input type="hidden" name="fldScrnSeqNbr" value="02" />
		<input type="hidden" name="fldTxnId" value="CCP" />
		<input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="CCP" />
		<input type="hidden" id="fldAction" name="fldAction" value="payment" />
		<input type="hidden" id="fldPmntType" name="fldPmntType" value="" />
		<input type="hidden" id="fldTxnType" name="fldTxnType" value="CCP" />
		
		<input type="hidden" id="fldCardNo_txt" name="fldCardNo_txt" value="" />
		<input type="hidden" id="fldAmtType_txt" name="fldAmtType_txt" value="" />
		<input type="hidden" id="fldFromAcctNo_txt" name="fldFromAcctNo_txt" value="" />
		


	
		</form>
	</div>
	
 
  </div>
  <script>
  $(document).ready(function() {

$('#fldTxnAmt').click(function(){

if ( $('#fldTxnAmt').is('[readonly]') ) {
      $(".footer").show(0);
      $('body').height(document.height);
        $(".header").css("position", "fixed");
        }


});


	$('#fldAmtType,#fldCardNo').change(function() {
		var carddata = $("#fldCardNo").val();
		var ctype = $("#fldAmtType").val();
		fldPmntType1 = $("#fldPmntType").val();
		if(fldPmntType1 == 'HDFCOTH'){
				$("#fldTxnAmt").val("");
	    		$('#fldTxnAmt').attr('readonly', false);
		}
		else if(carddata != '' && carddata != undefined && carddata != null){
			arrcrdata = carddata.split("#")
			maddata=arrcrdata[5];
	    	taddata=arrcrdata[6];
	    	
	    	if(ctype == "TAD"){
	    		$("#fldTxnAmt").val(taddata);
	    		$('#fldTxnAmt').attr('readonly', true);
	    	}else if(ctype == "MAD"){
	    		$("#fldTxnAmt").val(maddata);
	    		$('#fldTxnAmt').attr('readonly', true);
	    	}else{
	    		$("#fldTxnAmt").val("");
	    		$('#fldTxnAmt').attr('readonly', false);
	    	}
		}else{
			$("#fldTxnAmt").val("");
		}
	});
});







  </script>
