<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
	<form name="frmrrccp03" id="frmrrccp03" method="post"
			data-bind='submit: rrccp03Submit'>
			<br/>
			
			<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">From Account No</span> <span class="info_row_right" id="acctNo">
			
			   </span>
			<div class="clearfix"></div>
			</div>

			
		
		
		
		
				<div class="info_row odd"><span class="info_row_left" id="fldtxntadmad">Amount</span> <span class="info_row_right page_title_sub" id="fldtxnamtadmad">
				   </span>
				<div class="clearfix"></div>
				</div>
			
			<div class="info_row even"><span class="info_row_left">Card No.</span> 
			<span class="info_row_right" id="cardNo">
			
			   </span>
			   <span class="info_row_right" id="cardNoothr" style="display:none;">
			
			   </span>
			<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row odd" id="cardBenefNameid"><span class="info_row_left">Beneficiary Name</span> 
			<span class="info_row_right" id="cardBenefName">
				
			   </span>
			<div class="clearfix"></div>
			</div>
	
			</div>

	

		  				  	  <br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>	
			
		<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" value="" />
		<input type="hidden" id="fldRequestId" name="fldRequestId" value="RRCCP04" />
        <input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="" />
			<!--	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="05" /> -->
		<input type="hidden" name="fldTxnId" id="fldTxnId" value="CCP" />
		<input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="CCP" />
		<input type="hidden" name="fldTxnType" id="fldTxnType" value="CCP" />
		<input type="hidden" name="fldFromAcctNo" id="fldFromAcctNo" 	value="" />
		<input type="hidden" name="fldTxnMad"  id="fldTxnMad" value="" />
		<input type="hidden" name="fldTxnTad"  id="fldTxnTad" value="" />
		
		<input type="hidden" name="fldTxnAmt"  id="fldTxnAmt" value= "" />
        <input type="hidden" name="fldCardAANNo"  id="fldCardAANNo" value= "" />
		<input type="hidden" name="fldBalance"	id="fldBalance" 	value="" />
		<input type="hidden" name="fldTxnCurr"	id="fldTxnCurr" 	value="" />
		<input type="hidden" name="fldBranch"	id="fldBranch" 	value="" />
		<input type="hidden" name="fldCardNo"	id="fldCardNo"	value="" />
		<input type="hidden" name="fldConsumerNo" id="fldConsumerNo"	value="" />
		<input type="hidden" name="fldBillCompId"	id="fldBillCompId" value="" />
		<input type="hidden" name="fldCardType"		id="fldCardType"value="" />
		<input type="hidden" name="fldCardBin"	id="fldCardBin"	value="" />
		<input type="hidden" name="fldCardDesc"	id="fldCardDesc"	value="" />
		<input type="hidden" name="fldPmntType"	id="fldPmntType" value="" />
		<input type="hidden" name="fldAmtType"	id="fldAmtType"	value="" />
		<input type="hidden" name="fldBenefName" id="fldBenefName"	value="" />
		<input type="hidden" name="fldAction"	id="fldAction"	value="" />
		<input type="hidden" name="fldAcctBrn"	 id="fldAcctBrn"	value="" />
		<input type="hidden" name="fldAcctDetail" id="fldAcctDetail"	value="" />	
		<input type="hidden" name="fldUserRefNo" id="fldUserRefNo" value="" /> 
		<input type="hidden" name="fldDateTime" id="fldDateTime"	value="" /> 
		<input type="hidden" name="fldRsaTxnId" id="fldRsaTxnId" value="" /> 
		<input type="hidden" name="fldClientSessionId" id="fldClientSessionId" value="" /> 
		<input type="hidden" name="fldFcatSessionId"  id="fldFcatSessionId"value="" /> 
	    <input type="hidden" name="fldExtSessionId"  id="fldExtSessionId"value="" /> 


		</form>

	
	</div>

  </div>
