<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">
	<form name="frmrrccp01" id="frmrrccp01" method="post"
			data-bind='submit: rrccp01Submit'>
			<br/>

			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
				
			<div class="info_row"><div class="info_row2">Credit Card Type</div> <div class="info_row3">
				<select name="fldPmntType" class="styled" id="fldPmntType">
					<option value="HDFCREG">Registered HDFC Bank Credit Card</option>
					<option value="HDFCOTH">Other HDFC Bank Credit Card</option>
				</select>
			   </div>
			<div class="clearfix"></div>
			</div>
	
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>

			  	  <br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			</div>	
			
			<input type="hidden" name="fldScrnSeqNbr" value="04" />
			<input type="hidden" name="fldTxnId" value="CCP" />
			<input type="hidden" id="fldRequestId" name="fldRequestId" value="" />
			<input type="hidden" id="fldPmntType_txt" name="fldPmntType_txt" value="" />
			<input type="hidden" id="fldPmntType_ix" name="fldPmntType_ix" value="0" />
			<input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="CCP" />
			<input type="hidden" id="fldAction" name="fldAction" value="payment" />
			<input type="hidden" id="fldTxnType" name="fldTxnType" value="CCP" />

		
		</form>
	</div>
		</div>
