<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
		
			<form name="frmrrcdc02" id="frmrrcdc02"  method="post" data-bind='submit: rrcdc02Submit'> 
			
			<div class="info_row clslineht"><p>Would you like to confirm credit card deregistration</p></div>
			
			<br/>
			
			  
			  
			  
			  	<div class="summblock">	
	<div class="info_row even"><span class="info_row_left clslineht">Card No.</span> 
	<span id="DcardNum"  class="info_row_right clslineht"> 
			 
	</span>
	 <div class="clearfix"></div>
     

     </div>
     </div>
			  
			  
			  <br/>
							  <div class="info_row alignc"> <input type="submit" class="button" value="Confirm" />
				
				<div class="clearfix"></div>
			  </div>
			  <input type="hidden" name="fldCardNo" value="" />
			   <input type="hidden" name="fldCardAANNo" id="fldCardAANNo" value="" />

					
			 
			  </form>

		
	 </div>
	 </div>

