<style>
.info_row2,.info_row3 {
	padding-left: 0;
	padding-right: 0;
}

.info_row p {
	padding-left: 10px;
}
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
	
			<form name="frmrrcdc01" id="frmrrcdc01"  method="post" data-bind='submit: rrcdc01Submit'> 
			
			<br/>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>

			<div class="info_row"><div class="info_row2">Card No.</div> 
			  <div class="info_row3">
			
				<select name="fldCardNo" id="fldCardNo" data-bind="options: ccaccountList1, optionsText: 'cardNo', optionsValue: 'ccvalue' ">
			
		    </select>	
				</div>
			  </div>
			  
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
<br/>
			  <div class="info_row alignc"> <input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			  </div>
			  
		
			  <input type="hidden" name="fldRequestId" value="RRCDC02" />
			  <input type="hidden" name="fldTxnId" value="CDC" />
			  <input type="hidden" name="fldScrnSeqNbr" value="02" />
			  <input type="hidden" id="fldCardNo_txt" name="fldCardNo_txt" value="" />
			  <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId"/>
			
			
			  
			  </form>
		
			 <div class="info_row" id="ErrMsg" data-bind="visible:ccaccountList().length<=0" >Credit Cards not mapped to this user.
				<div class="clearfix"></div>
			  </div>
			
		
	 </div>

	 </div>
	
<script>
$("#frmrrcdc01").validate({
	rules: {
		fldCardNo: "required",
			
	},
	messages: {
		fldCardNo: "Select Card Number",
				
	}
});
</script>
