<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
			<div class="summblock">
			
			 <div class="info_row dark_header"><span class="info_row_left">Card No.</span> 
			  <span class="info_row_right clslineht" id="cardNum"></span>
				<div class="clearfix"></div>
			  </div>
			  <div class="info_row odd"><span class="info_row_left">Reference No.</span> 
			  <span class="info_row_right page_title_sub clslineht" id="refNum"></span>
				<div class="clearfix"></div>
			  </div>
			
			 
				<div class="info_row even"><span class="info_row_left clslineht">E-mail will be sent to</span> 
				  <span class="info_row_right clslineht" id="emailType"></span>
				<div class="clearfix"></div>
				</div>

			</div>
			<br/>
			<div class="info_row"><p><b>Important:</b></p>
			<br/>
			<p>Please quote the above reference number in all the communications with the bank.</p>
			</div>
	 </div>


  </div>
