<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">


			<form name="frmrrest02" id="frmrrest02"  method="post" data-bind='submit: rrest02Submit'> 
		<br/>  

		<div class="summblock">
		<div class="info_row dark_header"><span class="info_row_left">Card No.</span>
		 <span id="cardNum" class="info_row_right"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
	
		
		<div class="info_row odd"><span class="info_row_left clslineht">E-mail will be sent to</span> <span class="info_row_right clslineht" id="emailType"></span>
			<div class="clearfix"></div>
		</div>
	
		
	


			<div class="info_row even"><span class="info_row_left">E-mail Address</span> 
			<span class="info_row_right" style="word-wrap: break-word;" id="emailId"> 
				
				</span>
				<div class="clearfix"></div>
			</div>


		</div>
		<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>
		  
		<input type="hidden" name="fldRequestId" value="RREST03" />
		<input type="hidden" name="fldTxnId" value="EST" />
		
	
		<input type="hidden" name="fldScrnSeqNbr" value="03" />
<input type="hidden" name="fldemailFlag" id="fldemailFlag"/>
<input type="hidden" name="fldCardAANNo" id="fldCardAANNo"/>
		
	
		</form>
		 <div class="info_row" id="ErrMsg" style="display:none">Kindly go to Update Contact Details to update your email address. You cannot select a blank email address.
				<div class="clearfix"></div>
			  </div>
		
		

		
	 </div>
</div>

