<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  

			<form name="frmrrest01" id="frmrrest01"  method="post" data-bind='submit: rrest01Submit'> 
		<br/>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>

		<div class="info_row"><div class="info_row2">Card No.</div> <div class="info_row3"> 
			
				  
				  		<select name="selCard" id="selCard" data-bind="options: ccaccountList1, optionsText: 'cardNo', optionsValue: 'cardDet' ">
</select>
				</div>
				
			</div>
			
		<div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
			
			<div class="info_row"><div class="info_row2">Send E-mail at</div> <div class="info_row3"> 
				 <select name="fldEmailFlag" class="styled" id="fldEmailFlag">
					<option value="R">Residence</option>
					<option value="O">Office</option>
				  </select>
				</div>
				
			</div>
			
			<div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
			<br/>
			<div class="info_row"><p>** You will continue to receive your monthly card statement by post in addition to the email statement.</p></div>
			<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			</div>	
		  
		<input type="hidden" name="fldRequestId" value="RREST02" />
		<input type="hidden" name="fldTxnId" value="EST" />
	
		<input type="hidden" name="fldScrnSeqNbr" value="02" />
		
		<input type="hidden" name="fldEmail" value="" />
		<input type="hidden" name="fldCardNo" value="" />
		
		<input type="hidden" id="selCard_txt" name="selCard_txt" value="" />
		<input type="hidden" id="fldEmailFlag_txt" name="fldEmailFlag_txt" value="" />


		</form>
	
		 <div class="info_row" id="ErrMsg" style="display:none">Credit Cards not mapped to this user.
				<div class="clearfix"></div>
			  </div>
		
		

		
	 </div>


  </div>
  <script>
$("#frmrrest01").validate({
	rules: {
		selCard: "required",
			
	},
	messages: {
		selCard: "Select Card Number",
				
	}
});
</script>
  
