<style>
.info_row2,.info_row3 {
	padding-left: 0;
	padding-right: 0;
}

.info_row p {
	padding-left: 10px;
}
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">


			<form name="frmrrpcr01" id="frmrrpcr01"  method="post" data-bind='submit: rrpcr01Submit'> 
	

     
	<br/>
	
	 <div class="clearfix"></div>
     <div class="linedivider"></div>   
     <div class="clearfix"></div>
      
     <div class="info_row">
      	<div class="info_row2">Card No.</div>
      	<div class="info_row3">
      				<select name="selCard" id="selCard" data-bind="options: ccaccountList, optionsText: 'cardNo', optionsValue: 'ccaccountvalue' ">
 	</select>
        </div> 
     </div>
    	
     <div class="clearfix"></div>
     <div class="linedivider"></div>   
     <div class="clearfix"></div>
  <br/>
  <div class="info_row alignc"> <input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			  </div>
			    
 	 <div class="info_row" id="ErrMsg" data-bind="visible:ccaccountList().length<=0">Credit Cards not mapped to this user.
				<div class="clearfix"></div>
			  </div>

  
 
    
	<input type="hidden" name="fldRequestId" value="RRPCR02" />
	<input type="hidden" name="fldTxnId" value="PCR" />	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	
	<input type="hidden" id="selCard_txt" name="selCard_txt" value="" />
	
<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />

  
   
 </form>

</div>

</div>  


<script>
$("#frmrrpcr01").validate({
	rules: {
		selCard: "required",
			
	},
	messages: {
		selCard: "Select Card Number",
				
	}
});
</script>