<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">


    
  
			<form name="frmrrpcr02" id="frmrrpcr02"  method="post" data-bind='submit: rrpcr02Submit'> 
	<br/>
	
	<div class="info_row"><p>Would you like to confirm the PIN change request.</p></div>
	 
	<br/>
	<div class="summblock">	
	<div class="info_row even"><span class="info_row_left clslineht">Card No.</span> 
	<span id="DcardNum"  class="info_row_right clslineht"> 
			 
	</span>
	 <div class="clearfix"></div>
     

     </div>
     </div>
  <br/>
  <div class="info_row alignc"> <input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			  </div>   
 
    
	<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
	<input type="hidden" name="fldTxnId" value="PCR" />	
	<input type="hidden" name="fldScrnSeqNbr" value="03" />
	
	<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />
	<input type="hidden" id="fldCardAANNo" name="fldCardAANNo" value="" />


  
   
 </form>




</div>  
</div>  