<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
	 
    <div class="summblock">
    
    <div class="info_row dark_header"><span class="info_row_left">Card No.</span> 
		<span id="cardNum" class="info_row_right"> 
			 
		</span>
		<div class="clearfix"></div>
	</div>
	
	<div class="info_row odd"><span  class="info_row_left">Reference No.</span> 
		<span class="info_row_right page_title_sub" id="refNum"> 
		
		</span>
		<div class="clearfix"></div>
	</div> 
	 
  </div>
  
  <br/>
  
  <div class="info_row">
  <p>Your new credit card ATM PIN will be dispatched to your mailing address and would reach you within 10 business days.</p><br/>
  <p>Important:</p><br/>
  <p>Please quote the above reference number in all the communications with the bank.</p>
  
  </div>

</div>
    

</div>  
</div> 
 </div>  