<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">

			<form name="frmrrunb01" id="frmrrunb01"  method="post" data-bind='submit: rrunb01Submit'> 
		<br/>
		 <div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
		<div class="info_row"><div class="info_row2">For Card No.</div><div class="info_row3"> 
				<select name="fldCardNo" id="fldCardNo" data-bind="options: ccaccountList, optionsText: 'cardNo', optionsValue: 'ccaccountvalue' ">
</select>
			</div>
		</div>
		
		 <div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
		
		<div class="info_row"><div class="info_row2">Transaction Type</div><div class="info_row3"> 
		<select name="fldCodDrCr" id="fldCodDrCr" class="styled">
			<option value="D">Debit</option>
			<option value="C">Credit</option>
			<option value="B">Both</option>
		</select>
			</div>
		</div>
		
		 <div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
<br/>
	 <div class="info_row alignc"> <input type="submit" class="button" value="View" />
				<div class="clearfix"></div>
			  </div>
		<br/>	  
		<div class="info_row"><p>The normal time taken for your current transactions to reflect under Unbilled transactions is 2-5 days</p></div>
	
	
	<input type="hidden" name="fldInitialSwitch" id="fldInitialSwitch" value="I" />
	<input type="hidden" name="fldLastTxnSeqNo" id="fldLastTxnSeqNo" value="0" />


	<input type="hidden" id="acctTemp" name="acctTemp" value="1" />
	

  

	</form>
	

	 </div>
	 </div>
<script>
$("#frmrrunb01").validate({
	rules: {
		fldCardNo: "required",
	},
	messages: {
		fldCardNo: "Select Card Number",				
	}
});
</script>