<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">

	<div class="summblock">
	<div class="info_row dark_header"><span class="info_row_left">For Card No.</span>
	<span id="Cardnum" class="info_row_right">
	</span>
	<div class="clearfix"></div>
	</div>
		
		<div class="info_row odd"><span class="info_row_left">Total Debits</span>
		<span id="TotDeb" class="info_row_right"> 
			</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="info_row even"><span class="info_row_left">Total Credits</span>
		<span id="TotCrd" class="info_row_right"> 
			</span>
			<div class="clearfix"></div>
		</div>
		 </div>
		 
		<div class="info_row odd"><span class="info_row_left"></span><span class="info_row_right"> 
			</span>
			<div class="clearfix"></div>
		</div>

		
		
      <div class="info_row" id="ErrMsg" data-bind="visible:ccaccountList1().length<=0" >Credit Cards not mapped to this user.
				<div class="clearfix"></div>
			  </div>
    <div class="page_title_sub" style="font-size: 18pt;" data-bind="visible:ccaccountList1().length > 0">Transaction Details</div>
  <br/>
		    <div data-bind="foreach: ccaccountList1, visible:ccaccountList1().length > 0">
		<div class="summblock">
		<div class="info_row odd"><span class="info_row_left">Transaction Date</span>
		<span class="info_row_right" data-bind="text: transdate"> 
		
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left">Description</span>
		<span class="info_row_right clslineht" data-bind="text: txndesc"> 
	
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left">Amount</span>
		<span class="info_row_right" data-bind="text: txnamount"> 
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left">Transaction Type</span>
		<span class="info_row_right" data-bind="text: drcrflag"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		</div>
		<br/>
		
		
	<input type="hidden" name="fldInitialSwitch" id="fldInitialSwitch" value="I" />
	<input type="hidden" name="fldLastTxnSeqNo" id="fldLastTxnSeqNo" value="0" />
	<!--here-->
	<input type="hidden" name="fldRequestId" value="RRUNB02" />
	<input type="hidden" name="fldTxnId" value="UNB" />
	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	<input type="hidden" id="fldCodDrCr" name="fldCodDrCr" value="B" />
	<input type="hidden" id="fldCodDrCr_txt" name="fldCodDrCr_txt" value="Both" />
	<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />
	<input type="hidden" id="fldCardNoOld" name="fldCardNoOld" value="{/faml/request/fldCardNo}##{/faml//request/fldAvailCredit}" />
	<input type="hidden" id="fldCardNo_txt" name="fldCardNo_txt" value="" />

	<input type="hidden" id="fldAvailCredit" name="fldAvailCredit" value="" />


	
   </div>

</div> 
</div>
	       
