
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
			<form name="frmrrupd02" id="frmrrupd02"  method="post" data-bind='submit: rrupd02Submit'> 

	<br/>
    <div class="sub_content">  
   
    <div class="summblock">
     
    <div class="info_row dark_header"> <span class="info_row_left">Card No.</span> 
		<span class="info_row_right" id="fldCardNo1"></span>
	    <div class="clearfix"></div>
    </div>
    

		<div class="info_row odd"> <span class="info_row_left">Tel. (Residence)</span> 
			<span class="info_row_right" id="fldTelResi1"></span>
	   		<div class="clearfix"></div>
    	</div>		 



	
			<div class="info_row even"> <span class="info_row_left">Tel. (Office)</span> 
				<span class="info_row_right" id="fldTelOffice1"></span>
		   		<div class="clearfix"></div>
    		</div>			
	
	
		
			<div class="info_row odd"> <span class="info_row_left">Extension</span> 
				<span class="info_row_right" id="fldExtnOffice1"></span>
		   		<div class="clearfix"></div>
    		</div>			
	

			<div class="info_row even"> <span class="info_row_left">Email (Residence)</span> 
				<span class="info_row_right clslineht" style="word-wrap: break-word;" id="fldEmailResi1"><a href="javascript:void(0);" class="disableclick"></a></span>
		   		<div class="clearfix"></div>
    		</div>			



			<div class="info_row odd"> <span class="info_row_left">Email (Office)</span> 
				<span class="info_row_right clslineht" style="word-wrap: break-word;" id="fldEmailOffice1"><a href="javascript:void(0);" class="disableclick"></a></span>
		   		<div class="clearfix"></div>
    		</div>		




			<div class="info_row even"> <span class="info_row_left">Mobile</span> 
				<span class="info_row_right" id="fldMobile1"></span>
		   		<div class="clearfix"></div>
    		</div>			



	</div>
    
<br />
			<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>    
	</div>
	

	<input type="hidden" name="fldTxnId" value="UPD" />	
	<input type="hidden" name="fldScrnSeqNbr" value="03" />
	
	<input type="hidden" id="fldCardNo" name="fldCardNo" value="" />
	<input type="hidden" id="fldCardAANNo" name="fldCardAANNo" value="" />
	<input type="hidden" id="fldTelResi" name="fldTelResi" value="" />
	<input type="hidden" id="fldTelOffice" name="fldTelOffice" value="" />
	<input type="hidden" id="fldExtnOffice" name="fldExtnOffice" value="" />
	<input type="hidden" id="fldEmailResi" name="fldEmailResi" value="" />
	<input type="hidden" id="fldEmailOffice" name="fldEmailOffice" value="" />
	<input type="hidden" id="fldMobile" name="fldMobile" value="" />
	

    </form>
  </div>
  <!-- End content_container --> 
</div>  
