<style>
.info_row2,.info_row3 {
	padding-left: 0;
	padding-right: 0;
}

.info_row p {
	padding-left: 10px;
}
</style>

<div id="wrapper" style="top: 96px; padding-bottom: 110px;">
	<div class="content sub_content">


		<form name="frmrscip02" id="frmrscip02" method="post"data-bind='submit: rscip02Submit'>


			
			
			 <div class="summblock">
	
			
			
			<div class="info_row dark_header"><span class="info_row_left">Card No</span> 
			<span class="info_row_right fldCardNo" style="word-wrap: break-word;" ></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" style="display:none;"><span class="info_row_left">NewPin:</span> 
			<span class="info_row_right fldNewPin" style="word-wrap: break-word;"></span>
				<div class="clearfix"></div>
			</div>
		
			<div class="info_row even" style="display:none;"><span class="info_row_left">New Confirm Pin:</span> 
				<span class="info_row_right fldNewConfirmPin" ></span>
				<div class="clearfix"></div>
			</div>
			
			
	      </div>
			<br />
			<div class="info_row alignc">
				<input type="submit" class="button" value="Confirm" />
				<div class="clearfix"></div>
			</div>

           
        <input type="hidden" name="fldCardNo" id="fldCardNo" class="fldCardNo" value="" />
     	<input type="hidden" name="fldNewPin" id="fldNewPin" class="fldNewPin"  value="" />
	    <input type="hidden" name="fldNewConfirmPin" id="fldNewConfirmPin" class="fldNewConfirmPin" value="" />
	    <input type="hidden" name="fldExpDate" id="fldExpDate" class="fldExpDate" value="" />
	    








		</form>


	</div>
	<!-- End content_container -->
</div>
<script>

	

</script>
