<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      <div class="info_row" id="accExitsMsg" style="padding-top:8px;display:none;"><p>You do not have current/saving account with the bank.</p></div>
	  
	  <div data-bind="foreach: accountList">
	  
	  <div class="info_row odd">
	  	<span class="info_row_left page_title_carousel" style="padding-left:5px;" data-bind="text: acctType"></span> 
	  	<span class="info_row_right"></span>
		<div class="clearfix"></div>
	 </div>
			
	 <div class="summblock">
			  
			<div class="info_row  dark_header"><span class="info_row_left">Account No.</span> 
			 <span class="info_row_right" data-bind="text: codacctno"></span>
				<div class="clearfix"></div>
			</div>
			
			<!-- ko if: custtype1 != ""  -->
			<div class="info_row odd"><span class="info_row_left">Account Type</span> 
				<span class="info_row_right" data-bind="text: custtype1"></span>
				<div class="clearfix"></div>
			</div>
			<!-- /ko -->
			<!-- ko if: custtype1 != ""  -->
			<div class="info_row even"><span class="info_row_left">Available Balance</span> 
			<span class="info_row_right page_title_sub" style="word-wrap: break-word;" data-bind="text: acctbalance"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Branch</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" data-bind="text: acctbranch"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Name</span> 
				<span class="info_row_right" data-bind="text: custnames"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Currency</span> 
			<span class="info_row_right" data-bind="text: namccyshrt"></span>
				<div class="clearfix"></div>
			</div>
			<!-- /ko -->
			<!-- ko ifnot: custtype1 != ""  -->
			<div class="info_row odd"><span class="info_row_left">Available Balance</span> 
			<span class="info_row_right page_title_sub" style="word-wrap: break-word;" data-bind="text: acctbalance"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Branch</span> 
			<span class="info_row_right"  style="word-wrap: break-word;" data-bind="text: acctbranch"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Name</span> 
				<span class="info_row_right" data-bind="text: custnames"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Currency</span> 
			<span class="info_row_right" data-bind="text: namccyshrt"></span>
				<div class="clearfix"></div>
			</div>
			<!-- /ko -->
			
				
			
			
			
					
		</div>
		
		<div class="info_row odd"><span class="info_row_left"></span> <span class="info_row_right"> 
				</span>
				<div class="clearfix"></div>
			</div>
		
	 </div>
			<div class="info_row odd"><span class="info_row_left"></span> <span class="info_row_right"> 
				</span>
				<div class="clearfix"></div>
			</div>
	  
      <div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>