<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper" style="top:100px;">
  <div class="content sub_content">
      		<div class="info_row odd dark_header">
				<span class="info_row_left page_title_carousel">Request</span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			<br/>

			<a href="#rrtpa01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/Add-beneficiary-within-bank.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Add Beneficiary Within Bank </span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrtpa04">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/Add-beneficiary-NEFT-IMPS.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Add Beneficiary – NEFT/IMPS</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
			
			<div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>