<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
	<div class="info_row " id="accExitsMsg" style="display:none;">Two or more A/cs are required to carry out this transaction.
			<div class="clearfix"></div>
	</div>		
  
  <form class="custStyleInput" name="frmcss01" id="frmcss01" method="post" data-bind='submit: rrcss01Submit'>
   <div data-bind="visible: accSlider">
   
   <br/>
        <div class="clearfix"></div>
	    <div class="linedivider"></div>   
	    <div class="clearfix"></div>
      		
   <div class="clearfix"></div>
      
	<div class="info_row"><div class="info_row2">Sweep-in Beneficiary Account No</div> 
		<div class="info_row3">
			<select name="selAcct" id="selAcct" data-bind="options: fssSavingAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selFssSavingAcc, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row"><div class="info_row2">Sweep-in Provider Account No</div> 
		<div class="info_row3">
			<select name="cmbSrcAcctNo" id="cmbSrcAcctNo" data-bind="options: fssFDAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selFssFDAcc, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>  

	<div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
	  
	<div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div><div class="info_row3">
		<select name="fldChecked" id="fldChecked">
		<option value="true">Accept</option>
		<option value="false">Decline</option>
		</select>
	</div>
	</div>
      
	<div class="clearfix"></div>
		 
   <div class="clearfix20"></div>
   <div class="info_row2">
    <input type="submit" class="button" value="Continue" >
   </div>
   
    <br/>
			<div class="info_row ">
			<p><b>Note:</b></p>
			<br/>
			</div>
			<div class="info_row "><p>This facility is applicable for Savings/Current Account holders linked within the same cust id.</p><br/>
			<p>This facility is available for accounts where the holding pattern is single in both, the funding and the recipient account.</p><br/>
			<p>The facility will not be available from / to Foreign Currency Accounts in the same cust id.</p>
			<br/>
			<p>Only the Clear Credit Balance amount in the account will be considered for the Sweep-in facility.</p>
			<br/>
			<p>One single Savings/Current account can be linked to more than one provider accounts. Incase of unavailable funds in one provider account, funds can be swept in from other provider accounts.</p><br/>
			<p>In order to know more about this facility, please visit your nearest HDFC Bank Branch or call up PhoneBanking.</p>
			</div>
      <br/>
<br/>
  	<input type="hidden" name="fldFCDBRequestId" id="fldFCDBRequestId" />
  	
   
   </div>
   </form>

  </div>
</div>

<script type="text/javascript">

$.validator.addMethod("account_not_same", function(value, element) {
   return $('#selAcct').val() != $('#cmbSrcAcctNo').val()
}, "Sweep-in Beneficiary Account No and Sweep-in Provider Account No cannot be same.");

$("#frmcss01").validate({
	rules: {
		selAcct: "required",
		cmbSrcAcctNo: {
                required: true,
                account_not_same: true                
        },
		fldChecked: {chkvalid: "#fldChecked"},
	},
	messages: {
		selAcct: "Select Sweep-in Beneficiary Account No",
		cmbSrcAcctNo:{
			required : "Select Sweep-in Provider Account No",
			account_not_same : "Sweep-in Beneficiary Account No and Sweep-in Provider Account No cannot be same.",			
		},		
		fldChecked: {
                chkvalid: "Please accept the Terms and Conditions before proceeding"
            },		
	}
});

</script>
