<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  <div class="info_row" id="accExitsMsg" style="display:none;"><p>You do not have a registered Email ID with the bank. To register for Email Statements, Email ID is mandatory.</p></div>
  
   <div id="alreadyReg" style="display:none;">
   
   	<div class="info_row odd"><span class="info_row emrCustId1">Customer ID</span> 
   		
		<div class="clearfix"></div>
	</div>
			
	<div class="info_row">
		<p>You are already registered to Email Statement.</p>
		<div class="clearfix"></div>
	</div>
   
   </div>
   <form class="custStyleInput" name="frmEmrConti" id="frmEmrConti" method="post" data-bind='submit: rremr03Submit'>
   <div id="notReg" style="display:none;">
   
   		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">Customer ID</span> 
			<span class="info_row_right emrCustId"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Email ID</span> 
			<span class="info_row_right clslineht emrEmailId" style="word-wrap: break-word;margin-top:5px;"></span>
				<div class="clearfix"></div>
			</div>			
			</div>
			
			<div class="clearfix20"></div>
			   <div class="info_row2">
			   <input type="submit" class="button" value="Continue" >
			</div>			
   </div>
   
   <br/>
   <div class="info_row"> 
	 <p><b>Note:</b></p>
	 <br/>
	 <p><b>Savings Account Customers:</b></p>
	 <br/>
	<p>Only the Primary Account holder will be eligible for Email Statement facility.
	In case you are a secondary account holder, you will not receive any Email Statements.</p>
	<br/>
	<p><b>Current Account Holders:</b></p>
	<br/>
	<p>Only a Sole current account holder can avail of this registration facility.</p>
	<p>In case of Proprietorship, Private Limited, Partnership, Karta etc., a one time registration needs to be done at the branch by filling up the form.</p>
			
  </div>	
  
	<input type="hidden" name="fldDOB" id="fldDOB" value="" />
	<input type="hidden" name="fldDayDOB" id="fldDayDOB" value="" />
	<input type="hidden" name="fldMonthDOB" id="fldMonthDOB" value="" />
	<input type="hidden" name="fldYearDOB" id="fldYearDOB" value="" />
	<input type="hidden" name="fldLogAccount" id="fldLogAccount" value="" />
	<input type="hidden" name="fldCustEmail" id="fldCustEmail" value="" />
	<input type="hidden" name="fldPhone" id="fldPhone" value="" />
	<input type="hidden" name="fldPhoneOff" id="fldPhoneOff" value="" />
	<input type="hidden" name="fldFax" id="fldFax" value="" />
	<input type="hidden" name="fldCustNamFull" id="fldCustNamFull" value="" />
	<input type="hidden" name="fldCtrUpdSrlNo" id="fldCtrUpdSrlNo" value="" />
	<input type="hidden" name="fldAdd1" id="fldAdd1" value="" />
	<input type="hidden" name="fldAdd2" id="fldAdd2" value="" />
	<input type="hidden" name="fldAdd3" id="fldAdd3" value="" />
	<input type="hidden" name="fldCity" id="fldCity" value="" />
	<input type="hidden" name="fldState" id="fldState" value="" />
	<input type="hidden" name="fldZIP" id="fldZIP" value="" />
	<input type="hidden" name="fldCntry" id="fldCntry" value="" />
	<input type="hidden" name="fldPanNo" id="fldPanNo" value="" />
	<input type="hidden" name="fldMobileNo" id="fldMobileNo" value="" />
	<input type="hidden" name="fldAcctNo" id="fldAcctNo" value="" />
	
	<input type="hidden" name="fldconvstatus" id="fldconvstatus" value=""/>
	<input type="hidden" name="fldemailstmt" id="fldemailstmt" value="" />
	
	<input type="hidden" name="fldListAccts" id="fldListAccts" value="" />
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
</form>
  </div>
</div>