<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
     
 <form class="custStyleInput" name="frmfdr01" id="frmfdr01" method="post" data-bind='submit: rrfdr01Submit'>
   
	
	<div class="info_row clsFDerror" style="display:none;"><p>You are not allowed to book this FD. For details please contact your branch.</p></div>

    	<div id="fdr_div1" style="display:none;">
					<div class="summblock" >
						<div class="info_row dark_header">
							<span class="info_row_left">From Account</span> 
							<span class="info_row_right clsdebaccno"> 
								
							</span>
						<div class="clearfix"></div>
						</div>
								
									
						<input type="hidden" name="fldCodAcctNbr" id="fldCodAcctNbr"></input>
						
						<input type="hidden" name="fldAcctNbr" id="fldAcctNbr"></input>
						
						<input type="hidden" name="fldFdBrn" id="fldFdBrn"></input>
								
								
						<div class="info_row odd">
							<span class="info_row_left">Place of FD</span> 
							<span class="info_row_right clsfdplace"> 
							
							</span>
						<div class="clearfix"></div>
						</div>
										
								  
								
								<div class="info_row even"><span class="info_row_left">State</span> 
								<span class="info_row_right clsfdstate"> 
									
									</span>
								<div class="clearfix"></div>
								</div>
								
								<div class="info_row odd"><span class="info_row_left">City</span> 
								<span class="info_row_right clsfdcity"> 
									
									</span>
								<div class="clearfix"></div>
								</div>
								
								<div class="info_row even"><span class="info_row_left">Branch</span> 
								<span class="info_row_right clslineht clsfdbrnch"> 
									
									</span>
								<div class="clearfix"></div>
								</div>
								
								<input type="hidden" name="fldState" id="fldState"></input>
								
								<input type="hidden" name="fldCity" id="fldCity"></input>
								
								<input type="hidden" name="fldFdBrnNam" id="fldFdBrnNam"></input>
								
								<input type="hidden" name="fldFDPlace" id="fldFDPlace"></input>
								
								<div class="info_row">
									<div class="info_row2">Deposit Amount</div>
									<div class="info_row3">
										<input type="text" id="fldDepositAmt1" name="fldDepositAmt1" value="" size="10" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
									</div>      	
								</div>
								
								<input type="hidden" name="tmpDepositAmt" id="tmpDepositAmt" />
								
							<!-- check condition for hidden vari -->
										
										
										<div class="info_row odd"><span class="info_row_left">Nature of Deposit</span> 
											<span class="info_row_right clslineht clsnaturedepo"> 
												
											</span>
											<div class="clearfix"></div>
										</div>	
										
										<div class="info_row even"><span class="info_row_left">Min Term</span> 
											<span class="info_row_right clsminterm"> 
												
											</span>
											<div class="clearfix"></div>
										</div>	
										
										<div class="info_row odd"><span class="info_row_left">Max Term</span> 
											<span class="info_row_right clsmaxterm"> 
												
											</span>
											<div class="clearfix"></div>
										</div>	
										
										<div class="info_row even"><span class="info_row_left">Min Amt</span> 
											<span class="info_row_right clsminamt"> 
												
											</span>
											<div class="clearfix"></div>
										</div>	
										
										<div class="info_row odd"><span class="info_row_left">Max Amt</span> 
											<span class="info_row_right clsmaxamt"> 
												
											</span>
											<div class="clearfix"></div>
										</div>	
										
										<div class="info_row even"><span class="info_row_left">Deposit Period</span> 
											<span class="info_row_right clsdepoperiod"> 
												 
											</span>
											<div class="clearfix"></div>
										</div>	
										
										<div class="info_row odd"><span class="info_row_left clslineht">Maturity Instructions</span> 
											<span class="info_row_right clslineht clsmatinstr"> 
												
											</span>
											<div class="clearfix"></div>
										</div>
										
										<div class="info_row even"><span class="info_row_left">Interest Payable</span> 
											<span class="info_row_right clsintpay"> 
												
											</span>
										<div class="clearfix"></div>
										</div>
										
										<div class="info_row odd"><span class="info_row_left clslineht">Interest Payable Mode</span> 
											<span class="info_row_right clslineht clsintpaymode"> 
												
											</span>
											<div class="clearfix"></div>
										</div>
										
										<div class="info_row even"><span class="info_row_left clslineht">Interest / Principal Credit A/c No</span> 
											<span class="info_row_right clsintpraccno"> 
												Not Applicable
											</span>
											<div class="clearfix"></div>
										</div>
										
										
								
								<input type="hidden" name="DepMths" />								
								<input type="hidden" name="DepDays" />								
								<input type="hidden" name="fldTermMnths" />
								
								<input type="hidden" name="fldTermDays" />
								<input type="hidden" name="fldMaturityInstrIndx" id="fldMaturityInstrIndx"></input>
								<input type="hidden" name="fldFrqIntPay" id="fldFrqIntPay"></input>
								<!-- <input type="hidden" name="fldPayoutModeVal" /> -->
								<input type="hidden" name="fldIntAcctNo" id="fldIntAcctNo"></input>
								
							</div>	
							
						<div class="clearfix20"></div>
						    <div class="info_row2">
						    <input type="submit" class="button" value="Continue" id="btn1click">
						   </div>
				
				</div>
						
				<input type="hidden" name="fldFlgCumDep"  id="fldFlgCumDep"></input>
											
				<div id="fdr_div2" style="display:none;">
				
					<div class="summblock">
								<div class="info_row"><div class="info_row2">From Account</div> 
									<div class="info_row3">
									  <select name="fldFromAcctNo" id="fldFromAcctNo" class="styled" data-bind="options: openFDAccList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selOpenFD">
										
									  </select>	
									</div>
								</div>
								
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					  
					<div class="info_row odd"> 
						<span class="info_row_left">Place of FD</span> 
						<span class="info_row_right ">Home Branch</span>
						<div class="clearfix"></div>
					</div> 
					<input type="hidden" name="fldFDPlace" value="Home" />
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					
					<div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><div class="info_row2">Deposit Amount: </div> 
					<div class="info_row3"><input type="number" name="fldDepositAmt" id="fldDepositAmt" /></div></div> 
					
					 <div class="clearfix"></div>
					
					
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					
					<div class="info_row"><div class="info_row2">Nature of Deposit</div> 
					<div class="info_row3">
					  <select name="prodtype" id="prodtype" class="styled" data-bind="options: prodtypeList, optionsText: 'prodtxt', optionsValue: 'prodval', value: prodtype, event: {change:showSelectedProdType}">
						
					  </select>	
					</div>
					</div>
					
					
					<div id="prodtypeDays" style="display:none;">
					<br/>
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					<br/>
					<div class="info_row page_title_sub"> 
						<p>For Days (between 7 to 180 days)</p>
						<div class="clearfix"></div>
					</div> 
					
					<br/>
					
					<div class="info_row even"> 
						<span class="info_row_left">Min Term</span> 
						<span class="info_row_right ">7 Days</span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row odd"> 
						<span class="info_row_left">Max Term</span> 
						<span class="info_row_right ">180 Days</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row even"> 
						<span class="info_row_left">Min Amt</span> 
						<span class="info_row_right clsdayminamt"></span>
						<div class="clearfix"></div>
					</div> 
					<div class="info_row odd"> 
						<span class="info_row_left">Max Amt</span> 
						<span class="info_row_right clsdaymaxamt"></span>
						<div class="clearfix"></div>
					</div> 
					</div>
					
					
					<div id="prodtypeReInvest">
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					
					<br/>
					
					<div class="info_row page_title_sub"> 
						<p>Reinvestment of Interest</p>
						<div class="clearfix"></div>
					</div> 
					<br/>
					<div class="info_row even"> 
						<span class="info_row_left">Min Term</span> 
						<span class="info_row_right ">6 Months 1 Days</span>
						<div class="clearfix"></div>
					</div>
					<div class="info_row odd"> 
						<span class="info_row_left">Max Term</span> 
						<span class="info_row_right ">120 Months</span>
						<div class="clearfix"></div>
					</div>
					
					<div class="info_row even"> 
						<span class="info_row_left">Min Amt</span> 
						<span class="info_row_right clsreinvminamt"></span>
						<div class="clearfix"></div>
					</div> 
					<div class="info_row odd"> 
						<span class="info_row_left">Max Amt</span> 
						<span class="info_row_right clsreinvmaxamt"></span>
						<div class="clearfix"></div>
					</div>
					</div>
					
					
					<div class="info_row odd"> 
						<span class="info_row_left">Deposit Period</span> 
						<span class="info_row_right "></span>
						<div class="clearfix"></div>
					</div>
					
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
						
					<div class="info_row"><div class="info_row2">Months<br/></div> <div class="info_row3">
						<input type="number" name="fldTermMnths" id="fldTermMnths" value=""  />
					   </div>
					<div class="clearfix"></div>
					</div>
					
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
						
					<div class="info_row"><div class="info_row2">Days<br/></div> <div class="info_row3">
						<input type="number" name="fldTermDays" id="fldTermDays" value="" />
					   </div>
					<div class="clearfix"></div>
					</div>
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					
					<div class="info_row"><div class="info_row2">Maturity Instructions</div> 
					<div class="info_row3">
					<select name="fldMaturityInstr" id="fldMaturityInstr" class="styled">
						<option value="">-Select Maturity Instruction-</option>
						<option value="2">Renew Principal and Interest</option>
						<option value="1">Renew Principal Only</option>
						<option value="3">Do Not Renew</option>
					</select>	
					</div>
					</div>
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					
					<div class="info_row"><div class="info_row2">Interest Payable</div> 
					<div class="info_row3">
					<select name="fldFrqIntPay1" id="fldFrqIntPay1" class="styled">
						<option value="0#Not Available">-Select Interest Payable Frequency-</option>
						<option value="0#At Maturity">At Maturity</option>
					</select>	
					</div>
					</div>
					
					<div class="clearfix"></div>
					<div class="linedivider"></div>   
					<div class="clearfix"></div>
					
					<div class="info_row"><div class="info_row2">Interest Payable Mode</div> 
					<div class="info_row3">
					<select name="fldPayoutModeVal" id="fldPayoutModeVal" class="styled">
						<option value="0">-Select Interest Mode-</option>
						<option value="2">By Transfer to Savings Account</option>
					</select>	
					</div>
					</div>

					<div class="info_row"> 
							<div class="info_row2">Interest / Principal Credit A/c No</div> 
							<div class="info_row3">
							<select name="fldIntCrAcctNo" id="fldIntCrAcctNo" class="styled" data-bind="options: openFDAccList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: creditAccno, optionsCaption: '-Select-'">
										
							</select>	</div>
							<div class="clearfix"></div>
					</div>
					
					
					</div>
				
				
					<input type="hidden" name="fldAmtBal" id="fldAmtBal"></input>										
					<input type="hidden" name="fldAcctCurr" id="fldAcctCurr"></input>										
					<input type="hidden" name="fldNamCurrency" id="fldNamCurrency"></input>
				
					<input type="hidden" name='fldProdType' id='fldProdType' />
					<input type="hidden" name='fldSelProd' id='fldSelProd' value =''/>									
					<input type="hidden" name='fldFlgCumDepVal' id='fldFlgCumDepVal' value =''/>
					<input type="hidden" name='fldProdCodeVal' id='fldProdCodeVal' value =''/>
					<input type="hidden" name='fldNamProd' id='fldNamProd' value =''/>
					<input type="hidden" name='fldDepTermUnit' id="fldDepTermUnit" value =''/>
					<input type="hidden" name='fldMinTerm' id="fldMinTerm" value =''/>
					<input type="hidden" name='fldMaxTerm' id="fldMaxTerm" value =''/>
					<input type="hidden" name='fldMinAmt' id='fldMinAmt' value =''/>
					<input type="hidden" name='fldMaxAmt' id='fldMaxAmt' value =''/>
					<input type="hidden" name='fldProdCode' id='fldProdCode' value =''/>		
					<input type="hidden" name='fldMaturityInstr_txt' id='fldMaturityInstr_txt' value =''/>		
					<input type="hidden" name='fldMaturityInstr_ix' id='fldMaturityInstr_ix' value =''/>		
					<input type="hidden" name='fldFrqIntPay_txt' id='fldFrqIntPay_txt' value =''/>		
					<input type="hidden" name='fldFrqIntPay_ix' id='fldFrqIntPay_ix' value =''/>		
					<input type="hidden" name='fldPayoutModeVal_txt' id='fldPayoutModeVal_txt' value =''/>		
					<input type="hidden" name='fldPayoutModeVal_ix' id='fldPayoutModeVal_ix' value =''/>		
					<input type="hidden" name='prodtype_txt' id='prodtype_txt' value =''/>		
					<input type="hidden" name='prodtype_ix' id='prodtype_ix' value =''/>		
					<input type="hidden" name='fldFromAcctNo_txt' id='fldFromAcctNo_txt' value =''/>		
					<input type="hidden" name='fldFromAcctNo_ix' id='fldFromAcctNo_ix' value =''/>		
					<input type="hidden" name='fldIntCrAcctNo_txt' id='fldIntCrAcctNo_txt' value =''/>		
					<input type="hidden" name='fldIntCrAcctNo_ix' id='fldIntCrAcctNo_ix' value =''/>		

										
					<div class="clearfix20"></div>
				    <div class="info_row2">
				    <input type="submit" class="button" value="Continue" id="btn2click">
				   </div>
	   				<div class="clearfix"></div>
	   
					<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
					<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="02" />
				
					
					<div class="info_row">
  					<br/>
  					<p><b>Note:</b></p><br/>
  					<p>1. As per the Terms and Conditions of Fixed Deposit Accounts of the bank, the penalty on premature closure of Fixed Deposits including Sweep-in and partial closures has been fixed by the Bank at the rate of 1%.</p><br/>
  					<p>2. As per Section 139A(5A) of the Income Tax Act every person receiving any sum of income or amount from which tax has been deducted under the provisions of the Income Tax Act shall provide his PAN number to the person responsible for deducting such tax. </p><br/>
  					<p>3. In case the PAN number is not provided to the Bank as required the bank shall not be liable for the non availment of the credit of tax deducted at Source. </p><br/>
  					<p>4. As per the section 114B (c) of the Income Tax Act, every person shall quote his permanent account number in all transactions pertaining to a time deposit, exceeding fifty thousand rupees, with a banking company to which the Banking Regulation Act, 1949 (10 of 1949), applies (including any bank or banking institution referred to in section 51 of the Act);</p><br/>
  					<p>5. In case your PAN details are not updated with the bank, you are requested to visit the nearest branch and update your PAN details. In the absence of PAN,you may not be allowed to carry out certain transactions on Netbanking.</p><br/>
  					<p>If you are a non assessee or do not have PAN, you are requested to visit the nearest branch. Your Fixed Deposit will be booked if permissible under the Bank's current policy.</p>
					<p>6. Further please note that the credit for the Tax Deducted at Source as governed by Section 194A is based on the eTDS return filed by the bank by quoting of VALID PAN of deductee's. In the absence of your PAN No. with the Bank, availment of the credit of TDS would be an hindrance, as the credit for TDS is denied by the Tax Authority where PAN No. is not mentioned in eTDS return. </p><br/>
					<p>7. Incase you wish to book an FD under the 5 Year Tax Saving Scheme to avail exemption u/s 80C of the Income Tax Act,1961,kindly visit your nearest HDFC Bank branch. </p><br/>
					<p>8. The Fixed Deposit will be opened as a regular FD, with the holding pattern, similar to the holding pattern existing in the Current/Savings account, from where the amount is being debited. </p><br/>
					<p>9. Individuals seeking exemption from TDS, have to submit a completed Form 15H at the bank branch. </p><br/>
					<p>10. To modify maturity instruction / break an FD/ change of nominee, you will have to approach the branch</p><br/>
					<p>11. The FD rate applicable for a monthly interest option will be a discounted rate over the standard FD Rate. Please contact the nearest Branch for further information. </p><br/>
					<p>12. In case you are a Senior Citizen (60 years and above) and would like to avail of preferential rate of interest on your deposit, please approach your branch with proof of age. Once you are registered as a Sr. Citizen with the branch you would be eligible for preferential rate of interest on all your FD bookings through the Net.</p><br/>
					<p>13. In case of NRO deposit no interest will be paid if the deposit is liquidated within 7 days of the date of booking.</p><br/>
					<p>14. In case of NRE/FCNR deposit no interest will be paid if the NRE/FCNR Deposit is liquidated before the completion of 1 year from the date of booking.</p><br/>
		
  					</div>
  					
  					
				
				</div>	<!-- End div2 -->

				<!-- Start div3 -->
				<div id="fdr_div3" style="display:none;">
				
						<div class="clearfix"></div>
						<div class="linedivider"></div>   
						<div class="clearfix"></div>
						
						<div class="info_row"><div class="info_row2">Type of FD Booking</div> 
						<div class="info_row3">
						<select name="templateSelectedflag" id="templateSelectedflag" class="styled">
							<option value="home">Home Branch</option>
							<option value="true">Template (Last Booked)</option>
						</select>	
						</div>
						</div>
						
						<div class="clearfix"></div>
						<div class="linedivider"></div>   
						<div class="clearfix"></div>
						
						<input type="hidden" name="templateSelectedflag_txt" id="templateSelectedflag_txt" value= ""/>
						<input type="hidden" name="templateSelectedflag_ix" id="templateSelectedflag_ix" value= ""/>
						
						<div class="clearfix20"></div>
					    <div class="info_row2">
					    <input type="submit" class="button" value="Continue" id="btn3click">
					   </div>
						
				
				</div>
				<!-- End div3 -->
					
					<input type="hidden" name="fldCustType" id="fldCustType" value= ""/>
					<input type="hidden" name="fldFlagStaff" id="fldFlagStaff" value= ""/>
					<input type="hidden" name="fldSlrno" id="fldSlrno" value=""/>
				
					
					<input type="hidden" name="fldTxnId" value="FDR" />	
					
					
					<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId"></input>

					
		
	
			
		
	
	</form>
    
 </div>	
 </div>	
  <!-- End content_container -->
<script>

function setPaymentMode() {

	var opt1;
	var opt2;

	var matinstr = document.frmfdr01.fldMaturityInstr.options[document.frmfdr01.fldMaturityInstr.selectedIndex].value;
	tmpselprodtype  = $("#prodtype").val();
		
	arrselpro = tmpselprodtype.split("#");
	selprodtype = arrselpro[1].toLowerCase();
	
	if(matinstr > 0){
		if((selprodtype=="days" ||selprodtype=="reinvestment" ) && (matinstr == 1 || matinstr == 3)){
		
			document.frmfdr01.fldPayoutModeVal.disabled = false;
			document.frmfdr01.fldFrqIntPay1.disabled = false;
			document.frmfdr01.fldIntCrAcctNo.disabled = false;
		
		}
		else if((selprodtype=="days" ||selprodtype=="reinvestment" ) && (matinstr == 2)){
		
			

			$("#fldPayoutModeVal")[0].selectedIndex = 0;
			$("#fldFrqIntPay1")[0].selectedIndex = 0;
			$("#fldIntCrAcctNo")[0].selectedIndex = 0;

			
			
			//opt1 = new Option ("Not Applicable", 0, false, false);
			//document.frmfdr01.fldPayoutModeVal.options [0] = opt1;
			document.frmfdr01.fldPayoutModeVal.disabled = true;
			//opt2 = new Option ("Not Applicable", "0", false, false);
			//document.frmfdr01.fldFrqIntPay1.options [0] = opt2;
			document.frmfdr01.fldFrqIntPay1.disabled = true;
			
			//opt3 = new Option ("Not Applicable", "0", false, false);
			//document.frmfdr01.fldIntCrAcctNo.options [0] = opt3;
			document.frmfdr01.fldIntCrAcctNo.disabled = true;
			
			
		}
	}

}


$("#frmfdr01").validate({
	rules: {
		fldFromAcctNo: "required",
		fldDepositAmt: "required",
		fldMaturityInstr: "required",
	},
	messages: {
		fldFromAcctNo: "Select From Account",
		fldDepositAmt: "Enter Amount",
		fldMaturityInstr: "Select Maturity Instruction",
	}
});

var clkBtn = "";
$('input[type="submit"]').click(function(evt) {
  clkBtn = evt.target.id;
});

$( "#fldMaturityInstr" ).change(function() {

	setPaymentMode();
	
});

  </script>