<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
		<form name="f1" id="f1"  method="post" data-bind='submit: rrfdr02Submit'>
				<br/>
		<div class="info_row"><p>Please verify and confirm your request for opening a new fixed deposit.</p></div>
					<br/>
					<span id="tdDepTermMnthDay"></span>
					
					
			<div class="summblock">		
					
			<div class="info_row dark_header"> <span class="info_row_left clslineht">From Account</span> <span class="info_row_right clslineht" id="codAcctNbr">
				
				   </span>
				<div class="clearfix"></div>
			</div>	
				
			<div class="info_row odd"> <span class="info_row_left">Place of FD</span> <span class="info_row_right clslineht">
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			  <div class="info_row even"> <span class="info_row_left">State</span> <span class="info_row_right clslineht" id="stateName">
			 
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			  <div class="info_row odd"> <span class="info_row_left">City</span> <span class="info_row_right clslineht" id="cityName">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			  <div class="info_row even"> <span class="info_row_left">Branch</span> <span class="info_row_right clslineht" id="codFdBrnName">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			<div class="info_row odd"> <span class="info_row_left">Nature of Deposit</span> <span class="info_row_right clslineht" id="depType">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
	
			<div class="info_row even"> <span class="info_row_left">Deposit Amount</span> <span class="info_row_right clslineht" id="tdDepositAmt">
			 
				   </span>
				<div class="clearfix"></div>
			  </div>
	
			<div class="info_row odd"> <span class="info_row_left">Deposit Period</span> <span class="info_row_right clslineht" id="natureOfDep1">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
	
			<div class="info_row even"> <span class="info_row_left clslineht">Rate of Interest(%p.a.)</span> <span class="info_row_right clslineht" id="rateOfInt">
			 
				   </span>
				<div class="clearfix"></div>
			  </div>
	
		
			<div class="info_row odd"> <span class="info_row_left clslineht">Maturity Instructions</span> <span class="info_row_right clslineht" id="tdMatInstr">
			
				   </span>
				<div class="clearfix"></div>
			  </div>
		

	
	
			<div class="info_row even"> <span class="info_row_left">Interest Payable</span> <span class="info_row_right clslineht" id="matInstrIndx">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
		
	
			<div class="info_row odd"> <span class="info_row_left clslineht">Interest Payable Mode</span> <span class="info_row_right clslineht" id="intPayoutModeVal">
			 
				   </span>
				<div class="clearfix"></div>
			  </div>
		
	
			<div class="info_row even"> <span class="info_row_left clslineht">Interest / Principal Credit A/c No</span> <span class="info_row_right clslineht" id="tdMatInstr1">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
		
	
		
	</div>

	 <div class="info_row">
      	<div class="info_row2">I am aware that I will receive an electronic mail advice for online Fixed Deposits.</div>
      	<div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
      	<div class="info_row3">
      	<select name="fldtc" class="styled" id="fldtc">
			 <option value="true">Accept</option>
			 <option value="false">Decline</option>
		</select>  	
        </div> 
      </div>
	
	<div class="clearfix"></div>
      <div class="linedivider"></div>   
      <div class="clearfix"></div>
  
   	<div class="alignc"> <input type="submit" class="button" value="Confirm" /></div>
	<br/>
		
	<div class="info_row">	<p>Physical advices will not be sent for Fixed Deposits booked through Netbanking. An electronic mail advice will be sent to you on your REGISTERED Email Id within 2 working days.</p><br/>
		<p>In case your Email id is not updated with the bank, you are requested to contact the nearest branch and update your Email id.</p><br/>
		<p>At any point, if you wish to check your FD holdings, the same may be viewed on the FD summary page on Netbanking. In case you wish to have a physical advice, you may walk into the nearest HDFC bank branch.</p><br/>
		<p>A copy of the email advice may be submitted to the branch in case of premature liquidation of the deposit. The email advice copy is as acceptable at our branches as the physical advice.</p><br/>
	</div>
	
	<input type="hidden" name = 'fldNamProd' id="fldNamProd" value = ''/>
	<input type="hidden" name = 'fldFrqIntPay' id="fldFrqIntPay" value = ''/>
	<input type="hidden" name = 'fldEmployee' id="fldEmployee" value = ''/>
	<input type="hidden" name = 'fldSweepIn' id="fldSweepIn" value = ''/>
	<input type="hidden" name = 'fldDepTermUnit'  	id="fldDepTermUnit" value = ''/>
	<input type="hidden" name = 'fldRateOfInt' id="fldRateOfInt" value = ''/>
	
	<input type="hidden" name = 'fldRateOfIntIndx' id="fldRateOfIntIndx" value = ''/>
	<input type="hidden" name = 'fldProdCode' id="fldProdCode" value = ''/>
	<input type="hidden" name = 'fldProdCodeVal' id="fldProdCodeVal" value = ''/>
	<input type="hidden" name = 'fldTermDays' id="fldTermDays" value = ''/>
	<input type="hidden" name = 'fldTermMnths' id="fldTermMnths" value = ''/>
	
	<input type="hidden" name = 'fldDepositAmt' id="fldDepositAmt" value = ''/>
	<input type="hidden" name = 'fldPayoutMode' id="fldPayoutMode" value = ''/>
	<input type="hidden" name = 'fldPayoutModeVal' 	id="fldPayoutModeVal" value = ''/>
	<input type="hidden" name = 'fldIntAcctNo' id="fldIntAcctNo" value = ''/>
	<input type="hidden" name = 'fldMaturityInstr' id="fldMaturityInstr" value = ''/>
	<input type="hidden" name = 'fldFlgCumDep' id="fldFlgCumDep" value = ''/>
	<input type="hidden" name = 'fldFlgCumDepVal' id="fldFlgCumDepVal" value = ''/>
	<input type="hidden" name = 'fldFdBrn' id="fldFdBrn" value = ''/>
	<input type="hidden" name = 'fldCodAcctNbr' id="fldCodAcctNbr" value = ''/>
	<input type="hidden" name = 'fldFdBrnName' id="fldFdBrnName" value = ''/>
	<input type="hidden" name = 'fldFdBrnNam' id="fldFdBrnNam" value = ''/>
	<input type="hidden" name = 'fldMaturityInstrIndx' id="fldMaturityInstrIndx" value = ''/>
	<input type="hidden" name = 'fldCustName' id="fldCustName" value = ''/>
	<input type="hidden" name = 'fldCodCcy' id="fldCodCcy" value = ''/>
	<input type="hidden" name = 'fldNamCurrency' id="fldNamCurrency" value = ''/>
	<input type="hidden" name = 'fldProdType' id="fldProdType" value = ''/>

	<input type="hidden" name = 'fldState' id="fldState" value = ''/>
	<input type="hidden" name = 'fldCity' id="fldCity" value = ''/>
	<input type="hidden" name = 'fldFDPlace' id="fldFDPlace" value = ''/>
	<input type="hidden" name = 'fldFDTemplateFlag' id="fldFDTemplateFlag" value = ''/>
	<input type="hidden" name = 'fldSlrno' id="fldSlrno" value = ''/>

	<input type="hidden" name="fldRequestId" id="fldRequestId"  />
	<input type="hidden" name="fldTxnId" value="FDR" />	
	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="03" />
	<input type="hidden" name="fldtc_txt" id="fldtc_txt" value="" />
	
	
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
		
		</form>
   </div>
</div>
<script type="text/javascript">
$("#f1").validate({
	 rules: {
		 fldtc: {chkvalid: "#fldChecked"},
       },
       messages: {
    	   fldtc: {
               chkvalid: "Please Accept Terms and Conditions."
           }
       }
});
</script>