<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">

  <div class="info_row" id="accExitsMsg" style="display:none;"><p><b>You should have a Fixed Deposit with SOW relationship to continue with this transaction.</b></p></div>		
  
  <form class="custStyleInput" name="frmfdl01" id="frmfdl01" method="post" data-bind='submit: rrfdl01Submit'>
   <div data-bind="visible: accSlider">
   
   <br/>
        <div class="clearfix"></div>
	    <div class="linedivider"></div>   
	    <div class="clearfix"></div>
      		
   <div class="clearfix"></div>
      
	<div class="info_row"><div class="info_row2">Fixed Deposit Account</div> 
		<div class="info_row3">
			<select name="fldFDAcctNo" id="fldFDAcctNo" data-bind="options: FDaccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFDAcctNo, event: {change:FDFromAccountChange} ,optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>
	
	<div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
	
	<div class="info_row" id="lfdSavings" style="display:none;"><div class="info_row2">Savings / Current Account</div> 
		<div class="info_row3">
			<select name="selAcct" id="selAcct" data-bind="options: FDSelaccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selAccount, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>
	
	<div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
	  
	<div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div><div class="info_row3">
		<select name="fldChecked" id="fldChecked">
		<option value="true">Accept</option>
		<option value="false">Decline</option>
		</select>
	</div>
	</div>
      
	<div class="clearfix"></div>
		 
   <div class="clearfix20"></div>
   <div class="info_row2">
    <input type="submit" class="button" value="Submit" >
   </div>
   
   
   <br/>
        	<div class="clearfix"></div>
        	<div class="info_row">
        	<p><b>Note:</b></p><br/>
        	<p>Premature Liquidation clause: Effective 01st Dec 2006, the interest rate applicable for premature closure of deposits (all amounts) will be lower of:</p><br/>
			<p>The base rate for the original/contracted tenure for which the deposit has been booked</p><br/>
			<p>OR</p><br/>
			<p>The base rate applicable for the tenure for which the deposit has been in force with the Bank.</p><br/>
			<p>The base rate is the rate applicable to
deposits of less than Rs.15 lacs as on the
date of booking the deposit.</p><br/>
			<p>The Fixed Deposit liquidation can happen
only into the source savings/current account
from which the Fixed Deposit has been
booked. No liquidation is possible into any
other account or by DD/MC.</p><br/>
			<p>This facility is available on NetBanking only to
customers having a Single Ownership account status on Fixed Deposit as well as
source savings/current account with the
Bank.</p><br/>
			<p>The Fixed Deposit can be liquidated only into
the savings/current account from which the
Fixed Deposit has been booked.</p><br/>
			<p>Please view the Fixed Deposit summary
page and check if there is any lien marked on
the Fixed Deposit. If there is a lien marked on
the Fixed Deposit, please note that the Fixed
Deposit will not be liquidated online. Please
visit your HDFC Bank Branch for the same.
This facility does not allow partial liquidation
of the fixed deposit into the source savings /
current account.</p><br/>
			<p>In case of NRE deposit. no interest will be paid if the deposit is prematurely encashed
before the minimum tenure of 1 year.</p><br/>
			<p>Premature liquidation of FCNR deposit is not
available through online banking. Please
contact your branch for the same.</p><br/>
			<p>In case of premature liquidation of NRO
Fixed Deposit registered for DTAA, the
refund of TDS on account of premature
closure will be provided within 3-4 working
days to your linked Savings Account.</p><br/>
			<p>In case of online premature liquidation of
NRO Deposit, the entire proceeds will be
credited to NRO Account only.</p><br/>
			
			</div>
      

  	<input type="hidden" name="fldFCDBRequestId" id="fldFCDBRequestId" />
  	
   
   </div>
   </form>

  </div>
</div>
<script type="text/javascript">

$("#frmfdl01").validate({
	 rules: {
	 		fldFDAcctNo: "required",
            fldChecked: {chkvalid: "#fldChecked"},
        },
        messages: {
        	fldFDAcctNo: "Select Fixed Deposit Account",
            fldChecked: {
                chkvalid: "Please accept the Terms and Conditions before proceeding."
            }
        }
});
</script>
