<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  	 
		<div class="success_msg">
			<p>Transaction successful</p>
		</div>

    	<div class="info_row2"><p id="finalText"></p></div>
		
		<br/>
	    <div class="clearfix"></div>
	    <div class="info_row">
	       	<p><b>Note:</b></p><br/>
	       	<p>- Please note that the amount transferred is net of TDS, if applicable.</p><br/>
	       	<p>- Please visit your nearest Branch for any clarifications required.</p><br/>
	    </div>	
		
  </div>
</div>

