<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
 
   
		<div class="success_msg">
			<p>Transaction successful - Temporary Deposit Advice</p>
		</div>
										
	<div class="summblock">		
					
			<div class="info_row dark_header"> <span class="info_row_left clslineht">Depositor Name</span> <span class="info_row_right clslineht" id="custName">
				
				   </span>
				<div class="clearfix"></div>
			</div>	
				
			<div class="info_row odd"> <span class="info_row_left clslineht">FD Account Number</span> <span class="info_row_right clslineht" id="fdAcctNo">
				
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			  <div class="info_row even"> <span class="info_row_left">Deposit Type</span> <span class="info_row_right clslineht" id="depType">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			  <div class="info_row odd"> <span class="info_row_left">Branch Name</span> <span class="info_row_right clslineht" id="branch">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			  <div class="info_row even"> <span class="info_row_left clslineht">Interest Payment Frequency</span> <span class="info_row_right clslineht" id="frqIntPayout">
			 
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
			<div class="info_row odd"> <span class="info_row_left">Deposit Currency</span> <span class="info_row_right clslineht" id="namCurrency">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
	
			<div class="info_row even"> <span class="info_row_left clslineht">Maturity Instructions</span> <span class="info_row_right clslineht" id="matInstr">
			
				   </span>
				<div class="clearfix"></div>
			  </div>
			
	
			<div class="info_row odd"> <span class="info_row_left">Deposit Amount</span> <span class="info_row_right clslineht" id="depAmt">
			
				   </span>
				<div class="clearfix"></div>
			  </div>
	
			<div class="info_row even"> <span class="info_row_left">Deposit Start Date</span> <span class="info_row_right clslineht" id="tdStartDate">
			  
				   </span>
				<div class="clearfix"></div>
			  </div>

			<div class="info_row odd"> <span class="info_row_left">Period of Deposit</span> <span class="info_row_right clslineht" id="prdOfDep">
			
				   </span>
				<div class="clearfix"></div>
			  </div>
	
		
			<div class="info_row even"> <span class="info_row_left clslineht">Rate of Interest(%p.a.)</span> <span class="info_row_right clslineht" id="tdIntRate">
			
				   </span>
				<div class="clearfix"></div>
			  </div>
		
			<div class="info_row odd"> <span class="info_row_left clslineht">Deposit Maturity Date</span> <span class="info_row_right clslineht" id="depMatDate">
			
					   </span>
					<div class="clearfix"></div>
				  </div>
		
		<div class="info_row even"> <span class="info_row_left">Maturity Amount</span> <span class="info_row_right clslineht" id="depMatAmt">
			
				   </span>
				<div class="clearfix"></div>
			  </div>
			  
		<div class="info_row odd"> <span class="info_row_left clslineht">Deposit Amount (in words)</span> <span class="info_row_right clslineht" id="amtinwords">
			
				   </span>
				<div class="clearfix"></div>
			  </div><!--
		
	<xsl:for-each select="//faml//response//jntacctholdername">
		<xsl:if test="string ()!=//faml//response//finaldtls//@custName">
				<xsl:value-of select='string()'/>								</xsl:if>
	</xsl:for-each>
	
		--><div class="info_row even"> <span class="info_row_left">Joint Applicants</span> <span class="info_row_right clslineht" data-bind="foreach: fssFDAccountList">
			<span data-bind="text:accHoldName"></span>
			   </span>
			<div class="clearfix"></div>
		  </div>
	
	
		
	</div>

	

	<br/>
	<div class="info_row">	<p>Important</p><br/>
		<p>Maturity amount subject to TDS as applicable. The fixed deposit email advice will be sent to your registered email id with the bank within 2 working days of account opening. In case your email id is not updated with the bank, you are requested to contact the nearest branch to update the same. You can print this page for your records.</p>
	</div>
   

  </div>
</div>
