<style>
	.info_row { display:table; width:100%; }
	.linedivider { border:0 none; }
</style>

<div id="wrapper"  class="menu " style="top:100px;">
  <div class="content sub_content" style="padding-top: 1%;">
      		<div class="info_row odd dark_header">
				<span class="info_row_left page_title_carousel">Transact</span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			<br/>

			<a href="#rrftr02">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_btwnmyacc.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Between My Accounts</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrtpt03">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_withinbank.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Within HDFC Bank</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#impsFndTrnsList">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_imps.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Instant Transfer to Other Bank – IMPS</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrtpn04">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_neftfundtransfer.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">To Other Bank - NEFT</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
			<a href="#rrvmt01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_visacardpay.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Via Visa Card Pay</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrmpe01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_specialpayments.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Via Special Payments</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			
			<div class="clearfix"></div>
			
		 	<div class="info_row odd dark_header">
				<span class="info_row_left page_title_carousel">Request</span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			<br/>
			
			<a href="#Addbeni">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_neftfundtransfer.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Add Beneficiary</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrmmg01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/generate_mmid.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Generate MMID</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a> 
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrmmr01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/retrieve_mmid.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Retrieve MMID</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a> 
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrmmc01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/cancel_mmid.png" /></span> 
				<span class="info_row_menu_right page_title_carousel">Cancel MMID</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a> 
			
			
			<div class="clearfix"></div>
		
			<div class="info_row odd dark_header">
				<span class="info_row_left page_title_carousel">Enquiry</span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			<br/>
			
			<a href="#rrvft01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_viewimps.png" /></span> 
				<span class="info_row_menu_right page_title_carousel </span>">View IMPS Funds Transfer</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a> 
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrtpv01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_viewrtgsfundtransfer.png" /></span> 
				<span class="info_row_menu_right page_title_carousel </span>">View RTGS Funds Transfer</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<a href="#rrtpi01">
			<div class="info_row odd">
				<span class="info_row_menu_left"><img src="img/transfer_listofbenfi.png" /></span> 
				<span class="info_row_menu_right page_title_carousel </span>">View List of Beneficiaries</span>
				<span class="right_arrow"><img src="img/rarrow.png" /></span>
			</div>
			</a>
			
			<div class="clearfix"></div>
  </div>
  <!-- /content --> 
  
</div>
<script>
$(document).ready(function($) {
	var  conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}	
    console.log('CP on mobile banner account summart '+bannerHeight);	
	if(cpBanner.indexOf("No banner") > -1 == false){
			
		if(cpBanner=='' && cpbannerclose2!='adcloseFund'){
				loadXMLDoc();
				setTimeout(function(){
						 if (navigator.onLine && cpBanner!='') {
						  $('.ad_banner').show();
						  $('#cpCnt').html(cpBanner);
						} else {
						  $('.ad_banner').hide();
						}
						var menu = $(".menu");
						var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}
						menu.animate({top: bannerHeight + 'px'},2000);
					
				},2500);
		}
		if(cpBanner!='' && cpbannerclose2!='adcloseFund'){
		//alert("gghjtgiytkk");
			setTimeout(function(){
		        var menu = $(".menu");	
				       
                        if (navigator.onLine && cpBanner!=''&&cbannerForFund!='') {
						 $('.ad_banner').show();
				         $('#cpCnt').html(cbannerForFund);
						}else if(cbannerForFund!=''){
							$('.ad_banner').show();
							$('#cpCnt').html(cbannerForFund);
						}else {
						  $('.ad_banner').hide();
						}
            								
				//$('.ad_banner').show();
				//$('#cpCnt').html(cbannerForFund);	
				var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}				
				menu.animate({top: bannerHeight + 'px'},2000);
			},2500);
		}
		if( cpbannerclose2=="adcloseFund"){		 
			$('.ad_banner').hide();
			var menu = $(".menu");
			menu.animate({top: '96px'},2000);
		}
	}	
});    
</script>
