<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <form class="custStyleInput" name="frmReqAccStmtConf" id="frmReqAccStmtConf" method="post" data-bind='submit: rrftr03Submit'>
  	<br/>
  	 <div class="info_row"><p>Please verify and confirm fund transfer request.</p><br/></div>
  	 
  		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">From Account</span> 
			<span class="info_row_right clslineht" id="fldfromacctno"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left startchqlbl">To Account</span> 
			<span class="info_row_right" id="fldtoacctno">				
			</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even" id="EndCheque"><span class="info_row_left">Amount</span> 
			<span class="info_row_right rs_fld fldamttxn" ></span>
			<div class="clearfix"></div>
			</div>			
			
		</div>					
			
			<div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="submit" class="button" value="Confirm" >
		   </div>
  			
  			<input type="hidden" name="fldamttxn" id="fldamttxn" />
  			<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
			<input type="hidden" id="fldRequestId" name="fldRequestId" />
  			<input type="hidden" name="fldNamCcy" id="fldNamCcy" value="" />		  	
		  	<input type="hidden" name="fldToNamCcy" id="fldToNamCcy" value="" />		  	
		  	<input type="hidden" name="fldFromBrn" id="fldFromBrn" value="" />
		  	<input type="hidden" name="fldToBrn" id="fldToBrn" value="" />
		  					
	</form>
  </div>
</div>

