<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<div class="success_msg">
			<p>Transaction successful</p>	
		</div>
		<br/>
  		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">Reference No.</span> 
			<span class="info_row_right clslineht" id="referenceno">
				
			</span>
			<div class="clearfix"></div>
			</div>
    		
			<div class="info_row odd"><span class="info_row_left">Beneficiary mobile number</span> 
				<span class="info_row_right page_title_sub" id="benefmobno">
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left clslineht">Beneficiary MMID</span> 
			<span class="info_row_right clslineht" id="benefmmid">
				
			</span>
			<div class="clearfix"></div>
			</div>

    		<div class="info_row odd"><span class="info_row_left">From Account</span> 
			<span class="info_row_right clslineht" id="fromacct">
				
			</span>
			<div class="clearfix"></div>
			</div>
    		
			
			<div class="info_row even"><span class="info_row_left">Amount</span> 
			<span class="info_row_right clslineht" id="amttxn">
				
			</span>
			<div class="clearfix"></div>
			</div>			
			
			<div class="info_row odd"><span class="info_row_left">Remarks</span> 
				<span class="info_row_right clslineht" id="remark"></span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="clearfix"></div>
			</div>
		</div>
	
  </div>
</div>






	
									
									
	

