<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <form name="frmift02" id="frmift02"  method="post" data-bind='submit: ift02Pagesubmit'>
    <div class="sub_content">  
   
   
	<div class="summblock">	
    <div class="info_row dark_header"> <span class="info_row_left clslineht">Beneficiary Mobile Number</span> 
		<span class="info_row_right" id="fldbenefmobno1"></span>
	    <div class="clearfix"></div>
    </div>
    <div class="info_row odd"><span class="info_row_left">Beneficiary MMID</span> 
    	<span class="info_row_right" id="fldbenefmmid1"></span>
        <div class="clearfix"></div>
    </div>
    <div class="info_row even"><span class="info_row_left">From Account</span> 
    	<span class="info_row_right" id="strfromaccno"><xsl:value-of select='$strfromaccno'/></span>
        <div class="clearfix"></div>
    </div>
     <div class="info_row odd"><span class="info_row_left">Amount</span> 
    	<span class="info_row_right page_title_sub" id="fldamttxn"></span>
        <div class="clearfix"></div>
    </div>
     <div class="info_row even"><span class="info_row_left">Remark</span> 
    	<span class="info_row_right" id="fldrmrk1"></span>
        <div class="clearfix"></div>
    </div>
   
    </div>
    <div class="alignc"><input type="submit" class="button" value="Confirm" /></div>
    
	</div>
	
		
	<input type="hidden" name="fldRequestId" value="RRIFT03" />
	
	
	
	<input type="hidden" id="fldFromAcctNo" name="fldFromAcctNo" value="" />
	<input type="hidden" id="fldTxnAmount" name="fldTxnAmount" value="" />
	<input type="hidden" id="fldBenefMobNo" name="fldBenefMobNo" value="" />
	<input type="hidden" id="fldBenefMMID" name="fldBenefMMID" value="" />
	<input type="hidden" id="fldRmrk" name="fldRmrk" value="" />
	<input type="hidden" id="fldUserRefNo" name="fldUserRefNo" value="" />
	<input type="hidden" id="fldDateTime" name="fldDateTime" value="" />
	<input type="hidden" id="fldRsaTxnId" name="fldRsaTxnId" value="" />
	<input type="hidden" id="fldClientSessionId" name="fldClientSessionId" value="" />
	<input type="hidden" id="fldFcatSessionId" name="fldFcatSessionId" value="" />
	<input type="hidden" id="fldExtSessionId" name="fldExtSessionId" value="" />
	
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId"/>
	
    </form>
	
		
		
			
      		

  </div>
</div>


