<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  	 
  	 	<div class="info_row" id="succdata" style="display:none;">
				<p>
					<img src="img/icon_ok.png" align="absmiddle" />  
					<span class="sucmsg"></span>
				</p>
			</div>
			
			<div class="info_row" id="errordata" style="display:none;">
				<p>
					<img src="img/alerticon_small.png" align="absmiddle" />  
					<span class="errmsg"></span>
				</p>
			</div>
		<br/>
		<div class="clearfix"></div>
  </div>
</div>

