<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	 .info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
		<div class="info_row">
			<p><img src="img/icon_ok.png" align="absmiddle" /> <span>Thank you for banking with us.</span></p>

<p>Your MPIN has been sent to your registered Mobile number/E-mail
address successfully.</p>
<br/>
<p>In order to send funds through IMPS using Chillr
App or NUUP USSD(*99#), you will need to change your MPIN first
through the "Change MPIN" option in Chillr App or NUUP USSD (*99#).</p>
		</div>
		
		<br/>
		<div class="clearfix"></div>
	     <div class="info_row">
	       	<p><b>Note:</b></p><br/>
	       	<p>- Kindly check for an SMS/e-mail containing your new mPin on your registered Mobile Number/e-mail ID. If no SMS/e-mail is received, please generate an mPin again after half an hour. The         
        latest mPin received will be the valid one. </p><br/>
	       	<p>-  The account number selected at the time of mPin generation can be used as debit account for immediate payment transactions done through Chillr App or USSD(*99#), for additional accounts,you will have to generate MMID for that particular account.</p><br/>

            <p>-  The first account, for which your MMID or mPin is generated will be the default account for immediate payment transactions done though Chillr App or USSD (*99#)</p>
			</br>
			<p>-  Mpin be same for all the accounts selected at the time of mPin generation.</p>
	    </div>		
		</div>
		</div>