<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	 .info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    <form name="rrmpg02" id="rrmpg02" method="post" data-bind="submit:rrmpg02Submit">
	 <div class="summblock">  
		
			
			<div class="info_row dark_header"><span class="info_row_left">Customer Name</span> 
			<span class="info_row_right" id="custname"></span>
				<div class="clearfix"></div>
			</div>
		   <div class="info_row odd"><span class="info_row_left">Account No.</span> 
				<span class="info_row_right" id="Acctext"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Mobile No.</span> 
				<span class="info_row_right" id="mobile"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Email Id</span> 
			<span class="info_row_right" id="email" style="word-break:break-all;line-height: 20px;padding-top: 6px;"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd" style="display:none;"><span class="info_row_left">Email Id</span> 
			<span class="info_row_right" id="req"></span>
				<div class="clearfix"></div>
			</div>
			
			
	        
			
			
          				
		</div>
	
	    
          <br/><br/>		
		    
             <div class="info_row2">
                 <input type="hidden" id="emailid" />
                 <input type="button" class="button" value="Back" style="width:43%;float:left;" onclick="callPrev();" />&#160;
                 <input class="button" value="Confirm" style="width:43%;float:right;" type="submit">
                     </div>
			
		
     </form>
	   
				  



	    </div> 
     
  </div>
  <!-- /content --> 
  
</div>
<script>
function callPrev(){
window.location = "#rrmpg01";
}
</script>