<style>	
	.summblock { border: none; }
	
	.page_title, .page_title_sub, .rs {
  color: #001f79;
  font-size: 12pt;
}
</style>

<div id="wrapper" style="top:96px;">
	<div class="content sub_content">
	
	
	 <div class="info_row" style="display:none;" id="tptstatus">
  			<p>You need to be registered for Third Party Transaction in order to carry out this transaction.Please click on the Third Party Transfer Tab to Register Online.</p>
    </div>

      <div  id="Accountdetails">	
		<form name="rrpfcg01" id="rrpfcg01" method="post" data-bind='submit: rrpfcg01Submit'>
		
			<div class="info_row">
				<div class="info_row2">Account No.</div> 
				<div class="info_row3">
					<select name="fldAcctNo" id="fldAcctNo" data-bind="options: Purchaseforexacc, optionsText: 'displaytxt', optionsValue: 'codacctno', value: 'accountValue',event: {change:PurchaseforexaccChange}">					
					</select>	
				</div>
			</div>
				
			<div class="summblock">			
				<div class="info_row">
					<span class="info_row_left">Available Balance</span> 
					<span class="info_row_right page_title_sub" style="word-wrap: break-word;" id="amount"></span>					
				</div>
			</div>
			
			<div class="clearfix20"></div>			
			<div class="info_row">
				<input type="submit" class="button" value="Continue">
		    </div>
			<div class="clearfix20"></div>
			
			
			        <input type="hidden" name="customename" id="customename" value=""/>									
					<input type="hidden" name="Dob" id="Dob" value=""/>									
					<input type="hidden" name="gender" id="gender" value=""/>
					<input type="hidden" name='refcustphone' id='refcustphone' />
					<input type="hidden" name='refcustphoneOff' id='refcustphoneOff' />									
					<input type="hidden" name='refcustphoneOff_extn' id='refcustphoneOff_extn' />
					<input type="hidden" name='mobileno' id='mobileno'/>
					<input type="hidden" name='email' id='email'/>
					<input type="hidden" name='refcustemail' id='refcustemail'/>
					<input type="hidden" name='txtcustcity' id="txtcustcity" />
					<input type="hidden" name='txtcustcntry' id="txtcustcntry" />
					<input type="hidden" name='txtcustadr1' id="txtcustadr1" />
					<input type="hidden" name='txtcustadr2' id='txtcustadr2' />
					<input type="hidden" name='txtcustadr3' id='txtcustadr3'/>
					<input type="hidden" name='txtcustzip' id='txtcustzip'/>		
					<input type="hidden" name='txtcuststate' id='txtcuststate'/>		
					<input type="hidden" name='pancardno' id='pancardno'/>
					<input type="hidden" name='mothername' id='mothername'/>
					<input type="hidden" name='CDATA' id='CDATA'/>
					<input type="hidden" name='namcustlast' id='namcustlast'/>
				    <input type="hidden" id="fldOrgTxnId" name="fldOrgTxnId" value="PFC" />
					<input type="hidden" name='namcustshrt' id='namcustshrt'/>
					<input type="hidden" name='ctrupdatsrlno' id='ctrupdatsrlno'/>
					<input type="hidden" name='lastmntmakerid' id='lastmntmakerid'/>
					<input type="hidden" name='datcustopen' id='datcustopen'/>
					<input type="hidden" name='refcustfax' id='refcustfax'/>
					<input type="hidden" name='namcustmid' id='namcustmid'/>
					<input type="hidden" name='txtcustprefix' id='txtcustprefix'/>
					<input type="hidden" name='namcustfirst' id='namcustfirst'/>
					<input type="hidden" name='lastmntchkrid' id='lastmntchkrid'/>
					<input type="hidden" name='flgcusttype' id='flgcusttype'/>
					<input type="hidden" name='flgmntstatus' id='flgmntstatus'/>
					
			
		</form>	
       
   <div class="clearfix"></div>
	  
	   <div class="info_row">
	       	<p><b>Note:</b></p><br/>
	       	<p>The card will be delivered to the address provided by you.</p><br/>
	       	<p>Multicurrency Platinum ForexPlus Cards requested on overseas locations (including overseas mailing address), or at locations where this facility is not available, the request will not be processed and the value will be credited to your account. The processing fee (issuance fee and applicable taxes) is non refundable.</p><br/>
        <!--     <p>Please Click here to know more about Multicurrency Platinum ForexPlus Card.</p> -->
			<br/>
      </div> 
	  </div>
 <div class="clearfix"></div>	  
	</div>
</div>
