<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  
  	<br/>
  	 <div class=" success_msg">
			<p>Transaction successful</p>
		</div>
		
  		<div class="summblock">
			
		<div class="info_row  dark_header"><span class="info_row_left">Depositor Name</span>
		 <span class="info_row_right clslineht custName"> 
		
			</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="info_row odd"><span class="info_row_left">Branch Name</span> 
		<span class="info_row_right clslineht branch">
			</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="info_row even"><span class="info_row_left">Period of Deposit</span> 
		<span class="info_row_right clslineht prdOfDep"  style="word-wrap: break-word;"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="info_row odd"><span class="info_row_left clslineht">Monthly Installment Amount</span> 
		<span class="info_row_right depAmt" >
			
			</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="info_row even"><span class="info_row_left clslineht">Installment Amount (in words)</span>
		 <span class="info_row_right clslineht amtinwords"  style="word-wrap: break-word;"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		
		<div class="info_row odd"><span class="info_row_left">Deposit Currency</span> 
		<span class="info_row_right namCurrency" style="word-wrap: break-word;">
			
			</span>
			<div class="clearfix"></div>
		</div>
			
			<div class="info_row even"><span class="info_row_left clslineht">RD Account Number</span>
		 <span class="info_row_right clslineht rdAccountNo"  style="word-wrap: break-word;"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
			<div class="info_row odd"><span class="info_row_left">Installment Amount</span> 
		<span class="info_row_right depAmt" style="word-wrap: break-word;">
			
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left clslineht">Deposit Start Date</span>
		 <span class="info_row_right clslineht tdStartDate"  style="word-wrap: break-word;"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left">Terms (Months)</span> 
		<span class="info_row_right rdTerm" style="word-wrap: break-word;">
			
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left clslineht">Rate of Interest(%p.a.)</span>
		 <span class="info_row_right clslineht tdIntRate"  style="word-wrap: break-word;"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left">Deposit Maturity Date</span> 
		<span class="info_row_right depMatDate" style="word-wrap: break-word;">
			
			</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left clslineht">Maturity Amount</span>
		 <span class="info_row_right clslineht depMatAmt"  style="word-wrap: break-word;"> 
			
			</span>
			<div class="clearfix"></div>
		</div>
		
			
			
		</div>					
		  		
	<br/>
<div class="info_row"><p>Thank you for banking with us.</p></div><br/>
<div class="info_row">
<p>Your Recurring Deposit booking request as per the above table has been accepted.</p><br/>
<p>Your request will be processed within 2 working days from the date of receipt of the request.</p><br/>
<p>Once your Recurring Deposit account is opened, you will be able to view the Recurring Deposit account details on HDFC Bank's Net Banking under 'Recurring Deposit Summary'.</p><br/>
<p>Incase we are unable to process your request, you will receive an intimation from us on your registered email id/ mobile number.</p><br/>
<p>You may also get in touch with the nearest HDFC Bank branch for details on the reject reason (in case of a reject).
</p>
</div>	  					
	<br/><br/>
  </div>
</div>

