<style>		
.info_row .info_row{padding: 0 5px;}


.page_title, .page_title_sub, .rs {
  color: #001f79;
  font-size: 12pt;
}
</style>

<div id="wrapper" style="top:96px;">
	<div class="content sub_content">	
	
	    <div class="info_row" style="display:none;" id="tptstatus">
  			<p>You need to be registered for Third Party Transaction in order to carry out this transaction.Please click on the Third Party Transfer Tab to Register Online.</p>
    </div>
	
	 <div  id="Accountdetails">
		<form  name="rsrfx01" id="rsrfx01" method="post" data-bind='submit:rsrfx01Submit'>		

			<div class="clearfix10"></div>	
			<div class="info_row"> 	
				<div class="info_row dark_header">
					<span class="info_row_left">Customer Name</span> 
					<span style="text-align:right" class="info_row_right" id="custname"></span>	
				</div>
			</div>
					
			<div class="info_row">
				<div class="info_row2">From Account</div> 
				<div class="info_row3">
					<select name="fldAcctNo" id="fldAcctNo" data-bind="options: Reloadforexacc, optionsText: 'displaytxt', optionsValue: 'codacctno', value: 'accountValue',event: {change:relaodforexaccChange}">					
					</select>
				</div>
			</div>		
            		
				<div class="info_row">
					<span class="info_row_left">Available Balance</span> 
					<span class="info_row_right page_title_sub" style="word-wrap: break-word;" id="amount"></span>					
				</div>
						 
			
			<div class="info_row">
				<div class="info_row2">Card No.</div> 
				<div class="info_row3"> 
					<input type="password" id="fldforexcardNo" name="fldforexcardNo" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" maxlength="16">
				</div>
			</div>
			
			<div class="info_row">
				<div class="info_row2">Re-confirm Card No.</div> 
				<div class="info_row3"> 
					<input type="text" id="fldreConfforexcardNo" name="fldreConfforexcardNo" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" maxlength="16">
				</div>
			</div>			
						
			<div class="clearfix20"></div>		
			<div class="info_row">
				<input type="submit" class="button" value="Continue">
			</div>		   
			<div class="clearfix20"></div>
			
			
			        <input type="hidden" name="Customername" id="Customername" />									
					<input type="hidden" name="Dob" id="Dob" value=""/>									
					<input type="hidden" name="gender" id="gender" value=""/>
					<input type="hidden" name='refcustphone' id='refcustphone' />
					<input type="hidden" name='refcustphoneOff' id='refcustphoneOff' />									
					<input type="hidden" name='refcustphoneOff_extn' id='refcustphoneOff_extn' />
					<input type="hidden" name='mobileno' id='mobileno'/>
					<input type="hidden" name='email' id='email'/>
					<input type="hidden" name='refcustemail' id='refcustemail'/>
					<input type="hidden" name='txtcustcity' id="txtcustcity" />
					<input type="hidden" name='txtcustcntry' id="txtcustcntry" />
					<input type="hidden" name='txtcustadr1' id="txtcustadr1" />
					<input type="hidden" name='txtcustadr2' id='txtcustadr2' />
					<input type="hidden" name='txtcustadr3' id='txtcustadr3'/>
					<input type="hidden" name='txtcustzip' id='txtcustzip'/>		
					<input type="hidden" name='txtcuststate' id='txtcuststate'/>		
					<input type="hidden" name='pancardno' id='pancardno'/>
					<input type="hidden" name='mothername' id='mothername'/>
					<input type="hidden" name='CDATA' id='CDATA'/>
					<input type="hidden" name='namcustlast' id='namcustlast'/>
					<input type="hidden" name='namcustshrt' id='namcustshrt'/>
					<input type="hidden" name='ctrupdatsrlno' id='ctrupdatsrlno'/>
					<input type="hidden" name='lastmntmakerid' id='lastmntmakerid'/>
					<input type="hidden" name='datcustopen' id='datcustopen'/>
					<input type="hidden" name='refcustfax' id='refcustfax'/>
					<input type="hidden" name='namcustmid' id='namcustmid'/>
					<input type="hidden" name='txtcustprefix' id='txtcustprefix'/>
					<input type="hidden" name='namcustfirst' id='namcustfirst'/>
					<input type="hidden" name='lastmntchkrid' id='lastmntchkrid'/>
					<input type="hidden" name='flgcusttype' id='flgcusttype'/>
					<input type="hidden" name='flgmntstatus' id='flgmntstatus'/>
			
		</form>



          <div class="info_row">
	       	<p><b>Note:</b></p><br/>
	       	<p>The card will be reloaded within one working day. </p>
			<br/>
	       	<p>Maximum value of Forex that can be loaded on the card will be in line with the limits specified under FEMA basis purpose of travel.</p>
			<br/>
            <p>Reload request will be rejected and money will be credited back to your account in following scenarios.</p>
			<br/>
			<br/>
            <p>- If it is observed that amount of Foreign currency applied by you is not in line with FEMA guidelines.</p>
			<br/>
			<!-- <br/>
            <p>- If the purpose of travel select by you does not match with the purpose for which the Forex card has been issued.</p> -->
			<br/>
			<br/>
            <p>	Reload Fee for ForexPlus card, ForexPlus Chip Card, ForexPlus Platinum Card & Multicurrency ForexPlus card : Rs 75 + Applicable Taxes.</p>
			<br/>
			<p> Applicable charges including Foreign Currency Conversion Service Tax will be debited from your account on next working day from date of placing request.</p>
			<br/>
			 <div class="clearfix"></div>
    </div>	
</div>
		
	</div>
</div>

<script type="text/javascript">
  $.validator.addMethod("Password_not_same", function(value, element) {
 // alert($('#fldNewPass').val() != value);
   return $('#fldforexcardNo').val() == value;
}, "card no and confirm card no does not match.");

	$("#rsrfx01").validate({
		rules: {
		
			
			fldforexcardNo: {
			       required: true,
				    minlength: 16,
		            maxlength:16
                
            },

			
			fldreConfforexcardNo: {
			       required: true,
                   Password_not_same:true     
               },
		},
		messages: {
		
            
			fldforexcardNo: {
					required : "Please Enter Card No.",
			        minlength: "Card Number Should be of 16 Digit",
		            maxlength:"Card Number Should be of 16 Digit"		   
            },
            
			fldreConfforexcardNo: {
					required : "Enter Re-confirm Card No.",
			       Password_not_same:"card no and confirm card no does not match."		   
               }
           			
		}
		
	});	
</script>