
<div id="wrapper" style="top:96px;">
	<div class="content sub_content">
	<div class="info_row rcErrorMsg" style="display:none;"></div> 
  		<div class="info_row rsaTxnStatus" style="display:none;">
  			<p></p>
  		</div>
  		<div class="info_row rsaAuthFailure" style="display:none;">
  			<p>Sorry!</p><br/>
  			<p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
  			
  		</div>
  		
  		<div class="info_row rsaOOBErr" style="display:none;">
  			<p>We are unable to carry out your transaction. Please try again later.</p>
  			
  		</div>
		
		<div id="rsrfx04success" style="display:none;">	
	
			<div class="clearfix10"></div>	
		<!-- 	<div class="info_row  successBox">
				<img src="img/icon_ok.png" />
				<div class="clearfix10"></div>	
				<span class="sucTxt"></span>
			</div> -->
			
			<div class="success_msg">
			<p>Your request for Forex Card Reload has been successfully registered.</p>
							
			</div>
		
			<div class="clearfix10"></div>	
			<div class="summblock" style="margin-left:3px;margin-right:7px;">
			   <div class="info_row dark_header"> 
					<span class="info_row_left">Reference No</span> 
					<span class="info_row_right" id="Refno"></span>					
				</div>  
			
				<div class="info_row odd"> 
					<span class="info_row_left">Customer Name</span> 
					<span class="info_row_right" id="custname">Rishabh Raj</span>					
				</div>      
			  				
				<div class="info_row even"> 
					<span class="info_row_left">Card No.</span> 
					<span class="info_row_right" id="cardno"></span>
				</div>
				
				<div class="info_row odd"> 
					<span class="info_row_left">Debit Account No.</span> 
					<span class="info_row_right" id="accountno"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldEqvUsdAmt"></span>					
				</div>
				
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldEqvInrAmt"></span>					
				</div>
				
			</div>
			
			<div class="clearfix10"></div>
			<div class="summblock" style="margin-left:3px;margin-right:7px;">
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD"></span>					
				</div>
				
		
				
			</div>
			
			<div class="clearfix10"></div>
			<div id="fldcurrancy1" style="display:none;">
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr1"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex1"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR1"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD1"></span>					
				</div>
				
				
				
			</div>
			<div class="clearfix10"></div>
			</div>
		
		<div id="fldcurrancy2" style="display:none;">
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr2"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex2"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR2"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD2"></span>					
				</div>
				
			
				
			</div>
			 <div class="clearfix10"></div>
			</div>
			
			<div id="fldcurrancy3" style="display:none;">
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr3"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex3"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR3"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD3"></span>					
				</div>
				
				
			
			</div>
				<div class="clearfix10"></div>
			</div>
		
			<div id="fldcurrancy4" style="display:none;">
			
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr4"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex4"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR4"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD4"></span>					
				</div>
				
			
				
			</div>
			<div class="clearfix10"></div>
			</div>
			
			
			<div id="fldcurrancy5" style="display:none;">
			
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr5"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex5"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR5"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD5"></span>					
				</div>
				
				
		
				
			</div>
			<div class="clearfix10"></div>
			</div>
			
			
			<div id="fldcurrancy6" style="display:none;">
			
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr6"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex6"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR6"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD6"></span>					
				</div>
				
				
				
				
			</div>
			<div class="clearfix10"></div>
			</div>
			
			
			<div id="fldcurrancy7" style="display:none;">
			
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr7"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex7"></span>					
				</div>
				
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR7"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD7"></span>					
				</div>
				
				
			</div>
				
			<div class="clearfix10"></div>
			</div>
		
			<div id="fldcurrancy8" style="display:none;">
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr8"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex8"></span>					
				</div>
				<div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR8"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent  Amount</span> 
					<span class="info_row_right" id="fldUSD8"></span>					
				</div>
				
			
			</div>
			 <div class="clearfix10"></div>
			</div>
			
			
			<div id="fldcurrancy9" style="display:none;">
			
			<div class="summblock" style="margin-left:3px;margin-right:7px;" >
			  
				<div class="info_row dark_header"> 
					<span class="info_row_left">Card Currency</span> 
					<span class="info_row_right" id="fldCurr9"></span>					
				</div>   							
							
				<div class="info_row odd"> 
					<span class="info_row_left">Forex Amount</span> 
					<span class="info_row_right" id="fldForex9"></span>					
				</div>
			    <div class="info_row even"> 
					<span class="info_row_left">INR Equivalent Amount</span> 
					<span class="info_row_right" id="fldINR9"></span>					
				</div>
				<div class="info_row odd"> 
					<span class="info_row_left">USD Equivalent Amount</span> 
					<span class="info_row_right" id="fldUSD9"></span>					
				</div>
				
				
			</div>
			   <div class="clearfix10"></div>
			</div>
			
			
		
		</div>
		
	</div>
</div>