<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  <div class="info_row" id="accExitsMsg" style="display:none;"><p>You do not have active account with the bank.</p></div>
  
  <form class="custStyleInput" name="frmstopcheque" id="frmstopcheque" method="post" data-bind='submit: rrsch01Submit'>
   <div data-bind="visible: accSlider">
   
   <div class="info_row"><br/><p><b>Note:</b><br/>
		<br/>Stop Payment instruction once given cannot be withdrawn.</p><div class="clearfix"></div></div>
		
   <div class="clearfix"></div>
      
	<div class="info_row"><div class="info_row2">Select Account</div> 
		<div class="info_row3">
			<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>

	 <div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>

		<div class="info_row"><div class="info_row2">Start Cheque No.</div> <div class="info_row3 page_title_sub"> 
			<input type="text" name="fldChqStrNo" id="fldChqStrNo" size="6" maxlength="6" minlength="6" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />
			</div>
		</div>
		<div class="clearfix"></div>
		  <div class="linedivider"></div>   
		  <div class="clearfix"></div>
		
		<div class="info_row"><div class="info_row2">End Cheque No.</div> <div class="info_row3"> 
			<input type="text" name="fldChqEndNo" id="fldChqEndNo" size="6" maxlength="6" minlength="6" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
			</div>
		</div>
	 
	<div class="info_row"><div class="info_row2">Reason</div> <div class="info_row3"> 
			<select name="fldChqStopRsn" id="fldChqStopRsn">
			<option value="Lost Chequebook">Lost Chequebook</option>
			<option value="Paid by Cash">Paid by Cash</option>
			<option value="Specific">Specific</option>
			</select>
			</div>
		</div>
		<br/>
		
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		
		<div class="info_row"><br/><p>If reason is Specific, please enter a valid reason below.</p>
		</div>

		<div class="info_row"><div class="info_row2">Specific Reason</div> <div class="info_row3"> 
			<input type="text" name="fldChqStopRsn1" id="fldChqStopRsn1"  />
			</div>
		</div>

  	<input type="hidden" name="fldFCDBRequestId" id="fldFCDBRequestId" />
  	
   <div class="clearfix20"></div>
   <div class="info_row2">
    <input type="submit" class="button" value="Submit" >
   </div>
   <br/>
   <div class="info_row"><p>Only transactions for the last six months can be viewed here.To view transaction records prior to that please login into Netbanking.</p></div>
<div class="clearfix"></div>
   
   </form>
 </div>
  </div>
</div>

<script type="text/javascript">

$.validator.addMethod('greaterThan', function(value, element, param) {
if(value!==""){
return ( value >= jQuery(param).val() );
}
else{
return true;
}

}, 'End cheque number should be greater or equal to Start cheque number.' );

$.validator.addMethod('checkreson', function(value, element, param) {
if($("#fldChqStopRsn").val()=="Specific"){
if(value==""){
return false;
}
else{
return true;
}
}
else{
return true;
}

}, 'Stop Cheque reason cannot be blank' );


$("#frmstopcheque").validate({
	rules: {
		fldAcctNo: "required",
		fldChqStrNo: "required",
		fldChqEndNo: {greaterThan: "#fldChqStrNo"},
		fldChqStopRsn1:{checkreson:"#fldChqStopRsn1"}	
	},
	messages: {
		fldAcctNo: "Select Account",
		fldChqStrNo: "Enter Valid 6 digit Start Cheque No.",			
	}
});

</script>
