<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  
  <div class="info_row" id="accExitsMsg" style="padding-top:5px;display:none;">
    <p>You do not have any transactions for the selected period</p>
    <br>
  </div>
  <div class="info_row" id="flgwarningMsg" style="display:none;"><p></p><div class="clearfix"></div></div>
  
   <!-- ko if: accountStmtTxns().length > 0 -->
   <div class="info_row odd"> 
   		<span class="info_row_left">Account Number</span> 
   		<span class="info_row_right" id="divaccno"></span>
       	<div class="clearfix"></div>
   </div>
   <div class="info_row odd"> 
   		<span class="info_row_left clslineht" id="acctypeLabel"></span> 
   		<span class="info_row_right clslineht" id="savingAccno"></span>
       	<div class="clearfix"></div>
   </div>
   <div class="info_row odd strPeriod" style="display:none;"> 
		<span class="info_row_left">Period</span> 
		<span class="info_row_right" id="accPeriod"></span>
    	<div class="clearfix"></div>
     </div>
    <div class="info_row odd"> 
		<span class="info_row_left" id="closingbalLabel"></span> 
		<span class="info_row_right page_title_text" style="word-wrap: break-word;" id="closingbalval"></span>
 		<div class="clearfix"></div>
  	</div>
     	<br/>		
   <div data-bind="foreach: accountStmtTxns">
   
   <div class="summblock"  style="margin-left:3px;margin-right:7px;">
      
       <div class="info_row even dark_header"> 
    		<span class="info_row_left">Date</span> 
    		<span class="info_row_right" data-bind="text: dattxn"></span>
        	<div class="clearfix"></div>
      </div>      
      
      <div class="info_row odd"> 
    		<span class="info_row_left" data-bind="text: amtLbl"></span> 
    		<span class="info_row_right page_title_sub" style="word-wrap: break-word;width:48%" data-bind="text: amttxn"></span>
        	<div class="clearfix"></div>
      </div>
           
      <div class="info_row even"> 
    		<span class="info_row_left">Cheque/Ref No.</span> 
    		<span class="info_row_right" data-bind="text: refchqno"></span>
        	<div class="clearfix"></div>
      </div>
      
      <div class="info_row odd"> 
    		<span class="info_row_left">Narration</span> 
    		<span class="info_row_right clslineht" data-bind="text: txttxndesc"></span>
        	<div class="clearfix"></div>
      </div>
      
      <div class="info_row even"> 
    		<span class="info_row_left">Value Date</span> 
    		<span class="info_row_right" data-bind="text: datvalue"></span>
        	<div class="clearfix"></div>
      </div>
      
     <!-- ko if: txntype === 'A' -->
      <div class="info_row odd"> 
    		<span class="info_row_left">Closing Balance</span> 
    		<span class="info_row_right" data-bind="text: balaftertxn"></span>
        	<div class="clearfix"></div>
      </div>      
      <!-- /ko -->
      </div>
   <br/>
   </div>
  
<!-- /ko -->
  </div>
</div>