<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">

  <div class="info_row" id="accExitsMsg" style="display:none;"><p><b>You should have both an Account and a Fixed Deposit with SOW relationship.</b></p></div>		
  
  <form class="custStyleInput" name="frmsus01" id="frmsus01" method="post" data-bind='submit: rrsus01Submit'>
   <div data-bind="visible: accSlider">
   
   <br/>
        <div class="clearfix"></div>
	    <div class="linedivider"></div>   
	    <div class="clearfix"></div>
      		
   <div class="clearfix"></div>
      
	<div class="info_row"><div class="info_row2">Select an Account</div> 
		<div class="info_row3">
			<select name="selAcct" id="selAcct" data-bind="options: fssSavingAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selFssSavingAcc, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row"><div class="info_row2">Select a Fixed Deposit</div> 
		<div class="info_row3">
			<select name="cmbSrcAcctNo" id="cmbSrcAcctNo" data-bind="options: fssFDAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: selFssFDAcc, optionsCaption: '-Select-'">
			
		    </select>	
		</div>
	</div>  

	<div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
	  
	<div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div><div class="info_row3">
		<select name="fldChecked" id="fldChecked">
		<option value="true">Accept</option>
		<option value="false">Decline</option>
		</select>
	</div>
	</div>
      
	<div class="clearfix"></div>
		 
   <div class="clearfix20"></div>
   <div class="info_row2">
    <input type="submit" class="button" value="Continue" >
   </div>
   
    <br/>
        	<div class="info_row">
        	<p><b>Note:</b></p><br/>
        	<p>This facility is available on NetBanking only to customers having a Savings or Current account with the Bank where the holding pattern is SINGLE i.e. there are no JOINT holders.</p><br/>
			<p>A minimum amount of Rs. 25,000 for a minimum tenure of 6 months 1 day is required to open a super saver account apart from zero balance savings account.</p><br/>
			<p>In case of a Super Saver facility a lien is marked on the Fixed Deposit in favor of the Bank.</p><br/>
			<p>On Autorenewal of the Fixed Deposit, the quantum of the Overdraft limit will remain unchanged.</p><br/>
			<p>Through this facility, a 75% of your Fixed Deposit Principal amount will be granted as an Overdraft facility.</p><br/>
			<p>The rate applicable on the Overdraft facility will be 2% p.a over and above the Fixed Deposit Rate.</p><br/>
			<p>In case of Premature liquidation of the Fixed Deposit, against which the Overdraft has been taken, the rate applicable on the overdraft utilised will remain unchanged.</p><br/>
			<p>In case the overdraft limit (SuperSaver) set-up on the account is not removed prior to the maturity of the Fixed Deposit, the Bank shall auto-renew the Fixed Deposit for the same tenure at prevailing rates.</p><br/>
			<p>To discontinue with the overdraft against fixed deposit (SuperSaver) facility, please approach the nearest Branch.</p><br/>
			<p>In case you choose any Sweep-in Fixed Deposit for linking for a SuperSaver facility, please note that a lien will be marked on the said Fixed Deposit for the Supersaver facility.</p><br/>
			<p>This will mean that in future in case of shortage of funds, the sweep-in will not trigger, however, the SuperSaver limit will be utilised.</p><br/>
			<p>In case you have 2 separate deposits which you have linked to your SB a/c - a sweep in FD and a Super saver limit, then in case of shortfall of funds, first the OD amount will get utilised and if the shortfall still remains, then the sweep in shall trigger.</p><br/>
			<p>Please approach nearest HDFC Bank branch in case of any further queries.</p><br/>
        	
        	</div>
      <br/>

  	<input type="hidden" name="fldFCDBRequestId" id="fldFCDBRequestId" />
  	
   
   </div>
   </form>

  </div>
</div>

<script type="text/javascript">
$("#frmsus01").validate({
	rules: {
		selAcct: "required",
		cmbSrcAcctNo: "required",
		fldChecked: {chkvalid: "#fldChecked"},
	},
	messages: {
		selAcct: "Select an Account",
		cmbSrcAcctNo: "Select a Fixed Deposit",	
		fldChecked: {
                chkvalid: "Please accept the Terms and Conditions before proceeding."
            }	
	}
});

</script>
