<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
	.info_row { padding-left:5px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">

	<div class="info_row"><span class="page_title_sub" style="font-size:16pt;font-weight:bold" id="period"></span></div>
	  	 <br/>
	<div data-bind="foreach: tdsArray1">
	<div class="summblock">
		<div class="info_row dark_header"><span class="info_row_left">Branch</span> 
		<span class="info_row_right clslineht" data-bind="text: nambranch">
		</span>
		<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left clslineht">Total Interest Earned</span> 
		<span class="info_row_right page_title_sub clslineht" data-bind="text: totintearned"></span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left">TDS Rate</span> 
		<span class="info_row_right" data-bind="text: tdsrate"></span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left clslineht">Total Tax Deducted</span> 
		<span class="info_row_right clslineht" data-bind="text: tottdsamt"></span>
			<div class="clearfix"></div>
		</div>
		
		</div>
		<br/>	
		</div>  	 
		
		<div data-bind="foreach: tdsArray2">
		<div class="summblock">
		<div class="info_row dark_header"><span class="info_row_left">Account Number</span> 
		<span class="info_row_right" data-bind="text: codacctno"> 
		</span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left clslineht">Interest Earned/Compounded</span> 
		<span class="info_row_right page_title_sub" data-bind="text: intearned"></span>
			<div class="clearfix"></div>
		</div>
		<div class="info_row even"><span class="info_row_left">Currency</span> 
		<span class="info_row_right" data-bind="text: acctcurr">			
		</span>
		<div class="clearfix"></div>
		</div>		
		<div class="info_row odd"><span class="info_row_left">TDS Deducted</span> 
		<span class="info_row_right" data-bind="text: tdsamt">
			</span>
			<div class="clearfix"></div>
		</div>
	</div>
	<br/>
	</div>
	
  </div>
</div>

