<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <form class="custStyleInput" name="frmtxi01" id="frmtxi01" method="post" data-bind='submit: rrtxi01Submit'>
   <div>
   
   
        <div class="clearfix"></div>
	    <div class="linedivider"></div>   
	    <div class="clearfix"></div>
      		
       <div class="info_row">
	  	<div class="info_row2">Select Period</div>
	  	<div class="info_row3">
	  	 <select name="fldFlgYear" id="fldFlgYear" class="clslineht" >
			<option value="C">Current Financial Year</option>
			<option value="P">Previous Financial Year</option>
			</select>    	
	    </div> 
	  </div>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>    
    		 
	<div class="clearfix20"></div>
	   <div class="info_row2">
	   <input type="submit" class="button" value="View" >
	</div>

  	<input type="hidden" name="fldOperationId" value="RRTXI02" />
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	<input type="hidden" name="fldTxnId" Value="TXI" />
   
   </div>
   </form>

  </div>
</div>
<script type="text/javascript">
$("#frmtxi01").validate({
	rules: {
		fldFlgYear: "required",		
	},
	messages: {
		fldFlgYear: "Select Period",			
	}
});
</script>