<style>		
.info_row .info_row{padding: 0 5px;}


.page_title, .page_title_sub, .rs {
  color: #001f79;
  font-size: 12pt;
}
</style>

<div id="wrapper" style="top:96px;">
	<div class="content sub_content">	
	
	   
		<form  name="rrvua01" id="rrvua01" method="post" data-bind='submit:rrvua01Submit'>		

			<div class="clearfix10"></div>	
			
					
			<div class="info_row">
				<div class="info_row2">For Account No.</div> 
				<div class="info_row3">
					<select name="fldAcctNo" id="fldAcctNo" data-bind="options: adhaaraccounts, optionsText: 'displaytxt', optionsValue: 'codacctno', value: 'accountValue'">					
					</select>
				</div>
			</div>		
            		
		
			<div class="info_row">
				<div class="info_row2">Enter Aadhaar Card No.</div> 
				<div class="info_row3"> 
					<input type="password" id="fldAadharno" name="fldAadharno" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" value="" maxlength="12">
				</div>
			</div>
			
			<div class="info_row">
				<div class="info_row2">Re-Enter Aadhaar</div> 
				<div class="info_row3"> 
					<input type="text" id="fldAadharno2" name="fldAadharno2" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" value="" maxlength="12">
				</div>
			</div>			
						
			<div class="clearfix20"></div>		
			<div class="info_row">
				<input type="submit" class="button" value="Update">
			</div>		   
			<div class="clearfix20"></div>
			
			</div>
			
		</form>

	
<!-- 
          <div class="info_row">
	       	<p><b>Note:</b></p><br/>
	       	<p>The card will be reloaded within one working day. </p>
			<br/>
	       	<p>Maximum value of Forex that can be loaded on the card will be in line with the limits specified under FEMA basis purpose of travel.</p>
			<br/>
            <p>Reload request will be rejected and money will be credited back to your account in following scenarios.</p>
			<br/>
			<br/>
            <p>- If it is observed that amount of Foreign currency applied by you is not in line with FEMA guidelines.</p>
			<br/>
			<br/>
            <p>- If the purpose of travel select by you does not match with the purpose for which the Forex card has been issued.</p>
			<br/>
			<br/>
            <p>	Reload Fee for ForexPlus card, ForexPlus Chip Card, ForexPlus Platinum Card & Multicurrency ForexPlus card : Rs 75 + Applicable Taxes.</p>
			<br/>
			<p> Applicable charges including Foreign Currency Conversion Service Tax will be debited from your account on next working day from date of placing request.</p>
			<br/>
			 <div class="clearfix"></div>
    </div> -->	
</div>
	
</div>

<script type="text/javascript">
  $.validator.addMethod("Password_not_same", function(value, element) {
 // alert($('#fldNewPass').val() != value);
   return $('#fldAadharno').val() == value;
}, "Aadhaar Card and Re-Enter Aadhaar no does not match.");

	$("#rrvua01").validate({
		rules: {
		
			
			fldAadharno: {
			       required: true,
				    minlength: 12,
		            maxlength:12
                
            },

			
			fldAadharno2: {
			       required: true,
                   Password_not_same:true     
               },
		},
		messages: {
		
            
			fldAadharno: {
					required : "Please Enter Aadhaar Card No.",
			        minlength: "Aadhaar Card No Should be of 12 Digit",
		            maxlength:"Aadhaar Card No Should be of 12  Digit"		   
            },
            
			fldAadharno2: {
					required : "Please Enter Re-Enter Aadhaar.",
			       Password_not_same:"Aadhaar Card and Re-Enter Aadhaar no does not match."		   
               }
           			
		}
		
	});	
</script>