<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	.info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
      
	  
	  
	  
    <div class="success_msg">
		<p>Thank You for Banking with us.</p>	
	</div> 
	</br>
	<div style="padding: 0 10px;">
		<p>Your Aadhaar No. <b id="custaadharno"></b> will be updated in our system, within 3 to 4 working days. We request you to please Login again after 4 working days, and view the updated details.</p>	
	</div> 
	</br>
	<div style="padding: 0 10px;">
		<p>Incase the Aadhaar details are found to be incorrect upon validation with regulatory authorities, the Aadhaar number will not be updated and you are requested to visit your nearest HDFC Bank branch to update the details.</p>	
	</div> 
	 

  </div>
  <!-- /content --> 
  
</div>
