<style>
.content {height: auto;overflow: visible;padding: 0;}
</style>
<div class="content" id="wrapper1" style="top:25px;padding-top:80px;">            
	<div class="menu_box appForm">
		<p class="extCustomerTxt">Choose the option that best describes you.</p>
		<ul>
			<li>
				<a href="#existingCustomer" onclick="">
					<div class="info_row customerInfo">
						<div class="iconCustmer"><i class="icoCust ext"></i></div>
						<span class="page_title_carousel">Existing Customer</span>
						<p>I hold an HDFC Bank Account</p>
					</div>
				</a>
			</li>
			<li>
				<a onclick="navigator.app.loadUrl('https://leads.hdfcbank.com/applications/webforms/apply/WAP/apply_now.asp?selproduct=CreditCard&page=credit_cards.htm', { openExternal:true });">
					<div class="info_row customerInfo">
						<div class="iconCustmer"><i class="icoCust new"></i></div>
						<span class="page_title_carousel">New Customer</span>
						<p>I'm a new Customer</p>
					</div>
				</a>
			</li>
		</ul>
     </div>
</div>

