<style>
.content {
    height: auto;
    overflow: visible;
    padding: 0;
}
#listBG {
    background: none repeat scroll 0 0 #e3e9f3;
    border-bottom: 1px solid #d6d7de;
    height: 50px;
    margin: 0;
    padding: 0;
}
</style>
<div class="content" id="wrapper1" style="top:0;padding-top:80px;">            
	<div class="menu_box">
	<ul>
    <li>
		<a href='#' class='head'><div class="mnu_row">
			<div class="mnu_apply"><img src="img/apply_now/personal_loan.png"></div>
			<div class="mnu_txt">Personal Loan</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div></a>
		<div class='contents' style="display: none;">
		
			<!-- <a onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/index.jsp?udf5=pl&udf3=HDFC_Mobile_App&udf7=mobapp&custToken=ajd02ns3')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a>
			<a id='listBG' onclick="openLink('https://leads.hdfcbank.com/applications/webforms/apply/WAP/apply_now.asp?selproduct=Personal%20Loans&page=loans.htm')">
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a> -->
			<a id='listBG' onclick="openLink('https://apply.hdfcbank.com/dapweb/personal?utm_campaign=P4_MobApp_PL')">

<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form

                </span><span class="right_arrow"><img src="img/rarrow.png"></span>

</div>

</a>
		</div>
	</li>

	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row" >
			<div class="mnu_apply"><img src="img/apply_now/auto_loan.png"></div>
			<div class="mnu_txt">Car Loan</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
			
		</div></a>
		<div class='contents' style="display: none;">
		   <!--  <a onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/index.jsp?udf5=al&udf3=HDFC_Mobile_App&udf7=mobapp&custToken=ajd02ns3')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a> -->
			<div class="clearfix"></div>
			
			<a onclick="openLink('https://apply.hdfcbank.com/dapweb/autoloan?utm_campaign=P4_MobApp_CL')">
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a>

		</div>
	</li>
	
	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row">
			<div class="mnu_apply"><img src="img/apply_now/two_wheeler_loan.png"></div>
			<div class="mnu_txt">Two Wheeler Loan</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div>
		</a>
				<div class='contents' style="display: none;">
		   <!--  <a  onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/index.jsp?udf5=twl&udf3=HDFC_Mobile_App&udf7=mobapp&custToken=ajd02ns3')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a> -->
			<div class="clearfix"></div>
			<a onclick="openLink('https://apply.hdfcbank.com/dapweb/twowheeler?utm_campaign=P4_MobApp_TWL')">
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a>

		</div>

	</li>
	
	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row">
			<div class="mnu_apply"><img src="img/apply_now/insurance.png"></div>
			<div class="mnu_txt">Insurance</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div>
		</a>
				<div class='contents' style="display: none;">
		    <a  onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/MainPage.jsp?custToken=dsa789d')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a>
			<div class="clearfix"></div>
		</div>

	</li>
	
	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row">
			<div class="mnu_apply"><img src="img/apply_now/gold_loan.png"></div>
			<div class="mnu_txt">Gold Loan</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div>  
		</a>
				<div class='contents' style="display: none;">
		    <!-- <a>
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a> -->
			<div class="clearfix"></div>
			<a  onclick="openLink('https://leads.hdfcbank.com/applications/webforms/apply/WAP/apply_now.asp?selproduct=Loan%20Against%20Gold&page=loans.htm')">
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a>

		</div>

	</li>

	
	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row" >
			<div class="mnu_apply"><img src="img/apply_now/credit_card.png"></div>
			<div class="mnu_txt">Credit Card</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div>
		</a>
				<div class='contents' style="display: none;">
		    <!-- <a  onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/index.jsp?udf5=cc&udf3=HDFC_Mobile_App&udf7=mobapp&custToken=ajd02ns3')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a> -->
			<div class="clearfix"></div>
			
			<a href="#applicationForm"  >
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a>

		</div>

	</li>
	
	
	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row">
			<div class="mnu_apply"><img src="img/apply_now/savings.png"></div>
			<div class="mnu_txt">Saving Account</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div>  
		</a>
		<div class='contents' style="display: none;">
		   <!--  <a onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/index.jsp?udf5=sa&udf3=HDFC_Mobile_App&udf7=mobapp&udf8=Savings&custToken=ajd02ns3')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a> -->
			<div class="clearfix"></div>
			
			<a  onclick="openLink('https://leads.hdfcbank.com/applications/new_webforms/apply/mobile/Savings-account.aspx?Promocode=P4_MobileApp_ApplyNow_SA')">
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a>
		</div>
	</li>
	
	<li>
		<a href='#' class='head' style="text-decoration:none;">
		<div class="mnu_row">
			<div class="mnu_apply"><img src="img/apply_now/nri_account.png"></div>
			<div class="mnu_txt">NRI Account</div>
			<span class="right_arrow"><img src="img/blue_btm_arw.png"><img style="display:none;" src="img/blue_side_arw.png"></span>			
		</div>  
		</a>
		<div class='contents' style="display: none;">
		   <!--  <a onclick="openLink('http://c4c.phonon.in/HDFCMobileWidgetTest/index.jsp?udf5=sa&udf3=HDFC_Mobile_App&udf7=mobapp&udf8=Savings&custToken=ajd02ns3')">
				<div id='listBG' class="info_row odd"><span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Call Me Now</span><span class="right_arrow"><img src="img/rarrow.png"></span></div>
			</a> -->
			<div class="clearfix"></div>
			<a  onclick="openLink('https://leads.hdfcbank.com/applications/new_webforms/apply/mobile/NRI-account.aspx?Promocode=MobileApp_NRI')">
				<div id='listBG' class="info_row odd"> <span class="info_row_menu_left"></span><span class="info_row_menu_right page_title_carousel">Application Form</span><span class="right_arrow"><img src="img/rarrow.png"></span>
				</div>
			</a>
		</div>
	</li>
		        
	</ul>                
</div>
</div>

<script>

	function callper(){
		window.location.hash = "#rrper01";
	}
	function openLink(url){
			//window.open(url,'_blank','location=no');  
			navigator.app.loadUrl(url, { openExternal:true });
			return false;
    }
     
   $(document).ready(function(){
      
     
		var Customer_type = localStorage.getItem("Customer_Type");
	
	        if(Customer_type == 'classic'){
        		$('.h_title').addClass('classic_h_title');
        		$('.back .back').addClass('classic_back');
        		$('.logo img').hide();
        		$('.logo').addClass('classic_logo');
				$('.footer_nav').addClass('classic_footer');
				$('.footer_nav li').addClass('classic_footer_bg');
        	}
        	if(Customer_type == 'imperia'){
        		$('.h_title').addClass('Imp_h_title');
        		$('.back .back').addClass('Imp_back');
        		$('.logo img').hide();
        		$('.logo').addClass('Imp_logo');
        		$('.footer_nav a').addClass('Imp_footer');
        		$('.footer_nav li').addClass('Imp_footer_bg');
				
        	}
        	if(Customer_type == 'preferred'){
        		$('.h_title').addClass('Pref_h_title');
        		$('.back .back').addClass('Pref_back');
        		$('.logo img').hide();
        		$('.logo').addClass('Pref_logo');
        		$('.footer_nav a').addClass('Pref_footer');
        		$('.footer_nav li').addClass('Pref_footer_bg');
				
        	}
        	
       $('.head').click(function(e){
        e.preventDefault();
   
		$('.right_arrow').not($(this).find('.right_arrow')).find('img:first-child').show();
        $('.right_arrow').not($(this).find('.right_arrow')).find('img:last-child').hide();
		$(this).find('.right_arrow img').toggle();
		
   		$('.contents').not($(this).next()).slideUp();
        $(this).next().slideToggle();
		//$('.head').find('.right_arrow img').toggle();
      });
      
    });
</script>
