<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>

<div id="wrapper" class="menu " style="top:96px; padding-bottom:110px;">
  <div class="content" style="padding-top:1%;">
    
        <div class="info_row">
          <p>My Menu allows you to select your Top 10 favorite transactions so that you can get even quicker access to your frequently used transactions.</p>
          <br>
        </div> 
		 
        <div class="info_row" id="accts" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Accounts</div>
          <div class="clearfix"></div>
		  <br>
        </div>
        
        
        
        <div data-bind="foreach: MmenuList11">
       
        
          <!-- ko if: txnid === 'ASM' || txnid === 'SIN' || txnid === 'CSS' || txnid === 'EMD' || txnid === 'EMR' || txnid === 'HIQ' || txnid === 'FDL' || txnid === 'ASR' || txnid === 'CBR' || txnid === 'SCH' || txnid === 'SUS' || txnid === 'TXI' || txnid === 'CSI' || txnid === 'LOA' || txnid === 'RDS' || txnid === 'FTR' || txnid === 'FDR' || txnid === 'RDO' || txnid === 'FSS' || txnid === 'PFC' || txnid === 'RFX'  -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
        		<span class="info_row_menu_left">
        			<!--Accounts-->
			<!-- ko if: txnid === 'ASM' -->
				<img src="img/acc_accountsummary.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'CSS' -->
				<img src="img/acc_casaswipin.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'EMD' -->
				<img src="img/acc_emailstmentderegis.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'EMR' -->
				<img src="img/acc_emailstmentregist.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'HIQ' -->
				<img src="img/acc_holdinquiry.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'FDL' -->
				<img src="img/acc_lequidetfixeddepost.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'ASR' -->
				<img src="img/acc_requestacstatement.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'CBR' -->
				<img src="img/acc_requestchqbook.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'SCH' -->
				<img src="img/acc_stoppaymentchq.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'SUS' -->
				<img src="img/acc_supersaver.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'TXI' -->
				<img src="img/acc_tdsenquiry.png" />
			 <!-- /ko -->
			<!-- ko if: txnid  === 'SIN' -->
				<img src="img/acc_viewacstatement.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'CSI' -->
				<img src="img/acc_viewchequestatus.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'LOA' -->
				<img src="img/acc_fixeddepositsummary.png" />
			 <!-- /ko -->
			<!--<xsl:if test="txnid === 'SBI'">
				<img src="img/acc_viewaccbalance.png" />
			</xsl:if>
			--><!-- ko if: txnid === 'RDS' -->
				<img src="img/acc_recurringdepositsummary.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'FTR' -->
				<img src="img/acc_fundtransfer.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'FDR' -->
				<img src="img/acc_openfd.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'RDO' -->
				<img src="img/acc_openrd.png" />
			 <!-- /ko -->
			<!-- ko if: txnid === 'FSS' -->
					<img src="img/acc_fixeddepositswipin.png" />
			 <!-- /ko -->
             <!-- ko if: txnid === 'RFX' -->
					<img src="img/forax_reload.png" />
			 <!-- /ko -->
			 
			 <!-- ko if: txnid === 'PFC' -->
					<img src="img/forax_Purchase.png" />
			 <!-- /ko -->
        		</span>
        		<span class="info_row_menu_right page_title_carousel " ><a  data-bind="text: menudesc"></a></span>
        		<span class="right_arrow"><img src="img/rarrow.png"></span>
        </div>
        <div class="clearfix"></div>
        <div class="linedivider"></div>
        <div class="clearfix"></div>
        <!-- /ko -->
         
        </div>
        
        
        
        <div class="info_row" id="bills" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Bill payment</div>
          <div class="clearfix"></div>
		   <br>
        </div>
       
        <div data-bind="foreach: MmenuList2">
        
          <!-- ko if: txnid === 'UCR' || txnid === 'BMRS' || txnid === 'DTHS' || txnid === 'BMP' || txnid === 'BDP' || txnid == 'UAB' || txnid == 'UVB' || txnid == 'UPH' || txnid == 'UAP' || txnid == 'UVP' -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
			
				<span class="info_row_menu_left">
					<!-- ko if: txnid === 'UVP' -->
					<img src="img/view-pay-bills.png">
					 <!-- /ko -->
					 <!-- ko if: txnid === 'UCR' -->
					<img src="img/cheque-status.png">
					 <!-- /ko -->
					 <!-- ko if: txnid === 'BMRS' -->
					<img src="img/registration_icon.png">
					 <!-- /ko -->
					 <!-- ko if: txnid === 'DTHS' -->
					<img src="img/registration_icon.png">
					 <!-- /ko -->
					 <!-- ko if: txnid === 'BMP' -->
					<img src="img/mobile_recharge.png">

					 <!-- /ko -->
					 <!-- ko if: txnid === 'BDP' -->
					<img src="img/dth_recharge.png">
					 <!-- /ko -->
					 
					  <!-- ko if: txnid === 'UAB' -->
					<img src="img/add-biller.png">
					 <!-- /ko -->
					  <!-- ko if: txnid === 'UVB' -->
					<img src="img/delete-biller.png">
					 <!-- /ko -->
					  <!-- ko if: txnid === 'UPH' -->
					<img src="img/payment-history.png">
					 <!-- /ko -->
					 
			 </span>
				<span class="info_row_menu_right page_title_carousel "><a  data-bind="text: menudesc" ></a></span>
				<span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
        <!-- /ko -->
         
         </div>
         
		 
		 
          <div class="info_row" id="trsnfer" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Third Party Transfer</div>
          <div class="clearfix"></div>
		  <br>
        </div>
        
        <div data-bind="foreach: MmenuList3">

         
          <!-- ko if: txnid === 'TPT' || txnid === 'TPN' || txnid === 'TPI' || txnid === 'TPV' || txnid === 'CPQ' || txnid === 'VMT' || txnid === 'MPE' || txnid === 'IFT' || txnid === 'VFT' || txnid === 'P2A' || txnid === 'MMG' || txnid === 'MMR' || txnid === 'MMC' -->
		
        
        <div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
        	<span class="info_row_menu_left">
        	 <!-- ko if: txnid === 'TPT' -->
				<img src="img/transfer_thirdparttransfer.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'TPN' -->
				<img src="img/transfer_neftfundtransfer.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'TPI' -->
				<img src="img/transfer_listofbenfi.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'TPV' -->
				<img src="img/transfer_viewrtgsfundtransfer.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'CPQ' -->
				<img src="img/transfer_questionmark.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'VMT' -->
				<img src="img/transfer_visacardpay.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'MPE' -->
				<img src="img/transfer_specialpayments.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'IFT' -->
				<img src="img/imps_mmid.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'VFT'  -->
				<img src="img/transfer_viewimps.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'P2A' -->
				<img src="img/imps_ifsc.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'MMG' -->
				<img src="img/generate_mmid.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'MMR' -->
				<img src="img/retrieve_mmid.png" />
			<!-- /ko -->
			 <!-- ko if: txnid === 'MMC' -->
				<img src="img/cancel_mmid.png" />
			<!-- /ko -->
        	</span>
        	<span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span>
        	<span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
         <!-- /ko -->
         
         </div>
       
	   <div class="info_row" id="cards" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Credit Cards</div>
          <div class="clearfix"></div>
		  <br>
        </div>
        
       <div data-bind="foreach: MmenuList4">
         
         <!-- ko if: txnid === 'ACS' || txnid === 'ACI' || txnid === 'CCP' || txnid === 'UNB' || txnid === 'UPD' || txnid === 'CAC' || txnid === 'EST' || txnid === 'PCR' || txnid === 'APR' || txnid === 'CDC' || txnid === 'APD' -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit" > 
       	  <span class="info_row_menu_left">
        	 <!-- ko if: txnid === 'ACS' -->
				<img src="img/cc_accountsummary.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'ACI' -->
				<img src="img/cc_accountinfo.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'CCP' -->
				<img src="img/cc_creditcardpayment.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'UNB' -->
				<img src="img/cc_viewunbilledtrans.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'UPD' -->
				<img src="img/cc_updatecontactdetails.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'CAC' -->
				<img src="img/cc_registernewcard.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'EST' -->
				<img src="img/cc_statementemail.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'PCR' -->
				<img src="img/cc_creditcardatmpin.png" />
			<!-- /ko -->	
			<!-- ko if: txnid === 'APR' -->
				<img src="img/cc_autopayregister.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'CDC' -->
				<img src="img/cc_autopayderister.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'APD' -->
					<img src="img/cc_autopayderister.png" />
			<!-- /ko -->
        </span>
        <span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span><span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
         <!-- /ko -->
        
         </div>
       

	   <div class="info_row" id="otrs" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Others</div>
          <div class="clearfix"></div>
		  <br>
        </div>
        
        <div data-bind="foreach: MmenuList5">
        
         <!-- ko if: txnid === 'CPW' || txnid === 'CAD' -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
       	   <span class="info_row_menu_left">
       	   		<!-- ko if: txnid === 'CPW' -->
					<img src="img/others_changepassword.png" />
				<!-- /ko -->
				<!-- ko if: txnid === 'CAD' -->
					<img src="img/others_viewcontactdetails.png" />
				<!-- /ko -->
       	   	</span><span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span><span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
         <!-- /ko -->
         
         </div>
         
       

	   <div class="info_row" id="fcatis" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Mutual Fund</div>
          <div class="clearfix"></div>
		   <br>
        </div>
       
        <div data-bind="foreach: MmenuList6">
         
        <!-- ko if: txnid ===  'WCM' || txnid ===  'IPB' || txnid ===  'VPR' || txnid ===  'OBU' || txnid ===  'ORE' || txnid ===  'OSW' || txnid ===  'SIP' || txnid ===  'SRP' || txnid ===  'TXA' || txnid ===  'SWP' || txnid ===  'STP' || txnid ===  'OST' -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
       	  <span class="info_row_menu_left"><!-- ko if: txnid === 'WCM' -->
				<img src="img/mf_acctsummary.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'IPB' -->
				<img src="img/mf_newfundoffer.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'VPR' -->
				<img src="img/mf_unitholdingstatement.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'OBU' -->
				<img src="img/mf_purchase.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'ORE' -->
				<img src="img/mf_redeem.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'OSW' -->
				<img src="img/mf_switch.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'SIP' -->
				<img src="img/mf_sip.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'SRP' -->
				<img src="img/mf_siorderstatusrevocation.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'TXA' -->
				<img src="img/mf_transactionhistory.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'SWP' -->
					<img src="img/mf_sipwithdrawal.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'STP' -->
					<img src="img/mf_siptransfer.png" />
				<!-- /ko -->
			<!-- ko if: txnid === 'OST' -->
					<img src="img/mf_orderstatus.png" />
			<!-- /ko -->
			</span>
        	<span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span>
        	<span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
        <!-- /ko -->
         
         </div>
         
        
		<div class="info_row" id="demat" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Demat</div>
          <div class="clearfix"></div>
		  <br>
        </div>
        
        
        <div data-bind="foreach: MmenuList7">
         
        <!-- ko if: txnid === 'DPL' || txnid === 'HLD' || txnid === 'DPQ' || txnid === 'DTS' || txnid === 'DMQ' || txnid === 'DIQ' || txnid === 'DCQ' -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
       	  	 <span class="info_row_menu_left">
        	 	<!-- ko if: txnid === 'DPL' -->
				<img src="img/demat_listofac.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'HLD' -->
				<img src="img/demat_holdingquery.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'DPQ' -->
				<img src="img/demat_clientprofile.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'DTS' -->
				<img src="img/demat_transactionstatement.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'DMQ' -->
				<img src="img/demat_status.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'DIQ' -->
				<img src="img/demat_isinsearch.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'DCQ' -->
				<img src="img/demat_settlmentcalender.png" />
			<!-- /ko -->
        	 </span>
        	 <span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span><span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
         <!-- /ko -->
         
         </div>
         
       
		
		<div class="info_row" id="alert" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Insta Alerts</div>
          <div class="clearfix"></div>
		   <br>
        </div>
       
        <div data-bind="foreach: MmenuList8">
        
        <!-- ko if: txnid === 'ALT' || txnid === 'ALM' -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
		
       	  	 <span class="info_row_menu_left">
       	  	 <!-- ko if: txnid === 'ALT' -->
				<img src="img/alerts_set.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'ALM' -->
				<img src="img/alerts_edit.png" />
			<!-- /ko -->
       	  	 		
       	  	 </span><span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span><span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
        <!-- /ko -->
        
         </div>
        
		
		<div class="info_row" id="dtcard" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Debit Card</div>
          <div class="clearfix"></div>
		   <br>
        </div>
       
        <div data-bind="foreach: MmenuList9">
         
        <!-- ko if: txnid === 'DCE' || txnid === 'DCL'  -->
		<div class="info_row odd" data-bind="click: $root.MnuFormSubmit"> 
       	  	 <span class="info_row_menu_left">
       	  	 	<!-- ko if: txnid === 'DCE' -->
				<img src="img/debitcard_status.png" />
			<!-- /ko -->
			<!-- ko if: txnid === 'DCL' -->
				<img src="img/debitcard_hotlisting.png" />
			<!-- /ko -->
       	  	 </span><span class="info_row_menu_right page_title_carousel "><a data-bind="text: menudesc" ></a></span><span class="right_arrow"><img src="img/rarrow.png"></span>
          
        </div>
        
        <div class="clearfix"></div>
        <!-- /ko -->
        
         </div>
      <form name="mnufrm" id="mnufrm" action="" method="get">
      <input type="hidden" name="fldSessionId" value="GGNPGTSNPUAUJASHOH">
      <input type="hidden" name="fldSessionId" value="GGNPGTSNPUAUJASHOH">
      <input type="hidden" name="fldSessionId" value="">
      <input type="hidden" name="idjsession" value="">
      <input type="hidden" name="fldFCDBSessionId" value="642349028BLMQVPSMK">
      <input type="hidden" name="fldBenefType" id="fldBenefType" value="">
      <input type="hidden" name="fldRequestId" id="fldRequestId" value="">
      <input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="01">
      <input type="hidden" name="acctTemp" id="acctTemp" value="1">
      <input type="hidden" name="fldTxnId" id="fldTxnId" value="">
      <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" value="642349028BLMQVPSMK143850602PM">
      </form>
    </div>
</div>
<script>
$(document).ready(function() {
	 var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}	
    console.log('CP on mobile banner account summart '+bannerHeight);	
	if(cpBanner.indexOf("No banner") > -1 == false){		
		if(cpBanner=='' && cpbannerclose!='adclose'){
				loadXMLDoc();
				setTimeout(function(){
				        if (navigator.onLine && cpBanner!='') {
						  $('.ad_banner').show();
						  $('#cpCnt').html(cpBanner);
						  
							
						} else {
						  $('.ad_banner').hide();
						}
				 		  var menu = $(".menu");
						var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}
					    menu.animate({top: bannerHeight + 'px'},2000);
						
						
				},2500);
		}
		if(cpBanner!='' && cpbannerclose!='adclose'){
		//alert("gghjtgiytkk");
			setTimeout(function(){
		   
                        if (navigator.onLine && cpBanner!='' && cbannerForMyMenu!='') {
						  $('.ad_banner').show();
				          $('#cpCnt').html(cbannerForMyMenu);				  
						} else if(cbannerForMyMenu!=''){
							$('.ad_banner').show();
							$('#cpCnt').html(cbannerForMyMenu);
						}else {
						  $('.ad_banner').hide();
						}
				 		var menu = $(".menu");					
				       var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}				
				       menu.animate({top: bannerHeight + 'px'},2000);	
				
			},2500);
		}
		if( cpbannerclose=="adclose"){		 
			$('.ad_banner').hide();
			var menu = $(".menu");
			menu.animate({top: '96px'},2000);
		}
	}
	
		
    });
	    
</script>