<style>
.content {
    height: auto;
    overflow: visible;
    padding: 0;
}
#listBG {
    background: none repeat scroll 0 0 #e3e9f3;
    border-bottom: 1px solid #d6d7de;
    height: 50px;
    margin: 0;
    padding: 0;
}
.menu_box .mnu_icon{width:109px;}
.menu_box .fa {
  background-position: 13px -164px;
}
</style>
<div class="content" id="wrapper1" style="top:0;padding-top:80px;">            
	<div class="menu_box">
		
		
		<a onclick="openNativePage1();" style="text-decoration:none;">
		<div class="mnu_row" >
			<div class="mnu_icon fa"></div>
			<div class="mnu_txt">Store Offers</div>
		</div>
		
		<!-- <a href="#login" style="text-decoration:none;">
		<div class="mnu_row">
			<div class="mnu_icon mdr"></div>
			<div class="mnu_txt">Mobile/DTH Recharge</div>
		</div>  
		</a>   -->
		</a>
		
		<a onclick="openLink('http://www.mobileoffers.smartbuy.hdfcbank.com')" style="text-decoration:none;">
		<div class="mnu_row">
		   
			<div class="mnu_icon" style="background:none;"> <img src="img/Smart-Buy-Image-Small.png" style="width: 108px;"></div>
			<div class="mnu_txt">SmartBuy Offers</div>
		</div>
		</a>
		 
		     
	</div>                
</div>
<script>

var Customer_type = localStorage.getItem("Customer_Type");

if (Customer_type == null) {
  var Customer_type = 'default';
 
	function openNativePage3(){
	$.getJSON("http://hdfcanalytics.snapworkapps.com/sectionclicks.html?deviceid="+menuUdid+"&page=ContactUs&ptype=Android",function(data) {});
	var params = {
			nameParam : Customer_type
	};
	WL.NativePage.show("com.snapwork.hdfc.ContactsActivity", backFromNativePage, params);
	}	
	function openNativePage(){
	$.getJSON("http://hdfcanalytics.snapworkapps.com/sectionclicks.html?deviceid="+menuUdid+"&page=Offers&ptype=Android",function(data) {});
			var params = {
			nameParam : Customer_type
	};
	WL.NativePage.show("com.snapwork.hdfc.MapViewActivity", backFromNativePage, params);
	}
	function openNativePage1(){
	$.getJSON("http://hdfcanalytics.snapworkapps.com/sectionclicks.html?deviceid="+menuUdid+"&page=Offers&ptype=Android",function(data) {});
			var params = {
			nameParam : Customer_type
	};
	WL.NativePage.show("com.snapwork.hdfc.ShowOffersActivity", backFromNativePage, params);
	}
}
else{

	function openNativePage3(){
	$.getJSON("http://hdfcanalytics.snapworkapps.com/sectionclicks.html?deviceid="+menuUdid+"&page=ContactUs&ptype=Android",function(data) {});
		var params = {
				nameParam : Customer_type
		};
		WL.NativePage.show("com.snapwork.hdfc.ContactsActivity", backFromNativePage, params);
	}
	function openNativePage(){
 $.getJSON("http://hdfcanalytics.snapworkapps.com/sectionclicks.html?deviceid="+menuUdid+"&page=Locator&ptype=Android",function(data) {});
		var params = {
				nameParam : Customer_type
		};
		WL.NativePage.show("com.snapwork.hdfc.MapViewActivity", backFromNativePage, params);
	}
	function openNativePage1(){
$.getJSON("http://hdfcanalytics.snapworkapps.com/sectionclicks.html?deviceid="+menuUdid+"&page=Offers&ptype=Android",function(data) {});
		var params = {
				nameParam : Customer_type
		};
		WL.NativePage.show("com.snapwork.hdfc.ShowOffersActivity", backFromNativePage, params);
	}
}
function backFromNativePage(data){
	//alert("Received phone number is: " + data.phoneNumber);
}

function BillpayPage(){
    billpaypage="billpayment";
	window.location.hash="#login";
}
function TransferFunds(){
    fundtransferNli="fundtransfer";
	window.location.hash="#login";
}
function openLink(url){
			window.open(url,'_blank','location=no');  
			return false;
    }
</script>