<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
	div#save {
    position: fixed;
    bottom:54px;
}

.checkbox, .radio {
    width: 25px;
    height: 27px;
    padding: 0px; /* Removed padding to eliminate color bleeding around image
       you could make the image wider on the right to get the padding back */
    background: url(img/checkbox.png) no-repeat;
    display: block;
    clear: left;
    float: left;
	margin-top:15px;
 }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  <div class="info_row" id="accExitsMsg" style="display:none;"><p>You do not have active account with the bank.</p></div>
		<form name="f1" id="f1"  method="post" data-bind='submit: rrper01Submit'>	
	
	

	<div class="sub_content" id="err01" style="display:none;">
		<div class="info_row"><p>You are not authorized to do this transaction. Please contact the bank.</p></div>
	</div>
	
	
		
		
		
			  
			 <div class="even" id="save" style="overflow:hidden;margin-bottom:0px;"> 
				<span class="info_row_left" style="width:25%; float:right;"><input type="submit" style="width:100%; margin-top: 6px;" class="button" value="Save" /></span> 
				<!--<span class="info_row_right clslineht" style="padding-top:14px;width:68%">Select actions to add to My Menu</span>
				--><span class="info_row_right clslineht" style="padding-bottom:12px;padding-top:12px;width:68%">Click on the "Save" button to save changes to My Menu</span>
				<div class="clearfix"></div>
			</div>
			

	
		<div class="sub_content">
		<div class="scrollable" id="scrollMe" style="margin-bottom:60px;">

		
		
		<br/>
		<div class="info_row dark_header" id="accts" style="display:none;"> <div class="info_row2 page_title_carousel">Accounts</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		
		
		<div data-bind="foreach: PerLzdmenuListAccount">
        
        
          <!-- ko if: txnid === 'ASM' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc1">
			<span class="info_row_menu_left">
				<img src="img/acc_accountsummary.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Summary</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="ASM" name="fldMenuCheck_Acc1" id="fldMenuCheck_Acc1"  />
					
		</span>
				<div class="clearfix"></div>
		
		</div>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			 <!-- /ko -->
		
		
		
		  <!-- ko if: txnid === 'SIN' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc2">
			<span class="info_row_menu_left">
				<img src="img/acc_viewacstatement.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Account Statement</span>
			</label>
			<span class="right_arrow">
			
          		<input type="checkbox"  class="styled" value="SIN" name="fldMenuCheck_Acc2" id="fldMenuCheck_Acc2"  />
	
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
					 <!-- /ko -->

		
		
		<!-- ko if: txnid === 'CSI' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc3">
			<span class="info_row_menu_left">
				<img src="img/acc_viewchequestatus.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Cheque Status</span>
			</label>
			<span class="right_arrow">
				
						<input type="checkbox" 
 class="styled" value="CSI" name="fldMenuCheck_Acc3" id="fldMenuCheck_Acc3"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				 <!-- /ko -->
		
		<!-- ko if: txnid === 'SCH' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc4">
			<span class="info_row_menu_left">
				<img src="img/acc_stoppaymentchq.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Stop Payment of Cheque</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="SCH" name="fldMenuCheck_Acc4" id="fldMenuCheck_Acc4"  />
				 
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
				<!-- ko if: txnid === 'LOA' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc5">
			<span class="info_row_menu_left">
				<img src="img/acc_fixeddepositsummary.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Fixed Deposits Summary</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="LOA" name="fldMenuCheck_Acc5" id="fldMenuCheck_Acc5"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		
					<!-- ko if: txnid === 'RDS' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc6">
			<span class="info_row_menu_left">
				<img src="img/acc_recurringdepositsummary.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Recurring Deposits Summary</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="RDS" name="fldMenuCheck_Acc6" id="fldMenuCheck_Acc6"  />
					
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'TXI' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc7">
			<span class="info_row_menu_left">
				<img src="img/acc_tdsenquiry.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">TDS Inquiry</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="TXI" name="fldMenuCheck_Acc7" id="fldMenuCheck_Acc7"  />
				 
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'HIQ' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc8">
			<span class="info_row_menu_left">
				<img src="img/acc_holdinquiry.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Hold Enquiry</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="HIQ" name="fldMenuCheck_Acc8" id="fldMenuCheck_Acc8"  />
				 
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
				<!-- ko if: txnid === 'FTR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc9">
			<span class="info_row_menu_left">
				<img src="img/acc_fundtransfer.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Funds Transfer</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="FTR" name="fldMenuCheck_Acc9" id="fldMenuCheck_Acc9"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'FDR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc10">
			<span class="info_row_menu_left">
				<img src="img/acc_openfd.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Open FD</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="FDR" name="fldMenuCheck_Acc10" id="fldMenuCheck_Acc10"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
			<!-- ko if: txnid === 'RDO' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc11">
			<span class="info_row_menu_left">
				<img src="img/acc_openrd.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Open RD</span>
			</label>
			<span class="right_arrow">
				
          			<input type="checkbox" 
 class="styled" value="RDO" name="fldMenuCheck_Acc11" id="fldMenuCheck_Acc11"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
	<!-- ko if: txnid === 'FDL' -->
			<div class="info_row odd">
			<label for="fldMenuCheck_Acc12">
			<span class="info_row_menu_left">
				<img src="img/acc_lequidetfixeddepost.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Liquidate FD</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="FDL" name="fldMenuCheck_Acc12" id="fldMenuCheck_Acc12"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
					<!-- /ko -->

		
		<!-- ko if: txnid === 'FSS' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc13">
			<span class="info_row_menu_left">
				<img src="img/acc_fixeddepositswipin.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Fixed Deposit Sweep-in</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="FSS" name="fldMenuCheck_Acc13" id="fldMenuCheck_Acc13"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
<!-- ko if: txnid === 'CSS' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc14">
			<span class="info_row_menu_left">
				<img src="img/acc_casaswipin.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">CASA Sweep-in</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="CSS" name="fldMenuCheck_Acc14" id="fldMenuCheck_Acc14"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
<!-- ko if: txnid === 'SUS' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc15">
			<span class="info_row_menu_left">
				<img src="img/acc_supersaver.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Super Saver</span>
			</label>
			<span class="right_arrow">
				
								
          			<input type="checkbox" 
 class="styled" value="SUS" name="fldMenuCheck_Acc15" id="fldMenuCheck_Acc15"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
		<!-- ko if: txnid === 'CBR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc16">
			<span class="info_row_menu_left">
				<img src="img/acc_requestchqbook.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Request Cheque Book</span>
			</label>
			<span class="right_arrow">
				

          			<input type="checkbox" 
 class="styled" value="CBR" name="fldMenuCheck_Acc16" id="fldMenuCheck_Acc16"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'ASR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc17">
			<span class="info_row_menu_left">
				<img src="img/acc_requestacstatement.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Request Account Statement</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="ASR" name="fldMenuCheck_Acc17" id="fldMenuCheck_Acc17"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
			<!-- ko if: txnid === 'EMD' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc18">
			<span class="info_row_menu_left">
				<img src="img/acc_emailstmentderegis.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Email Statement Deregistration</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="EMD" name="fldMenuCheck_Acc18" id="fldMenuCheck_Acc18"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
					<!-- ko if: txnid === 'EMR' -->
					<div class="info_row odd">
			<label for="fldMenuCheck_Acc19">
			<span class="info_row_menu_left">
				<img src="img/acc_emailstmentregist.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Email Statement Registration</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="EMR" name="fldMenuCheck_Acc19" id="fldMenuCheck_Acc19"  />
		
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
		<!-- ko if: txnid === 'MMG' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT11">
			<span class="info_row_menu_left">
				<img src="img/generate_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Generate MMID</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="MMG" name="fldMenuCheck_TPT11" id="fldMenuCheck_TPT11"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'MMR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT12">
			<span class="info_row_menu_left">
				<img src="img/retrieve_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Retrieve MMID</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="MMR" name="fldMenuCheck_TPT12" id="fldMenuCheck_TPT12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'MMC' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT13">
			<span class="info_row_menu_left">
				<img src="img/cancel_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Cancel MMID</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="MMC" name="fldMenuCheck_TPT13" id="fldMenuCheck_TPT13"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		 <!-- ko if: txnid === 'PFC' -->
					<div class="info_row odd">
			<label for="fldMenuCheck_Acc20">
			<span class="info_row_menu_left">
				<img src="img/forax_Purchase.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Purchase Forex Card</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="PFC" name="fldMenuCheck_Acc20" id="fldMenuCheck_Acc20"  />
		
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'RFX' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Acc21">
			<span class="info_row_menu_left">
				<img src="img/forax_reload.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Reload Forex Card</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="RFX" name="fldMenuCheck_Acc21" id="fldMenuCheck_Acc21"  />
		
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
		</div>
		
		<div class="info_row dark_header" style="display:none;" id="trsnfer"> <div class="info_row2 page_title_carousel">Third Party Funds Transfer</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		<div data-bind="foreach: PerLzdmenuListTransfer">
		<!-- ko if: txnid === 'TPT' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT1">
			<span class="info_row_menu_left">
				<img src="img/transfer_thirdparttransfer.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Third Party Funds Transfer (Internal)</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="TPT" name="fldMenuCheck_TPT1" id="fldMenuCheck_TPT1"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
		<!-- ko if: txnid === 'TPN' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT2">
			<span class="info_row_menu_left">
				<img src="img/transfer_neftfundtransfer.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Third Party Funds Transfer (NEFT)</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="TPN" name="fldMenuCheck_TPT2" id="fldMenuCheck_TPT2"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
				<!-- ko if: txnid === 'VMT' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT3">
			<span class="info_row_menu_left">
				<img src="img/transfer_visacardpay.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Visa CardPay</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="VMT" name="fldMenuCheck_TPT3" id="fldMenuCheck_TPT3"  />
				
		</span>
				<div class="clearfix"></div>
	
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
	<!-- /ko -->		
		<!-- ko if: txnid === 'MPE' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT4"> 
			<span class="info_row_menu_left">
				<img src="img/transfer_specialpayments.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Special Payments</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="MPE" name="fldMenuCheck_TPT4" id="fldMenuCheck_TPT4"  />
			
		</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'TPV' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT5">
			<span class="info_row_menu_left">
				<img src="img/transfer_viewrtgsfundtransfer.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View RTGS Funds Transfer</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="TPV" name="fldMenuCheck_TPT5" id="fldMenuCheck_TPT5"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
		<!-- ko if: txnid === 'TPI' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT6">
			<span class="info_row_menu_left">
				<img src="img/transfer_listofbenfi.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View List of Beneficiaries</span>
			</label>
			<span class="right_arrow">
				

          			<input type="checkbox" 
 class="styled" value="TPI" name="fldMenuCheck_TPT6" id="fldMenuCheck_TPT6"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
				<!-- ko if: txnid === 'CPQ' -->

		<div class="info_row odd">
			<label for="fldMenuCheck_TPT7">
			<span class="info_row_menu_left">
				<img src="img/transfer_questionmark.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Change Question Answers</span>
			</label>
			<span class="right_arrow">
				
				
          			<input type="checkbox" 
 class="styled" value="CPQ" name="fldMenuCheck_TPT7" id="fldMenuCheck_TPT7"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'IFT' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT8">
			<span class="info_row_menu_left">
				<img src="img/imps_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Fund Transfer to Mobile No.</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="IFT" name="fldMenuCheck_TPT8" id="fldMenuCheck_TPT8"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
		<!-- ko if: txnid === 'VFT' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT9">
			<span class="info_row_menu_left">
				<img src="img/transfer_viewimps.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View IMPS Funds Transfer</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="VFT" name="fldMenuCheck_TPT9" id="fldMenuCheck_TPT9"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'P2A' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT10">
			<span class="info_row_menu_left">
				<img src="img/imps_ifsc.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">IMPS - IFSC Code/Acct No.</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="P2A" name="fldMenuCheck_TPT10" id="fldMenuCheck_TPT10"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
		
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'MMG' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT11">
			<span class="info_row_menu_left">
				<img src="img/generate_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Generate MMID</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="MMG" name="fldMenuCheck_TPT11" id="fldMenuCheck_TPT11"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'MMR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT12">
			<span class="info_row_menu_left">
				<img src="img/retrieve_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Retrieve MMID</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="MMR" name="fldMenuCheck_TPT12" id="fldMenuCheck_TPT12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'MMC' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_TPT13">
			<span class="info_row_menu_left">
				<img src="img/cancel_mmid.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Cancel MMID</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="MMC" name="fldMenuCheck_TPT13" id="fldMenuCheck_TPT13"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->

		</div>
		<div class="info_row dark_header" id="bills" style="display:none;"> <div class="info_row2 page_title_carousel">Bill Payment</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		<div data-bind="foreach: PerLzdmenuListBills">
		<!-- ko if: txnid === 'UVP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Bill1">
			<span class="info_row_menu_left">
				<img src="img/view-pay-bills.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View and Pay Bill</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="UVP" name="fldMenuCheck_Bill1" id="fldMenuCheck_Bill1"  />
				
		</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		<!-- ko if: txnid === 'UCR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_UCR12">
			<span class="info_row_menu_left">
				<img src="img/cheque-status.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Check Recharge Status</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="UCR" name="fldMenuCheck_UCR12" id="fldMenuCheck_UCR12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
<!-- ko if: txnid === 'BMRs' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_BMR12">
			<span class="info_row_menu_left">
				<img src="img/registration_icon.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Mobile Biller Reg</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="BMR" name="fldMenuCheck_BMR12" id="fldMenuCheck_BMR12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->	
<!-- ko if: txnid === 'DTHs' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_DTH12">
			<span class="info_row_menu_left">
				<img src="img/registration_icon.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">DTH Reg</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="DTH" name="fldMenuCheck_DTH12" id="fldMenuCheck_DTH12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->	
<!-- ko if: txnid === 'BMP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_BMP12">
			<span class="info_row_menu_left">
				<img src="img/mobile_recharge.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Mobile Recharge</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="BMP" name="fldMenuCheck_BMP12" id="fldMenuCheck_BMP12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->	
<!-- ko if: txnid === 'BDP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_BDP12">
			<span class="info_row_menu_left">
				<img src="img/dth_recharge.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">DTH Recharge</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="BDP" name="fldMenuCheck_BDP12" id="fldMenuCheck_BDP12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->



<!-- ko if: txnid === 'UAB' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_UAB12">
			<span class="info_row_menu_left">
				<img src="img/add-biller.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Add Biller</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" class="styled" value="UAB" name="fldMenuCheck_UAB12" id="fldMenuCheck_UAB12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->	

<!-- ko if: txnid === 'UVB' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_UVB12">
			<span class="info_row_menu_left">
				<img src="img/delete-biller.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View/Delete Biller</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" class="styled" value="UVB" name="fldMenuCheck_UVB12" id="fldMenuCheck_UVB12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->	

<!-- ko if: txnid === 'UPH' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_UPH12">
			<span class="info_row_menu_left">
				<img src="img/payment-history.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Payment History</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" class="styled" value="UPH" name="fldMenuCheck_UPH12" id="fldMenuCheck_UPH12"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->	

		
		</div>
		
			<div class="info_row dark_header" id="cards" style="display:none;"> <div class="info_row2 page_title_carousel">Credit Cards</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		<div data-bind="foreach: PerLzdmenuListCards">
		<!-- ko if: txnid === 'CCP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC1">
			<span class="info_row_menu_left">
				<img src="img/cc_creditcardpayment.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Credit Card Payment</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="CCP" name="fldMenuCheck_CC1" id="fldMenuCheck_CC1"  />
			
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'ACS' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC2">
			<span class="info_row_menu_left">
				<img src="img/cc_accountsummary.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Summary</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="ACS" name="fldMenuCheck_CC2" id="fldMenuCheck_CC2"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		
		<!-- ko if: txnid === 'ACI' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC3">
			<span class="info_row_menu_left">
				<img src="img/cc_accountinfo.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Information</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="ACI" name="fldMenuCheck_CC3" id="fldMenuCheck_CC3"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
			<!-- ko if: txnid === 'UNB' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC4">
			<span class="info_row_menu_left">
				<img src="img/cc_viewunbilledtrans.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Unbilled Transactions</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="UNB" name="fldMenuCheck_CC4" id="fldMenuCheck_CC4"  />
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
			<!-- ko if: txnid === 'UPD' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC5">
			<span class="info_row_menu_left">
				<img src="img/cc_updatecontactdetails.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Update Contact details</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="UPD" name="fldMenuCheck_CC5" id="fldMenuCheck_CC5"  />
					
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
		<!-- ko if: txnid === 'CAC' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC6">
			<span class="info_row_menu_left">
				<img src="img/cc_registernewcard.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Register New Card</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="CAC" name="fldMenuCheck_CC6" id="fldMenuCheck_CC6"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'EST' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC7">
			<span class="info_row_menu_left">
				<img src="img/cc_statementemail.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Statement on E-Mail</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="EST" name="fldMenuCheck_CC7" id="fldMenuCheck_CC7"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
		<!-- ko if: txnid === 'PCR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_CC8">
			<span class="info_row_menu_left">
				<img src="img/cc_creditcardatmpin.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Credit Card ATM PIN</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="PCR" name="fldMenuCheck_CC8" id="fldMenuCheck_CC8"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
	<!-- ko if: txnid === 'CDC' -->		<div class="info_row odd">
			<label for="fldMenuCheck_CC9">
			<span class="info_row_menu_left">
				<img src="img/cc_deregistercard.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Deregister Card</span>
			</label>
			<span class="right_arrow">
				
						<input type="checkbox" 
 class="styled" value="CDC" name="fldMenuCheck_CC9" id="fldMenuCheck_CC9"  />
								
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
			<!-- ko if: txnid === 'APR' -->	
		<div class="info_row odd">
			<label for="fldMenuCheck_CC10">
			<span class="info_row_menu_left">
				<img src="img/cc_autopayregister.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Autopay Register</span>
			</label>
			<span class="right_arrow">
				
						<input type="checkbox" 
 class="styled" value="APR" name="fldMenuCheck_CC10" id="fldMenuCheck_CC10"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
<!-- ko if: txnid === 'APD' -->			<div class="info_row odd">
			<label for="fldMenuCheck_CC11">
			<span class="info_row_menu_left">
				<img src="img/cc_autopayderister.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Autopay De-register</span>
			</label>
			<span class="right_arrow">
				
						<input type="checkbox" 
 class="styled" value="APD" name="fldMenuCheck_CC11" id="fldMenuCheck_CC11"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		</div>
                    
		
			<div class="info_row dark_header" id="demat" style="display:none;"> <div class="info_row2 page_title_carousel">Demat</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		<div data-bind="foreach: PerLzdmenuListDemat">
		<!-- ko if: txnid === 'HLD' -->	
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem1">
			<span class="info_row_menu_left">
				<img src="img/demat_holdingquery.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Holdings Query</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="HLD" name="fldMenuCheck_Dem1" id="fldMenuCheck_Dem1"  />
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'DPL' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem2">
			<span class="info_row_menu_left">
				<img src="img/demat_listofac.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">List of Account</span>
			</label>
			<span class="right_arrow">
				
						<input type="checkbox" 
 class="styled" value="DPL" name="fldMenuCheck_Dem2" id="fldMenuCheck_Dem2"  />
				
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
				<!-- ko if: txnid === 'DPQ' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem3">
			<span class="info_row_menu_left">
				<img src="img/demat_clientprofile.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Client Profile</span>
			</label>
			<span class="right_arrow">
										<input type="checkbox" 
 class="styled" value="DPQ" name="fldMenuCheck_Dem3" id="fldMenuCheck_Dem3"  />
					
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'DTS' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem4">
			<span class="info_row_menu_left">
				<img src="img/demat_transactionstatement.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Transaction Statement</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="DTS" name="fldMenuCheck_Dem4" id="fldMenuCheck_Dem4"  />

		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
					<!-- /ko -->

		
		<!-- ko if: txnid === 'DMQ' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem5">
			<span class="info_row_menu_left">
				<img src="img/demat_status.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Demat Status</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="DMQ" name="fldMenuCheck_Dem5" id="fldMenuCheck_Dem5"  />
					
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'DIQ' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Dem6">
			<span class="info_row_menu_left">
				<img src="img/demat_isinsearch.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">ISIN Search</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="DIQ" name="fldMenuCheck_Dem6" id="fldMenuCheck_Dem6"  />
						
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
				<!-- ko if: txnid === 'DCQ' -->

		<div class="info_row odd">
			<label for="fldMenuCheck_Dem7">
			<span class="info_row_menu_left">
				<img src="img/demat_settlmentcalender.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Settlement Calender Master</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="DCQ" name="fldMenuCheck_Dem7" id="fldMenuCheck_Dem7"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
	<!-- /ko -->		
		
		
		</div>
			<div class="info_row dark_header" id="dtcard" style="display:none;"> <div class="info_row2 page_title_carousel">Debit Card</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		<div data-bind="foreach: PerLzdmenuListdtcards">
					<!-- ko if: txnid === 'DCL' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_DC1">
			<span class="info_row_menu_left">
				<img src="img/debitcard_hotlisting.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Debit Card Hotlisting</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="DCL" name="fldMenuCheck_DC1" id="fldMenuCheck_DC1"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
				<!-- ko if: txnid === 'DCE' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_DC2">
			<span class="info_row_menu_left">
				<img src="img/debitcard_status.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Debit Card status</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="DCE" name="fldMenuCheck_DC2" id="fldMenuCheck_DC2"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
	</div>	
		
			<div class="info_row dark_header" id="fcatis" style="display:none;"> <div class="info_row2 page_title_carousel">Mutual Fund</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		
		<div data-bind="foreach: PerLzdmenuListfcatis">
		<!-- ko if: txnid === 'IPB' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF1">
			<span class="info_row_menu_left">
				<img src="img/mf_newfundoffer.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">New Fund Offer</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="IPB" name="fldMenuCheck_MF1" id="fldMenuCheck_MF1"  />
						
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'OBU' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF2">
			<span class="info_row_menu_left">
				<img src="img/mf_purchase.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Purchase</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="OBU" name="fldMenuCheck_MF2" id="fldMenuCheck_MF2"  />
				
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
				<!-- ko if: txnid === 'ORE' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF3">
			<span class="info_row_menu_left">
				<img src="img/mf_redeem.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Redeem</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="ORE" name="fldMenuCheck_MF3" id="fldMenuCheck_MF3"  />
				
			</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'OSW' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF4">
			<span class="info_row_menu_left">
				<img src="img/mf_switch.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Switch</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="OSW" name="fldMenuCheck_MF4" id="fldMenuCheck_MF4"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
				<!-- ko if: txnid === 'SIP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF5">
			<span class="info_row_menu_left">
				<img src="img/mf_sip.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Systematic Investment</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="SIP" name="fldMenuCheck_MF5" id="fldMenuCheck_MF5"  />
				
		</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			<!-- /ko -->
		
		<!-- ko if: txnid === 'SRP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF6">
			<span class="info_row_menu_left">
				<img src="img/mf_siorderstatusrevocation.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">SI Order Status / Revocation</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="SRP" name="fldMenuCheck_MF6" id="fldMenuCheck_MF6"  />
				
			</span>
				<div class="clearfix"></div>
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
					<!-- /ko -->

		
		<!-- ko if: txnid === 'SWP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF7">
			<span class="info_row_menu_left">
				<img src="img/mf_sipwithdrawal.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Systematic Withdrawal</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox" 
 class="styled" value="SWP" name="fldMenuCheck_MF7" id="fldMenuCheck_MF7"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
		<!-- ko if: txnid === 'STP' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF8">
			<span class="info_row_menu_left">
				<img src="img/mf_siptransfer.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Systematic Transfer</span>
			</label>
			<span class="right_arrow">
			<input type="checkbox" 
 class="styled" value="STP" name="fldMenuCheck_MF8" id="fldMenuCheck_MF8"  />
					
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'WCM' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF9">
			<span class="info_row_menu_left">
				<img src="img/mf_acctsummary.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Account Summary</span>
			</label>
			<span class="right_arrow">
				
						<input type="checkbox" 
 class="styled" value="WCM" name="fldMenuCheck_MF9" id="fldMenuCheck_MF9"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
				<!-- /ko -->
		
		<!-- ko if: txnid === 'TXA' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF10">
			<span class="info_row_menu_left">
				<img src="img/mf_transactionhistory.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Transaction History</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="TXA" name="fldMenuCheck_MF10" id="fldMenuCheck_MF10"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
			<!-- ko if: txnid === 'VPR' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF11">
			<span class="info_row_menu_left">
				<img src="img/mf_unitholdingstatement.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Unit Holding Statement</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="VPR" name="fldMenuCheck_MF11" id="fldMenuCheck_MF11"  />
					
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
		<!-- ko if: txnid === 'OST' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_MF12">
			<span class="info_row_menu_left">
				<img src="img/mf_orderstatus.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Order Status</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="OST" name="fldMenuCheck_MF12" id="fldMenuCheck_MF12"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		</div>
		
		<div class="info_row dark_header" id="otrs"> <div class="info_row2 page_title_carousel">Others</div> 
					<div class="clearfix"></div>
				</div>
				<br/>
		
		
		<div data-bind="foreach: PerLzdmenuListotherCnt">
			<!-- ko if: txnid === 'CAD' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_oth1">
			<span class="info_row_menu_left">
				<img src="img/others_viewcontactdetails.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">View Contact Details</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="CAD" name="fldMenuCheck_oth1" id="fldMenuCheck_oth1"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'CPW' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_oth2">
			<span class="info_row_menu_left">
				<img src="img/others_changepassword.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Change Password</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox" 
 class="styled" value="CPW" name="fldMenuCheck_oth2" id="fldMenuCheck_oth2"  />
						
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		
		</div>
		
			<div class="info_row dark_header" id="alert" style="display:none;"> <div class="info_row2 page_title_carousel">Insta Alerts</div> 
					<div class="clearfix"></div>
				</div>
			<br/>
		
		<div data-bind="foreach: PerLzdmenuListoAlert">
		<!-- ko if: txnid === 'ALT' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Alert1">
			<span class="info_row_menu_left">
				<img src="img/alerts_set.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Manage Alerts - Set</span>
			</label>
			<span class="right_arrow">
				<input type="checkbox"  class="styled" value="ALT" name="fldMenuCheck_Alert1" id="fldMenuCheck_Alert1"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		<!-- ko if: txnid === 'ALM' -->
		<div class="info_row odd">
			<label for="fldMenuCheck_Alert2">
			<span class="info_row_menu_left">
				<img src="img/alerts_edit.png" />
			</span> 
			<span class="info_row_menu_right page_title_carousel clslineht">Manage Alerts -Edit/Delete</span>
			</label>
			<span class="right_arrow">
				
					<input type="checkbox"  class="styled" value="ALM" name="fldMenuCheck_Alert2" id="fldMenuCheck_Alert2"  />
				
		</span>
				<div class="clearfix"></div>
		
		</div>
				
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<!-- /ko -->
		
		</div>
		
		</div>
		 </div>
	

	

	 
	<input type="hidden" name="fldCountMenuItems"  value="{count(//faml//response//menuitem)}" />
	<input type="hidden" name="fldFCDBSessionId" value="{//faml/response//mci//@sessionid}" />


	<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="" />
	<input type="hidden" name="fldTxnId" id="fldTxnId" value="" />
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId">
	<input type="hidden" id="myfavmenu" name="myfavmenu" value="" />
	
</form>
 </div>
</div>


