<style>
.content {
    height: auto;
    overflow: visible;
    padding: 0;
}
.info_row label{width:auto;}
.switch_options{display: block;	font-family: "Helvetica", Arial, Sans-serif;margin: 7px 0;}
.switch_options:before,.switch_options:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;	height:0;}
.switch_options:after{clear:both;}
.switch_options span{display: inline-block;float: left;padding: 5px 10px;margin: 0;cursor: pointer;font-size: 12px;	font-weight: 700;color: #555;border: 1px solid #aaa;text-transform: uppercase;background:#ccc;}
.switch_options span:first-of-type{	border-radius: 2px 0 0 2px;	border-right: 0;}
.switch_options span:last-of-type{border-radius: 0 2px 2px 0;border-left: 0;}
.switch_options span:hover{background: #fafafa;}
.switch_options span.selected{border-color: #0082A3;color: #fff;background:#004a8f;}

</style>
<div class="content" id="wrapper1" style="top:0;padding-top:100px;">            
		
		<div class="info_row">
			<label class="info_row_left page_block_sub" style="font-size:14pt;">SMS linked notifications</label> 			
			<div class="switch_options floatR">
				<span class="switch_enable" id="on">ON</span>
				<span class="switch_disable" id="off">OFF</span>
				<input type="hidden" class="switch_val" value="0"/>
			</div>							
		</div>
	 
</div>
<script>
jQuery(document).ready(function() {

	jQuery('.switch_options').each(function() {

		//This object
		var obj = jQuery(this);

		var enb = obj.children('.switch_enable'); //cache first element, this is equal to ON
		var dsb = obj.children('.switch_disable'); //cache first element, this is equal to OFF
		var input = obj.children('input'); //cache the element where we must set the value
		var input_val = obj.children('input').val(); //cache the element where we must set the value

		/* Check selected */
		//alert(input_val);
		
		if(localStorage.getItem('buttonval')== null){
		   obj.children('.switch_enable').addClass('selected');
		}
		if(localStorage.getItem('buttonval')=="ON"){
		   hdfc_android.setNotification("ON"); 
		    obj.children('.switch_enable').addClass('selected');
		    
		}
		if(localStorage.getItem('buttonval')=="OFF"){
		  hdfc_android.setNotification("OFF"); 
		      obj.children('.switch_disable').addClass('selected');

		}
		
	  
		
		
		//Action on user's click(ON)
		enb.on('click', function(){
		     buttonval=$("#on").html();
			 if(buttonval=="ON"){
			     hdfc_android.setNotification("ON"); 
			  }
			 localStorage.setItem('buttonval',buttonval);
			$(dsb).removeClass('selected'); //remove "selected" from other elements in this object class(OFF)
			$(this).addClass('selected'); //add "selected" to the element which was just clicked in this object class(ON) 
			$(input).val(1).change(); //Finally change the value to 1
		});

		//Action on user's click(OFF)
		dsb.on('click', function(){
		      buttonval=$("#off").html();
			  if(buttonval=="OFF"){
			     hdfc_android.setNotification("OFF"); 
			  }
			 localStorage.setItem('buttonval',buttonval);
			$(enb).removeClass('selected'); //remove "selected" from other elements in this object class(ON)
			$(this).addClass('selected'); //add "selected" to the element which was just clicked in this object class(OFF) 
			$(input).val(0).change(); // //Finally change the value to 0
		});

	});

});


	function notificationaction(){

	}
</script>