<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
     
  <form name="frmrrobu01" id="frmrrobu01"  method="post" data-bind='submit: rrobu01Submit'>
			
			  <br/>
    <div class="sub_content">

   		  <br/>
   		  
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
      
			<div class="info_row"><div class="info_row2">Mutual Fund Account</div> 
				<div class="info_row3">
				 <select name="fldUhid" id="fldUhid" class="page_title_sub styled" data-bind="options: mfaccountList1, optionsText: 'cardNo', optionsValue: 'cardNo' ">
				 </select>
				</div>
			</div>
	
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
      
		  <div class="info_row"><div class="info_row2">Mutual Fund Name</div> 
				<div class="info_row3">
					<select name="fldAmcId" id="fldAmcId" class="page_title_sub styled" data-bind="options: mflist, optionsText: 'amcname', optionsValue: 'amcid' ">
					 
					
				 </select>
				</div>
			</div>
			
			
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
      
			<div class="info_row"><div class="info_row2">Scheme Name</div> 
				<div class="info_row3">
					<input type="text" name="fldFundName" id="fldFundName" value="" size="10"/>
				</div>
			</div>
			
			 <div class="clearfix"></div>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
					<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Search" />
				<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row">
			<p><b>Note:</b></p><br/>
			<p>- W.e.f January 1,2016 any subscription whether fresh, additional investment, or switch shall not be permitted by the AMCs if the KYC status of PAN for Mutual Funds is not updated as "KYC Registered-New KYC".</p><br/>
			<p>- As per regulatory requirement, individual investors and joint holders are required to provide extended KYC details. In absence of the same, transactions may get rejected by AMC/RTA. Joint holders of ISA ( Mutual Fund) accounts may update the same through "Update Extended KYC" option in NetBanking Request section of Accounts tab. Non-individual customers & HUFs may submit extended KYC details to Branches /Relationship manager. In absence of the same, transactions may get rejected by AMC/RTA.</p><br/>
			<p>- Dear Customer, kindly note that IDFC Premier Equity Fund is closed for lump-sum subscription from 26th February, 2010, by the AMC till further notice. Request you to not to enter any fresh lump-sum subscription request for the same. Further, all existing or new SIP/STP will continue to be executed.</p><br/>
			<p>- With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>
			<p>- W.e.f from 1st April 2011, Nomination will be mandatory for all the Mutual Fund investments. In case, if your Mutual Fund investments are without nomination then such transactions may be liable to be rejected by the respective mutual fund houses. Kindly make note of it.</p><br/>
			</div>						
	
	</div>
	
	<input type="hidden" name="fldRequestId" value="RRASH02" />
	<input type="hidden" name="fldTxnId" value="ASH" />	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	
	<input type="hidden" id="fldUhid_txt" name="fldUhid_txt" value="" />
	<input type="hidden" id="fldAmcId_txt" name="fldAmcId_txt" value="" />
	
	<input type="hidden" name="fldfundname1" value="1" />
	<input type="hidden" id="fldFromTxnId" name="fldFromTxnId" value="OBU" />	
	<input type="hidden" id="fldCodTxn" name="fldCodTxn" value="BUY" />
	<input type="hidden" id="fldFundId" name="fldFundId" value="" />
	<input type="hidden" id="fldSelUhid" name="fldSelUhid" value="" />
	<input type="hidden" id="fldAction" name="fldAction" value="" />
	<input type="hidden" id="fldFromTxn" name="fldFromTxn" value="" />
	<input type="hidden" id="fldFundCriteria" name="fldFundCriteria" value="" />
	<input type="hidden" id="fldFundCode" name="fldFundCode" value="" />
	<input type="hidden" id="fldParentForm" name="fldParentForm" value="frmTxn" />
	<input type="hidden" id="fldSubmitForm" name="fldSubmitForm" value="Y" />
	<input type="hidden" id="fldSequenceNext" name="fldSequenceNext" value="02" />
	<input type="hidden" id="fldSequencePrevious" name="fldSequencePrevious" value="01" />
	

	
	</form>
    
  </div>
 
  </div>

