<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  <form name="frmrrobu03" id="frmrrobu03"  method="post" data-bind='submit: rrobu03Submit'>
			
			  <br/>
    <div class="sub_content">

    		
   		<div class="summblock">
    		
			<div class="info_row dark_header"><span class="info_row_left clslineht">Mutual Fund Account</span> 
			<span class="info_row_right clslineht" id="unitholderid">
			
			</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left clslineht">Mutual Fund Name</span> 
				<span class="info_row_right clslineht" id="amcname">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			<div class="info_row even"><span class="info_row_left">Scheme Name</span> 
				<span class="info_row_right clslineht" id="fundname">

				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left" id="unitholderid">Cut-Off Time</span> 
				<span class="info_row_right" id="cutofftime">
				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row even"><span class="info_row_left" >Bank Account No.</span> 
				<span class="info_row_right" id="accountno" >
				</span>
				<div class="clearfix"></div>
			</div> 
			
		
			
			<div class="info_row odd"><span class="info_row_left clslineht" >Investment Amount</span> 
				<span class="info_row_right page_title_sub clslineht" id="amount">
				</span>
				<div class="clearfix"></div>
			</div>
			
		 </div>	
			<br/>
			
			
      
			<div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div> 
				<div class="info_row3">
					<select name="fldAcceptTerms" class="styled" id="fldAcceptTerms">
						 <option value="true">Accept</option>
						 <option value="false">Decline</option>
					 </select>
				</div>
			</div>
			
			 <div class="clearfix"></div>
		      <div class="linedivider"></div>   
		      <div class="clearfix"></div>
			
							<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Submit" />
				<div class="clearfix"></div>
			</div>
			<br/>
			
			<div class="info_row">
			<p>Note:</p><br/>
			<p>Same day NAV would be applicable for transactions done before the cut off time. For transactions received post cut off time applicable NAV would be the next business day. Please refer Terms and Conditions for NAV applicability on Liquid Schemes transactions and all transactions done on Saturday, Sundays and Holidays.</p><br/>
			<p>The ARN holder, being HDFC Bank Limited has disclosed to me/us all the commissions (in the form of trail commission or any other mode), payable to him it for the different competing Schemes of various Mutual Funds from amongst which the Scheme is being recommended to me/us.</p><br/>
			<p>In terms of SEBI circular no. SEBI/IMD/CIR No.4/ 168230/09 dated June 30, 2009, no entry load will be charged by the Scheme to the investor effective August 1, 2009. Upfront commission shall be paid directly by the investor to the AMFI registered Distributors based on the investors' assessment of various factors including the service rendered by the distributor.</p><br/>
			<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>
			</div>
				

	
	</div>
	
	
	<input type="hidden" name="fldTxnId" value="OBU" />	
	<input type="hidden" name="fldScrnSeqNbr" value="04" />
	 <input type="hidden" name="fldOperationId" id="fldOperationId" value="RROBU03" />
	<input type="hidden" id="fldAcceptTerms_txt" name="fldAcceptTerms_txt" value="" />
	
	<input type="hidden" id="fldUhid" name="fldUhid" value="" />	
	<input type="hidden" id="fldFundCode" name="fldFundCode" value="" />
	<input type="hidden" id="fldAmcId" name="fldAmcId" value="" />
	<input type="hidden" id="fldAccount" name="fldAccount" value="" />
	<input type="hidden" id="fldTypeValue" name="fldTypeValue" value="" />
	

	
	</form>
    
  </div>
  </div>
<script type="text/javascript">
$("#frmrrobu03").validate({
	 rules: {
            fldAcceptTerms: {chkvalid: "#fldAcceptTerms"},
        },
        messages: {
           fldAcceptTerms: {
               chkvalid: "Please Accept Terms and Conditions.",
            }
        }
});
</script>
