
     <div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
		<div class="success_msg">
			<p>Transaction successful</p>
			</div>
    	<br/>
    		<div class="summblock">
    		

					
				
				
	   			<div class="info_row dark_header"><span class="info_row_left">Order received on</span> 
				<span class="info_row_right" id="tempdate">
					
				</span>
					<div class="clearfix"></div>
				</div>
				
			
			
			<div class="info_row odd"><span class="info_row_left clslineht">Investment Amount</span> 
				<span class="info_row_right page_title_sub" style="color:#001f79;" id="amount">
				
				</span>
				<div class="clearfix"></div>
			</div>
			
				
				<div class="info_row even"><span class="info_row_left clslineht">Order Reference No</span> 
				<span class="info_row_right" id="txnnumber">
					
				</span>
					<div class="clearfix"></div>
				</div>
   				
   			
   		
    		
    		
			<div class="info_row odd"><span class="info_row_left clslineht">Mutual Fund Account</span> 
			<span class="info_row_right clslineht" id="unitholderid">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row even"><span class="info_row_left clslineht">Mutual Fund Name</span> 
				<span class="info_row_right clslineht" id="amcname">
				</span>
				<div class="clearfix"></div>
			</div> 
			<div class="info_row odd"><span class="info_row_left">Scheme Name</span> 
				<span class="info_row_right clslineht" id="fundname">
				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row even"><span class="info_row_left">Cut-Off Time</span> 
				<span class="info_row_right" id="cutofftime">
				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left">Bank Account No.</span> 
				<span class="info_row_right" id="accountno">
				</span>
				<div class="clearfix"></div>
			</div> 
				
			</div>
	
	</div>
	
	
  </div>

