<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
     
  <form name="frmrrore03" id="frmrrore03"  method="post" data-bind='submit: rrore03Submit'>
    <div class="sub_content">

    		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left clslineht">Mutual Fund Account</span> 
			<span class="info_row_right" id="unitholderid">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left clslineht">Mutual Fund Name</span> 
				<span class="info_row_right clslineht" id="amcname">
				</span>
				<div class="clearfix"></div>
			</div> 
			<div class="info_row even"><span class="info_row_left">Scheme Name</span> 
				<span class="info_row_right clslineht" id="fundname">
				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left">Cut-Off Time</span> 
				<span class="info_row_right" id="cutofftime">
				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row even"><span class="info_row_left">Redemption Type</span> 
				<span class="info_row_right" id="partialfull">
				
				</span>
				<div class="clearfix"></div>
			</div> 
			
	
			
		
		
	    			<div class="info_row odd" id="pamt"><span class="info_row_left clslineht">Amount</span> 
					<span class="info_row_right page_title_sub clslineht" id="selectedamount">
					</span>
					<div class="clearfix"></div>
					</div>
	    		
	   
				<div class="info_row odd" id="punit"><span class="info_row_left clslineht">Units</span> 
				<span class="info_row_right page_title_sub clslineht" id="selectedunits">
				</span>
				<div class="clearfix"></div>
				</div>
		
			</div>
			<br/>
			
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
      
			<div class="info_row"><div class="info_row2">Terms and Conditions (Mandatory)</div> 
				<div class="info_row3">
					<select name="fldAcceptTerms" class="styled" id="fldAcceptTerms">
						 <option value="on">Accept</option>
						 <option value="false">Decline</option>
					 </select>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
      	
						<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Continue" />
				<div class="clearfix"></div>
			</div>				<br/>
			
			<div class="info_row">
			<p>Same day NAV would be applicable for transactions done before the cut off time.</p><br/>
			<p>For transactions received post cut off time applicable NAV would be the next business day.</p><br/>
			<p>Please refer Terms and Conditions for NAV applicability on Liquid Schemes transactions and all transactions done on Saturday, Sundays and Holidays.</p><br/>
			<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>
			</div>	

	
	</div>
	
	
	<input type="hidden" name="fldTxnId" value="ORE" />	
	<input type="hidden" name="fldScrnSeqNbr" value="04" />
	
	<input type="hidden" id="fldAcceptTerms_txt" name="fldAcceptTerms_txt" value="" />
	
	<input type="hidden" id="fldUhid" name="fldUhid" value="" />	
	<input type="hidden" id="fldFundCode" name="fldFundCode" value="" />
	<input type="hidden" id="fldAmcId" name="fldAmcId" value="" />
	<input type="hidden" id="fldAccount" name="fldAccount" value="" />
	<input type="hidden" id="fldPartialFull" name="fldPartialFull" value="" />
	<input type="hidden" id="fldAmount" name="fldAmount" value="" />
	<input type="hidden" id="fldUnits" name="fldUnits" value="" />
	

	
	</form>
    
  </div>
  </div>
<script type="text/javascript">
$("#frmrrore03").validate({
	 rules: {
            fldAcceptTerms: {chkvalid: "#fldAcceptTerms"},
        },
        messages: {
        	fldAcceptTerms: {
               chkvalid: "Please Accept Terms and Conditions.",
            }
        }
});
</script>
