<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
     
  <form name="frmrrore01" id="frmrrore01"  method="post" data-bind='submit: rrore01Submit'>
			
			  <br/>

   		
			
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
      
			<div class="info_row"><div class="info_row2">Mutual Fund Account</div> 
				<div class="info_row3">
				 <select name="fldUhid" id="fldUhid" class="page_title_sub styled" data-bind="options: mfaccountList1, optionsText: 'cardNo', optionsValue: 'cardNo' ">
				 </select>
				</div>
			</div>
			
			<div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
					<br/>
	<div class="info_row alignc">
				<input type="submit" class="button" value="Search" />
				<div class="clearfix"></div>
			</div>			
			<br/>
			
			<div class="info_row">
			<p>Select Mutual Fund Account and click on search to get a list of schemes available for redemption.</p><br/>
			<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>			
			</div>
						

	
	
	
	<input type="hidden" name="fldRequestId" value="RRASH02" />
	<input type="hidden" name="fldTxnId" value="ASH" />	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	
	<input type="hidden" id="fldUhid_txt" name="fldUhid_txt" value="" />
	
	<input type="hidden" id="fldfundname1" name="fldfundname1" value="1" />	
	<input type="hidden" id="fldCodTxn" name="fldCodTxn" value="REDEEM" />
	<input type="hidden" id="fldFundId" name="fldFundId" value="" />
	<input type="hidden" id="fldSelUhid" name="fldSelUhid" value="" />
	<input type="hidden" id="fldFromTxnId" name="fldFromTxnId" value="ORE" />	
	<input type="hidden" id="fldAction" name="fldAction" value="" />
	<input type="hidden" id="fldFromTxn" name="fldFromTxn" value="" />
	<input type="hidden" id="fldFundCriteria" name="fldFundCriteria" value="" />
	<input type="hidden" id="fldFundCode" name="fldFundCode" value="" />
	<input type="hidden" id="fldFundName" name="fldFundName" value="" />
	<input type="hidden" id="fldParentForm" name="fldParentForm" value="frmTxn" />
	<input type="hidden" id="fldSubmitForm" name="fldSubmitForm" value="Y" />
	<input type="hidden" id="fldAmcId" name="fldAmcId" value="" />
	<input type="hidden" id="fldSequenceNext" name="fldSequenceNext" value="02" />
	<input type="hidden" id="fldSequencePrevious" name="fldSequencePrevious" value="01" />
	

	</form>
    
  </div>
  </div>
