<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>

<script type="text/javascript">
function formSubmit()
{
	var objs = document.getElementById('fldUhid');
	document.getElementById('fldUhid_txt').value = objs.options[objs.selectedIndex].innerHTML;
	
	var objs1 = document.getElementById('fldAmcId');
	document.getElementById('fldAmcId_txt').value = objs1.options[objs1.selectedIndex].innerHTML;
	
	//document.getElementById("f1").submit();
}
</script>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
    
           		<div  data-bind="foreach: txnerror,visible:txnerror().length>0"><span data-bind="text:errdesc"></span></div>
        
		 
        <form name="f1" id="f1" method="post" data-bind='submit: rrsip01Submit,visible:!txnerror().length' >
    
			
   		<br/>
   		  
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
      
			<div class="info_row"><div class="info_row2">Mutual Fund Account</div> 
				<div class="info_row3">
					<select name="fldUhid" id="fldUhid" data-bind="options: mfFundList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: mfFromAcctNo, optionsCaption: '-Select-'">
		          
		        </select>
				</div>
			</div>
				
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
	      <div class="info_row"><div class="info_row2">Mutual Fund Name</div> 
				<div class="info_row3">
					<select name="fldAmcId" id="fldAmcId" data-bind="options:mfdetailslist, optionsText: 'displaytxt', optionsValue: 'accountValue', value: mfFromsiType, optionsCaption: 'Select Mutual Funds'">
		          
		        </select>
				</div>
			</div>
				
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
			
			<br/>
			<div class="info_row">Click on Search to Select Scheme Name</div><br/>
			
			<div class="info_row"><div class="info_row2">Scheme Name</div> 
				<div class="info_row3">
					<input type="text" name="fldFundName" id="fldFundName" value="" size="10"/>
				</div>
			</div>
			
			
			
			<div class="alignc"><input type="submit" class="button" value="Search" onclick="formSubmit();"/></div>
			<br/>
			
			<div class="info_row">
			<p>- W.e.f January 1,2016 any subscription whether fresh, additional investment, or switch shall not be permitted by the AMCs if the KYC status of PAN for Mutual Funds is not updated as "KYC Registered-New KYC".</p><br/>
			<p>- As per regulatory requirement, individual investors and joint holders are required to provide extended KYC details. In absence of the same, transactions may get rejected by AMC/RTA. Joint holders of ISA ( Mutual Fund) accounts may update the same through "Update Extended KYC" option in NetBanking Request section of Accounts tab. Non-individual customers & HUFs may submit extended KYC details to Branches /Relationship manager. In absence of the same, transactions may get rejected by AMC/RTA.</p><br/>
			<p>- With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>			
			</div>
						

	
	
	
	<input type="hidden" name="fldRequestId" value="RRASH02" />
	<input type="hidden" name="fldTxnId" value="ASH" />	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	
	<input type="hidden" id="fldUhid_txt" name="fldUhid_txt" value="" />
	<input type="hidden" id="fldAmcId_txt" name="fldAmcId_txt" value="" />
	
	<input type="hidden" id="fldFromTxnId" name="fldFromTxnId" value="SIP" />	
	<input type="hidden" id="fldCodTxn" name="fldCodTxn" value="SIP" />	
	<input type="hidden" id="fldFundId" name="fldFundId" value="" />
	<input type="hidden" id="fldSelUhid" name="fldSelUhid" value="" />
	<input type="hidden" id="fldSequenceNext" name="fldSequenceNext" value="02" />
	<input type="hidden" id="fldSequencePrevious" name="fldSequencePrevious" value="01" />
	<input type="hidden" id="fldAction" name="fldAction" value="" />
	<input type="hidden" id="fldFromTxn" name="fldFromTxn" value="" />
	<input type="hidden" id="fldFundCriteria" name="fldFundCriteria" value="" />
	<input type="hidden" id="fldFundCode" name="fldFundCode" value="" />
	<input type="hidden" id="fldfundname1" name="fldfundname1" value="1" />	
	<input type="hidden" id="fldParentForm" name="fldParentForm" value="frmTxn" />
	<input type="hidden" id="fldSubmitForm" name="fldSubmitForm" value="Y" />	
	
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId"/>
	
	</form>
    </div>
</div>
<script type="text/javascript">
$("#f1").validate({
	rules: {
            fldUhid: "required",
             fldAmcId: "required",
        },
        messages: {
           fldUhid:   "Please Select Mutual Fund Account.",
           fldAmcId:   "Please Select Mutual Fund Name.",
            }
});
</script>