<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>
<style>
.radio {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(img/radio.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}
.radio {
  background: url(img/radio.png) no-repeat;
}
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
    
        
		 
        <div class="success_msg" style="display:none;">
			<p>Transaction successful</p>
		</div>
		<div class="failure_msg"  style="display:none;">
			<p id="msg"></p>
		</div>
	   			
    	<div class="summblock">	
	   			
   			
	   			<div id="ThksDiv" style="display:none;">
	   			
					
	   			<div class="info_row dark_header"><span class="info_row_left">Order received on</span> 
				<span class="info_row_right" id="tempdate">
					
				</span>
					<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd"><span class="info_row_left">Order Reference No.</span> 
				<span class="info_row_right" style="word-wrap: break-word;" id="txnnumber">
					
				</span>
					<div class="clearfix"></div>
				</div>
   				</div>
   			
   			
   			
    		
    		
			<div class="info_row even"><span class="info_row_left clslineht">Mutual Fund Account</span> 
			<span class="info_row_right" id="unitholderid">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left">AMC Name</span> 
				<span class="info_row_right" id="amcname">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			<div class="info_row even"><span class="info_row_left">Scheme Name</span> 
				<span class="info_row_right clslineht" id="fundname">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left">Txn Type</span> 
				<span class="info_row_right" id="selsitype">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			
					<div class="info_row even" id="AMT" style="display:none;"><span class="info_row_left">SI Amount</span> 
						<span class="info_row_right" id="AMTV">
							
						</span>
						<div class="clearfix"></div>
					</div> 
				
					<div class="info_row even" id="NAMT" style="display:none;"><span class="info_row_left">SI Units</span> 
						<span class="info_row_right page_title_sub" id="NAMTV">
							
						</span>
						<div class="clearfix"></div>
					</div> 
				
			<div class="info_row odd"><span class="info_row_left">Bank Account No.</span> 
				<span class="info_row_right" id="accountno">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			
		</div>	
	
		<br/>
		<div class="info_row">
			<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>			
			</div>
    </div>
</div>
