<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>
<script type="text/javascript">
/* <![CDATA[ */

function trim(text) {
    return text.replace(/^\s+|\s+$/g, "");
}

function callFreqDetails()
{
//alert('inside');
	var ob = document.getElementById('fldFrequency');
	var freqsel = ob.options[ob.selectedIndex].value;
	var lenfreq = document.getElementById('fldFrequency').options.length;
	var arrfreq = freqsel.split('#');
	
	// days hidden variable
	var selectdaysobj = document.getElementById("fldSiDay");
	//selectdaysobj.options.length = 1;
		
	var hid_days = document.getElementById('hid_strdays').value;
	
	for(i=0;i<lenfreq;i++){
		var tmpfr = document.getElementById('fldFrequency').options[i].value;
		
		var nmval = tmpfr.split('#');
		
		if(nmval[0] == arrfreq[0]){
			var hidfreqvari = "hid_freq_"+nmval[0];
			var hidfreqdate = "hid_freqdate_"+nmval[0];
			
			var selectedfreq = document.getElementById(hidfreqvari).value;
			var freqdtlist = document.getElementById(hidfreqdate).value;
			
			var arrfreqselval = selectedfreq.split('###');
			var arrfreqdtval = freqdtlist.split('###');
			
			document.getElementById('freqminamt').innerHTML = arrfreqselval[1];
			document.getElementById('freqminsi').innerHTML = arrfreqselval[2];
			document.getElementById('freqminuni').innerHTML = arrfreqselval[3];
			document.getElementById('strfreqnm').innerHTML = arrfreqselval[0];
			
			document.getElementById('fldMinAmount').value = arrfreqselval[1];
			document.getElementById('fldNoofsi').value = arrfreqselval[2];
			document.getElementById('fldMinUnit').value = arrfreqselval[3];
			
			var selectobj = document.getElementById("fldSiDate");
			selectobj.options.length = 1;

			for(m=0;m<arrfreqdtval.length;m++) {
				if(trim(arrfreqdtval[m]) != ''){
			    selectobj.options[selectobj.options.length] = new Option(trim(arrfreqdtval[m]), trim(arrfreqdtval[m]));	
			    }		   
			}
			
			
			//document.getElementById('selectfldSiDate').innerHTML = arrfreqdtval[0];			
		}			
	}
	
	if(arrfreq[1] != 'Monthly' && arrfreq[1] != 'Fortnightly' && arrfreq[1] != 'Quarterly'){
		
		var arrstrdays = hid_days.split('|||');
		var tmpselstr = '';
		
		for(g=0;g < arrstrdays.length-1;g++) {
				arrvalstrdays = arrstrdays[g].split('###');
				
				if(g == 0)
					tmpselstr = arrvalstrdays[1];					
				
				selectdaysobj.options[selectdaysobj.options.length] = new Option(trim(arrvalstrdays[1]), trim(arrvalstrdays[0]));			   	
		}	

		//document.getElementById('selectfldSiDay').innerHTML = tmpselstr;	
	}
var freqname=$("#fldFrequency option:selected").text();
	if (freqname == 'Monthly' || freqname == 'Fortnightly' || freqname == 'Quarterly') {
$('#fldSiDay').val('');
                    $('#fldSiDay').attr('disabled', 'disabled');
               
	}
	 else if(freqname =='Weekly' )
             {       $('#fldSiDay').removeAttr('disabled');}
             else{
             
             $('#fldSiDay').val('');
                    $('#fldSiDay').attr('disabled', 'disabled');
             }
	
}

/* ]]> */
function formSubmit(reqid, seqno)
{
	var objs = document.getElementById('fldSiDay');
	document.getElementById('fldSiDay_txt').value = objs.options[objs.selectedIndex].innerHTML;
	
	var objs1 = document.getElementById('fldSiDate');
	document.getElementById('fldSiDate_txt').value = objs1.options[objs1.selectedIndex].innerHTML;
	
	document.getElementById('fldRequestId').value = reqid;
	document.getElementById('fldScrnSeqNbr').value = seqno;
	

	//document.getElementById("f1").submit();
}
</script>
<style>
.styled-select select {
   background: transparent;
   width: 450px;
   
   font-size: 18pt;
   border: 1px solid #fff;
   height: 37px;
   line-height:37px;
}

.styled-select {  
   width:97%;
   background-position: 95% 50%;
   height: 35px;
   line-height:37px;
   overflow: hidden;
   background: url(img/DropD_btn.png) no-repeat right #fff;
}
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
    
        
		 
    <div id="fndinfo" style="display:none;">
			
		 <form name="f1" id="f1"  method="post" data-bind='submit: rrstp02Submit'>
			 
			<div class="info_row even"> <span class="info_row_left clslineht">Mutual Fund Account</span> <span class="info_row_right clslineht" id="unitholderid1">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left clslineht">Mutual Fund Name</span> <span class="info_row_right clslineht" id="amcname1">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"> <span class="info_row_left clslineht">Scheme Name</span> <span class="info_row_right clslineht" id="fundname1">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left">NAV</span> <span class="info_row_right clslineht" id="navandnavdate">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"> <span class="info_row_left">Cut-Off Time</span> <span class="info_row_right" id="cutofftime">
			
				 </span>
				<div class="clearfix"></div>
			</div>
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"> <div class="info_row2">Frequency name</div> <div class="info_row3" id="pfreq">
				<select name="fldFrequency" id="fldFrequency" data-bind="options: mfFundList1, optionsText: 'displaytxt', optionsValue: 'accountValue', value: mfFromAcctNo, optionsCaption: '-Select Si Frequency-'">
		          
		        </select>
				 </div>
				<div class="clearfix"></div>
			</div>
			<div data-bind="foreach: mfFundList1">
				<input type="hidden"  data-bind="attr: { id: 'hid_freq_' + freqid, name: 'hid_freq_' + freqid  }, value:freqname+'###'+minsitxnamt+'###'+noofsi+'###'+minsitxnunits  " >
					
				</input>
				<!-- ko if: $data.date -->
				<input type="hidden" data-bind="attr: { id: 'hid_freqdate_' + freqid, name: 'hid_freqdate_' + freqid  },  value: createDateValue(date)  " />
				 <!-- /ko -->		
				<!-- ko if: !$data.date -->
				<input type="hidden" data-bind="attr: { id: 'hid_freqdate_' + freqid, name: 'hid_freqdate_' + freqid  },  value: ''  " />
				 <!-- /ko -->	
				
			</div>
			
			<input type="hidden" id="hid_strdays" name="hid_strdays" />
			<!--Based on the above value below values are displayed -->
			<div class="info_row odd"><span class="info_row_left clslineht">Minimum Amount</span> 
				<span class="info_row_right" id="freqminamt"  name="freqminamt">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			<input type="hidden" name="fldMinAmount" id="fldMinAmount" value="" />
			
			<div class="info_row even"><span class="info_row_left clslineht">Minimum Number of SI</span> 
				<span class="info_row_right" id="freqminsi" name="freqminsi">
					
				</span>
				<div class="clearfix"></div>
			</div> 
			<input type="hidden" name="fldNoofsi" id="fldNoofsi" value="" />
			
			<div class="info_row odd"><span class="info_row_left clslineht">Minimum Units</span> 
				<span class="info_row_right" id="freqminuni" >
					
				</span>
				<div class="clearfix"></div>
			</div> 
			<input type="hidden" name="fldMinUnit" id="fldMinUnit" value="" />
			
			<div class="info_row even"> <span class="info_row_left clslineht">Current Holding Value</span> <span class="info_row_right clslineht" id="currentholdingamt">
						
						 </span>
						<div class="clearfix"></div>
					</div>
			<!--based on the frequecy selected -->
			<div class="info_row odd"> <span class="info_row_left">Frequency</span> <span class="info_row_right"  id="strfreqnm">

				 </span>
				<div class="clearfix"></div>
			</div>
			
			
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"><div class="info_row2">Days</div> 
				<div class="info_row3">
					
					<select name="fldSiDay" id="fldSiDay" class="styled">
			           <option value=""  selected="true" >-Select day-</option>
			        </select>
					
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"><div class="info_row2">Date</div> 
				<div class="info_row3">
				<!--  <div class="styled-select"> -->
					<select name="fldSiDate" id="fldSiDate" class="styled" >
			           <option value=""  selected="true" >-Select date-</option>
			        </select>
				<!--  </div> -->
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"> <div class="info_row2">No. of Installment</div> <div class="info_row3">
				<input type="text" name="fldNoOfInstallment" id="fldNoOfInstallment" value="" />
				 </div>
				<div class="clearfix"></div>
			</div>
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"> <div class="info_row2">Amount</div> <div class="info_row3">
				<input type="text" name="fldAmount" id="fldAmount" value="" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />
				 </div>
				<div class="clearfix"></div>
			</div>
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			
			<div class="info_row"> <div class="info_row2">Units</div> <div class="info_row3">
				<input type="text" name="fldUnits" id="fldUnits" value="" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				 </div>
				<div class="clearfix"></div>
			</div>
			
			<br/>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			
			<div class="info_row"> <div class="info_row2">Scheme Name</div> <div class="info_row3">
				<input type="text" name="fldToFundName" id="fldToFundName" value="" />
				 </div>
				<div class="clearfix"></div>
			</div>	
			
		   <div class="clearfix20"></div>
		   <div class="info_row">
		   <input type="submit" class="button" value="Search" id="Search">&#160;<input type="submit" class="button" value="Continue" id="Continue">
		   </div> 
			 
	
			 
			<br/>			 
			<div class="info_row">
			<p>To avoid transaction rejection, enter Amount less than or equal to Current Mutual Fund holdings.</p>
			<br/>
			<p>Same day NAV would be applicable for transactions done before the cut off time.</p><br/>
			<p>For transactions received post cut off time applicable NAV would be the next business day.</p><br/>
			<p>Please refer Terms and Conditions for NAV applicability on Liquid Schemes transactions and all transactions done on Saturday, Sundays and Holidays.</p><br/>
			<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the lnvestment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p>
			</div>

			<input type="hidden" name="screenSelectionTemp" value="done" id="screenSelectionTemp"/>
			<input type="hidden" name="fldTemp1" value="1" id="fldTemp1">
			<input type="hidden" name="fldfundname2" value="" id="fldfundname2"/> 
			<input type="hidden" name="fldfundcode2" value="" id="fldfundcode2"/>
			<input type="hidden" name="fldUhid" value="" id="fldUhid"/>
			<input type="hidden" name="fldFromFundCode" value="" id="fldFromFundCode"/>	
			<input type="hidden" name="fldParentForm" value="frmOrderSwitch" />
			<input type="hidden" name="fldSubmitForm" value="N" />
			<input type="hidden" name="fldAmcId" value="" id="fldAmcId"/>
			<input type="hidden" name="fldToFundCode" id="fldToFundCode" value="" />
			<input type="hidden" name="fldStartDate" value="20/10/2080" />
			<input type="hidden" name="fldEndDate" value="20/10/2090" />
			<input type="hidden" name="fldFromTxnId" value="STP" />
			<input type="hidden" name="fldCodTxn" value="STI" />
			<input type="hidden" name="fldfundname1" value="1" />	
			<input type="hidden" name="fldSequenceNext" value="04" />
			<input type="hidden" name="fldSequencePrevious" value="02" />
			<input type="hidden" name="fldSiDay_txt" id="fldSiDay_txt" value=""/>
			<input type="hidden" name="fldSiDate_txt" id="fldSiDate_txt" value=""/>
				<input type="hidden" name="fldFundCode" id="fldFundCode" value=""/>
				<input type="hidden" name="fldFundName" id="fldFundName" value=""/>
				<input type="hidden" name="fldAccount" id="fldAccount" value=""/>
			 
			
			<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
				<input type="hidden" name="fldTxnId" id="fldTxnId" value="STP" />

				<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="02" />
			  
			  <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
			
			 </form>
		</div>
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {

$('#pfreq select[name="fldFrequency"]').change(function(e) {
   	callFreqDetails();
  });

  //callFreqDetails();
});
function createDateValue(dates) {
//return dates.join("###");

if(typeof(dates)=="string"){
 return dates+"###";
 //return dates.split(",").join("###");
}
else{
   return dates.join("###");
}
}

</script>

<script type="text/javascript">
$("#f1").validate({
	rules: {
		//fldAmount: "required",		
	},
	messages: {
		//fldAmount: "Enter Amount",				
	}
});



var clkBtn = "";
$('input[type="submit"]').click(function(evt) {
  clkBtn = evt.target.id;
});

</script>