<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>




<style>
.styled-select select {
   background: transparent;
   width: 450px;
   
   font-size: 18pt;
   border: 1px solid #fff;
   height: 37px;
   line-height:37px;
}

.styled-select {  
   width:97%;
   background-position: 95% 50%;
   height: 35px;
   line-height:37px;
   overflow: hidden;
   background: url(img/DropD_btn.png) no-repeat right #fff;
}
</style>
<script type="text/javascript">
function formSubmit()
{
	var objs = document.getElementById('fldAcceptTerms');
	document.getElementById('fldAcceptTerms_txt').value = objs.options[objs.selectedIndex].innerHTML;
	//document.getElementById("f1").submit();
}
</script>
<div id="wrapper" style="top:96px; padding-bottom:110px;">

<div data-bind="foreach: txnerror,visible:txnerror().length>0">
			<div class="info_row" data-bind="text: errdesc"></div>
		</div>
  <div class="content" data-bind='visible:!txnerror().length'>
  			<form name="f1" id="f1" method="post" data-bind='submit: rrswp04Submit'>
			
			 <div class="summblock">
			<div class="info_row dark_header"> <span class="info_row_left clslineht">Mutual Fund Account</span> <span class="info_row_right" id="unitholderid">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			
							<div class="info_row odd" id="PTFP" style="display:none;"> <span class="info_row_left">Amount</span> <span class="info_row_right page_title_sub" id="selectedamount">
								
								 </span>
								<div class="clearfix"></div>
							</div>
						
							<div class="info_row odd"  id="NPTFP" style="display:none;"> <span class="info_row_left">Units</span> <span class="info_row_right" id="selectedunits">
								  
								 </span>
								<div class="clearfix"></div>
							</div>
			
					<div class="info_row odd" id="NPTFPELSE" style="display:none;"> <span class="info_row_left">Units</span> <span class="info_row_right">
						 
						 </span>
						<div class="clearfix"></div>
					</div>
				
				
			<div class="info_row even"> <span class="info_row_left clslineht">Mutual Fund Name</span> <span class="info_row_right" id="amcname">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left">Scheme Name</span> <span class="info_row_right clslineht" id="fundname">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"> <span class="info_row_left clslineht">Cut-Off Time</span> <span class="info_row_right" id="cutofftime">
				
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left clslineht">Frequency name</span> <span class="info_row_right" id="sifrequency">
		       
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"> <span class="info_row_left">Days</span> <span class="info_row_right" id="day">
		          
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left">Date</span> <span class="info_row_right" id="date">
		        
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"> <span class="info_row_left clslineht">No. of Installment</span> <span class="info_row_right" id="installments">
		          
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left clslineht">Start date <br/>(dd/mm/yyyy)</span> <span class="info_row_right" id="startdate">
		        
				 </span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row even"> <span class="info_row_left clslineht">End date <br/>(dd/mm/yyyy)</span> <span class="info_row_right" id="enddate">
		        
				 </span>
				<div class="clearfix"></div>
			</div>
			
			
				<div class="info_row odd"> <span class="info_row_left clslineht">Default Bank A/C No.</span> <span class="info_row_right" id="accountno">
				  
				 </span>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="info_row"> <div class="info_row2">Terms and Conditions (Mandatory)</div> <div class="info_row3">
					<select name="fldAcceptTerms" id="fldAcceptTerms" class="styled">
					<option value="true">Accept</option>
					<option value="false">Decline</option>
					</select>
					 </div>
					<div class="clearfix"></div>
				</div>
			<div class="info_row alignc"><input type="submit" class="button" value="Continue"/>
				<div class="clearfix"></div>
			  </div>

			<input type="hidden" name="fldUhid" id="fldUhid" value="" />
			<input type="hidden" name="fldAccount" id="fldAccount" value="" />
			<input type="hidden" name="fldFundCode" id="fldFundCode" value="" />
			<input type="hidden" name="fldAmcId" id="fldAmcId" value="" />
			<input type="hidden" name="fldPartialFull" id="fldPartialFull" value="" />
			<input type="hidden" name="fldAmount" id="fldAmount" value="" />
			<input type="hidden" name="fldUnits" id="fldUnits" value="" />
			<input type="hidden" name="fldSiDay" id="fldSiDay" value="" />
			<input type="hidden" name="fldSiDate" id="fldSiDate" value="" />
			<input type="hidden" name="fldFrequency" id="fldFrequency" value="" />
			<input type="hidden" name="fldNoOfInstallment" id="fldNoOfInstallment" value="" />
			<input type="hidden" name="fldStartDate" id="fldStartDate" value="" />
			<input type="hidden" name="fldEndDate" id="fldEndDate" value="" />
			
			
			<input type="hidden" name="fldRequestId" id="fldRequestId" value="RRSWP08" />
				<input type="hidden" name="fldTxnId" id="fldTxnId" value="SWP" />

				<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="08" />
				
				<input type="hidden" name="fldAcceptTerms_txt" id="fldAcceptTerms_txt" value="" />
			  
			  <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
			
			 </form>
		<div class="info_row"><p>Same day NAV would be applicable for transactions done before the cut off time.</p>
		<br/>
		<p>For transactions received post cut off time applicable NAV would be the next business day.</p>
		<br/>
		<p>Please refer Terms and Conditions for NAV applicability on Liquid Schemes transactions and all transactions done on Saturday, Sundays and Holidays.</p>
		<br/>
		<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p>
		</div>
		 
       
    </div>
</div>
<script type="text/javascript">
$("#f1").validate({
	 rules: {
            fldAcceptTerms: {chkvalid: "#fldAcceptTerms"},
        },
        messages: {
           fldAcceptTerms: {
               chkvalid: "Please Accept Terms and Conditions.",
            }
        }
});
</script>