<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>


<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
			<p  data-bind="foreach: txnerror,visible:txnerror().length>0"><span data-bind="text:errdesc"></span></p>
		
		 <form name="f1" id="f1" method="post" data-bind='submit: rrswp01Submit'>
			
			  <br/>
			  <div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			<div class="info_row"> <div class="info_row2">Mutual Fund Account</div> <div class="info_row3">
				<select name="fldUhid" id="fldUhid" data-bind="options: mfFundList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: mfFromAcctNo, optionsCaption: '-Select-'">
		          
		        </select>
				 </div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			<div class="info_row alignc"><input type="submit" class="button" value="Search" /></a>
				<div class="clearfix"></div>
			  </div>
				
			
			<input type="hidden" name="fldfundname1" value="1" />
			<input type="hidden" name="fldCodTxn" value="SWP" />
			<input type="hidden" name="fldFundId" value="" />
			<input type="hidden" name="fldSelUhid" value="" />
			<input type="hidden" name="fldFromTxnId" value="SWP" />
			<input type="hidden" name="fldAction" value="" />
			<input type="hidden" name="fldFromTxn" value="" />
			<input type="hidden" name="fldFundCriteria" value="" />
			<input type="hidden" name="fldFundCode" value="" />
			<input type="hidden" name="fldFundName" value="" />
			<input type="hidden" name="fldParentForm" value="frmTxn" />
			<input type="hidden" name="fldSubmitForm" value="Y" />
			<input type="hidden" name="fldAmcId" value="" />
			<input type="hidden" name="fldSequenceNext" value="02" />
			<input type="hidden" name="fldSequencePrevious" value="01" />
			<input type="hidden" name="fldFromFundCode" value="" />
			
			
			<input type="hidden" name="fldRequestId" id="fldRequestId" value="RRASH02" />
				<input type="hidden" name="fldTxnId" id="fldTxnId" value="ASH" />

			  
			  <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
					
			
			 </form>
			 
			<div class="info_row">
			    <p>Select Mutual Fund Account and click on search to get a list of schemes available for withdrawal.</p>
				<br/>
				<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p>
			</div>
        
		 
       
    </div>
</div>
<script type="text/javascript">
$("#f1").validate({
	rules: {
            fldUhid: "required",
        },
        messages: {
           fldUhid:   "Please Select Mutual Fund Account.",
            }
});
</script>