<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>



<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
    
        
		 
   
   			<div id="histcont" style="display:none;">
   			
    		<div class="summblock" data-bind="foreach: txnhistorylist" >
    		
    		<div class="info_row dark_header"><span class="info_row_left">Transaction Date</span> 
			<span class="info_row_right" data-bind="text:txndate">	</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left clslineht">Mutual Fund Name</span> 
			<span class="info_row_right clslineht" data-bind="text:amcname">		</span>
				<div class="clearfix"></div>
			</div>
			 <!-- ko if: ordertype === 'Switch' -->
			
						<div class="info_row even"><span class="info_row_left">Scheme Name</span> 
						<span class="info_row_right clslineht" data-bind="text:tofundid"></span>
							<div class="clearfix"></div>
						</div>
						<div class="info_row odd"><span class="info_row_left">Switch From</span> 
						<span class="info_row_right"  data-bind="text:fundname"> </span>
							<div class="clearfix"></div>
						</div>
				<!-- /ko -->
				 <!-- ko if: ordertype !== 'Switch' -->
						<div class="info_row even"><span class="info_row_left">Scheme Name</span> 
						<span class="info_row_right clslineht"  data-bind="text:fundname"> <xsl:value-of select="fundname" /></span>
							<div class="clearfix"></div>
						</div>
						<div class="info_row odd"><span class="info_row_left">Switch From</span> 
						<span class="info_row_right"  data-bind="text:tofundid"> </span>
							<div class="clearfix"></div>
						</div>
				<!-- /ko -->
			
			
			
			<div class="info_row even"><span class="info_row_left">Transaction Type</span> 
			<span class="info_row_right"  data-bind="text:txntype">					</span>
				<div class="clearfix"></div>
			</div> 
			
		
			
			<div class="info_row odd"><span class="info_row_left">Transaction Units</span> 
			<span class="info_row_right" data-bind="text:affectedunits"></span>
				<div class="clearfix"></div>
			</div> 
			
			
			
			<div class="info_row even"><span class="info_row_left">Transaction NAV</span> 
			<span class="info_row_right clslineht" data-bind="text:txnnav"></span>
				<div class="clearfix"></div>
			</div> 
		
			
			<div class="info_row odd"><span class="info_row_left clslineht">Transaction Amount</span> 
			<span class="info_row_right page_title_sub" data-bind="text:txnccyamount"></span>
				<div class="clearfix"></div>
			</div>
				
			</div>		
			
			<br/>
			</div>
    		
			
						
		
		<div id="txnNotAvl" style="display:none;">
		<br/>
		<div class="info_row"><p>Transaction activity details not available.</p></div>
		
		</div>
		<br/>
		<div class="info_row">
			<p>With effect from 1st January 2011, any investor (all applicants in a folio) investing into mutual funds through the Investment Services Account would be required to be KYC compliant with CVL without which the transactions may be liable to be rejected by the respective mutual fund houses.</p><br/>			
		</div>
		
    </div>
</div>
