
<style >

.info_row { display:table; width:100%; }
.linedivider { border:0 none; }
</style>
<script src="js/common.js">
  </script>
<div id="wrapper" class="menu" style="top:96px;">
<div class="info_row" id="accExitsMsg" style="padding-top:8px;display:none;"><p>Beneficiary not available.</p></div>	  

	<div class="autoslide-slider3" id="block" data-bind="visible: mfSlider">
    <div class = 'slider' data-bind="foreach: mfaccountList">      
      
      <div class="item" data-bind="attr:{id: strid}"> <span class="rotating-item swipe" > <a data-bind="click: $root.mfaccountStmtDetails">
        <div class="info_row4 alignc" style="margin:28px 0 0 0;font-size:11pt;color:#7f7f7f;" >Mutual Fund Account No</div>
        <div class="info_row4 page_block_sub alignc" style="margin:5px 0 0 0;color:#000;" data-bind="text: codacctno"></div>
        <div class="redBlueLine">
          <div style="float:left;height: 2px;width: 20%;background-color:#ed1c24;"> </div>
          <div style="float:left;height: 2px;width: 80%;background-color:#004a8f;"> </div>
        </div>
        <div class="info_row4 alignc" style="margin:5px 0 0 0;font-size:11pt; color:#7f7f7f">Holding Value</div>
        <div class="info_row4 page_block_sub alignc" style="margin:8px 0 0 0;" data-bind="text:'Rs. '+acctbalance"></div>
        </a> </span> 
        </div>        
    </div>
    <div class = 'prev unselectable'></div>
    <div class = 'next'></div>
  </div>

  <div class="sub_content">
	<br/>
	
	<div class="info_row odd dark_header">
		<span class="info_row_left page_title_carousel">Transact</span>
		<span class="info_row_right"></span>
		<div class="clearfix"></div>
	</div>
	<br/>
	
	<a href="#rripb01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_newfundoffer.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">New Fund Offer</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrobu01" >
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_purchase.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Purchase</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
	<a href="#rrore01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_redeem.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Redeem</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
	<a href="#rrosw01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_switch.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Switch</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
	<a href="#rrsip01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_sip.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Systematic Investment</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
	<a href="#rrsrp01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_siorderstatusrevocation.png" /></span> 
		<span class="info_row_menu_right page_title_carousel clslineht23">SI Order Status / Revocation</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrswp01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_sipwithdrawal.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Systematic Withdrawal</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>

	<a href="#rrstp01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_siptransfer.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Systematic Transfer</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	
	<div class="info_row odd dark_header">
		<span class="info_row_left page_title_carousel">Enquiry</span>
		<span class="info_row_right"></span>
		<div class="clearfix"></div>
	</div>
	<br/>
	    
	<a href="#mfaccountSummary" >
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_acctsummary.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Account Summary</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrtxa01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_transactionhistory.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Transaction History</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
			    
	<a href="#rrvpr01" >
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_unitholdingstatement.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Unit Holding Statement</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
   
    <a href="#rrost01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/mf_orderstatus.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Order Status</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
		
	</div>
	
	
		</div>
<script>
$(document).ready(function($) {
	var  conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}	
    console.log('CP on mobile banner account summart '+bannerHeight);	
	if(cpBanner.indexOf("No banner") > -1 == false){		
	   if(cpBanner=='' && cpbannerclose7!='adcloseMF'){
				loadXMLDoc();
				setTimeout(function(){
				       
						if (navigator.onLine && cpBanner!='') {
						  $('.ad_banner').show();
				          $('#cpCnt').html(cpBanner);	
						} else {
						  $('.ad_banner').hide();
						}
						var menu = $(".menu");
						var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}
						menu.animate({top: bannerHeight + 'px'},2000);
					
				},2000);
		}
		if(cpBanner!='' && cpbannerclose7!='adcloseMF'){
		//alert("gghjtgiytkk");
			setTimeout(function(){
		        var menu = $(".menu");					
				
				  
						if (navigator.onLine && cpBanner!='' && cbannerForMF!="") {
						  $('.ad_banner').show();
			              $('#cpCnt').html(cbannerForMF);		
						} else if(cbannerForMF!=""){
							$('.ad_banner').show();
			              $('#cpCnt').html(cbannerForMF);	
						}else {
						  $('.ad_banner').hide();
						}
				var conveniancecount = $("div[id*='bannerHtml']").length;if(conveniancecount > 1){bannerHeight = $('#bannerHtml').height()+100;}else{bannerHeight = $('#bannerHtml').height()+100;}				
				menu.animate({top: bannerHeight + 'px'},2000);
			},2000);
		}
		if( cpbannerclose7=="adcloseMF"){		 
			$('.ad_banner').hide();
			var menu = $(".menu");
			menu.animate({top: '96px'},2000);
		}
		
	}	
});    
</script>
