<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <div class="info_row odd" id="accExitsMsg" style="display:none;">
	<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
		<span class="info_row_menu_right clslineht errmsg" style="width:72%;">
			
		</span> 
  </div>
  
  <form class="custStyleInput" name="frmcpq01" id="frmcpq01" method="post" >
   <div data-bind="visible: accSlider">
   
   <div class="info_row"><p>Answer five secret questions of your choice.</p>
    <br/>
	<p>- Select five different questions of your choice and answer them accordingly. These questions will be randomly shown to you in order to confirm your identity during select Third Party Funds Transfers.</p>
	<br/>
	<p>- When the questions are shown, you will be able to proceed ahead and transact only if you answer them correctly.
	Thus, anyone illegally using your account will be unable to proceed. Please memorise your answers and remember their exact spellings. Do not write them down anywhere or share the same with anyone.</p>
	<br/>
	<p>-Please note that you will not be asked these questions for each and every TPT transaction.</p>
	</div>

		
		<div data-bind="foreach: cpqQuesList">
		<div class="info_row"><div class="info_row2" data-bind="text: queslabel"></div> <div class="info_row3">
			<select data-bind="attr: { id: cmbQuesid, name: cmbQuesid }, options: fromAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-' ">
				
			</select>
		</div>
		</div>
		
		<div class="info_row"><div class="info_row3">
			<input data-bind="attr: { id: inpAnsid, name: inpAnsid }" value="" type="text" />
		</div>
		</div>
		  
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
		</div>
		<br/>
		<div class="info_row"><p>Please do not write down the Secure Access Questions. They are designed to have unique answers that you, and only you would remember.</p>
		<br/>
		<p>Do not share the Secure Access Questions with anyone. The Bank or its employees, will NEVER ask for these through Netbanking or through Email or telephone.</p>
		</div>
		
	   <div class="clearfix20"></div>
	   <div class="info_row2">
	    <input type="submit" class="button" value="Continue" >
	   </div>
		
  	<input type="hidden" name="fldOperationId" id="fldOperationId" value="RRCPQ02" />
   
   
   </div>
   </form>

  </div>
</div>

<script type="text/javascript">
$("#frmtpt03").validate({
	rules: {
		fldFromAcctNo: "required",
		fldToAcctNo: "required",
		fldTxnAmount: "required",
	},
	messages: {
		fldFromAcctNo: "Select From Account",
		fldToAcctNo: "Select To Account",
		fldTxnAmount: "Enter Amount",
	}
});

</script>