
<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<div class="info_row rcErrorMsg" style="display:none;"></div>
  		<div class="info_row rsaTxnStatus" style="display:none;">
  			<p></p>
  		</div>
  		<div class="info_row rsaAuthFailure" style="display:none;">
  			<p>Sorry!</p><br/>
  			<p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
  			
  		</div>
  		
  		<div class="info_row rsaOOBErr" style="display:none;">
  			<p>We are unable to carry out your transaction. Please try again later.</p>
  			
  		</div>
		
		<div id="p2a03success" style="display:none;">
		
		<div class="info_row"><p><img src="img/icon_ok.png" align="absmiddle" /><label for="lbllisaync" id="lbllisaync" style="position: absolute;
left: 60px;
top: 9px;">
			Your request for
			IMPS transaction of Rs
			<span class="page_title_sub clsamttxn" style="word-wrap: break-word;"></span>
			has been
			accepted.
		</label></p></div>
		<br/>
										
		<div class="info_row" style="margin-top: 17px;"><label for="lbllisaync" id="lbllisaync">
			Request you to check the status of your transaction in "View IMPS Funds Transfer".
		</label></div>
		<br/>

		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">Reference No.</span> 
			<span class="info_row_right clslineht" id="referenceno">
				
			</span>
			<div class="clearfix"></div>
			</div>
    	
			<div class="info_row odd"><span class="info_row_left">Beneficiary mobile number</span> 
				<span class="info_row_right page_title_sub" id="benefmobno">
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left clslineht">Beneficiary MMID</span> 
			<span class="info_row_right clslineht" id="benefmmid">
				
			</span>
			<div class="clearfix"></div>
			</div>

    		<div class="info_row odd"><span class="info_row_left">From Account</span> 
			<span class="info_row_right clslineht" id="fromacct">
				
			</span>
			<div class="clearfix"></div>
			</div>
    		
			
			<div class="info_row even"><span class="info_row_left">Amount</span> 
			<span class="info_row_right clslineht" id="amttxn">
				
			</span>
			<div class="clearfix"></div>
			</div>			
			
			<div class="info_row odd"><span class="info_row_left">Remarks</span> 
				<span class="info_row_right clslineht" id="remark"></span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="clearfix"></div>
			</div>
		</div>
	
		<div class="clearfix20"></div>
	
	
		
    
		
	</div>
    <!-- Start section search_box -->
  </div>
  <!-- End content_container -->


	
									
									
	

