<style>
input, textarea, select {
    
    width: 96%;
}
input[type=button] {display:table-cell; width: 150px;

margin: auto;
display: table;}
input[type=submit] {display:table-cell; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<form  name="frmmpe02" id="frmmpe02" method="post" data-bind='submit: mpe02Pagesubmit'>
   	<div class="summblock">
    		<div class="info_row dark_header"><span class="info_row_left">Merchant Name</span> 
			<span class="info_row_right clslineht" id="fldToAcctNo1_txt">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			
			<div class="info_row odd"><span class="info_row_left">Debit Account</span> 
			<span class="info_row_right clslineht" id="fldFromAcctNo1_txt">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Dealer Code</span> 
			<span class="info_row_right" id="fldToAcctNo1">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row" >
				<div class="info_row2">Payment Amount</div>
				<div class="info_row3">
				  <input id="fldAmtTxn" name="fldAmtTxn" type="text" value="" size="8" class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>     	
				</div> 
				<div class="clearfix"></div>
			  </div>
			  
			<div class="info_row"  >
				<div class="info_row2">Remark</div>
				<div class="info_row3">
				  <input id="fldUserReference" name="fldUserReference" type="text" value="" size="8" class="rs_fld"  style="font-size:14px;"/>     	
				</div> 
				
			  </div>
			<br/><br/>
			</div>
			<div class="clearfix20"></div>
    	 <div style="width:100%;">
		
				<div style="float:left;padding-left:10px;"> <input type="button" class="button" value="Previous"  onclick="callPrev();" /></div>
			    <div style="float:right;padding-right:10px;"><input type="submit" class="button" value="Next"  /></div>
		 </div>
		<br/>	
		<br/>	
<br/>	
<br/>			
	</form>
	
  </div>
</div>
<script type="text/javascript">
$("#frmmpe02").validate({
	rules: {
		fldUserReference: "required",
		fldAmtTxn: {
			required: true,
			min: 1
		},
	},
	messages: {
		fldUserReference: "Enter Remark",
		fldAmtTxn: {
			required: "Enter Payment Amount",
			min: "Amount should be greater than 0"
		},
	}
});

function callPrev(){
window.location = "#rrmpe01";
}
</script>