<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<form  name="tpti01" id="tpti01" method="post" >
   <div class="success_msg">
			<p>Transaction successful</p>
			</div>
	
    	<div class="summblock">
    		<div class="info_row dark_header"><span class="info_row_left">Reference No.</span> 
			<span class="info_row_right" id="referenceno1">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			<div class="info_row odd"><span class="info_row_left">Payment Amount</span> 
			<span class="info_row_right page_title_sub" id="amount">
				
			</span>
				<div class="clearfix"></div>
			</div>
    	
    		<div class="info_row even"><span class="info_row_left">Merchant Name</span> 
			<span class="info_row_right clslineht" id="merchantname">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			
			<div class="info_row odd"><span class="info_row_left">Debit Account</span> 
			<span class="info_row_right clslineht" id="fromaccountno">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Dealer Code</span> 
			<span class="info_row_right" id="dealercode">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			
			
			<div class="info_row odd"><span class="info_row_left">Remark</span> 
			<span class="info_row_right" id="customerrefno">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
		</div>	
		<br/>	
		<div class="info_row2">
		<p>Please quote the above reference number in all the communications with the bank.</p>
		</div>
	
	
	</form>
	
  </div>
</div>

