<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<form  name="tpti01" id="tpti01"  method="post" data-bind='submit: mpe03Pagesubmit' >
   
	
    	<div class="summblock">
    		
			
			<div class="info_row dark_header"><span class="info_row_left">Merchant Name</span> 
			<span class="info_row_right clslineht" id="merchantname">
				
			</span>
				<div class="clearfix"></div>
			</div> 
			
			
			<div class="info_row odd"><span class="info_row_left">Debit Account</span> 
			<span class="info_row_right clslineht" id="fromaccountno">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Dealer Code</span> 
			<span class="info_row_right" id="dealercode">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Payment Amount</span> 
			<span class="info_row_right page_title_sub" id="amount">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Remark</span> 
			<span class="info_row_right" id="customerrefno">
				
			</span>
				<div class="clearfix"></div>
			</div>
			
		</div>	
		<br/>	
		<div class="clearfix20"></div>
		<div class="alignc"><input type="submit" class="button" value="Confirm" ></div>
		<br/>	
	</form>
  </div>
</div>