<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<form  name="tpti01" id="tpti01" method="post" data-bind='submit: mpe01Pagesubmit'>
   	<br/>
   		  
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
      
			<div class="info_row"><div class="info_row2">Merchant Name</div> 
				<div class="info_row3">
				<select name="fldToAcctNo1" id="fldToAcctNo1" class="styled" data-bind="options: toAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldToAcctNo">
		         
		        </select>
				</div>
			</div>
			
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>	
    
	      
	      <div class="info_row"><div class="info_row2">Debit Account</div> 
				<div class="info_row3">
				 <select name="fldFromAcctNo1" id="fldFromAcctNo1" class="styled" data-bind="options: fromAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select Account-'">
				
		         

		        </select>
				</div>
			</div>
			
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>	
						
			<div class="clearfix20"></div>
			<div class="alignc"><input type="submit" class="button" value="Continue" ></div>
			<br/>		
	</form>
	
  </div>
</div>
<script type="text/javascript">
$("#tpti01").validate({
	rules: {
		fldToAcctNo1: "required",
		fldFromAcctNo1: "required",		
	},
	messages: {
		fldToAcctNo1: "Select Merchant Name",
		fldFromAcctNo1: "Select Debit Account",
	}
});
</script>