<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
		
		<form class="custStyleInput" name="frmp2a01" id="frmp2a01" method="post" data-bind='submit: rrp2a01Submit'>
		<div id="refblock">	
		
			<div id="accexitdata">
				
				<div id="activeacc">
	
					<div class="info_row">
					<div class="info_row2">From Account</div> 
					<div class="info_row3">
					<select name="fldAcctNo" id="fldAcctNo" class="styled" data-bind="options: fromAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldFromAcctNo">
					</select>	
					</div>
					</div>
					
				</div>
				
				<div id="noactiveacc" style="display:none;">
					<div class="info_row odd">
						<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
						<span class="info_row_menu_right clslineht" style="width:72%;">
						No Active Account found.
						</span> 
					</div>
				</div>
		
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
				<div class="info_row">
				<div class="info_row2">Select Beneficiary</div>
				<div class="info_row3">
				<select name="fldBenefDetail" id="fldBenefDetail" class="styled" data-bind="options: toAccountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldToAcctNo, optionsCaption: '-Select-', event: {change:showBenefDetails}">
					<option value="">-Select-</option>
						
				</select>
				</div>
				</div>
				
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
				
				<div class="info_row even">
					<span class="info_row_left">Beneficiary A/C No</span> 
					<span class="info_row_right" id="strbenefAccno"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row odd">
					<span class="info_row_left">Beneficiary IFSC Code</span> 
					<span class="info_row_right" id="strbenefIFSC"></span>
				<div class="clearfix"></div>
				</div>
				
				<div class="info_row even">
					<span class="info_row_left">Beneficiary A/C Type</span> 
					<span class="info_row_right" id="strbenefacctype">
					</span>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
	  
				<div class="info_row" > 
				<div class="info_row2">Amount</div> 
				<div class="info_row3">
					<input type="text" name="fldTxnAmount" id="fldTxnAmount" value="" size="10"  class="rs_fld" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
				</div>
				<div class="clearfix"></div>
				</div>
		
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
		
				<div class="info_row" > 
				<div class="info_row2">Remark</div> 
				<div class="info_row3">
					<input type="text" name="fldRmrk" id="fldRmrk" value="" size="10"  class="rs_fld"/>
				</div>
				<div class="clearfix"></div>
				</div>
		
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
		
				<div class="info_row">
				<div class="info_row2">I Accept Terms and Conditions (Mandatory)</div>
				<div class="info_row3">
				<select name="fldChecked" id="fldChecked" class="styled">
					<option value="true" selected="selected" >Accept</option>
					<option value="false">Decline</option>
				</select>
				</div>
				</div>
		
    
				<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
				<input type="hidden" name="fldTxnId" id="fldTxnId" value="P2A" />	
				<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="02" />
				
				
				<input type="hidden" id="fldBeneAcct" name="fldBeneAcct" value="" />
				<input type="hidden" id="fldNamBenef" name="fldNamBenef" value="" />
				<input type="hidden" id="fldIFSCCode" name="fldIFSCCode" value="" />
				<input type="hidden" id="fldBenefAcctType" name="fldBenefAcctType" value="" />
				<input type="hidden" id="fldBeneId" name="fldBeneId" value="" />
				<input type="hidden" id="fldAcctNo_txt" name="fldAcctNo_txt" value="" />
				<input type="hidden" id="fldBenefDetail_txt" name="fldBenefDetail_txt" value="" />
				<input type="hidden" id="fldOperationId" name="fldOperationId" value="RRP2A02" />
				<input type="hidden" id="fldOrgTxnId" name="fldOrgTxnId" value="P2A" />
				<input type="hidden" id="fldChecked_txt" name="fldChecked_txt" value="" />
				<input type="hidden" id="fldtc" name="fldtc" value="Y" />
				<input type="hidden" id="fldAcctBal" name="fldAcctBal" value="" />
				<input type="hidden" id="fldCurr" name="fldCurr" value="INR" />
				<input type="hidden" id="balance" name="balance" value="" />
				<input type="hidden" id="fldBeneAcctType" name="fldBeneAcctType" value="10" />
				<input type="hidden" id="fldBranchDesc" name="fldBranchDesc" value="" />
				<input type="hidden" id="fldBankDesc" name="fldBankDesc" value="" />
				<input type="hidden" id="fldtxnDetails" name="fldtxnDetails" value="" />
				<input type="hidden" id="fldAccountTypeDesc" name="fldAccountTypeDesc" value="" />
                <input type="hidden" id="fldOperationId" name="fldOperationId" value="RRP2A02" />
				<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId"></input>
				<input type="hidden" id="fldExtSessionId" name="fldExtSessionId"></input>
				<input type="hidden" id="fldIfscFlag" name="Card_ifsc_neg_flag"></input>
				<input type="hidden" id="fldImpsFlag" name="Card_imps_flag"></input>
	
  
				<div class="clearfix"></div>
				 <div class="info_row">
				    <input type="submit" class="button" value="Continue">
				 </div>
	<br/><br/>
				<div class="info_row">
					<br/>
					<p><b>Note:</b></p><br/>
					<p>- Please visit HDFC Banks website for Terms and Conditions.</p><br/>
					<p>- Please be sure that the beneficiary account number you entered is correct. HDFC Bank is not in position to validate a Non- HDFC bank account number and is not responsible for funds transferred to an unintended recepient.</p><br/>
					<p>- As per NPCI circular, the maximum amount that can transferred is Rs 2 Lakhs per transaction. Any transaction more than Rs 2 Lakhs will not get processed and will be credited back into your account.</p><br/>
					<p>- Post beneficiary addition below maximum amount can be transferred </p><br/>
					<p>- Rs 10,000 in first 24 hours </p><br/>
					<p>- Rs 25,000 in first 48 hours.</p><br/>
					
					<!--<p>- This is to inform you that the credit will effected based solely on the beneficiary account number information and the beneficiary name particulars will not be used.</p><br/>-->
				</div>
				
			
		</div>
	
		<div class="info_row odd" id="errImpsIFSC" style="display:none;">
			<span class="info_row_menu_left" style="width:15%;"><img src="img/alerticon.png" /></span>
			<span class="info_row_menu_right clslineht" style="width:72%;">
				To use the IMPS Funds Transfer facility, you first need to input the account details of the person you would like to transfer funds to.
			</span> 
		</div>
	
	</div>
	</form>
	
		
	</div>
    <!-- Start section search_box -->
  </div>
  <!-- End content_container -->
<script type="text/javascript">
$("#frmp2a01").validate({
	rules: {
		fldAcctNo: "required",
		fldBenefDetail: "required",
		fldTxnAmount: {
			required: true,
			min: 1
		},
		fldRmrk:  {
			required: true,
			chkDescription: "#fldRmrk"
		},
		fldChecked: {chkvalid: "#fldChecked"},
	},
	messages: {
		fldAcctNo: "Select From Account",
		fldBenefDetail: "Select Beneficiary",
		fldTxnAmount: {
			required: "Enter Amount",
			min: "Amount should be greater than 0"
		},
		fldRmrk: {
			required: "Enter Description",
			chkDescription: "Alphabetic, Numeric characters with spaces, comma, and decimal points are allowed for Remark."
		},
		fldChecked: {
            chkvalid: "Please Accept Terms and Conditions.",
         }
	}
});

</script> 