<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
		
		<form class="custStyleInput" name="frmp2a02" id="frmp2a02" method="post" data-bind='submit: rrp2a02Submit'>
		 
		<div class="summblock">	
	
			<div class="info_row dark_header"> 
				<span class="info_row_left clslineht">From Account</span> 
				<span class="info_row_right clsfromacc"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd">
				<span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub clsamount"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even">
				<span class="info_row_left">Beneficiary</span> 
				<span class="info_row_right clsnamebenef"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd">
				<span class="info_row_left">Beneficiary A/C No</span> 
				<span class="info_row_right clsbenefaccno"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even">
				<span class="info_row_left">Beneficiary IFSC Code</span> 
				<span class="info_row_right clsifsc"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd">
				<span class="info_row_left">Beneficiary A/C Type</span> 
				<span class="info_row_right clsbenefacctype"></span>
				<div class="clearfix"></div>
			</div>
						
			<div class="info_row even">
				<span class="info_row_left">Remarks</span> 
				<span class="info_row_right clsremark"></span>
				<div class="clearfix"></div>
			</div>
   
		</div>
		<div class="clearfix20"></div>
		<div class="info_row2">
		    <input type="submit" class="button" value="Confirm" >
		   </div>
		<div class="clearfix20"></div>
	<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
	<input type="hidden" name="fldTxnId" value="P2A" />	
	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="03" />
	
	
	<input type="hidden" id="fldBeneId" name="fldBeneId" value="" />
	<input type="hidden" id="fldAcctNo" name="fldAcctNo" value="" />
	<input type="hidden" id="fldFromAcctNo" name="fldFromAcctNo" value="" />
	<input type="hidden" id="fldBenefAcctType" name="fldBenefAcctType" value="" />
	<input type="hidden" id="fldNamBenef" name="fldNamBenef" value="" />
	<input type="hidden" id="fldIFSCCode" name="fldIFSCCode" value="" />
	<input type="hidden" id="fldBeneAcct" name="fldBeneAcct" value="" />
	<input type="hidden" id="fldTxnAmount" name="fldTxnAmount" value="" />
	<input type="hidden" id="fldRmrk" name="fldRmrk" value="" />
	<input type="hidden" id="fldUserRefNo" name="fldUserRefNo" value="" />
	<input type="hidden" id="fldDateTime" name="fldDateTime" value="" />
	<input type="hidden" id="fldRsaTxnId" name="fldRsaTxnId" value="" />
	<input type="hidden" id="fldClientSessionId" name="fldClientSessionId" value="" />
	<input type="hidden" id="fldFcatSessionId" name="fldFcatSessionId" value="" />
	<input type="hidden" id="fldExtSessionId" name="fldExtSessionId" value="" />
	<input type="hidden" id="fldOrgTxnId" name="fldOrgTxnId" value="P2A" />
	<input type="hidden" name="fldBenefType" id="fldBenefType" value="IMPS_P2A" />
	<input type="hidden" name="fldOperationId" id="fldOperationId" value="RRP2A03" />
    <input type="hidden" name="fldIfscFlag" id="fldIfscFlag" value="" />
	<input type="hidden" name="fldImpsFlag" id="fldImpsFlag" value="" />
		
    </form>
		
	</div>
    <!-- Start section search_box -->
  </div>
  <!-- End content_container -->