<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	 .info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    <form name="rrtpa06" id="rrtpa06" method="post" data-bind="submit:rrtpa06Submit">
	 <div class="summblock">  
		
			
			<!-- <div class="info_row dark_header"><span class="info_row_left">Beneficiary Type</span> 
			<span class="info_row_right" id="BeneficiaryType"></span>
				<div class="clearfix"></div>
			</div> -->
			
		    <div class="info_row odd dark_header"><span class="info_row_left">Beneficiary Account No</span> 
				<span class="info_row_right" id="fldaccountno"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">IFSC Code</span> 
				<span class="info_row_right" id="IFSCcode"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Beneficiary Account Type</span> 
			<span class="info_row_right" id="benefaccttypedesc" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Bank Name</span> 
			<span class="info_row_right" id="bankdesc" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Beneficiary Name</span> 
			<span class="info_row_right" id="benefname" ></span>
				<div class="clearfix"></div>
			</div>
			
		    <div class="info_row odd"><span class="info_row_left">Email ID</span> 
			<span class="info_row_right" id="benefemail" ></span>
				<div class="clearfix"></div>
			</div>
					
		</div>
	
	    
          <br/><br/>		
		    
         <div class="info_row">
		     	<input type="submit" class="button"  value="Confirm" >
		  </div>
		 
			<br/><br/>
					
					<input type="hidden" name="fldBeneType" id="fldBeneType" value="NEFT"/>
					<input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="TPA"/>														
					<input type="hidden" name="fldAcctNo" id="fldAcctNo" value=""/>
					<input type="hidden" name='fldModule' id='fldModule' value="CH" />
					<input type="hidden" name='fldAppId' id='fldAppId' value="RS"/>									
					<input type="hidden" name='fldEmail' id='fldEmail' value="" />
					<input type="hidden" name='fldTxnId' id='fldTxnId' value="TPA"/>
					<input type="hidden" name='fldRequestId' id='fldRequestId' value=""/>
					<input type="hidden" name='fldNamBenef' id='fldNamBenef' value=""/>
					<input type="hidden" name='fldScrnSeqNbr' id="fldScrnSeqNbr"  value="07"/>
					<input type="hidden" name='fldSessionId' id="fldSessionId" value="" />
					<input type="hidden" name='fldBankDesc' id="fldBankDesc" value="" />
					<input type="hidden" name='fldActionType' id="fldActionType" value="confirm" />
					<input type="hidden" name='fldAccountType' id="fldAccountType" value="" />
					<input type="hidden" name='fldBranchDesc' id="fldBranchDesc" value="" />
					<input type="hidden" name='fldUserRefNo' id="fldUserRefNo" value="" />
					<input type="hidden" name='fldIFSCCode' id="fldIFSCCode" value="" />
					<input type="hidden" name='fldAccountTypeDesc' id="fldAccountTypeDesc" value="" />
					
		

				
     </form>
	   
    </div> 
     
  </div>
  <!-- /content --> 
  
</div>
<script>

</script>