<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	
	 .info_row_left_new {
    display: block;
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 3px 5px;
  
}
</style>
<script src="js/common.js"></script>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
    <form name="rrtpa02" id="rrtpa02" method="post" data-bind="submit:rrtpa02Submit">
	 <div class="summblock">  
		
			
			<div class="info_row dark_header"><span class="info_row_left" style="line-height:normal!important">Beneficiary Account No</span> 
			<span class="info_row_right" id="fldaccount"></span>
				<div class="clearfix"></div>
			</div>
		   <div class="info_row odd"><span class="info_row_left">Nick Name</span> 
				<span class="info_row_right" id="fldnambenef"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Email Id</span> 
				<span class="info_row_right" id="fldemail"></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left" style="line-height:normal!important">Beneficiary Name As per Bank Record</span> 
			<span class="info_row_right" id="bene_name_maintained" ></span>
				<div class="clearfix"></div>
			</div>
					
		</div>
	
	    
          <br/><br/>		
		    
         <div class="info_row">
		     	<input type="submit" class="button"  value="Confirm" >
		  </div>
		 
			
			
			        <input type="hidden" name="fldBeneType" id="fldBeneType" value="TPT"/>	
                    <input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="TPA"/>						
					<input type="hidden" name="fldtxnDetails" id="fldtxnDetails" value=""/>									
					<input type="hidden" name="fldAcctNo" id="fldAcctNo" value=""/>
					<input type="hidden" name='fldModule' id='fldModule' value="CH" />
					<input type="hidden" name='fldAppId' id='fldAppId' value=""/>									
					<input type="hidden" name='fldEmail' id='fldEmail' value="" />
					<input type="hidden" name='fldTxnId' id='fldTxnId' value="TPA"/>
					<input type="hidden" name='fldRequestId' id='fldRequestId' value=""/>
					<input type="hidden" name='fldNamBenef' id='fldNamBenef' value=""/>
					<input type="hidden" name='fldScrnSeqNbr' id="fldScrnSeqNbr"  value="02"/>
					<input type="hidden" name='fldSessionId' id="fldSessionId" value="" />
				
     </form>
	   
    </div> 
     
  </div>
  <!-- /content --> 
  
</div>
<script>
function callPrev(){
window.location = "#rrmpg01";
}
</script>