<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<div class="info_row rcErrorMsg" style="display:none;"></div>
  		<div class="info_row rsaTxnStatus" style="display:none;">
  			<p></p>
  		</div>
  		<div class="info_row rsaAuthFailure" style="display:none;">
  			<p>Sorry!</p><br/>
  			<p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
  			
  		</div>
  		<div class="info_row rsaOOBErr" style="display:none;">
  			<p>We are unable to carry out your transaction. Please try again later.</p>
  			
  		</div>
  		
  		<div class="success_msg">
			<p>Transaction successful</p>	
		</div>
		<br/>
  		<div class="summblock" id="tpn06success">
			 <div class="info_row dark_header"> <span class="info_row_left">From Account</span> 
			 <span class="info_row_right clsacctno">
			
			   </span>
			<div class="clearfix"></div>
		  </div>
		  
		 <div class="info_row odd"> <span class="info_row_left">Reference No.</span> 
		 <span class="info_row_right page_title_sub clsreferenceno" style="word-wrap: break-word;">
		
			   </span>
			<div class="clearfix"></div>
		  </div> 
		<div class="info_row even"> <span class="info_row_left">Beneficiary Name</span> 
		<span class="info_row_right clsbenefname">
			
			   </span>
			<div class="clearfix"></div>
		  </div>
		<div class="info_row odd"> <span class="info_row_left clslineht">Beneficiary IFSC Code</span>
		 <span class="info_row_right clsifsccode">
			
			</span>
			<div class="clearfix"></div>
		  </div>
		  <div class="info_row even"> <span class="info_row_left clslineht">Beneficiary Account Number</span>
		  <span class="info_row_right clsbenefacctno">
			
			</span>
			<div class="clearfix"></div>
		  </div>
		  <div class="info_row odd"> <span class="info_row_left">Bank Name</span> <span class="info_row_right clsbankdesc">
			
			</span>
			<div class="clearfix"></div>
		  </div>
		  <div class="info_row even"> <span class="info_row_left">Amount</span>
		   <span class="info_row_right page_title_sub clstxnamount">
			
			</span>
			<div class="clearfix"></div>
		  </div>
		  <div class="info_row odd"> <span class="info_row_left">Description</span> 
		  <span class="info_row_right clstxndesc">
			
			</span>
			<div class="clearfix"></div>
		  </div> 
		 
			<div class="info_row even"> <span class="info_row_left clslineht">Mode of Communication</span> 
			<span class="info_row_right clscommumode">
				
			</span>
			<div class="clearfix"></div>
			</div>
			<div class="info_row odd"> <span class="info_row_left clslineht">Communication Details</span> 
			 <span style="word-wrap: break-word; line-height:normal !important;" class="info_row_right clscommdet"  >
				
				</span>
				<div class="clearfix"></div>
			  </div>
			
	
		</div>
	<br/><br/>
  </div>
</div>

