
<div id="wrapper" style="top:96px;">
	<div class="content sub_content">
	  <div class="info_row rcErrorMsg" style="display:none;"></div>
  		<div class="info_row rsaTxnStatus" style="display:none;">
  			<p></p>
  		</div>
  		<div class="info_row rsaAuthFailure" style="display:none;">
  			<p>Sorry!</p><br/>
  			<p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
  			
  		</div>
  		
  		<div class="info_row rsaOOBErr" style="display:none;">
  			<p>We are unable to carry out your transaction. Please try again later.</p>
  			
  		</div>
		
		<div id="rrtpa07success" style="display:none;">	
				  <div style=" margin-left: 5px;">
					<img src="img/icon_ok.png" style="
			vertical-align: middle;">
					<span class="sucess_msg" style="
			vertical-align: middle;">Your beneficiary has been successfully added.</span>
				</div>
                </br>
				<div class="info_row">
			        <p id="beneconfmsg"></p>	
		        </div> 
				</br>
				<div class="info_row">
			        <p></p>	
		        </div> 
			
			</br>
			
		<div class="summblock">  
		
			
		<!-- 	<div class="info_row dark_header"><span class="info_row_left">Beneficiary Type</span> 
			<span class="info_row_right" id="BeneficiaryType"></span>
				<div class="clearfix"></div>
			</div> -->
			
		    <div class="info_row dark_header"><span class="info_row_left">Beneficiary Account No</span> 
				<span class="info_row_right" id="fldaccountno"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">IFSC Code</span> 
				<span class="info_row_right" id="IFSCcode"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Beneficiary Account Type</span> 
			<span class="info_row_right" id="benefaccttypedesc" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Bank Name</span> 
			<span class="info_row_right" id="bankdesc" ></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Beneficiary Name</span> 
			<span class="info_row_right" id="benefname" ></span>
				<div class="clearfix"></div>
			</div>
			
		    <div class="info_row odd"><span class="info_row_left">Email ID</span> 
			<span class="info_row_right" id="benefemail" ></span>
				<div class="clearfix"></div>
			</div>
					
		</div>
			   
	
	      </br>
		<!--  <div class="info_row">
	       	<p><b>Note:</b></p><br/>
	       	<p>- The beneficiary will be activated after 30 minutes from the time you have added them. </p><br/>
	       	<p>- Please click on "View List of Beneficiaries" to view the activation status.</p>
	    </div>	-->
	
		</div>
		
		
			</br>
	</div>
		</br>
			</br>
	
</div>