<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <form class="custStyleInput" name="frmtpt04" id="frmtpt04" method="post" data-bind='submit: rrtpt04Submit'>
  	<br/>
  		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">From Account</span> 
			<span class="info_row_right clslineht" id="fldfromacctno"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left startchqlbl">To Account</span> 
			<span class="info_row_right" id="fldtoacctno">				
			</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Description</span> 
			<span class="info_row_right" id="fldTxnDesc"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Currency</span> 
				<span class="info_row_right" id="acctCur"></span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Amount</span> 
			<span class="info_row_right page_title_sub" id="fldTxnAmount"></span>
			<div class="clearfix"></div>
			</div>			
			
		</div>					
			
			<div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="submit" class="button" value="Confirm" >
		   </div>
  			
  		 <input type="hidden" id="fldRequestId" name="fldRequestId" />
  			
  		 <input type="hidden" name="fldMultiAcctsDtls" id="fldMultiAcctsDtls" value="" />
		 <input type="hidden" name="fldFromAcctNo" id="fldFromAcctNo" value="" />
		 <input type="hidden" name="fldFromBrn" id="fldFromBrn" value="" />
		 <input type="hidden" name="fldAcctCurr" id="fldAcctCurr" value="" />
		 <input type="hidden" name="fldUserRefNo" id="fldUserRefNo" value="" />
		 <input type="hidden" name="fldDateTime" id="fldDateTime" value="" />
		 <input type="hidden" name="fldRsaTxnId" id="fldRsaTxnId" value="" />
		 <input type="hidden" name="fldClientSessionId" id="fldClientSessionId" value="" />
		 <input type="hidden" name="fldFcatSessionId" id="fldFcatSessionId" value="" />
		
	 	 <input type="hidden" name="fldAcctBal" id="fldAcctBal" value="" />
		 <input type="hidden" name="fldCurr" id="fldCurr" value="" />
		 
		 <input type="hidden" name="fldTxnId" id="fldTxnId" value="TPT" />
	  	<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="03" />
	  	<input type="hidden" name="fldEntityId" id="fldEntityId" />
	  	<input type="hidden" name="fldBenefType" id="fldBenefType" value="TPT" />
	  	<input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="TPT" />
	  	<input type="hidden" name="fldOperationId" id="fldOperationId" value="RRTPT05" />

		  					
	</form>
  </div>
</div>

