<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
	
	
	.summblock { border: none; }
	
	.page_title, .page_title_sub, .rs {
  color: #001f79;
  font-size: 12pt;
}



	.errorBtm{  position: relative;  padding: 0 10px 25px;}
	.errorBtm .loginCheckBox{vertical-align: top;}
	.errorBtm label.error{position: absolute;  bottom: 0;left: 10px;}


</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">

  <form name="rrtpa01" id="rrtpa01" method="post" data-bind="submit:rrtpa01Submit">
   
		
			<div class="info_row">
				<div class="info_row2">Beneficiary Account No.</div> 
				<div class="info_row3"> 
					<input type="tel" id="fldAcctNo" class="passC"  name="fldAcctNo" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" maxlength="14">
				</div>
			</div>
		    
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
			
			<div class="info_row">
				<div class="info_row2">Re-Enter Beneficiary Account No.</div> 
				<div class="info_row3"> 
					<input type="tel" id="fldAcctNo2" name="fldAcctNo2" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" maxlength="14">
				</div>
			</div>	
		        <div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
			
            <div class="info_row">
				<div class="info_row2">Nick Name</div> 
				<div class="info_row3"> 
					<input type="text" id="fldNamBenef" name="fldNamBenef" autocomplete="off" value="" >
				</div>
			</div>		

                <div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
		    <div class="info_row">
				<div class="info_row2">Email ID</div> 
				<div class="info_row3"> 
					<input type="text" id="fldEmail" name="fldEmail" autocomplete="off" value="">
				</div>
			</div>		
		  
		  
		  <!-- 	<div class="dispTable clear errorBtm">
					<div class="dispTCell loginCheckBox">
						<input type="checkbox" name="fldFEMA" id="fldFEMA"  value="Y"/>
					</div>
					
					<div class="dispTCell">
						<label id="benepopmsg"></label>
					</div>
		    </div> -->


	   <br/><br/>
		   <div class="info_row">
		     	<input type="submit" class="button"  value="Add" >
		  
		  </div>
		 <br/>
		          <!--  <div class="info_row">
  					<br/>
  					<p><b>Note:</b></p><br/>
  					<p>- Beneficiary activation takes 30 minutes post being added / modified</p><br/>
  					<p>- For newly added Beneficiary, maximum of Rs.50,000 (in full or parts) can be transferred for the 1st 24 hours, and Rs.100,000 (in full or in parts) can be transferred to each beneficiary for the first 48 hours</p>
  					</div> -->
	  <div class="clearfix20"></div>
		
	</form> 

  </div>
</div>

<script type="text/javascript">


$.validator.addMethod("alpha", function(value, element) {
     return this.optional(element) || /^[A-Za-z0-9 @]+$/i.test(value); 
}
, "Alphabetic and Numeric characters with spaces are allowed for Nick Name."); 

 $.validator.addMethod("Password_not_same", function(value, element) {
 // alert($('#fldNewPass').val() != value);
   return $('#fldAcctNo').val() == value;
}, "Beneficiary account numbers do not match.");

     $("#rrtpa01").validate({
	  rules: {
	
		fldAcctNo: {
         required: true,	
		 minlength: 14,
		 maxlength:14
		  
		 },
		 

		fldAcctNo2: {
         required: true,
         Password_not_same:true,		 
		 minlength: 14,
		 maxlength:14
		  
		 },

       fldNamBenef: {
			       required: true,
                   alpha:true     
        },	

	    fldEmail: {
			      
                   email:true,
        },		   
		
	},
	messages: {
	
	    fldAcctNo:{
		       required:"Please enter beneficiary account no",
			   minlength:"beneficiary account no must be of length 14",
			   maxlength:"beneficiary account no must be of length 14"
		},
	    fldAcctNo2:{
		       required:"Please re-enter beneficiary account no",
			   Password_not_same:"Beneficiary account numbers do not match",
			   minlength:"beneficiary account no must be of length 14",
			   maxlength:"beneficiary account no must be of length 14"
		},

		
		fldEmail: {
			//required: "Please enter email id"
                
        },
		fldNamBenef: {
			required: "Please enter Nick Name",
            alpha: "Alphabetic and Numeric characters with spaces are allowed for Nick Name."  
        },
		
	}
}); 
  $('.num').keyup(function(){
    var val = $(this).val();
    if(isNaN(val)){
         val = val.replace(/[^0-9\.]/g,'');
         if(val.split('.').length>2) 
             val =val.replace(/\.+$/,"");
    }
    $(this).val(val); 
});
	  
</script> 
