<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  		<div class="info_row rcErrorMsg" style="display:none;"></div>
  		<div class="info_row rsaTxnStatus" style="display:none;">
  			<p></p>
  		</div>
  		<div class="info_row rsaAuthFailure" style="display:none;">
  			<p>Sorry!</p><br/>
  			<p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
  			
  		</div>
  		<div class="info_row rsaOOBErr" style="display:none;">
  			<p>We are unable to carry out your transaction. Please try again later.</p>
  			
  		</div>
  
  		<div class="success_msg">
			<p>Transaction successful</p>	
		</div>
		<br/>
  		<div class="summblock" id="tpt05success">
			<div class="info_row dark_header"><span class="info_row_left">Reference No.</span> 
			<span class="info_row_right clslineht" id="refno">
				
			</span>
			<div class="clearfix"></div>
			</div>
    		
			<div class="info_row odd"><span class="info_row_left">Amount</span> 
				<span class="info_row_right page_title_sub" id="amount">
				</span>
			<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left clslineht">Transaction Status</span> 
			<span class="info_row_right clslineht" id="txnStatus">
				
			</span>
			<div class="clearfix"></div>
			</div>

    		<div class="info_row odd"><span class="info_row_left">From Account</span> 
			<span class="info_row_right clslineht" id="fromAccount">
				
			</span>
			<div class="clearfix"></div>
			</div>
    		
			
			<div class="info_row even"><span class="info_row_left">To Account</span> 
			<span class="info_row_right clslineht" id="toAccount">
				
			</span>
			<div class="clearfix"></div>
			</div>			
			
			<div class="info_row odd"><span class="info_row_left">Description</span> 
				<span class="info_row_right clslineht" id="description"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Currency</span> 
				<span class="info_row_right" id="currency"></span>
			<div class="clearfix"></div>
			</div>
		</div>
	
  </div>
</div>

