<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  
	<div class="summblock">
		

		<div class="info_row dark_header"> <span class="info_row_left clslineht">Reference Number</span> 
		<span class="info_row_right clsrefno"></span>
		<div class="clearfix"></div>
		</div>
		
		  		
		<div class="info_row odd"> <span class="info_row_left">Amount</span> 
		<span class="info_row_right page_title_sub clsamt">
			
		</span>
		<div class="clearfix"></div>
		</div>

		<div class="info_row even"> <span class="info_row_left">From Account</span> 
		<span class="info_row_right clsfromacc">
		
		</span>
		<div class="clearfix"></div>
		</div>
		    		
		<div class="info_row odd"> <span class="info_row_left clslineht">Beneficiary Name</span> 
		<span class="info_row_right clsbenefname">
		</span>
		<div class="clearfix"></div>
		</div>
		  
		<div class="info_row even"> <span class="info_row_left">Description</span> 
		<span class="info_row_right clsdesc"></span>
		<div class="clearfix"></div>
		</div>  
		  
		<div class="info_row odd"> <span class="info_row_left">UTR</span> 
		<span class="info_row_right clsutr"></span>
		<div class="clearfix"></div>
		</div>
		
		<div class="info_row even"> <span class="info_row_left">Status</span> 
		<span class="info_row_right clslineht clsstatus">
		 </span>
		<div class="clearfix"></div>
		  </div> 

		</div>
		

  </div>
</div>