<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
    
  <form class="custStyleInput" name="frmvmt01" id="frmvmt01" method="post" data-bind='submit: rrvmt01Submit'>
  
  <br/>
    	
   	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
     
      <div class="info_row">
      	<div class="info_row2">Sender's Name</div>
      	<div class="info_row3">
      	 <input type="text" name="fldsendersName" id="fldsendersName" value="" size="10" />    	
        </div> 
      </div>
      
   	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">Receiver's Name</div>
      	<div class="info_row3">
      	 <input type="text" name="fldrecieversName" id="fldrecieversName" value="" size="10" />  	
        </div> 
    </div>
	
    <div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">Sender's Comments</div>
      	<div class="info_row3">
      	 <input type="text" name="fldsendersComments" id="fldsendersComments" value="" size="10" />
        </div> 
    </div>
	
    <div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">From Account</div>
      	<div class="info_row3">
      	 <select name="selAcct" id="selAcct" data-bind="options: fromAccountList, optionsText: 'codacctno', optionsValue: 'accountValue', value: fldFromAcctNo, optionsCaption: '-Select-'">
		 </select>
        </div> 
    </div>
	
    <div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">Visa Card No.</div>
      	<div class="info_row3">
      	 <input type="password" name="fldvisaBinNo2" id="fldvisaBinNo2" maxlength="16" value="" size="10" />
        </div> 
    </div>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">Re-Enter Visa Card No.</div>
      	<div class="info_row3">
      	 <input type="text" name="fldvisaBinNo" id="fldvisaBinNo" maxlength="16" value="" size="10" />
        </div> 
    </div>
    
    <div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">Amount</div>
      	<div class="info_row3">
      	 <input type="text" name="fldamount" id="fldamount" value="" size="10" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
        </div> 
    </div>
			
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
    
    <div class="info_row">
      	<div class="info_row2">Terms and Conditions (Mandatory)</div>
      	<div class="info_row3">
      	 <select name="fldtc" id="fldtc">
		<option value="true">Accept</option>
		<option value="false">Decline</option>
		</select>
        </div> 
    </div>
    
	<div class="clearfix20"></div>
   <div class="info_row">
    <input type="submit" class="button" value="Submit" >
   </div>
   
   <input type="hidden" name="fldTxnId" id="fldTxnId" value="VMT" />	
   <input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="02" />	  		
 		<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
	<div class="info_row">
			<p>Note:</p><br/>				
			<p>Your account will be debited online, and the funds will be sent to the beneficiary Bank within 2 working days using the Visa system. The Beneficiary Bank will then transfer the funds to the beneficiary's card account.</p><br/>
			<p>A nominal transaction fee of Rs. 5(plus taxes) will be applicable per Visa CardPay transaction.</p><br/>				
			<p>For all Public Sector Banks, which do not have centralized operations, the credit to beneficiary may take 10 to 15 days.</p><br/>
			<p>For transferring funds to any HFDC Debit Card kindly use our TPT option to transfer funds within the bank.</p><br/>				
			<p>For making payment to your HDFC Bank Credit Card kindly link your card to NetBanking using Credit Card ATM PIN.</p><br/>				
		</div>	
  
  </form>

  </div>
</div>

<script type="text/javascript">
$("#frmvmt01").validate({
	rules: {
		fldsendersName: "required",
		fldrecieversName: "required",
		selAcct: "required",
		fldvisaBinNo2: {
            required: true,
            digits: true,
            minlength: 16,
            maxlength:16               
    	},
		fldvisaBinNo: {
            required: true,
            digits: true,
            minlength: 16,
            maxlength:16,
            equalTo: "#fldvisaBinNo2"                
    	},
    	fldamount: {
			required: true,
			min: 1
		},
    	fldtc: {chkvalid: "#fldtc"},
	},
	messages: {
		fldsendersName: "Enter Sender's Name",
		fldrecieversName: "Enter Receiver's Name",
		selAcct: "Select From Account",
		fldvisaBinNo2: {
			required : "Please Enter Visa Card No.",
			digits: "Numeric characters are allowed for Visa Card No.",
		    minlength:"Visa Card No. must be of length 16",
		    maxlength:"Visa Card No. must be of length 16",						
		},
		fldvisaBinNo:{
			required : "Please Re-Enter Visa Card No.",
			digits: "Numeric characters are allowed for Re-Enter Visa Card No.",
		    minlength:"Re-Enter Visa Card No. must be of length 16",
		    maxlength:"Re-Enter Visa Card No. must be of length 16",
			equalTo : "Visa Card no. and Re-Enter Visa Card no. should be same",			
		},
		fldamount: {
			required: "Enter Amount",
			min: "Amount should be greater than 0"
		},
		fldtc: {
            chkvalid: "Please accept the Terms and Conditions before proceeding."
        }
	}
});

</script>
