<style>
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content sub_content">
  
  <div class="info_row rcErrorMsg" style="display:none;"></div>
  		<div class="info_row rsaTxnStatus" style="display:none;">
  			<p></p>
  		</div>
  		<div class="info_row rsaAuthFailure" style="display:none;">
  			<p>Sorry!</p><br/>
  			<p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
  			
  		</div>
  		<div class="info_row rsaOOBErr" style="display:none;">
  			<p>We are unable to carry out your transaction. Please try again later.</p>
  			
  		</div>
  		
  <div class="success_msg">
			<p>Transaction successful</p>	
		</div>
		<br/>
  <div class="summblock" id="vmt03success">
    
    			
    	<div class="info_row dark_header"><span class="info_row_left">Reference No.</span> 
		<span class="info_row_right clstxnrefno"></span>
		<div class="clearfix"></div>
		</div>
		
		<div class="info_row odd"><span class="info_row_left">Amount</span> 
		<span class="info_row_right page_title_sub clsamount">		
		</span>
		<div class="clearfix"></div>
		</div>
		
		<div class="info_row even"><span class="info_row_left">From Account</span> 
		<span class="info_row_right clsfrmaccount"></span>
		<div class="clearfix"></div>
		</div>
		
    	<div class="info_row odd"><span class="info_row_left">Sender's Name</span> 
		<span class="info_row_right clssendername">			
		</span>
		<div class="clearfix"></div>
		</div>
		
		<div class="info_row even"><span class="info_row_left">Receiver's Name</span> 
		<span class="info_row_right clsreceivername">			
		</span>
		<div class="clearfix"></div>
		</div>
		
		<div class="info_row odd"><span class="info_row_left clslineht">Sender's Comments</span> 
		<span class="info_row_right clslineht clssendercomm">			
		</span>
		<div class="clearfix"></div>
		</div>
		
		
		<div class="info_row even"><span class="info_row_left">Visa Card No.</span> 
		<span class="info_row_right clsvisacard">
		</span>
		<div class="clearfix"></div>
		</div>
		
		
	</div>
	
	
   

  </div>
</div>