<style>
	.info_row2, .info_row3  { padding-left:0; padding-right:0;}
	.info_row p { padding-left:10px; }
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <div class="info_row clsrsaauthentry" style="display:none;"><p>We need more authentication to process this transaction.</p></div><br/>
  
  <div class="info_row clsrsatxnerrdesc" style="display:none;"><p></p></div><br/>
  
  
  <form class="custStyleInput" name="frmRSA" id="frmRSA" method="post" data-bind='submit: $root.rsaSubmit'>
  		
  	<div id="rsaQuestion" style="display:none;">	
  		
  		<div class="info_row" id="qaTxt1" style="display:none;">
			<p>Secure Banking services have noticed that the transaction you are conducting is not as per your usual transaction pattern. Kindly re-authenticate yourself before you proceed with the transaction by answering the following questions.</p><br/>
			<p>Kindly note, the answers to both the questions asked have to match with the answers given by you at the time of Secure Access registration. If the question and answers do not match you will not be allowed to complete the transaction.</p><br/>
		</div>
		<div class="info_row" id="qaTxt2" style="display:none;">
			<p>Sorry, your answers do not match with the answers you provided during Secure Banking service registration.</p><br/>
			<p>Please try again.In case this occurs again, the Bank or its Agent will call on the number provided by you at the time of registration. We will take a confirmation on this transaction from the person who answers the call.</p><br/>
		</div>
				
		<div data-bind="foreach: quesList">
		
			<input type="hidden" data-bind="attr: { id: quesIdtxtBoxname, name: quesIdtxtBoxname, value: questionid }" />
			<input type="hidden" data-bind="attr: { id: questxtBoxname, name: questxtBoxname, value: question }" />
					
			<div class="info_row clslineht" style="height:30px;" data-bind="text: question"></div><br/>
			<div class="info_row"><input type="text" data-bind="attr: { id: anstxtBoxname, name: anstxtBoxname }" /></div>
			<br/>
		</div>
		
					
		<div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="submit" class="button" value="Continue" >
		 </div>
  			<div class="clearfix20"></div>
  	</div>
  	<div id="rsaOTPEmail" style="display:none;">
  	
	  	<div class="info_row" id="otpTxt1" style="display:none;">
			<p>Secure Banking services have noticed that the transaction you are conducting is not as per your usual transaction pattern. Kindly re-authenticate yourself before you proceed with the transaction.</p><br/>
		</div>
		
		<div class="info_row" id="otpTxt2" style="display:none;">
			<p>The answers did not match with the answers provided at the time of Secure Access registration. For additional security, we would request you to re-authenticate yourself before proceeding with the transaction.</p><br/>
		</div>
		
		<div class="info_row">
			<p><b>Note:</b></p><br/>
			<p>A One Time Password(OTP) would be sent to the selected Mobile No within 30 minutes.</p><br/>
			<p>Please log in and re-initiate the transaction, incase you do not receive the same.</p><br/>
			<p>Please select your mobile number from the list given below.</p><br/>
		</div>
	
		<div class="info_row" id="noMobile" style="display:none;">Sorry, no mobile number present. Please contact your local branch.</div>
			
		<br/>
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
	      <div class="info_row">
	     	<span class="info_row_left" style="width:10%;"><input type="checkbox" name="fldMobile"  class="styled"/> </span>
	      	<span class="info_row_right" style="width:60%;"><b>Mobile No.</b>  <span id="usrMobileNo"> </span></span>
	      </div>
			      	
		 <div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="submit" class="button" value="Send OTP" >
		 </div>	
		 <div class="clearfix20"></div>	
  	</div>
  	
  	<div id="rsaOTPrelay" style="display:none;">
  	
  		<div class="info_row">
			<p>Kindly follow the instructions on the screen to help us identify you.</p><br/>
			<p>Please input the One Time Password which was sent to your Mobile Number</p><br/>
		 </div>
			
			<br/>
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
	      <div class="info_row">
	      	<div class="info_row2">One Time Password</div>
	      	<div class="info_row3">
	      	 <input type="tel" name="fldOtpToken" id="fldOtpToken" value=""  onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />    	
	        </div> 
	      </div>
				
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
			
		<div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="submit" class="button" value="Continue" >
		 </div>
		 	 <div class="clearfix20"></div>     
  	</div>
  	
  	<div id="rsaOOBPhone" style="display:none;">
  	
  	<div class="info_row" id="oobphTxt1" style="display:none;">
		<p>Secure Banking services have noticed that the transaction you are conducting is not as per your usual transaction pattern. Kindly re-authenticate yourself before you proceed with the transaction.</p>
	</div>
  	
  	<div class="info_row" id="oobphTxt2" style="display:none;">
		<p>The answers did not match with the answers provided at the time of Secure Access registration. For additional security, we would request you to re-authenticate yourself before proceeding with the transaction.</p>
	</div>
	<br/>
		<div id="divOOBphlist" style="display:none;">
		<div class="info_row">
		    <p>Kindly follow the instructions on the screen to help us identify you. <br/>- Select a number from the list below. <br/>- An IVR Call will be made on the number you select.</p>
		</div>
		
		<br/>
	    <div class="clearfix"></div>
	    <div class="linedivider"></div>   
	    <div class="clearfix"></div>
			      
		<div class="info_row">
      	<div class="info_row2">Phone Number</div>
      	<div class="info_row3">
			<select name="fldSelRsaOOBPhone" id="fldSelRsaOOBPhone" data-bind="options: oobPhoneList, optionsText: 'mobiletxt', optionsValue: 'mobileValue', value: fldSelRsaOOBPhone ">
			
		    </select>
		</div> 
		</div>
	
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
		
	      <input type="hidden" name="fldSelRsaOOBPhone_ix" id="fldSelRsaOOBPhone_ix" value="0" />
	      <input type="hidden" name="fldSelRsaOOBPhone_txt" id="fldSelRsaOOBPhone_txt" value="" />
	
		<div class="clearfix20"></div>
		   <div class="info_row2">
		    <input type="submit" class="button" value="Call Me" >
		 </div>
	<div class="clearfix20"></div>
	</div>
  	
  	</div>
  	
  	<div id="rsaOOBPhoneStatus" style="display:none;">
  	
  	<div class="info_row">
	<p>We have initiated a phone call at the number selected by you. Kindly follow the instructions below to complete the re-authentication process.</p><br/>
	<p>Now calling:</p><br/>
	</div>
					
  	<div class="info_row" id="oobphdet"><p></p></div>
  	
  	<div class="info_row">
	<p>When you receive the call:</p><br/>
	<p>Answer the phone </p><br/>
	<p>When prompted press # on your phone</p><br/>
	<p>When prompted, enter the following code:</p><br/>
	<p id="oobphtoken"></p><br/>
	<p>After conversation click on 'Continue' button.</p><br/>
	</div>
				
	<div class="clearfix20"></div>
	   <div class="info_row2">
	    <input type="submit" class="button" value="Continue" >
	 </div>					
			<div class="clearfix20"></div>		
  	</div>
  	  		  			
  		

		<input type="hidden" name="fldRequestId" id="fldRequestId" value="" />
		<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value=""  />
		<input type="hidden" name="fldRsaOTPAvailable" id="fldRsaOTPAvailable" value="" />
		<input type="hidden" name="fldRsaSessionId" id="fldRsaSessionId" value="" />
		<input type="hidden" name="fldRsaAuthAction" id="fldRsaAuthAction" value="" />
		<input type="hidden" name="fldExtSessionId" id="fldExtSessionId" value="" />
		<input type="hidden" name="fldDeviceId" id="fldDeviceId" value="43" />
	
		<input type="hidden" name="fldPinRequired" id="fldPinRequired" value="Y" />
		<input type="hidden" name="fldPin" id="fldPin" value="Y" />
		<input type="hidden" name="fldPinSequence" id="fldPinSequence" value="1" />
		<input type="hidden" name="fldOOBPhoneRequest" id="fldOOBPhoneRequest" value="N" /> <!-- set to N -->
		<input type="hidden" name="fldOOBPhoneToken" id="fldOOBPhoneToken" value="" />
		<input type="hidden" name="fldRsaQAAuthAvailable" id="fldRsaQAAuthAvailable" value="" />
		<input type="hidden" name="fldRsaOOBPhoneAvailable" id="fldRsaOOBPhoneAvailable" value="" />
		<input type="hidden" name="fldOOBPhoneCountry" id="fldOOBPhoneCountry" value="" />
		<input type="hidden" name="fldOOBPhoneArea" id="fldOOBPhoneArea" value="" />
		<input type="hidden" name="fldOOBPhoneNumber" id="fldOOBPhoneNumber" value="" />
		<input type="hidden" name="fldOOBPhoneExtn" id="fldOOBPhoneExtn" value="" />
		<input type="hidden" name="fldOOBPhoneLabel" id="fldOOBPhoneLabel" value="" />
		<input type="hidden" name="fldRsaAuthTxnId" id="fldRsaAuthTxnId" value="" />
		<input type="hidden" name="fldRsaAuthRetry" id="fldRsaAuthRetry" value="" />
		
		<input type="hidden" name="fldOOBPhoneCountryList" id="fldOOBPhoneCountryList" value="" />
		<input type="hidden" name="fldOOBPhoneAreaList" id="fldOOBPhoneAreaList" value="" />
		<input type="hidden" name="fldOOBPhoneNumberList" id="fldOOBPhoneNumberList" value="" />
		<input type="hidden" name="fldOOBPhoneExtnList" id="fldOOBPhoneExtnList" value="" />
		<input type="hidden" name="fldOOBPhoneLabelList" id="fldOOBPhoneLabelList" value="" />
		<input type="hidden" name="fldFCDBRequestId" id="fldFCDBRequestId"  value="" />
		<input type="hidden" name="fldUserRefNo" id="fldUserRefNo" value="" />
		<input type="hidden" name="fldDateTime" id="fldDateTime" value="" />
		<input type="hidden" name="fldOrgTxnId" id="fldOrgTxnId" value="" /> 
		
		<input type="hidden" name="fldFcatSessionId" id="fldFcatSessionId" value="" />
		<input type="hidden" name="fldClientSessionId" id="fldClientSessionId" value="" />
		
		<input type="hidden" name="fldEmailid" id="fldEmailid" value="" ></input>	
		<input type="hidden" name="fldTxnId" id="fldTxnId" value="" />
		<input type="hidden" name="fldAcctNo" id="fldAcctNo" value="" /> 
		<input type="hidden" name="fldSessionId" id="fldSessionId" value="" />
		<input type="hidden" name="fldjsessionid" id="fldjsessionid" value="" />
		<input type="hidden" name="fldLoginUserId" id="fldLoginUserId" value="" />
		<input type="hidden" name="fldFCDBSessionId" id="fldFCDBSessionId" value="" />
		<input type="hidden" name="fldAppId" id="fldAppId" value="RS" />
		<input type="hidden" name="fldMsgSentMode" id="fldMsgSentMode" value="" /> 
		<input type="hidden" name="fldIdRequest" id="fldIdRequest" value="" />
		 <input type="hidden" name="payload" id="payload" value="" /> 
		 
		 
		 <div data-bind="foreach: rsaFields">
  			<input type="hidden" data-bind="attr: { id: name, name: name, value: value }" />
  		</div>
		  					
	</form>
  </div>
</div>

