
<style>
	.button{
		margin:auto;display:table; border: none;
	}
</style>
	
		
		<div id="wrapper" class="mpin" style="top:96px;">
		<div class="content">				
		<div class="uid_box">
				
			<form name="Loginmpin" id="Loginmpin" method="post" >
			
			    <div class="row">
					<label class="myRadio">
						<input type="radio" name="radOption" value="custid" checked="checked"/>
						 Enter your Quick Access PIN
					</label>
				</div>
			  				
				<div class="row">
					<label class="myRadio">
						<input type="radio" name="radOption" value="mpincustid" />
						Enter 4 digit Quick access pin
					</label>					
				</div>
				<!-- <div class="row">
					<label class="myRadio">
						<input type="radio" name="radOption" value="RegistermPIN" />
						  Register mPIN
					</label>
				</div>
				
				
				<div class="row">
					<label class="myRadio">
						<input type="radio" name="radOption" value="Registerchangepin" />
						  Change mPIN
					</label>
				</div> -->
				
				<div class="row mar_t_50">
					<input type="button" class="button" value="Submit" id="button01" style="width: 220px;" onclick="openpage();">
				</div>
					  
			</form>
		
		</div>				
		</div>
		</div>
		
		
	 	
	
	
	<script>
	
	   function openpage(){ 
	     $(document).ready(function(){
	       var rates = document.getElementsByName('radOption');
		   
           var rate_value;
		
          
                for(var i = 0; i < rates.length; i++){
                  if(rates[i].checked){
                  rate_value = rates[i].value;
				    // alert(rate_value);
					 if(rate_value=="custid"){
					    window.location = "#login";
					 }
					 else if(rate_value=="mpincustid"){
					   window.location = "#loginmpin"; 
					 }
					 else if(rate_value=="RegistermPIN"){
					   window.location = "#MpinRegister"; 
					 }
					 else if(rate_value=="Registerchangepin"){
					   window.location = "#MpinRegister"; 
					 }
					 
                  }
                }
				
		});
		}
	</script>