<style>
	.or{position:relative;width:100%;text-align:center;}
	.or span{background:#ffffff;padding:7px;position:relative;z-index:1;}
	.or:before{content:"";background:#000;width:100%;height:1px;position:absolute;top:50%;left:0;}
	.fourInput input{letter-spacing:0;}
	.mpin{padding-top:0;}
	#contentData{position: relative; min-height: 606px;}
    .error{margin-left:40px !important;}
</style>


		
		<div id="wrapper" class="mpin" style="top:96px;">
		<div class="content">				
		<div class="uid_box">
		
		<div class="row" style="margin-bottom: 0;">
			<label class="myRadio">
				<input type="radio" name="radOption"  id="test1" value="custid1" checked="checked"/>
				 Enter your Quick Access PIN
			</label>
		</div>
			
        <form name="MpinfrmLogin01" id="MpinfrmLogin01" method="post" data-bind='submit:MpinLogin'>
			
			<div class="row"  >
				<div class="fourInput" style="margin-left: 40px;">
						<input id="pin11" class='inputs passC'  name="pin11" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" onclick="myFunction1()"/>

						<input  id="pin12" class='inputs passC'  name="pin12" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" onclick="myFunction1()"/>

						<input id="pin13" class='inputs passC'  name="pin13" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" onclick="myFunction1()"/>

						<input  id="pin14" class='inputs passC'  name="pin14" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" onclick="myFunction1()"/>
				</div>
			</div>
				
			<div class="row">
				<a href="javascript:void(0);" class="link" onclick="openregpage01();" style="margin-left:40px;">Forgot Quick access pin?</a>
			</div>
			
			<div class="row">
				<a href="javascript:void(0);" class="link" onclick="openregpage();" style="margin-left:40px;">Set Quick Access PIN for easy login?</a>
			</div>
            <div class="row" id="mpnbn" >
                <input type="submit" class="button" value="Continue" style="width: 210px;" />
                    </div>
					  
		</form>
		
		<div class="row or">
			<span>OR</span>
		</div>
		
		<div class="row" style="margin-bottom: 0;" for="fldLoginUserId">
			<label class="myRadio">
				<input type="radio" name="radOption"  id="test2" value="custid2" />
				Customer Id:
			</label>
		</div>
		
		<form class="custStyleInput"  name="frmLogin" id="frmLogin" method="post" data-bind='submit: custIdSubmit' >
             			
			 <div class="row"style="min-height: 75px; margin: 0;">
                <input class="scrollTop" type="tel" name="fldLoginUserId" onclick="myFunction()" id="fldLoginUserId" required  value="" maxlength="10" autocomplete="off" style="margin-left:40px;width:234px;"  />
             </div>
             
             <input type="hidden" name="fldRequestId" id="fldRequestId" value="RRLG101" />
             <input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="01" />
             <input type="hidden" name="fldTxnId" id="fldTxnId" value="RGN" />
             
               <div class="row" id="lgnbn" style="display:none;">
                 <input type="submit" class="button" value="Continue" style="width: 210px;" />
               </div>
                  
        </form>
		
		</div>				
		</div>
		</div>
		
		<div class="secure_banking">
			<a onclick="openLink('http://www.hdfcbank.com/htdocs/common/other/Security-Tips/Security-Tips-Mob.html')">
				<img src="img/secure_banking.jpg" alt="Secure Banking">
				<span>Know More</span>
			</a>	
		</div>
	 	<!--  <div class="key_div"></div> -->

<script>
 
function myFunction() {
 $('#test2').prop('checked', true);
 $('#lgnbn').show();$('#mpnbn').hide();

}

//$(document).ready(function(){
//	$('input.scrollTop').on('focus', function() {
//		document.body.scrollTop = $(this).offset().top;
//	});
//});

function myFunction1() {
    $('#test1').prop('checked', true);
    $('#lgnbn').hide();$('#mpnbn').show();
}

//$('input[type=text],input[type=tel],input[type=password]').on('click', function(e){
//	e.stopPropagation();
//	//$('.key_div').show();
//	$('#contentData').css('margin-bottom','240px');
//});
//$(document).on('click',  function(e){
//	//$('.key_div').hide();
//	$('#contentData').css('margin-bottom','0');
//});
//$('.button').on('click',  function(e){
//	setTimeout(function(){ 
//		if($("input").hasClass("error")){
//			//$('.key_div').show();
//			$('#contentData').css('margin-bottom','240px');
//		}else{
//			//$('.key_div').hide();
//			$('#contentData').css('margin-bottom','0');
//		}
//	}, 500);
//});

$(document).on('change', 'input[name="radOption"]:radio', function(){
               console.log($(this).val());
               var rad01 = $(this).val();
               
               if(rad01 == 'custid2'){
                    $('#lgnbn').show();$('#mpnbn').hide();
               
               }else{
                    $('#lgnbn').hide();$('#mpnbn').show();
               }
});
if(localStorage.getItem("logerr") == "true"){
	window.location.hash = '#mPB_login_error';
}

if(localStorage.getItem("logerrcount")){
	var temp = localStorage.getItem("logerrcount");
}
else{var temp = 0;}
//$("#pin11").focus();
//if( $("#pin11").focus()){
	//$('.key_div').show();
	//$('#contentData').css('margin-bottom','240px');
 
//}
$(".inputs").keyup(function () {
    if (this.value.length == 1) {
      $(this).next('.inputs').focus();
    }
	if ($('#pin14').val().length == 1) {
		$('#pin14').blur();
		//hdfc_android.hideKeyboard();
		//$('.key_div').hide();
		//$('#contentData').css('margin-bottom','0');
	}
});
function forgot(){
	//localStorage.setItem("cnpn","");
	window.location.hash = '#mPB_register';
}
function login(){
//if($("#MPBLOGIN").valid()){
	if($('#pin11').val()=="" || $('#pin12').val()=="" || $('#pin13').val()=="" || $('#pin14').val()==""){
			alert('Please Enter 4 digit Login PIN');
			return false;
	}
	var mpin = $('#pin11').val()+""+$('#pin12').val()+""+$('#pin13').val()+""+$('#pin14').val();
	if(localStorage.getItem('loginerror') != "true"){
	var tempPin = booksStore(localStorage.getItem("cnpn"));
		if(mpin == tempPin){
			var temppbkid = booksStore(localStorage.getItem("csd"));
			passbookID = temppbkid;
			window.location = "#financialSummary";
			localStorage.setItem("logerrcount","0");
		}
		else{
		
			temp++;
			if(temp == 5){
				localStorage.setItem("logerr","true");
				window.location.hash = '#mPB_login_error';
				localStorage.setItem("logerrcount",temp);
			}else{
				var test = "Invalid PIN! "+(5 - temp)+" attempts remaining.";
				alert(test);
				$("input[type='tel']").val('');
				localStorage.setItem("logerrcount",temp);
			}
		}
	}
	else{
		alert("Your account has been blocked as you have made 5 unsuccessful Login attempts. Please re-register to start using mPassbook again");
	}
//}
}


//hdfc_android.getGCMID();
//getNativeData('hideKeyboard', function(data){}, function(msg){},'');
   function openregpage01(){
	  Forgetpin="Forgetpin";
     window.location = "#MpinRegister";
   }
   function openregpage(){
    
     window.location = "#MpinRegister";
   }

	$("#MpinfrmLogin01").validate({
		rules: {
			fldmPin: "required",
			fldmPin2: "required",
			
			chkLogin: {
	            required: {
	                depends: function(element) {
	                	var tmpsrch = $('#rsaEnroll').val();
	                    return tmpsrch == 'N'
	                }
	            }
	        }
		},
		messages: {
			fldmPin: "Please enter mPIN",
			fldmPin2: "Please Re-enter mPIN",
			chkLogin: "Confirm Secure Access Details"
		}
	});	
	
	
	$("#fldLoginUserId").on("keydown", function (e) {
    return e.which !== 32;
});
$.validator.addMethod("alpha", function(value, element) {
	 value = value.trim();
	 $('#fldLoginUserId').val(value);
     return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
}
, "Customer ID should contain Alphabets and Numbers"); 

	$("#frmLogin").validate({
		rules: {
			fldLoginUserId:{
			required:true,
			alpha:true
			}, 							
		},
		messages: {
			fldLoginUserId:{
			required : "Enter Customer Id",
			alpha : "Customer ID should contain Alphabets and Numbers",			
		},	
												
		}
	});
	
	function openLink(url){
			window.open(url,'_blank','location=no');  
			return false;
    }
</script>