<style>
	label {
		font-size: 16px;
		display: block;
		font-weight: normal;
		margin: 0 0 0.35em;
		min-height: 16px;
		line-height: normal;
	}
	.width50Per {
		width: 50% !important;
	}
	.info_row{
		margin-bottom:15px;
	}
	.info_row p{ padding-left: 0;}
	.header h1.h_title{display:none !important;}
    h1.h_title{height: auto; padding: 5px 10px; line-height: 25px;}
    .h_title::after{top:100%;margin-top:-11px;}    
</style>
 
	
	<div id="wrapper" >
	
	<ul class="regStep">
		<li style='display:none;'>
			<a href="javascript:void(0)" class="head">
				<span class="step">
					<span>STEP</span>
					<span>1</span>
				</span>
				<h5>Enter Details</h5>
			</a>
			<div class="contents">
				<form>					
					<div class="info_row">
						<div class="info_row2">Mobile Number</div> 
						<div class="info_row3"> 
							<input type="tel" id="MobileNo" name="MobileNo" required size="10" maxlength="10" value="" class="rs_fld inputs"  style="float:left;" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
						</div>
					</div>
					<div class="info_row">
						<div class="info_row2">Customer ID</div> 
						<div class="info_row3"> 
							<input id="regcustid"  type="tel" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);">
						</div>
					</div>
					<div class="info_row marTB10">
						<input type="submit" class="button" value="Next">
					</div>
				</form>
			</div>
		</li>	
		<li id='step1'>
			<!-- <a href="javascript:void(0)" class="head active" style="pointer-events:none;">
				<span class="step">
					<span>STEP</span>
					<span>1</span>
				</span>
				<h5>Enter Details</h5>
				<span id='step1succ' style='display:none;' class="ico_verfiy"></span>
			</a> -->
			<div class="contents">
				
					<!-- <div class="info_row">
						<div class="info_row2" style="margin-top: 5%;">Register using your</div> 
						<div class="info_row3">  
							<p class="width50Per radio_box">
							   <label>
								<input type="radio" name="enterDetails" checked="checked" value="Debit Card"  />
								<span>Debit Card</span>
							   </label>
							</p>
							<p class="width50Per radio_box">
							  <label>
								<input type="radio" name="enterDetails" value="Cust ID/IPIN" />
								<span>Cust ID/IPIN</span>
							  </label>
							</p>  
						</div>
					</div> -->
					<div id="debitCard">
					<h1 class="h_title" style="display: block;">Step 1: Verify yourself</h1> 
					<form name="registration" id="registration" method="post" data-bind='submit: Mpinregistration_Submit'>
						<div class="info_row">
							<div class="info_row2">Mobile Number</div> 
							<div class="info_row3"> 
								<input type="tel" id="Mobile" name="Mobile" required size="10" minlength="10" maxlength="10" value=""   style="float:left;" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);" />

							</div>
						</div>
						<div class="info_row">
							<div class="info_row2">Customer ID</div> 
							<div class="info_row3"> 
							   
								<input type="tel" id="customerid1" name="customerid1" required value="" style="float:left;" autocomplete="off" />

							</div>
						</div>
						<div class="info_row mar_t_50">
						<input type="submit" class="button" value="Next">
					</div>
					</form>
					</div>
					<div id="CustID" style="display:none;">
							<form class="custStyleInput" name="MpinfrmLogin" id="MpinfrmLogin" method="post" data-bind='submit:MpincustIdSubmit'>
						  
							<div class="info_row">
								<div class="info_row2">Customer ID</div> 
								<div class="info_row3"> 
									<input type="text" id="fldLoginUserId" name="fldLoginUserId" required="" value="" style="float:left;" autocomplete="off" >
								</div>
							</div>
							 <input type="hidden" name="fldRequestId" id="fldRequestId" value="RRLG101" />
							 <input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="01" />
							 <input type="hidden" name="fldTxnId" id="fldTxnId" value="RGN" />
							<div class="info_row marTB10">
								<input type="submit" class="button" value="Next">
							</div>
							  
						 </form>		
					</div>
					
				
			</div>
		</li>	
			<li id='step2'>
			<!-- <a href="javascript:void(0)" class="head" style="pointer-events:none;">
				<span class="step">
					<span>STEP</span>
					<span>2</span>
				</span>
				<h5>Verify</h5>
				<span id='step2succ' style='display:none;' class="ico_verfiy"></span>
			</a> -->
			<div class="contents" style="display: none;">
			<h1 class="h_title">Step 3: Verify your Debit Card details</h1>
				<form name="verify" id="verify" method="post" data-bind='submit: Mpinverify_submit'>
					<div class="info_row">
						<div class="info_row2">Select Debit Card</div>
						<div class="info_row3" style="padding-left:3px;">
							<select class="padL5" name="fldAcctNo" id="fldAcctNo" data-bind="options: mpinaccountListDebit,  optionsText:  'codacctno', optionsValue: 'accountValue', value: 'accountValue',optionsCaption:'-Select Debit Card-'" >
							</select>
						</div>
					</div>
					
					<div class="info_row">
						<div class="info_row2">Dedit Card Expiry</div>
						<div class="info_row3 width50Per" style="padding: 3px 10px 3px 6px;">
							<select name="cardExpMonth" id="cardExpMonth" class='styled' >
								<option value="">Month</option>
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</div>
						<div class="info_row3 width50Per" style="padding: 3px 10px 3px 6px;">
							<select name='cardExpYear' id='cardExpYear' class='styled'>
								<option value="">Year</option>
							</select>
						</div>
					</div>
					
					<div class="info_row">
						<div class="info_row2">Enter your Debit Card PIN</div> 
						<div class="info_row3 fourInput"> 
							<input id="pin1" class='inputs passC'  name="pin1" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

							<input  id="pin2" class='inputs passC'  name="pin2" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

							<input id="pin3" class='inputs passC'  name="pin3" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

							<input  id="pin4" class='inputs passC'  name="pin4" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

						</div>
					</div>
					<div class="info_row mar_t_50">
						<input type="submit" class="button" value="Next" style="width:220px;">
					</div>
				</form>
			</div>
			<div class="verifysucess" style="display: none;">
					<div class="info_row verified">
						<!-- <span id='namecustlog12'>Dear Rishabh</span> -->
						<h2>Thank you for verifying.</h2>
						<p style="padding:0 5px;">Please complete next steps for mPassbook registration.</p>						
					</div>					
					<div class="info_row marTB10">
						<input type="button" class="button" value="next" onclick='verifysucess()'>
					</div>
			</div>

		</li>
		<li id="step5" style='display:none;'>
			
			<a href="javascript:void(0)" class="head" style="pointer-events:none;">
				<!-- <span class="step">
					<span>STEP</span>
					<span>2</span>
				</span>
				<h5>Verify</h5> -->
				<!-- <span id="step5succ" style="display:none;" class="ico_verfiy"></span> -->
			</a>
		
			<div class="contents" style='display:none;'>
				<form class="custStyleInput" name="MpinfrmLoginPass" id="MpinfrmLoginPass" method="post" data-bind='submit:MpincustIdPassSubmit'>
					<div class="info_row">
						<div class="info_row2" style="margin-top: 5%;">Customer ID</div> 
						<div class="info_row3"> 
							<input type="text" id="customerid2" name="customerid2" required="" value=""  style="float:left;" autocomplete="off" >
						</div>
					</div>
					
					<div class="info_row">
						<div class="info_row2">IPIN</div> 
						<div class="info_row3"> 
							<input type="password" name="upass" id="upass" required value="" autocomplete="off"/>
						</div>
					</div>
					
					<input type="hidden" name="rsaEnroll" id="rsaEnroll" data-bind="value: rsaEnrollReq" />
					<input type="hidden" name="fldRsaUserStatus" id="fldRsaUserStatus" />
					<input type="hidden" name="fldRsaImagePath" id="fldRsaImagePath" />
					<input type="hidden" name="fldTptCustomer" id="fldTptCustomer" />
					<input type="hidden" name="fldRsaImageWidth" id="fldRsaImageWidth" />
					<input type="hidden" name="fldRsaImageText" id="fldRsaImageText" />
					<input type="hidden" name="fldRsaUserPhrase" id="fldRsaUserPhrase" />
					<input type="hidden" name="fldRsaImageHeight" id="fldRsaImageHeight" />
					<input type="hidden" name="fldRsaImageId" id="fldRsaImageId" />
					<input type="hidden" name="fldRsaEnrollRequired" id="fldRsaEnrollRequired" />
					<input type="hidden" name="fldDeviceTokenFSO" id="fldDeviceTokenFSO" />
					<input type="hidden" name="fldChecked" id="fldChecked" value="true" />
					<input type="hidden" name="fldLoginUserId" id="fldLoginUserId" data-bind="value: userID" />
					<input type="hidden" name="fldCustId" id="fldCustId" data-bind="value: userID" />
					<input type="hidden" name="fldTxnId" id="fldTxnId" value="LGN" />
					<input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="04" />

					<div class="info_row marTB10">
						<input type="submit" class="button" value="NEXT">
					</div>
					  
				</form>
			</div>
			<div class="verifysucess1" style="display: none;">
					<div class="info_row verified">
						<!-- <span id='namecustlog'>Dear Rishabh</span> -->
						<h2>Thank you for verifying.</h2>
						<p style="padding:0 5px;">Please complete next steps for mPassbook registration.</p>						
					</div>					
					<div class="info_row marTB10">
						<input type="button" class="button" value="next" onclick='verifysucess1()'>
					</div>
			</div>
		</li>

		<!-- <li id='step3'> 
			<a href="javascript:void(0)" class="head" style="pointer-events:none;">
				<span class="step">
					<span>STEP</span>
					<span>3</span>
				</span>
				<h5>Configure App PIN/Pattern</h5>
			</a>
			<div class="contents" style="display: none;">
				<form name="Configure" id="Configure" method="post">
					<div class="configurePin">
						<div class="text_info">
							<h6>Select & Configure</h6>
							<p>You can login to mPassbook using App PIN/Pattern.<br/>
								Choose any one from below to continue</p>
						</div>
						<ul class="listBox">
							<li class="borT1">
								<a onclick="AppPin();">Set App PIN<span class="arrow"></span></a>
							</li>
							<li>
								<a onclick="AppPattern();">Draw App Pattern<span class="arrow"></span></a>
							</li>
						</ul>
					</div> 

					<div class="setPin" style="display:none;">
						<div class="info_row">
							<div class="info_row2">Set your 4 Digit App PIN</div> 
							<div class="info_row3 fourInput"> 
								<input id="pin11" class='inputs passC'  name="pin11" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

								<input  id="pin12" class='inputs passC'  name="pin12" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off"onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

								<input id="pin13" class='inputs passC'  name="pin13" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

								<input  id="pin14" class='inputs passC'  name="pin14" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
							</div>
						</div>
						<div class="info_row">
							<div class="info_row2">Re-Enter your 4 Digit App PIN</div> 
							<div class="info_row3 fourInput"> 
								<input id="pin21" class='inputs passC'  name="pin21" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

								<input  id="pin22" class='inputs passC'  name="pin22" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

								<input id="pin23" class='inputs passC'  name="pin23" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

								<input  id="pin24" class='inputs passC'  name="pin24" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
							</div>
						</div>
						<div class="info_row">
							<p class="warningNote">App PIN is one time PIN only <br/> for your mPassbook application.</p>
						</div>
						<div class="info_row marTB10 twoBtn">
							<input type="button" class="button grey" value="CANCEL" onclick='cancelhit();'>
							<input type="submit" class="button" value="CONFIRM">
						</div>
					</div>
				</form>
			</div>
		</li> -->
	</ul>
	
	</div>
<script>

$(".inputs").keyup(function () {
    if (this.value.length == 1) {
      $(this).next('.inputs').focus();
    }
	if ($('#pin14').val().length == 1) {
		$('#pin14').blur();
		hdfc_android.hideKeyboard();		
	}
});

function backclick(){
	navigator.notification.confirm(
			        "Registration is not complete, are you sure you want to exit?",
						checkButtonpassbookReg = function(iValue){if (iValue == 2){
								window.location.hash = '#menu';			
						}
					},
			          'Registration',
			          ['No','Yes']);
}

$('#cardExpYear').empty();
			var min = new Date().getFullYear(),
				max = min + 15,
				select = document.getElementById('cardExpYear');
				var opt = document.createElement('option');
				opt.value = "";
				opt.innerHTML = "Year";
				select.appendChild(opt);
			for (var i = min; i<=max; i++){
				var opt = document.createElement('option');
				opt.value = i.toString();
				opt.innerHTML =i.toString();
				select.appendChild(opt);
			}

$("#fldLoginUserId").on("keydown", function (e) {
    return e.which !== 32;
});
$.validator.addMethod("alpha3", function(value, element) {
	 value = value.trim();
	 $('#fldLoginUserId').val(value);
     return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
}
, "Customer ID should contain Alphabets and Numbers"); 

	$("#frmLogin").validate({
		rules: {
			fldLoginUserId:{
				required:true,
				alpha3:true
			} 							
		},
		messages: {
		fldLoginUserId:{
			required : "Enter Customer ID",
			alpha3 : "Enter Valid Customer ID"			
		}	
												
		}
	});	

	$("#frmLoginPass").validate({
		rules: {
			upass: "required",
			chkLogin: {
	            required: {
	                depends: function(element) {
	                	var tmpsrch = $('#rsaEnroll').val();
	                    return tmpsrch == 'N'
	                }
	            }
	        }
		},
		messages: {
			upass: "Enter IPIN",
			chkLogin: "Confirm Secure Access Details"
		}
	});	

function cancelhit(){
					navigator.notification.confirm(
			          "Registration is not complete, are you sure you want to exit?",
			          checkButtonpassbookReg,
			          'Registration',
			          ['No','Yes']);
	//alert("App PIN is one time PIN only for your mPassbook application.");
	//window.location.hash = '#mPassbook';
}
function verifysucess(){
		$('.verifysucess').hide()
			$('.contents').not($(this).next()).slideUp();
		$(this).next().slideToggle();
		$(".head").removeClass("active");	
		 $(this).toggleClass("active");
		
		 $('#step3').find('.head').addClass('active');
		 $('#step3').find('.contents').slideToggle();
		 $('#step2succ').show();
		 $('#step2').find('.head').css('pointer-events', 'none');

}
function verifysucess1(){
		$('.verifysucess1').hide()
			$('.contents').not($(this).next()).slideUp();
		$(this).next().slideToggle();
		$(".head").removeClass("active");	
		 $(this).toggleClass("active");
		
		 $('#step3').find('.head').addClass('active');
		 $('#step3').find('.contents').slideToggle();
		 $('#step5succ').show();
		 $('#step5').find('.head').css('pointer-events', 'none');
}
var test = "";
$("#pin1").focus();
$(".inputs").keyup(function () {
    if (this.value.length == 1) {
      $(this).next('.inputs').focus();
    }
	if($('#pin4').val().length == 1){
		if(test == ""){
			$('#pin4').blur();
			hdfc_android.hideKeyboard();
			test = "1";
			$('.key_div').hide();
		}
	}	
	if($('#pin24').val().length == 1){
		$('#pin24').blur();
		hdfc_android.hideKeyboard();
		$('.key_div').hide();
	}
});

$(document).ready(function(){	
	$('.head').click(function(e){
		if(clickhead == "true"){
			e.preventDefault();
			$('.contents').not($(this).next()).slideUp();
			$(this).next().slideToggle();
			$(".head").removeClass("active");	
			$(this).toggleClass("active");	
		}
	}); 
	$('input:radio[name="enterDetails"]').change(function(){
		if($(this).val() == 'Debit Card'){
			$('#fldLoginUserId').val('');
			mpassbookloginchk = "";
		   $("#debitCard").show();
		   $("#CustID").hide();
		   $('#step2').show();
		  
		   $("#step5").hide();
		}
		if($(this).val() == 'Cust ID/IPIN'){
			$('#Mobile').val('');
			$('#customerid1').val('');
			mpassbookloginchk = "custid";
		   $("#debitCard").hide();
		   $("#CustID").show();
		   $("#step5").show();
		   $('#step2').hide();
		  
		}
	});
});

$("#Configure").validate({
//errorLabelContainer: $("#aadhar_Submit div.container"),  
	rules: {
		pin14: "required",
		pin24: "required"

	},
	messages: {
		pin14: "Enter App PIN",
		pin24: "Re-Enter App PIN"
	}
});


$("#verify").validate({
//errorLabelContainer: $("#aadhar_Submit div.container"),  
	rules: {
		fldAcctNo: "required",
		cardExpMonth: "required",
		cardExpYear: "required"
		
	},
	messages: {
		fldAcctNo: "Select Debit Card Number to confirm",
		cardExpMonth: "Select Month",
		cardExpYear: "Select Year"
	}
});

$.validator.addMethod("mobilechk", function(value, element)
    {
		if(value != ''){
        if(isNaN(value)||value.indexOf(" ")!=-1)
		{
		   //alert("Please enter valid Mobile Number.");
		   //document.getElementById('contact-phone').focus();
		   return false;
		}

		else if (value.length>10 || value.length<10)
		{
			 //alert("Mobile No. should be 10 digit");
			 //document.getElementById('contact-phone').focus();
			 return false;
		}
		
		else{
			 return true;
			
		}
		}else{
			 return true;
			
		}
		
    }, "Invalid Mobile");

//Enter Valid Customer ID
$.validator.addMethod("alpha", function(value, element) {
	 value = value.trim();
	 $('#customerid2').val(value);
     return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
}
, "Customer ID should contain Alphabets and Numbers"); 
$.validator.addMethod("alpha1", function(value, element) {
	 value = value.trim();
	 $('#customerid1').val(value);
     return this.optional(element) || /^[a-z0-9]+$/i.test(value); 
}
, "Customer ID should contain Alphabets and Numbers"); 

$("#registration").validate({
//errorLabelContainer: $("#aadhar_Submit div.container"),  
	rules: {
		Mobile: {
            required: true,
			mobilechk:true
        },
		customerid2:{
			required:true,
			alpha:true
		}, 		
		customerid1:{
			required:true,
			alpha1:true
		}, 		
		custpassword:{
            required: true
        }
	},
	messages: {
		Mobile:{
			//required : "Please Enter Mobile Number"
			required:"Please enter a 10 digit mobile number",
			mobilechk:"Please enter valid 10 digit Mobile number"
		},
		customerid2:{
            required: "Enter Customer ID",
			alpha : "Enter Valid Customer ID"
        },
		customerid1:{
            required: "Enter Customer ID",
			alpha1 : "Enter Valid Customer ID"
        },
		custpassword:{
            required: "Enter password to confirm"
        }
	}
});

					
	function AppPin(){
	
		$('.configurePin').hide();
		$('.setPin').show();
		localStorage.setItem('logTy',"Pin");
	}
	
	function AppPattern(){
		logincheck = "False";
		$('.configurePin').hide();
		hdfc_android.launchSetPinScreen();
		localStorage.setItem('logTy',"Pattern");
	}

</script>
