<div id="wrapper" class="mpin" style="top:96px;">
<div class="content">				
<div class="uid_box">
			
        <form name="MpinfrmLogin01" id="MpinfrmLogin01" method="post"  data-bind='submit:MpinLogin'>
			  				
				<div class="row">
					<label style="margin-left: 84px">Enter 4 digit Quick access pin</label>
					
					<div class="fourInput" style="margin-left: 54px;">
							<input id="pin11" class='inputs passC'  name="pin11" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

							<input  id="pin12" class='inputs passC'  name="pin12" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

							<input id="pin13" class='inputs passC'  name="pin13" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>

							<input  id="pin14" class='inputs passC'  name="pin14" type="tel"  value="" size="1" minlength="1" maxlength="1" autocomplete="off" onblur="extractNumber(this,2,false);" onkeyup="extractNumber(this,2,false);" onkeypress="return blockNonNumbers(this, event, true, false);"/>
					</div>
				</div>
				
				<div class="row mar_t_50">
					<input type="submit" class="button" value="Login" style="width: 318px;">
				</div>
				
				<div class="row">
					<a href="javascript:void(0);" class="link" onclick="openregpage();">Forgot Quick access pin?</a>
				</div>
					  
			</form>
		
</div>				
</div>
</div>

<div class="secure_banking">
	<a onclick="openLink('http://www.hdfcbank.com/htdocs/common/other/Security-Tips/Security-Tips-Mob.html')">
		<img src="img/secure_banking.jpg" alt="Secure Banking">
		<span>Know More</span>
	</a>	
</div>
	
<script>

if(localStorage.getItem("logerr") == "true"){
	window.location.hash = '#mPB_login_error';
}

if(localStorage.getItem("logerrcount")){
	var temp = localStorage.getItem("logerrcount");
}
else{var temp = 0;}
//$("#pin11").focus();

$(".inputs").keyup(function () {
    if (this.value.length == 1) {
      $(this).next('.inputs').focus();
    }
	if ($('#pin14').val().length == 1) {
		$('#pin14').blur();
		hdfc_android.hideKeyboard();
		$('.key_div').hide();
	}
});
function forgot(){
	//localStorage.setItem("cnpn","");
	window.location.hash = '#mPB_register';
}
function login(){
//if($("#MPBLOGIN").valid()){
	if($('#pin11').val()=="" || $('#pin12').val()=="" || $('#pin13').val()=="" || $('#pin14').val()==""){
			alert('Please Enter 4 digit Login PIN');
			return false;
	}
	var mpin = $('#pin11').val()+""+$('#pin12').val()+""+$('#pin13').val()+""+$('#pin14').val();
	if(localStorage.getItem('loginerror') != "true"){
	var tempPin = booksStore(localStorage.getItem("cnpn"));
		if(mpin == tempPin){
			var temppbkid = booksStore(localStorage.getItem("csd"));
			passbookID = temppbkid;
			window.location = "#financialSummary";
			localStorage.setItem("logerrcount","0");
		}
		else{
		
			temp++;
			if(temp == 5){
				localStorage.setItem("logerr","true");
				window.location.hash = '#mPB_login_error';
				localStorage.setItem("logerrcount",temp);
			}else{
				var test = "Invalid PIN! "+(5 - temp)+" attempts remaining.";
				alert(test);
				$("input[type='tel']").val('');
				localStorage.setItem("logerrcount",temp);
			}
		}
	}
	else{
		alert("Your account has been blocked as you have made 5 unsuccessful Login attempts. Please re-register to start using mPassbook again");
	}
//}
}


//hdfc_android.getGCMID();
//getNativeData('hideKeyboard', function(data){}, function(msg){},'');

   function openregpage(){
     window.location = "#MpinRegister";
   }

	$("#MpinfrmLogin01").validate({
		rules: {
			fldmPin: "required",
			fldmPin2: "required",
			
			chkLogin: {
	            required: {
	                depends: function(element) {
	                	var tmpsrch = $('#rsaEnroll').val();
	                    return tmpsrch == 'N'
	                }
	            }
	        }
		},
		messages: {
			fldmPin: "Please enter mPIN",
			fldmPin2: "Please Re-enter mPIN",
			chkLogin: "Confirm Secure Access Details"
		}
	});	
</script>