
   <style>
	.button{
		margin:auto;display:table; border: none;
	}
</style>
   <div class="header">        
		<div class="back nobg">
			<a class="back" data-bind="visible: backVisible" id="bv" href="javascript:void(0);" style=""></a>
		</div>
		<div class="logout nobg">
			<a class="logout" href="#logout" style="display: none;"></a>
		</div>
		<div class="logo">
			<img align="absmiddle" alt="HDFCBANK" src="img/logo_img.png">
		</div>    
		<h1 class="h_title" style="display: block;">Its done!</h1>         
	</div>
	
	<section class="dynamic-page-content" id="contentData">
		
		<div id="wrapper" class="mpin" style="top:96px;">
		<div class="content">				
		<div class="uid_box">
				
			<form name="mpinsuccess" id="mpinsuccess" >
			  	
				<div style="text-align: center; margin-top: 20px;">
					<img src="img/successIcon.png" alt="Success">
				</div>
				
				<div class="row" id="setmpin" style="display:none;">
					<p style="text-align: center; font-size:16px;">Your Quick Access PIN is set <br/> successfully.</p>
				</div>
				
				<div class="row" id="forgetmpin" style="display:none;">
					<p style="text-align: center; font-size:16px;">Your Quick Access PIN is set<br/> successfully</p>
				</div>
				
				
			
								
				<div class="row mar_t_50">
					<input type="button" class="button" value="Login" style="width: 220px;" onclick="mpinsuccesss();">
				</div>
					  
			</form>
		
		</div>				
		</div>
		</div>
	 	
	</section>
	<script>
function mpinsuccesss(){
		//window.location = "#loginmpin";
         window.location = "#loginmethod"; 
}
</script>
