<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
   <div>
   <div class="autoslide-slider3" >
			  <div class = 'slider' >
				<div class="item" id="item{position()}">
					<a href="javascript:void(0);" onclick="rrhld01Onclicksubmit(dpid,acctno,holdval)" >
					<span class="rotating-item swipe" >
					<div class="info_row4 alignc" style="margin:25px 0 0 0;font-size:11pt; color:#7f7f7f">DP Account Number</div>
					<div class="info_row4 page_block_sub alignc" style="margin:8px 0 0 0;color:#000;">
					
					</div>
					<div style="height: 2px;margin: 0px 0 0 23px;padding: 0 10px;width: 79%;">
						<div style=" float:left;height: 2px;width: 20%;background-color:#ed1c24;">
						</div>
						<div style=" float:left;height: 2px;width: 80%;background-color:#004a8f;">
						</div>
					</div>
					<div class="info_row4 alignc" style="margin:8px 0 0 0;font-size:11pt; color:#7f7f7f">Holding Value</div>
					<div class="info_row4 page_block_sub alignc" style="margin:0px 0 0 0;">Rs.<span ></span></div>
					
					</span></a>     
				</div>
				
			</div>
			<div class = 'prev unselectable'></div>
			<div class = 'next'></div>
		</div>
	</div>

	
	<div class="scrollable" id="scrollMe">
	<br/>

	<div class="info_row odd dark_header">
		<span class="info_row_left page_title_carousel">Enquiry</span>
		<span class="info_row_right"></span>
		<div class="clearfix"></div>
	</div>
	<br/>
	    
	<a href="#rrhld01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_holdingquery.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Holdings Query</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrdpl01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_listofac.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">List of Account</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
			    
	<a href="#rrdpq01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_clientprofile.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Client Profile</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrdts01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_transactionstatement.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Transaction Statement</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrdmq01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_status.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">Demat Status</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrdiq01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_isinsearch.png" /></span> 
		<span class="info_row_menu_right page_title_carousel">ISIN Search</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	
	<a href="#rrdcq01">
	<div class="info_row odd">
		<span class="info_row_menu_left"><img src="img/demat_settlmentcalender.png" /></span> 
		<span class="info_row_menu_right page_title_carousel clslineht23">Settlement Calender Master</span>
		<span class="right_arrow"><img src="img/rarrow.png" /></span>
		<div class="clearfix"></div>
	</div>
	</a>
	
	<div class="clearfix"></div>
    <div class="linedivider"></div>   
    <div class="clearfix"></div>
	 

  </div>
</div>
</div>