<style>
	.info_row { display:table; width:100%; }
	.summblock { margin:0 5px !important; }
	#table1, #table {width: 100%;}
	#table { padding:0 10px; }
	#table1 td {
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	}
</style>
<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
  
  <div class="info_row" id="accExitsMsg" style="padding-top:5px;display:none;">
    <p>You do not have any transactions for the selected period</p>
    <br>
  </div>
  <div class="info_row" id="flgwarningMsg" style="display:none;"><p></p><div class="clearfix"></div> </div>
  
  
       <div class="info_row" id="accts" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Dematdetails</div>
          <div class="clearfix"></div>
		  <br>
        </div>
		
		<div class="info_row" style="color:#7f7f7f"><div class="info_row2">Account Number</div> 
			<div class="info_row3">
			  <select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'codacctno', value: selAccount, event: {change:showSelectedAccount}">
				
			  </select>	
			</div>
		</div>	
		
		
		<div class="summblock" id="acctsum" style="display:none;">
			<div class="info_row dark_header"><span class="info_row_left">DPID</span> <span class="info_row_right" data-bind="text: dpid"> 
				
				</span>
				<div class="clearfix" ></ ></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Account Number</span> <span class="info_row_right"  data-bind="text: acctno"> 
				
				<div class="clearfix"></div>
			</div>
		
			<div class="info_row even"><span class="info_row_left">First Holder</span> <span class="info_row_right clslineht"  data-bind="text: fhldnm"> 
				
				</span>
				<div class="clearfix"></div>
			</div>
		
			<div class="info_row odd"><span class="info_row_left">Second Holder</span> <span class="info_row_right clslineht" data-bind="text: shldnm"> 
				
				</span>
				<div class="clearfix" ></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Third Holder</span> <span class="info_row_right clslineht" data-bind="text: thldnm"> 
				
				</span>
				<div class="clearfix" ></div>
			</div>
			</div>
  
  
<!-- /ko -->
  </div>
</div>
<script>
/*$(document).on('change','#fldAcctNo',function(e){
alert("call acc");
	accmodel.showSelectedAccount();
});*/
</script>
