<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; } 
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
        <div style="display:none;" id="errormsg">
    	<div class="info_row" ><p>No records fetched for the given search criteria </p></div>
       </div>
	   
	   
	   
	   
	   
    <div  id="dmtstats" style="display:none;">
    	<div class="summblock" data-bind="foreach: demataccountList" >
    		<div class="info_row dark_header"><span class="info_row_left">Sr. No.</span> 
				<span class="info_row_right" data-bind="text:srno"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">DRN No.</span> 
				<span class="info_row_right" data-bind="text:drnno"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">DRN Date</span> 
				<span class="info_row_right" data-bind="text:drndt"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">ISIN</span> 
				<span class="info_row_right" data-bind="text:isin"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Company</span> 
				<span class="info_row_right" data-bind="text:coname"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Request Qty</span> 
				<span class="info_row_right" data-bind="text:reqqty"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">Credit Qty</span> 
				<span class="info_row_right" data-bind="text:crqty"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Reject Qty</span> 
				<span class="info_row_right" data-bind="text:rejqty"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row even"><span class="info_row_left">DRF No.</span> 
				<span class="info_row_right" data-bind="text:drfno"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Ref. No.</span> 
				<span class="info_row_right" data-bind="text:rfdno"> </span>	<div class="clearfix"></div>
			</div>
		</div>
		</div>
		<br/>	
			
    
    	
    	
			<div class="info_row" style="display:none;"><p></p></div>
	
		
			<div class="info_row" style="display:none;"><p></p></div>
		
					
	 		<div class="info_row"  style="display:none;" id="msg"><p>The total records found exceeded the maximum allowed. Please refine your search.</p></div>
	
	
  
    
    	<div class="info_row" style="display:none;" id="staticmsg"><p>No Demat Transactions</p></div>
   
    
     
        
   </div>
</div>