<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
	
</style>

<div id="wrapper" style="top:96px; ">
    <div class="content">
      
			<div class="info_row"></div>
		
		

			<div class="info_row"><span class="page_title_sub">Holder Details</span>
			</div>
            <br/>
		<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left clslineht">First Holder</span><span class="info_row_right clslineht" id="fhldnm"> 
				-
				</span>
				<div class="clearfix"></div>
			</div>
			
				<div class="info_row odd" ><span class="info_row_left clslineht">Father/Husband</span><span class="info_row_right clslineht" id="ffathname"> 
					-
					</span>
					<div class="clearfix"></div>
				</div>
			
			
			
			
			
				<div class="info_row even"><span class="info_row_left clslineht">Second Holder</span><span class="info_row_right clslineht" id="shldnm">-</span>
					<div class="clearfix"></div>
				</div>
			
			
			
			
				<div class="info_row odd"><span class="info_row_left clslineht">Father/Husband</span><span class="info_row_right" id="sfathname">-</span>
					<div class="clearfix"></div>
				</div>
			
			
			
			
				<div class="info_row even"><span class="info_row_left clslineht">Third Holder</span><span class="info_row_right" id="thldnm">-</span>
					<div class="clearfix"></div>
				</div>
			
			
			
			
				<div class="info_row odd"><span class="info_row_left">Father/Husband</span><span class="info_row_right" id="tfathname">-</span>
					<div class="clearfix"></div>
				</div>
			
			
			
	<div class="info_row even">
	               <div style="display:none;" id="faddr11"><span class="info_row_left">Address</span>
						<span class="info_row_right clslineht" id="faddr1" >
						
					
						</span>
						<div class="clearfix"></div>
					</div>
				
				
				
                 <div style="display:none;" id="faddr22"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="faddr2"></span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div style="display:none;" id="faddr33"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="faddr3" ></span>
						<div class="clearfix"></div>
					</div>
				
				
					<div style="display:none;" id="fcityy"><span class="info_row_left"></span>
						<span class="info_row_right" id="fcity"></span>
						<div class="clearfix"></div>
					</div>
			</div>	
					
					<div class="info_row odd"><span class="info_row_left">Pincode</span><span class="info_row_right" id="fpincode">-
					</span><div class="clearfix"></div></div>
	
				
				<div class="info_row even"><span class="info_row_left">Phone</span><span class="info_row_right">-</span><div class="clearfix"></div></div>
				<div class="info_row odd"><span class="info_row_left">Fax</span><span class="info_row_right">-</span><div class="clearfix"></div></div>
				
			<div class="info_row odd" ><span class="info_row_left"></span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			
		
				<div class="info_row odd" id="norg" style="display:none;"><span class="page_title_sub">Nominee Details    </span>    
				</div>
				
			
				<div class="info_row even" id="gdetail" style="display:none;"><span class="page_title_sub">Guardian Details</span>
				</div>
				
                <br/>
            
             <div class="summblock" style="display:none;" id="nominedtls" >
                <div class="info_row dark_header" style="display:none;" id="nname"><span class="info_row_left">Name</span><span class="info_row_right" id="norgdtl"></span>
					<div class="clearfix"></div>
				</div>
				<br/>
				
					<div class="info_row odd" style="display:none;" id="nadd"><span class="info_row_left">Address</span>
						<span class="info_row_right clslineht" id="addr1">
						
					
						</span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="nadd2"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="addr2"></span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="nadd3"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="addr3"></span>
						<div class="clearfix"></div>
					</div>
				
				
					<div class="info_row odd" style="display:none;" id="ncity"><span class="info_row_left"></span>
						<span class="info_row_right" id="city"></span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="npin"><span class="info_row_left"></span>
						<span class="info_row_right" id="pincode"></span>
						<div class="clearfix"></div>
					</div>
				
					<div class="info_row odd" style="display:none;" id="ncountry"><span class="info_row_left"></span>
						<span class="info_row_right" id="country"></span>
						<div class="clearfix"></div>
					</div>
				
				
             
				 <div class="info_row odd" style="display:none;" id="spc" ><span class="info_row_left"></span>
						<span class="info_row_right"></span>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<div class="info_row"><span class="page_title_sub">Demat A/C Details</span>
					</div>
            <br/>
				<div class="summblock">
				<div class="info_row dark_header"><span class="info_row_left">Client ID</span>
						<span class="info_row_right" id="clikey">-</span>
						<div class="clearfix"></div>
					</div>
					
				<div class="info_row odd"><span class="info_row_left clslineht">Branch No</span>
						<span class="info_row_right" id="clbranch"> - </span>
						<div class="clearfix"></div>
					</div>
					
				<div class="info_row even"><span class="info_row_left">Client Type</span>
						<span class="info_row_right" id="accttype"> - </span>
						<div class="clearfix"></div>
					</div>
					
			

			<div class="info_row odd"><span class="info_row_left clslineht">A/C Opening Date</span>
				<span class="info_row_right" id="openacct"> - </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Short Name</span>
				<span class="info_row_right" id="clshrtnm">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">A/C Category</span>
				<span class="info_row_right clslineht" id="acctcategory">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">BPID</span>
				<span class="info_row_right" id="dbbpid"> - </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Status</span>
				<span class="info_row_right" id="acctstat">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">CCID</span>
				<span class="info_row_right" id="dbccid">-</span>
				<div class="clearfix"></div>
			</div>
			
			
			<div class="info_row odd"><span class="info_row_left clslineht">A/C Clos./Susp. Date</span>
				<span class="info_row_right" id="acctclosedt">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Occupation</span>
				<span class="info_row_right" id="occupation">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left clslineht">Stand. Inst. For Credit</span>
				<span class="info_row_right" id="stdinstr">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left clslineht">Fax Indemnity</span>
				<span class="info_row_right" id="faxindemnity">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left clslineht">No Nomination Opted</span>
				<span class="info_row_right" id="nomopted">-</span>
				<div class="clearfix"></div>
			</div>
			
			</div>
			<div class="info_row odd"><span class="info_row_left"></span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row page_title_sub"><span class="page_title_sub">Financial Details:</span>
			</div>
            <br/>
            <div class="info_row page_title_sub"><span class="page_title_sub">Dividend A/C</span>
			</div>
			<br/>
			
			<div class="summblock">
			
			
			<div class="info_row dark_header"><span class="info_row_left">Micr Code</span>
				<span class="info_row_right" id="drefinfo">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left">Bank A/C</span>
				<span class="info_row_right" id="dacctno">-</span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Bank Name</span>
				<span class="info_row_right clslineht" id="dbkname">-</span>
				<div class="clearfix"></div>
			</div>
			
					
					<div class="info_row odd" style="display:none;" id="branch"><span class="info_row_left">Address</span>
						<span class="info_row_right clslineht" id="dbrchname">
						
						</span>
						
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="add1"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="daddr1"></span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="add2"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="daddr2"></span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="add3"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="daddr3"></span>
						<div class="clearfix"></div>
					</div>
				
				
				
					<div class="info_row odd" style="display:none;" id="city"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="dcity"></span>
						<div class="clearfix"></div>
					</div>
				
					<div class="info_row odd" style="display:none;" id="country"><span class="info_row_left"></span>
						<span class="info_row_right clslineht" id="dcountry"></span>
						<div class="clearfix"></div>
					</div>
			
					<div class="info_row even"><span class="info_row_left">Pincode</span>
						<span class="info_row_right clslineht" id="dpincode">-</span>
						<div class="clearfix"></div>
					</div>
				
				<div class="info_row odd"><span class="info_row_left">Phone</span>
						<span class="info_row_right">-</span>
						<div class="clearfix"></div>
					</div>
					
				<div class="info_row even"><span class="info_row_left">Fax</span>
						<span class="info_row_right">-</span>
						<div class="clearfix"></div>
					</div>
				</div>	
			<div class="info_row odd"><span class="info_row_left"></span>
				<span class="info_row_right"></span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="page_title_sub">Charges Debit A/C</span>
			</div>
            <br/>
			<div class="summblock">
			<div class="info_row dark_header"><span class="info_row_left">Micr Code</span>
				<span class="info_row_right" id="brefinfo"> - </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left clslineht">Debit A/C No</span>
				<span class="info_row_right" id="bacctno"> - </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left">Branch No.</span>
				<span class="info_row_right" id="billbkname"> - </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row odd"><span class="info_row_left clslineht">RBI Ref. No.</span>
				<span class="info_row_right" id="rbirefno"> - </span>
				<div class="clearfix"></div>
			</div>
			
			<div class="info_row even"><span class="info_row_left clslineht">RBI Approval Date</span>
				<span class="info_row_right" id="rbiapdt"> - </span>
				<div class="clearfix"></div>
			</div>
			</div>
			
			

       
    </div>
</div>
