<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<div id="wrapper" style="top:96px;">
  <div class="content sub_content">
     
    	<br/>
		<div style="display:none;" id="exitmsg">
    	<div class="info_row">No Demat Transactions.</div>
		</div>
    
    
   
    <div style="display:none;" id="statment">
    	<div class="info_row odd"><span class="info_row_left">DP ID</span> 
		<span class="info_row_right" id="clikey"> </span>	<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left">Client ID</span> 
			<span class="info_row_right" id="acctno"> </span>	<div class="clearfix"></div>
		</div>
		<div class="info_row odd"><span class="info_row_left clslineht">Name of the First Holder</span> 
			<span class="info_row_right clslineht" id="fhldnm"> </span>	<div class="clearfix"></div>
		</div>
		
	
		
	
		<div class="info_row odd"><span class="info_row_left">Period</span> 
			<span class="info_row_right clslineht" id="period"></span><div class="clearfix"></div>
		</div>
	</div>
		<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
		<br/>
		  
    	
    	   <div data-bind="foreach:dematList">
    		<div class="info_row odd"><span class="info_row_left">Type</span> 
				<span class="info_row_right" data-bind="text:acctdesc"></span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">ISIN</span> 
				<span class="info_row_right" data-bind="text:isincd"> </span>	<div class="clearfix"></div>
			</div>
			<div class="info_row odd"><span class="info_row_left">Company</span> 
				<span class="info_row_right clslineht">
				<span data-bind="text:coname"></span> <span data-bind="text:scriptp"></span>
				</span>
				
				
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
			<br/>
			
			<!--data-bind="foreach:innerdata" -->
			<!--<div class="summblock" data-bind="foreach:isindtl1">-->
			<div class="summblock">
				<div class="info_row dark_header"><span class="info_row_left">Date</span> 
					<span class="info_row_right" data-bind="text:txndt"> </span><div class="clearfix"></div>
				</div>
				<div class="info_row odd"><span class="info_row_left">Reference No</span> 
					<span class="info_row_right" data-bind="text:txnrefno"> </span><div class="clearfix"></div>
				</div>
				
				
				<div class="info_row even"><span class="info_row_left">Counter Party</span> 
					<span class="info_row_right clslineht" data-bind="text:odpid">-</span><div class="clearfix"></div>
			
				</div>
				
			
				<div class="info_row odd"><span class="info_row_left">Details</span> 
					<span class="info_row_right" data-bind="text:txndesc"> </span><div class="clearfix"></div>
				</div>
				
				<div class="info_row even"><span class="info_row_left">Debit</span> 
				          <!-- ko if: dorc === 'D' -->
						<span class="info_row_right page_title_sub"  data-bind="text:txnqty"></span>				
	 
							   <!-- /ko -->
				           <!-- ko ifnot: dorc === 'D' -->
						      <span class="info_row_right">-</span>
						     <!-- /ko -->
					
					<div class="clearfix"></div>
				</div>
				
				
				
				
				<div class="info_row odd"><span class="info_row_left">Credit</span> 
				     <!-- ko if: dorc === 'C' -->
							<span class="info_row_right page_title_sub" data-bind="text:txnqty"></span>		
							  
							   <!-- /ko -->
							   
					     <!-- ko ifnot: dorc === 'C' -->
						          <span class="info_row_right">-</span>
						     <!-- /ko -->
				
					<div class="clearfix"></div>	
				</div>
				
				
			
				
			
				</div>
				
				<br/>
			
		
						</div>


    	

	
 

  </div>
</div>