<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2, .info_row3  { padding-left:10px; padding-right:10px;}
	.linedivider { margin:0; }
	.info_row label { display:table-cell; vertical-align:middle; }
	.summblock { margin:0 5px !important; }
</style>
<link href="css/mobiscroll-2.0.custom.min.css" rel="stylesheet" type="text/css" />
<script src="js/libs/mobiscroll-2.0.custom.min.js" type="text/javascript"></script>

<div id="wrapper" style="top:96px;">
  <div class="content sub_content">

    <form name="f1" id="f1" method="post" data-bind='submit: rrdts01submit'>

		<br/>
		<div id="transtat" style="display:none;">
		<div class="info_row"><p>The results displayed is restricted to 100 Lines in the interest of smooth retrieval of data, hence you are requested to define your search criteria accordingly.</p></div>
		<br/>
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
	      <div class="info_row">
	      	<div class="info_row2">Your DP Account No.</div>
	      	<div class="info_row3">
	      		<select name="cmbAccount" id="cmbAccount" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldToAcctNo"></select>	
	        </div> 
	      </div>
	      
	      <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
	      <div class="info_row">
	      	<div class="info_row2">ISIN (Optional)</div>
	      	<div class="info_row3">
	      	 <input type="text" name="fldIsin" id="fldIsin" value="" size="10"/>	
	        </div> 
	      </div>
	    		
		  <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
		
		<br/>
	      <div class="info_row">Select Period</div>
				
			<div class="clearfix"></div>
		     
		      
			<div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"> 
			 <div class="info_row2">From Date</div> 
	           <div class="info_row3">
              <div class="width100per" style="padding-right:40px; position:relative;"><input type     ="text"  readonly="readonly"  name="fldFromDate" id="fldFromDate" />
             <div  id="show_date"><img src="img/index.png"  /></div></div>		
           </div>
	     </div>
	      
	       <div class="clearfix"></div>
	      <div class="linedivider"></div>   
	      <div class="clearfix"></div>
	      
	      <div class="info_row" style="-webkit-tap-highlight-color: rgba(0,0,0,0);">
		  <div class="info_row2">To Date </div> 
	       <div class="info_row3">
        <div class="width100per" style="padding-right:40px; position:relative;"><input type="text" name="fldToDate" readonly="readonly" id="fldToDate" />
        <div  id="show_date1"><img src="img/index.png"  /></div></div>
       </div>
     <div class="clearfix"></div>
       </div>
	      
	      <div class="clearfix"></div>
	      
	      
			<div class="info_row"><p>
			Transactions for only last six months can be viewed here.<br/><br/>
			Please note that the date range should not exceed 10 days.To view transactions records prior to that please contact your branch.</p></div>
			<br/>

			<input type="submit" class="button"  value="View" style="width: 140px;">
		</div>	
	       <br/>
		<div class="info_row" id="staticmsg" style="display:none;">
        	<p>Dear customer,</p><br/>
        	<p>To view your Depository account, register yourself for DP@Net service. Kindly note ONLY the first holder of the Demat account can register for DP@Net service through the Savings Bank A/c customer id, which has already been enabled for NetBanking.</p><br/>
        	<p>To register kindly fill up the form and submit the duly executed form to any of our branch offering depository services.Application forms for DP@Net service can also be collected from and submitted at any of our Demat service providing branches.</p><br/><br/>
        	<p><b>IMPORTANT:</b></p><br/>
        	<p>Kindly note customers registered for NET BANKING need to seperately register for DP@NET service.</p><br/>
        	</div>
	
  
	<input type="hidden" name="fldRequestId" value="RRDTS02" />
	<input type="hidden" name="fldTxnId" value="DTS" />	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	
	<input type="hidden" id="fldAcctNo_txt" name="fldAcctNo_txt" value="" />
	<input type="hidden" id="cmbAccount_txt" name="cmbAccount_txt" value="" />
	
	<input type="hidden" id="datefldToDate_txt" name="datefldToDate_txt" value="" />
	<input type="hidden" id="datefldFromDate_txt" name="datefldFromDate_txt" value="" />	
	
	<input type="hidden" id="monthfldToDate_txt" name="monthfldToDate_txt" value="" />
	<input type="hidden" id="monthfldFromDate_txt" name="monthfldFromDate_txt" value="" />
	
	<input type="hidden" id="yearfldToDate_txt" name="yearfldToDate_txt" value="" />
	<input type="hidden" id="yearfldFromDate_txt" name="yearfldFromDate_txt" value="" />
	
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId">
	<xsl:attribute name="value">
	<xsl:value-of select="faml/response/mci/@requestid" />
	</xsl:attribute>
	</input>
	
	<input type="hidden" id="datefldFromDate" name="datefldFromDate" value="" />
	<input type="hidden" id="monthfldFromDate" name="monthfldFromDate" value="" />
	<input type="hidden" id="yearfldFromDate" name="yearfldFromDate" value="" />
	
	<input type="hidden" id="datefldToDate" name="datefldToDate" value="" />
	<input type="hidden" id="monthfldToDate" name="monthfldToDate" value="" />
	<input type="hidden" id="yearfldToDate" name="yearfldToDate" value="" />
	
	
    </form>

  
  </div>
</div>
<script type="text/javascript">




      $(function(){
			var now = new Date();
		    $('#fldFromDate,#fldToDate').scroller({
		        preset: 'date',
		        theme: 'sense-ui',
		        display: 'modal',
		        mode: 'scroller',
		        dateOrder: 'ddMYYYY',
				endYear: now.getFullYear() + 10
		    });
   

    $('#show_date1').click(function(){
        $('#fldToDate').scroller('show'); 
        return false;
    });
	
	$('#show_date').click(function(){
        $('#fldFromDate').scroller('show'); 
        return false;
    });
    
    
    $('#clear').click(function () {
        $('#fldFromDate').val('');
        return false;
    });
	
	
	$.validator.addMethod('greaterThan', 
function(value, element) {


                tmpdt1 = $('#fldToDate').val();
				arrdt1 = tmpdt1.split('/');
				
				tmpdt2 = $('#fldFromDate').val();
				arrdt2 = tmpdt2.split('/');
               var date1 = new Date(arrdt1[2],arrdt1[1],arrdt1[0]);

              var date2 = new Date(arrdt2[2],arrdt2[1],arrdt2[0]);

    if ( date1 < date2) {
	
     return false;  
    }
	else{
return true;
}

},'To Date should be later than From Date');
	
	
	
	
	
	$("#f1").validate({

	focusInvalid: false,
	rules: {
		cmbAccount: "required",	
        fldFromDate:"required",
        fldToDate:{
		 greaterThan:"#fldToDate",
		 required:true,
		},		
	},
	messages: {
		cmbAccount: "Select From Account",
        fldFromDate:"From Date cannot be blank",
       fldToDate:{
		  required:" To Date cannot be blank",
       	},		
	}
});
});
</script>
 
 