<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; } 
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
    
			<div id="accdtls" style="display:none;">
			<form name="f1" id="f1" method="post" data-bind='submit: rrhld01submit'>  
			<br/>
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
			<div class="info_row"><div class="info_row2" id="dpacnt">Your DP Account No.</div><div class="info_row3">
				
				
				<select name="fldIntAcctNo" id="fldIntAcctNo" data-bind="options: accountList, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldToAcctNo">
			
		    </select>	
				</div>
			</div>
			
			<div class="clearfix"></div>
		<div class="linedivider"></div>   
		<div class="clearfix"></div>
			
			<div class="info_row alignc">
			  <input type="submit" class="button"  value="Submit" style="width: 140px;">
			</div>
				<input type="hidden" name="fldRequestId" value="RRHLD02" />
				<input type="hidden" name="fldTxnId" value="HLD" />
				<input type="hidden" id="acctTemp" name="acctTemp" value="1" />
				<input type="hidden" id="fldIntAcctNo_txt" name="fldIntAcctNo_txt" value="" />
				<input type="hidden" name="fldScrnSeqNbr" value="02" />
				<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId">
						
				  </input>
			
			</form>
			</div>
			
		
				<div class="info_row" id="staticmsg" style="display:none;"><p>Dear customer,</p>
				<br/>
				<p>To view your Depository account, register yourself for DP@Net service. Kindly note ONLY the first holder of the Demat account can register for DP@Net service through the Savings Bank A/c customer id, which has already been enabled for NetBanking.To register kindly fill up the form and submit the duly executed form to any of our branch offering depository services.Application forms for DP@Net service can also be collected from and submitted at any of our Demat service providing branches.</p>
				<br/>
				<p><b>IMPORTANT :</b></p>
				<p>Kindly note customers registered for NET BANKING need to seperately register for DP@NET service.</p>
				</div>
			
         
		 
        
   </div>
</div>
  <script type="text/javascript">
 

	$("#f1").validate({
		rules: {
			fldIntAcctNo:"required",
		   
			
		},
		messages: {
			fldIntAcctNo: "Please select your Demat account",	
            
           			
		}
		
	});	
</script>