<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>

<div id="wrapper"   style="padding-bottom:110px; padding-top:50px;">
  <div class="content">
    
        
		 
        <div class="info_row" id="accts" style="display:none;">
          <div class="info_row2 page_title_carousel dark_header">Others</div>
          <div class="clearfix"></div>
		  <br>
        </div>
        
        
        
        <a class="icon_mf" href="#rrcad01" >
		<div class="info_row odd"> 
        		<span class="info_row_menu_left">
					<img src="img/others_viewcontactdetails.png" />
				</span>
        		<span class="info_row_menu_right page_title_carousel " >
							View Contact Details
				</span>
        		<span class="right_arrow"><img src="img/rarrow.png"></span>
        </div>
        </a>
        <div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
		<a class="icon_mf" href="#rrcpw01" >	
		<div class="info_row odd"> 
        		<span class="info_row_menu_left">
					<img src="img/others_changepassword.png" />
				</span>
        		<span class="info_row_menu_right page_title_carousel " >
							Change Password
							
				</span>
        		<span class="right_arrow"><img src="img/rarrow.png"></span>
        </div>
        </a>
		
		<a class="icon_mf" href="#rrfcp02" >	
		<div class="info_row odd"> 
        		<span class="info_row_menu_left">
					<img src="img/others_changepassword.png" />
				</span>
        		<span class="info_row_menu_right page_title_carousel " >
							Change Quick Access PIN
							
				</span>
        		<span class="right_arrow"><img src="img/rarrow.png"></span>
        </div>
        </a>
        
        
        <div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
		<a class="icon_mf" href="#rralt01" >	
		<div class="info_row odd"> 
        		<span class="info_row_menu_left">
					<img src="img/alerts_set.png" />
				</span>
        		<span class="info_row_menu_right page_title_carousel " >
							Manage Alerts - Set 
							
				</span>
        		<span class="right_arrow"><img src="img/rarrow.png"></span>
        </div>
        </a>
        
        
        <div class="clearfix"></div>
			<div class="linedivider"></div>   
			<div class="clearfix"></div>
		<a class="icon_mf" href="#rralt05" >	
		<div class="info_row odd"> 
        		<span class="info_row_menu_left">
					<img src="img/alerts_edit.png" />
				</span>
        		<span class="info_row_menu_right page_title_carousel " >
							Manage Alerts - Edit/Delete 
							
				</span>
        		<span class="right_arrow"><img src="img/rarrow.png"></span>
        </div>
        </a>
        <div class="clearfix"></div>
        <div class="linedivider"></div>
        <div class="clearfix"></div>
       
	   
      <form name="mnufrm" id="mnufrm" action="" method="get">
      <input type="hidden" name="fldSessionId" value="GGNPGTSNPUAUJASHOH">
      <input type="hidden" name="fldSessionId" value="GGNPGTSNPUAUJASHOH">
      <input type="hidden" name="fldSessionId" value="">
      <input type="hidden" name="idjsession" value="">
      <input type="hidden" name="fldFCDBSessionId" value="642349028BLMQVPSMK">
      <input type="hidden" name="fldBenefType" id="fldBenefType" value="">
      <input type="hidden" name="fldRequestId" id="fldRequestId" value="">
      <input type="hidden" name="fldScrnSeqNbr" id="fldScrnSeqNbr" value="01">
      <input type="hidden" name="acctTemp" id="acctTemp" value="1">
      <input type="hidden" name="fldTxnId" id="fldTxnId" value="">
      <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" value="642349028BLMQVPSMK143850602PM">
      </form>
    </div>
</div>

