<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; } 
</style>
<script type="text/javascript">

function formSubmit()
{
	var objsel = document.getElementById('fldAcctNo');
	document.getElementById('fldAcctNo_txt').value = objsel.options[objsel.selectedIndex].innerHTML;
	//document.getElementById("f1").submit();	
}

</script>
<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
  

			<div></div>        	
		
		<div id="foralert">
			<form name="f1" id="f1" method="post" data-bind='submit: rralt01submit'> 
			
				<br/>
				<div class="clearfix"></div>
			    <div class="linedivider"></div>   
			    <div class="clearfix"></div>
			    
			    <div class="info_row">
		      	<div class="info_row2">Select Account</div>
		      	<div class="info_row3">
		      	<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountList10, optionsText: 'displaytxt', optionsValue: 'accountValue', value: fldAcctNo, optionsCaption: '-Select-'">
			
		    </select>  	
		        </div> 
		      </div>
		      
		      <div class="clearfix"></div>
			  <div class="linedivider"></div>   
			  <div class="clearfix"></div>
		      <div class="clearfix20"></div>
		     <input type="submit" class="button"  value="Submit" style="width: 140px;" onclick="formSubmit()">
		      
		     <div class="info_row">
		      <p><b>Note:</b></p><br/>
		      <p>For security reasons, alerts for debit transactions done through NetBanking will be sent to the mobile number updated under your contact details. Incase the mobile number is not provided, then the alert will be sent to the e-mail id updated under contact details. To update the contact details, please visit your nearest branch. All other Alerts will be sent on the mobile number / email registered under lnstaAlert.</p><br/>		      
		      </div>
		      
		      
		      <input type="hidden" name="fldRequestId" value="RRALT02" />
			  <input type="hidden" name="fldScrnSeqNbr" value="02" />
			  <input type="hidden" name="fldTxnId" value="ALT" />
			  <input type="hidden" name="requestType" id="requestType" value="Set" />
			  
			  <input type="hidden" name="fldAlertString1" id="fldAlertString1" value="" />
			
			  
			  <input type="hidden" id="fldAcctNo_txt" name="fldAcctNo_txt" value="" />
			  
			  <input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId" />
		  
			   
	      </form> 
		</div>
		
				<br/>
        		<div class="info_row" id="staticmsg"><p>Currently no contact details are registered with bank. Please visit nearest bank branch.</p></div>
     	

	
	
	  
  </div>
</div>
<script type="text/javascript">
 

	$("#f1").validate({
		rules: {
			fldAcctNo:"required",
		   
			
		},
		messages: {
			fldAcctNo: "Please select your Account",	
            
           			
		}
		
	});	
</script>