<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; } 
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
    <div class="summblock">
    <div class="info_row dark_header"><span class="info_row_left">Customer Name</span> 
		<span class="info_row_right clslineht" id="namcustfull"> 
		 <xsl:value-of select="/faml/response/customer/@namcustfull"/>
		</span>
		<div class="clearfix"></div>
	</div> 
	<div class="info_row odd"><span class="info_row_left">Address</span> 
		<span class="info_row_right clslineht" id="txtcustadr1"> 
		 <xsl:value-of select="/faml//response//customer//@txtcustadr1"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row even"><span class="info_row_left">Address 2</span> 
		<span class="info_row_right clslineht" id="txtcustadr2"> 
		 <xsl:value-of select="/faml//response//customer//@txtcustadr2"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row odd"><span class="info_row_left">Address 3</span> 
		<span class="info_row_right clslineht"id="txtcustadr3"> 
		 <xsl:value-of select="/faml//response//customer//@txtcustadr3"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row even"><span class="info_row_left">City</span> 
		<span class="info_row_right clslineht" id="txtcustcity"> 
		 <xsl:value-of select="//faml//response//customer//@txtcustcity"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row odd"><span class="info_row_left">State</span> 
		<span class="info_row_right clslineht" id="txtcuststate"> 
		 <xsl:value-of select="/faml//response//customer//@txtcuststate"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row even"><span class="info_row_left">Zip</span> 
		<span class="info_row_right clslineht" id="txtcustzip"> 
		 <xsl:value-of select="/faml//response//customer//@txtcustzip"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row odd"><span class="info_row_left">Country</span> 
		<span class="info_row_right clslineht" id="txtcustcntry"> 
		 <xsl:value-of select="/faml//response//customer//@txtcustcntry"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row even"><span class="info_row_left">Date of Birth</span> 
		<span class="info_row_right clslineht" id="datbirthcust"> 
		 <xsl:value-of select="/faml//response//customer//@datbirthcust"/>
		</span>
		<div class="clearfix"></div>
	</div>	
	<div class="info_row odd"><span class="info_row_left">PAN Card No.</span> 
		<span class="info_row_right clslineht" id="pancardno"> 
		 <xsl:value-of select="/faml//response//customer//@pancardno"/>
		</span>
		<div class="clearfix"></div>
	</div>
	
	</div>
	
<br/>
	
	<div class="summblock">
	<div class="info_row dark_header"><span class="info_row_left">Email ID</span> 
		<span class="info_row_right clslineht" style="word-wrap: break-word;"> 
		 <a href="javascript:void(0);" class="disableclick" id="refcustemail"><xsl:value-of select="/faml//response//customer//@refcustemail"/></a>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row odd"><span class="info_row_left">Phone No. (Res.)</span> 
		<span class="info_row_right" id="refcustphone"> 
		 <xsl:value-of select="/faml//response//customer//@refcustphone"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row even"><span class="info_row_left">Phone No. (Off.)</span> 
		<span class="info_row_right clslineht" id="refcustphoneOffice"> 
		 
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row odd"><span class="info_row_left">Fax No.</span> 
		<span class="info_row_right clslineht" id="refcustfax"> 
		 <xsl:value-of select="/faml//response//customer//@refcustfax"/>
		</span>
		<div class="clearfix"></div>
	</div>
	<div class="info_row even"><span class="info_row_left">Mobile No.</span> 
		<span class="info_row_right clslineht"id="mobileno"> 
		 <xsl:value-of select="/faml//response//customer//@mobileno"/>
		</span>
		<div class="clearfix"></div>
	</div>
	</div>
	
	
	
	<br/>
	<div class="info_row">
	<p><b>Note:</b></p><br/>
	<p>1) To update or modify your recorded mailing address with us, please visit your nearest HDFC Bank branch with proof of your new address.</p><br/>
	<p>2) To update or modify your Demat A/c address, please contact the nearest Demat Servicing Branch.</p><br/>
	<p>3) In case you have any concern on your contact details being used for sales calls, you can register for Do Not Call facility offered by HDFC Bank. Click here to register your contact no's under Do Not Call facility.</p><br/>
	<p>4) In order to change/update your mobile number / Email Id you are requested to visit the nearest HDFC Bank branch</p><br/>
	<p>5) In case your PAN CARD details are not updated please visit your nearest HDFC Bank branch to submit the same.</p><br/>

	</div>
	
	
	<div class="info_row">
	<br/>
	<p><b>Note:</b></p><br/>
	<p>The above address is applicable to all linked
accounts</p><br/>
	</div>

        
		 
        
    </div>
</div>
