<style>
	.info_row { display:table; width:100%; }
	.info_row_menu_left { min-height:30px; }
	.info_row_menu_right { min-height:30px;  }
	.info_row2 { padding-left:5px; }
	.linedivider { margin:0; }
</style>

<div id="wrapper" style="top:96px; padding-bottom:110px;">
  <div class="content">
       <form name="f1" id="f1" method="post" data-bind='submit: rrcpw01submit'>
	
	<div class="info_row"><br/>
	<p><b>Note:</b></p><br/>
	<p>IPIN(password) should be minimum 6 characters and maximum 15 characters.</p><br/>
	</div>
	
	<div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
      
      <div class="info_row">
      	<div class="info_row2">Old Password / I-Pin</div>
      	<div class="info_row3">
      	 <input type="password" name="fldOldPass" id="fldOldPass" value="" size="10"/>	   	
        </div> 
      </div>
      
    <div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
      
      <div class="info_row">
      	<div class="info_row2">New Password / I-Pin</div>
      	<div class="info_row3">
      	 <input type="password" name="fldNewPass" id="fldNewPass" value="" size="10"/>	   	
        </div> 
      </div>
      
	
	<div class="clearfix"></div>
	<div class="linedivider"></div>   
	<div class="clearfix"></div>
      
      <div class="info_row">
      	<div class="info_row2">Confirm New Password / I-Pin</div>
      	<div class="info_row3">
      	 <input type="password" name="fldNewPassAgain" id="fldNewPassAgain" value="" size="10"/>	   	
        </div> 
      </div>
    
	
	
	<div class="alignc"> <p style="margin-top:25px" class="width100Per center_div">                
                 <input type="submit" class="button"  value="Continue" style="width: 140px;">
               </p> </div>
    
	<input type="hidden" name="fldRequestId" value="RRCPW02" />
	<input type="hidden" name="fldTxnId" value="CPW" />	
	<input type="hidden" name="fldScrnSeqNbr" value="02" />
	<input type="hidden" name="fldIdUser" id="fldIdUser" value="{/faml/response/fldloginuserid}" />
	
	<input type="hidden" id="fldFCDBRequestId" name="fldFCDBRequestId"/>

  
   
 </form>
    </div>
</div>
  <script type="text/javascript">
  $.validator.addMethod("Password_not_same", function(value, element) {
 // alert($('#fldNewPass').val() != value);
   return $('#fldNewPass').val() == value;
}, "Newpassword and Confirm password does not match.");

	$("#f1").validate({
		rules: {
			fldOldPass: "required",
			fldNewPass: "required",
			
			fldNewPassAgain: {
			      required: true,
                   Password_not_same:true     
               }
		},
		messages: {
			fldOldPass: "Enter Old Password ",	
            fldNewPass: "Enter New Password",
            
			fldNewPassAgain: {
					required : "Enter New Password Again",
			       Password_not_same:"Newpassword and Confirm password does not match.",    
               }
           			
		}
		
	});	
</script>