<style>  
    body .header, body .footer{display:none !important;}    
</style>

<section class="mPB">
    <!-- starts topBar -->	
    <div class="topBar">
        <a href="javascript:void(0);" class="back_btn"><span class="ico23"></span></a>
        <span>Contact Us</span>
    </div>
    <!-- ends topBar -->	

    <!-- contact_us-->
    <div class="wrapper contact_us">       
        <div class="">
            <h2>Phone Banking Services</h2>
            <div class="info_row">               
                <select>
                    <option value="">-Select-</option>
                    <option value="">Maharashtra</option>
                    <option value="">Bhopal</option>
                    <option value="">Gujarat</option>
                    <option value="">jammu kashmir</option>
                </select>                
            </div>
            <div class="contact">
                <a href="tel:(+91)98906 03333">(+91)98906 03333</a>
            </div>
            <h4>Toll Free Numbers</h4>
            <div class="contact">
                <a href="tel:1800 22 3310">1800 22 3310</a>
            </div>
            <div class="contact">
                <a href="tel:1800 102 3310">1800 102 3310</a>
            </div>
        </div>        
    </div>
    <!-- /contact_us-->

</section>
