<style>
    body .header, body .footer{display:none !important;}   
    #canvas-holder{width:150px;}
    .refresh {position: absolute;display: block;right:5px;top:24px;background:#ebebeb;color:#004a8f;border-radius:3px;font-size: 10px;padding: 6px 5px 4px;}
    .mPB .info_row,.mPB  label,.mPB  p{font-size:0.9em;}
    .financial span {font-size: 0.9em}   
    .financial .list_box li{background:#ffffff;}
    .transBox{background:#ffffff;padding: 10px;}
</style>

<section class="mPB">
    <!-- starts topBar -->	
    <div class="topBar">
        <a href="javascript:void(0);" class="hamburger"><span class="ico"></span></a>
        <span>Financial Summary</span>
		<a href="javascript:void(0);" class="refresh">Refresh</a>
    </div>	
    <!-- ends topBar -->	

    <div class="wrapper">
		 <div class="contents">
        <div class="assetChart row">

            <div class="contets row">

					<div class="canvas_box">
						<div id="canvas-holder">
							<canvas id="chart-area" width="100" height="100"/>
						</div>
					</div>

                <div class="chartLegend">
                    <ul data-bind="foreach:piechartarray">
                        <li>
                            <span class="title" data-bind="text:label">Debit Card *** 6004</span>
                            <span class="value" data-bind="text:value">₹ 21,322.76</span>
							<span class="line" data-bind="style:{background:color}"></span>
                        </li>
                    </ul>
                </div>				
				<span class="more_arrow"></span>				
            </div>
        </div>
	  
        <!-- outer_wrap-->
        <div class="financial" style="padding-top:3px;">
		<!-- ko if: accountListPSBK().length != 0 -->
            <h1 class="saving">Saving & Current Account</h1>
            <ul class="list_box row" data-bind="foreach: accountListPSBK">
                <li data-bind="attr: {id:displaytxt}" onclick="AcntClick(this.id);">
                    <a href="javascript:void(0)">
                        <aside>
                            <label>Account No.</label>
                            <span data-bind="text:displaytxt">50100000000222</span>
                        </aside>
                        <aside>
                            <label>Available Balance</label>
                            <span class="rupees" data-bind="text:acctbalance">&#8377; 2,34,789.12</span>
                        </aside>
                        <aside>
                            <span class="ico ico24"></span>
                        </aside>
                    </a>
                </li>
            </ul>
			 <!-- /ko -->
			 <!-- ko if: accountListFD().length != 0 -->
            <h1 class="fdAmt">Fixed Deposit</h1>
            <ul class="list_box row" data-bind="foreach: accountListFD">
                <li data-bind="attr: {id:id}" onclick="FDAcntClick(this.id);">
                    <a href="javascript:void(0)">
                        <aside>
                            <label>Account No.</label>
                            <span data-bind="text:displaytxt" >50100000000457</span>
                        </aside>
                        <aside>
                            <label>Available Balance</label>
                            <span class="rupees" data-bind="text:principleAmounts">&#8377; 27,248.90</span>
                        </aside>
                        <aside>
                            <span class="ico ico24"></span>
                        </aside>
                    </a>
                </li>
            </ul>
			 <!-- /ko -->
			  <!-- ko if: accountListRD().length != 0 -->
			<h1 class="rdAmt">Recurring Deposit</h1>
            <ul class="list_box row" data-bind="foreach: accountListRD">
                <li data-bind="attr: {id:id}" onclick="RDAcntClick(this.id);">
                    <a href="javascript:void(0)">
                        <aside>
                            <label>Account No.</label>
                            <span data-bind="text:displaytxt">50100000000457</span>
                        </aside>
                        <aside>
                            <label>Available Balance</label>
                            <span class="rupees" data-bind="text:RddepositBals">&#8377; 27,248.90</span>
                        </aside>
                        <aside>
                            <span class="ico ico24"></span>
                        </aside>
                    </a>
                </li>
            </ul>
			 <!-- /ko -->
        </div>
		<div class="transBox" style="padding-top: 10px;">					
			<span class="lastUpdt1 lastUpdt">Last updated at 12/08/2014 12:43:14</span>					
		</div>  
        <!-- /outer_wrap-->
		</div>
    </div>

</section>

<script src="js/libs/misc.js" type="text/javascript"></script>

<script>
	$(document).ready(function(){
		$('#contentData').removeAttr('style');	
		
	});
    /* starts chart */

    //alert(doughnutData);
    var ctx = document.getElementById("chart-area").getContext("2d");
    window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive: true, showTooltips: false, segmentShowStroke : false});
    /* ends chart */

    holder = document.getElementById('chart-area');

    holder.onclick = function (evt) {

        var activePoints = myDoughnut.getSegmentsAtEvent(evt);
        // => activePoints is an array of segments on the canvas that are at the same position as the click event.
        var url = activePoints[0].label + " " + activePoints[0].value;
        //alert(url);
    };
	function AcntClick(id){
		financlialacnt = id;
		currentACCno = id;
		accSelectedForPassbk = id;
        localStorage.setItem("financialaccno","financialaccnumber");
		 financialaccno="financialaccno";
		localStorage.setItem("refselectedacc",currentACCno);
		localStorage.setItem("financialID",currentACCno);
		var model = new mPassbookViewModel(); 
		model.FinancialPageClick(id);
	}
	
	
	function FDAcntClick(id){
		//alert(id);
		var model = new mPassbookViewModel(); 
		model.fdsummarypage(id);
	}
	
	function RDAcntClick(id){
		var model = new mPassbookViewModel(); 
		model.Rdsummarypage(id);
	}
	
	$('.refresh').on('click', function () {
	    console.log('Linked account refresh 1');
		var model = new mPassbookViewModel(); 
		model.linkedacntRefresh();
	});
			
	setTimeout(function(){ 
		(function($) {
			$.fn.hasScrollBar = function() {
				return this.get(0).scrollHeight > this.height();
			}
		})(jQuery);
		
		if($('.chartLegend').hasScrollBar()){
			$('.more_arrow').show();			
		}else{
			$('.more_arrow').hide();			
		}
	}, 1000);
	
	$('.chartLegend').bind('scroll', function(){
		if($(this).scrollTop() + $(this).innerHeight()>=$(this)[0].scrollHeight){
			$('.more_arrow').hide();
		}else{
			$('.more_arrow').show();
		}		
	});	

</script>


