<style>
    body .header, body .footer{display:none !important;} 	
</style>

<section class="mPB">
    <!-- starts topBar -->	
    <div class="topBar">
        <a href="javascript:void(0);" class="hamburger"><span class="ico"></span></a>
        <span>Interactive Statement</span>
    </div>	
    <!-- ends topBar -->

    <div class="wrapper side_spacing">
        <!-- outer_wrap-->
        <div class="outer_wrap">
            <h2>A whole new way to look at your bank statement</h2>
            <div class="box_section">
                <div class="box">
                    <span class="ico ico12"></span>
                    <p>Categorize your transactions</p>
                </div>
                <div class="box">
                    <span class="ico ico7"></span>
                    <p>View category wise summary chart
                        under Income or Expense head
                    </p>
                </div>
                <div class="box">
                    <span class="ico ico13"></span>
                    <p>Update transactions by adding, editing
                        and deleting remarks/tags
                    </p>
                </div>
            </div>
            <div class="info_row marTB10">
                <a href="#overlay1" class="button input_btn">LETS BEGIN!</a>
            </div>
        </div>
        <!-- /outer_wrap-->
    </div>

</section>

<section class="fixedWrap">
    <section class="popWrap themeInBorColor notePopup" style="height: 430px;">
        <div class="popHeader themeBgColor">
            <div class="pageTitle themeInBorColor">
                <h2 class="alignCenter">Filter Transactions</h2>
                <a href="javascript:void(0);" class="closeIcon"><span class="ico ico16"></span></a>
            </div>
        </div>
        <div class="iScroll" id="scrollWrap1">
            <div id="scroller1">
                <div class="ftConfBox">
                    <div class="content sub_content">
                        <form>
                            <div class="info_row">
                                <div class="info_row2">By Type</div>
                                <div class="info_row3 padL5">
                                    <select>
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="info_row">
                                <div class="info_row2">By Duration</div>
                                <div class="info_row3 padL5">
                                    <select>
                                        <option value="">-Select-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="info_row">
                                <div class="info_row2">By Amount</div>
                                <div class="info_row3 amtBox widthHalf"> 
                                    <input type="number" class="line"/>	
                                    <span>₹ </span>
                                </div>
                                <div class="info_row3 amtBox widthHalf"> 
                                    <input type="number" class="line"/>	
                                    <span>₹ </span>
                                </div>
                            </div>
                            <div class="info_row">
                                <a class="info_row_left page_block_sub advanceFilters">Advanced Filters <span class="ico ico17"></span> </a>
                            </div>
                            <div class="info_row">
                                <input type="submit" class="button widthFull" value="CONTINUE" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="js/libs/misc.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('.closeIcon,#yesBtn,#noBtn').on('click', function (event) {
            event.stopPropagation();
            $('.popWrap').removeClass('show');
            setTimeout(function () {
                $('.popWrap').parent().hide(0);
            }, 300);
            event.preventDefault();
            return false;

        });
        $('#okBtn').on('click', function (event) {
            event.stopPropagation();
            $('.popWrap').removeClass('show');
            setTimeout(function () {
                $('.popWrap').parent().hide(0);
            }, 300);
            busyInd.hide();
            window.location = "#accounts";
            event.preventDefault();
            return false;
        });

        $('.filter').on('click', function () {
            $('.popWrap').parent().show(0);
            $('.popWrap').parent().addClass('show');
            $('.popWrap').addClass('show');
            //setTimeout(scrollLoaded, 300);
        });

        $('.advanceFilters').click(function (e) {
            e.preventDefault();
            $('#filterCont').not($(this).next()).slideUp();
            $(this).next().slideToggle();
            $(this).toggleClass("active");
            $(".advanceFilters .ico17").toggleClass('ico17 ico16');
            setTimeout(refresh, 300);
        });

        $(function () {
            var now = new Date();
            $('#fldFromDate,#fldToDate').scroller({
                preset: 'date',
                theme: 'sense-ui',
                display: 'modal',
                mode: 'scroller',
                dateOrder: 'ddMYYYY',
                endYear: now.getFullYear() + 10
            });
            $('#show_date1').click(function () {
                $('#fldToDate').scroller('show');
                return false;
            });
            $('#show_date').click(function () {
                $('#fldFromDate').scroller('show');
                return false;
            });
            $('#clear').click(function () {
                $('#fldFromDate').val('');
                return false;
            });
        });
    });
</script>