<style>
    body .header, body .footer{display:none !important;}
    .list_box a aside{width:100%;}
    .list_box a aside:last-child{width:25px;}
    .toggle_content{padding:20px 20px 5px;  background: #ddd;}
    .toggle_content p{margin-bottom:15px;line-height: 20px;}
    .right_arrow .ico:before {content: "\e913";}
    .show_more .right_arrow .ico:before {content: "\e914";}   
    </style>

<section class="mPB">
    <!-- starts topBar -->
    <div class="topBar">
        <a href="javascript:void(0);" class="hamburger"><span class="ico"></span></a>
        <span>FAQs</span>
    </div>
    <!-- ends topBar -->
    <div class="content">
        <!-- categories-->
        <div class="wrapper ">
            
            <div>
                <ul class="categories list_box">
                    <li>
                        <a class="head">
                            <aside class='edittext'>What is mPassbook?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>mPassbook is a newly added feature in your HDFC Mobile Banking app. You can now update your passbook on your mobile phone using this feature in our app.  </p>
                            <p>mPassbook offers you an easy way to get regular transaction updates of your Savings & Current account , RD and FD summary and retrieve them offline as well.</p>
                            <p>mPassbook is currently available for Android & iPhone users only.</p>
                            
                            </div>
                            </li>
                            <li>
                            <a class="head">
                            <aside class='edittext'>What is mPassbook PIN/Pattern?</aside>
                            <aside>
                            <span class="right_arrow">
                            <span class="ico"></span>
                            </span>
                            </aside>
                            </a>
                            <div class="toggle_content" style="display:none;">
                            <p>mPassbook PIN is 4 digit PIN and Pattern is a custom lock pattern set by you to access mPassbook feature on your HDFC Mobile banking app. Once this PIN or Pattern is set by you in registration process, for  your next login you need to only enter the PIN or Pattern in the app to view you Passbook.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>What can I do using mPassbook?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>You can view your Account balance and transactions of Savings Account, Current Account, Recurring Deposit and Fixed Deposit summary.</p>
                            <p><b>Features</b></p>
                            <p>
                            • &nbsp;Get your account statement anywhere any time.<br><br>
                            • &nbsp;Facility to tag transactions and add personalized remarks for transactions.<br><br>
                            • &nbsp;Search and filter to find a transaction.<br><br>
                            • &nbsp;Offline mode. (Updates available till last Sync for Android)<br><br>
                            • &nbsp;You can do a lot more with Interactive statement feature in mPassbook. Interactive statement allows you to tag, categorize your transactions and see a break up of your income /expense transactions.
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>Are there any charges for this facility?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>No, this facility is free of cost for all HDFC customers</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>Which all Account transactions can I see on my mPassbook?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>mPassbook feature will enable customers to view their Savings, Current account transactions and RD and FD summary.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>Will my transaction history be available offline?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>Yes, transaction history will be available in mPassbook app in offline mode also.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>How can I know if I was successfully registered for mPassbook?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>On successful registration, Bank will send SMS to registered mobile no. "Dear Customer, Congratulations you have successfully registered for mPassbook"</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>I’ve forgotten my mPassbook PIN/Pattern, how can I regenerate it?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>Incase you have forgetton your mPassbook App PIN or Pattern , you will have to follow the same registration process to reset the PIN/pattern. Select the “Forgot PIN/Pattern” option on Login screen to follow the re-registration process.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>How to change my login PIN/Pattern?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>You can change your login pin or pattern from Settings option, in left side navigation menu. You will see here the option to change your PIN or Pattern.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>What is Interactive Statement in mPassbook?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>Interactive statement is an added feature in mPassbook. This feature allows you to add notes to transactions, categorize your transactions and view a breakup/chart of your income and expenses.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>How can I add a note to a Transaction?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>In Interactive statement, click on the transaction you want to tag and you will get an option of Add personalised notes to that transaction.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'> Can I do any financial transaction like Credit Card Payment, Fund transfer etc.?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>No, this app is only a Digital Passbook for you. Kindly use HDFC mobile banking application for making payments & fund transfer.</p>
                            </div>
                            </li>
                            <li>
                            <a  class="head">
                            <aside class='edittext'>Can I view the complete transaction history from the day of opening my account?</aside>
                            <aside>
                            <span class="right_arrow">
                            <span class="ico"></span>
                            </span>
                            </aside>
                            </a>
                            <div class="toggle_content" style="display:none;">
                            <p>mPassbook will allow you to view transactional data of last 6 months of your account from the day of registration and first usage of mPassbook. The transactional data will keep getting updated in the app on subsequent usage of mPassbook feature.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>Will I be able to see my closed/deactive accounts as well?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>No, mPassbook will only show currently active accounts of customer. De-active/dormant accounts will not be shown in mPassbook.</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>I am not able to see all my active accounts, what to do?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>Please try refreshing the application once (use refresh button on top menu) and if the issue still persists, please contact HDFC Bank Customer Care to check the accounts linked with your User ID</p>
                        </div>
                    </li>
                    <li>
                        <a class="head">
                            <aside class='edittext'>For which devices is mPassbook supported?</aside>
                            <aside>
                                <span class="right_arrow">
                                    <span class="ico"></span>
                                </span>
                            </aside>
                        </a>
                        <div class="toggle_content" style="display:none;">
                            <p>mPassbook is currently supported for Android phones (OS 2.3 and above)& iPhone(OS 5.1.1 and above).<br/>
                            * For optimal experience of mPassbook please use Android 4.0 and above.<br/>
                            * For optimal experience of mPassbook please use ios 7.0 and above.</p>
                            </div>
                            </li>
                            <li>
                            <a class="head">
                            <aside class='edittext'>I have downloaded the app but mPassbook app is not working on my phone, what should I do?</aside>
                            <aside>
                            <span class="right_arrow">
                            <span class="ico"></span>
                            </span>
                            </aside>
                            </a>
                            <div class="toggle_content" style="display:none;">
                            <p>Please contact HDFC Bank customer care number in “Contact us” section.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /categories-->
</section>
<script src="js/libs/misc.js" type="text/javascript"></script>
<script>
    $(document).on('click tap', '.head', function (e) {
                   e.preventDefault();
                   $('.head.show_more').removeClass('show_more');
                   $('.toggle_content').hide();
                   $(this).addClass('show_more');
                   $(this).next().show();
                   });
                   $(document).on('click', '.show_more', function (e) {
                                  e.preventDefault();
                                  $(this).next().hide();
                                  $(this).removeClass('show_more');
                                  });
    </script>
