<style>
    body .header, body .footer{display:none !important;} 
	.input_btn {text-transform:uppercase; margin:25px 0;}
</style>

<section class="mPB">
   <!-- starts topBar -->	
    <div class="topBar">
        <a href="#mPassbook01" class="back_btn"><span class="ico23"></span></a>
        <span>Login</span>
    </div>
    <!-- ends topBar -->	
    <div class="wrapper">
        <!-- login error-->
        <div class="login">
            <img src="img/ico_oops.png" alt="oops!" />
            <h2>Oops!</h2>
            <div class="info_row">
                <p>	Your account has been blocked as you <br/>
                    have made 5 unsuccessful Login attempts.<br/>
                    Please re-register to start using mPassbook again<br/>
                </p>
            </div>
            <div class="info_row">
                <a href="#mPB_register" class="button input_btn">RE-REGISTER</a>
            </div>
            <div class="link">
                <a onclick="registerlater();">I will register later<span class="ico24"></span></a>
            </div>
        </div>
        <!-- /login error-->
    </div>
</section>
<script>
function registerlater(){
	localStorage.setItem('loginerror','true');
	window.location.hash = '#menu';
}
</script>

