<style>
    body .header, body .footer{display:none !important;}
    .topBar > span {padding: 0 70px 0 65px;}
	#canvas-holder{width:150px;}
	.amtBox span{top:0;}
	.text_content{white-space:normal !important;}	
	
	.assetBox aside{vertical-align:top;}
	.amount{display:none !important;}
	.amount_show{display:block !important;}
    .refresh {position: absolute;display: block;right: 5px;top: 24px;background:#ebebeb;color:#004a8f; border-radius: 3px; font-size: 10px; padding: 6px 5px 4px;}
    .topBar{position:fixed;}
    #contentData,.wrapper{overflow: visible;}
    .info_row{background:#ffffff;}
    .hamburger{left:30px;}
    .hamburger:before, .hamburger:after, .hamburger span {left:4px;}
    .hamburger.close{left:10px;}
    .back_btn {line-height:74px;width: 30px; height: 70px; top: 0;left: 0;}
    .mPB.show .back_btn{display:none;}
</style>

<section class="mPB">
 <div class="content sub_content">	
    <!-- starts topBar -->	
    <div class="topBar">
        <a onclick="financialSummary1();" class="back_btn"><span class="ico23"></span></a>
        <a href="javascript:void(0);" class="hamburger"><span class="ico"></span></a>
        <span>RD Statement</span>
		<a href="javascript:void(0);" class="refresh">Refresh</a>
    </div>	
    <!-- ends topBar -->	
    <!-- starts wraper -->	
    <div class="wrapper">

		<div class="assetHead row">
            <div class="leftCol">			
               	<label>RD Accounts</label>
				<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountListRD,  optionsText:  'codacctno', optionsValue: 'codacctno', value: selAccount, event: {change:showSelectedRDAccount}" >
				</select>	 
            </div>
            <div class="rightCol">
                <label>Current Deposit Balance</label> 				
                <span class="rs" data-bind="text:curraccbalval"> ₹ 2,34,789.12 </span>
            </div>			
        </div>
		
		<!-- ko if: RDListMpassbook().length != 0 -->
        <div class="assetSummry">
			<div class="transBox">					
				<span class="lastUpdt">Last updated at 12/08/2014 12:43:14</span>					
			</div>             

                <div class="row noPad noBorder" data-bind="foreach: RDListMpassbook">
				<!-- ko if: TXN_DATE != "" -->
				<h3 class="heading" data-bind="text:TXN_DATE">11 Aug 2014</h3>
				<!-- /ko -->
                    <div class="info_row list_box" >
                        <a class="assetBox" href="javascript:void(0)">
                            <aside>
                                <span class="textNarration" data-bind="text:TXN_NARRATION"></span>
                            </aside>
                            <aside>
							<!-- ko if: TXN_Type == 'CR' -->
                                <span class="greenTxt" data-bind="text:InstallAmnt">₹ 1,267.00 Dr</span>
							<!-- /ko -->
							<!-- ko if: TXN_Type == 'DR' -->
                                <span class="redTxt" data-bind="text:InstallAmnt">₹ 1,267.00 Dr</span>
							<!-- /ko -->
                            </aside>
                        </a>
                    </div>
                </div>
        </div>	
		<!-- /ko -->
		<!-- ko if: RDListMpassbook().length == 0 -->
		<div class="appearError" id="notrans">	
			<div class="info_row">
				<p style="margin:0;">No Installment Found</p>
			</div>			
		</div>
		<!-- /ko -->
    </div>
<script src="js/libs/misc.js" type="text/javascript"></script>

<script>
	
 $(document).ready(function(){
 //alert(1);
	if(currentRDno){
		$('#fldAcctNo').val(currentRDno);
	}
 });
 
 $('.refresh').on('click', function () {
 console.log('RD Summary 1');
		var model = new mPassbookViewModel(); 
		model.RDStatementRefresh(selaccno);
	});
	function financialSummary1(){
	console.log('Financial Summary 1');
        busyInd.show();
				callfinalcialSummary();
			 setTimeout(function(){
				 busyInd.hide();
				 
		   },15000);
			
   }


</script>

