<style>
    body .header, body .footer{display:none !important;}
    .bottom_text{margin-top:25px;} 	
</style>

<section class="mPB">
    <div class="content sub_content">	
        <!-- starts topBar -->	
        <div class="topBar">
            <a href="javascript:void(0);" class="hamburger"><span class="ico"></span></a>
            <span>Request Statement</span>                
        </div>	
        <!-- ends topBar -->
        <div class="wrapper">

            <form name="request_statement" id="request_statement" method="post" data-bind='submit: requstsubmit'>
			
				<!-- outer_wrap-->
				<div class="reqt_stmt">
					<div class="info_row">
						<div class="info_row2">Select Account</div>
						<div class="info_row3">
							<select name="fldAcctNo" id="fldAcctNo" data-bind="options: accountListPSBK,  optionsText:  'codacctno', optionsValue: 'codacctno' " >
							</select>	
						</div>
					</div>
					<div class="info_row fromToDate"> 
						<div class="info_row2">Select Period</div> 
						<div class="info_row3 noPad">
							<div class="widthHalf">
								<input class="line" type="text" readonly="readonly" name="fldFromDate" id="fldFromDate" placeholder="From" />
								<div  id="show_date"><span class="ico ico18"></span></div>
							</div>	
							<div class="widthHalf">
								<input class="line" type="text" name="fldToDate" readonly="readonly" id="fldToDate" placeholder="To" />
								<div  id="show_date1"><span class="ico ico18"></span></div>
							</div>
						</div>										   
					</div>	 

					<div class="info_row" style="padding: 25px 10px 0;">			
						<input type="submit" class="button widthFull" value="Submit" />
					</div>
				</div>

				<!-- /outer_wrap-->
			
			</form>
			<div class="info_row" style='font-size:0.8em;'>
				 <p><b>Note:</b></p><br/>
				 <p>- The account statement will be delivered to your recorded mailing address within 4 working days. Each Statement Request will be charged Rs. 50/-.</p><br/>
				 <p>- For Account statement request prior to 1st April 2005, please visit your nearest HDFC Bank Branch.</p><br/>
				 <p>- In case you have registered for Email Statement, the account statement shall be sent to the recorded Email address with 1 working days. There is no charge for Email Statements.</p><br/>
				 <p>- If the Account Statement requested is not delivered within the stipulated 4 working days,write-in to us with the subject : Account Statement Inquiry.</p><br/>
				 <p>- Since the Account Statemnent will be delivered to your recorded address, please verify your contact details.</p><br/>
				 <p>- For Imperia, Preferred, Classic Customer, a physical statement will be sent to the address recorded with the Bank. For further queries, please contact your Relationship Mangers / Personal Banker.</p>
				
				<div class="clearfix"></div>
			</div>
        </div>
    </div>

</section>

<script src="js/libs/misc.js" type="text/javascript"></script>

<script>
$(function () {
	var dtmin = new Date();
		dtmin.setDate(dtmin.getDate());
		var dtmax = new Date();
		dtmax.setDate(dtmax.getDate() + 60);
		var now = new Date();
		$('#fldFromDate,#fldToDate').scroller({
			preset: 'date',
			theme: 'sense-ui',
			display: 'modal',
			mode: 'scroller',
			dateOrder: 'ddMYYYY',
			endYear: now.getFullYear() + 10,
			minDate: new Date(2005, 03, 01),
			maxDate: new Date(dtmin.getFullYear(), dtmin.getMonth(), dtmin.getDate())
		});
		$('#show_date1').click(function () {
			$('#fldToDate').scroller('show');
			return false;
		});
		$('#show_date').click(function () {
			$('#fldFromDate').scroller('show');
			return false;
		});
		$('#clear').click(function () {
			$('#fldFromDate').val('');
			return false;
		});
});

$("#request_statement").validate({
		rules: {
			fldFromDate: "required",
			fldToDate: "required"
		},
		messages: {
			fldFromDate: "Enter From Date",
			fldToDate: "Enter To Date"
		}
	});	

</script>


