<div id="wrapper" style="top:96px;">
  <div id="content_container">
     
    <div class="sub_content">
    
   			<span class="info_row" id="error"></span>
   			
			<div class="summblock">
				<div class="info_row dark_header"><span class="info_row_left">Card No.</span> 
					<span class="info_row_right" id="cardnum">
					
					</span>
					<div class="clearfix"></div>
				</div> 
				
				<div class="info_row even"><span class="info_row_left">Reason</span> 
					<span class="info_row_right" id="reson">
						
		
					</span>
					<div class="clearfix"></div>
				</div> 
				
				<div class="info_row odd"><span class="info_row_left">Remarks</span> 
					<span class="info_row_right" id="remark" ></span>
					<div class="clearfix"></div>
				</div> 
			</div>	
				
 
	
	
	
	</div>
	
	</div>
</div>
	

