<div id="wrapper" style="top:96px;">
  <div id="content_container">
      <div class="info_row" data-bind="visible: error"><p data-bind="text: errormsg"></p></div>
     			<div class="info_row" data-bind="visible: !error"><p data-bind="text: errormsg"></p></div>
     
  <form name="frmrrdcl02" id="frmrrdcl02" method="post"  data-bind='submit: rrdcl02Submit'>
 <div class="sub_content">
    
<div class="info_row"><p>Please verify and confirm your request for hotlisting your card.</p></div>
				<br/>
				
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
				<div class="info_row">
					<div class="info_row2">Card No.</div>
					<div class="info_row3">
					<span id="cardid"></span>
					</div> 
				</div>
			
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
				<div class="info_row">
					<div class="info_row2">Reason</div>
					<div class="info_row3">
					<select name="fldReason" id="fldReason" class="styled">
						<option value="L">Card Lost</option>
						<option value="D">Card Damaged</option>
						<option value="R">Card Not Received</option>
						<option value="T">Card Destroyed</option>

					</select>
					</div> 
				</div>
			
				<div class="clearfix"></div>
				<div class="linedivider"></div>   
				<div class="clearfix"></div>
				
				<div class="info_row">
					<div class="info_row2">Remarks</div>
					<div class="info_row3">
					<input type="text" name="fldRemarks" id="fldRemarks" value="" size="10" />
					</div> 
				</div>
				
				<div class="clearfix"></div>
				<br/>
				<div class="alignc">    <div class="info_row2">
		    <input type="submit" class="button" value="Confirm" >
		   </div></div>
							
				<div class="info_row">
				<p><b>Note:</b></p><br/>
				<p>I have read and understood the below mentioned points.</p><br/>
				<p>Please note that by confirming this request your card(s) will cease to function and cannot be reactivated.</p><br/>
				<p>Incase the Debit Card that you want to hot-list is in your possession, kindly destroy the same by cutting it into 4 pieces once the hotlisting request has been confirmed.</p><br/>
				<p>You can visit your nearest branch to request for a new card.</p><br/>
				<p>Incase you suspect any misuse on the card, we urge you to immediately hotlist the Debit Card online and get in touch with our Phone Banking or visit our nearest branch along with the transaction details.</p>
				</br>
				</br>
				</br>
				</div>
				
				
	 
	
	

	
	<input type="hidden" name="fldCardNo" id="fldCardNo" value="" />
	<input type="hidden" name="fldMaskCardNo" id="fldMaskCardNo" value="" />
	<input type="hidden" name="fldStatus" id="fldStatus" value="" />
	<input type="hidden" name="fldExpiry" id="fldExpiry" value="" />
	<input type="hidden" name="fldUnqId" id="fldUnqId" value="" />
	
	
</div>
	</form>
    
  </div>
  </div>
<script>
$.validator.addMethod("alpha", function(value, element) {
     return this.optional(element) || /^[a-z0-9 ]+$/i.test(value); 
}
, "Alphabetic and Numeric characters with spaces are allowed for Remarks"); 

$("#frmrrdcl02").validate({
	rules: {
		fldRemarks: {
                required: true,
                 alpha: true,
	
		},	
	},
	messages: {
	
			fldRemarks:{
			required : "Remarks cannot be blank",
			alpha : "Alphabetic and Numeric characters with spaces are allowed for Remarks",			
		},			
	}
});
</script>
