<div id="wrapper" style="top:96px;">
    <div class="content sub_content">
        <div class="info_row rcErrorMsg" style="display:none;"></div>
        <div class="info_row rsaTxnStatus" style="display:none;">
            <p></p>
        </div>
        <div class="info_row rsaAuthFailure" style="display:none;">
            <p>Sorry!</p><br/>
            <p>We are unable to authenticate you. Your transaction cannot be processed at this time. Please contact PhoneBanking or any nearest Branch.</p>
        </div>
        <div class="info_row rsaOOBErr" style="display:none;">
            <p>We are unable to carry out your transaction. Please try again later.</p>
        </div>
   
        <br/>
        <div  id="rsdpi03success">
            <p id="successmsgo"></p>
        </div>
        <br/><br/>
    </div>
</div>