


<div id="wrapper" style="top:96px;">
  <div id="content_container">
     
  <form name="frmrsdpi02" id="frmrsdpi02" method="post"  data-bind='submit: rsdpi02Submit'>
  
  
      <div class="summblock">
	
			
			
			<div class="info_row dark_header"><span class="info_row_left">Card No</span> 
			<span class="info_row_right fldCardNo" style="word-wrap: break-word;" ></span>
				<div class="clearfix"></div>
			</div>
			<div class="info_row odd" style="display:none;"><span class="info_row_left">NewPin:</span> 
			<span class="info_row_right fldNewPin" style="word-wrap: break-word;"></span>
				<div class="clearfix"></div>
			</div>
		
			<div class="info_row even" style="display:none;"><span class="info_row_left">New Confirm Pin:</span> 
				<span class="info_row_right fldNewConfirmPin" ></span>
				<div class="clearfix"></div>
			</div>
			
			
	  </div>
  </br>
 
	<div class="alignc"><input type="submit" class="button" value="Confirm"  ></div>
	 <input type="hidden" name="fldCardNo" id="fldCardNo" value="" />
	 <input type="hidden" name="fldExpDate" id="fldExpDate" value="" />
	 <input type="hidden" name="fldCardAANNo" id="fldCardAANNo" value="" />
	<input type="hidden" name="fldMaskCardNo" id="fldMaskCardNo" value="" />
	<input type="hidden" name="fldStatus" id="fldStatus" value="" />
	<input type="hidden" name="fldExpiry" class="fldExpiry" id="fldExpiry" value="" />
	<input type="hidden" name="fldUnqId" id="fldUnqId" value="" />
		
			<input type="hidden" name="fldCardNo" id="fldCardNo" value="" />
     	    <input type="hidden" name="fldNewPin" id="fldNewPin" value="" />
	         <input type="hidden" name="fldNewConfirmPin" id="fldNewConfirmPin" value="" />
	         <input type="hidden" name="fldExpiry" class="fldExpiry" id="fldExpiry" value="" />
	 

	 
	
	
	
	
	</form>
    
  </div>
	<div id="CardCnt" class="info_row" style="padding-top:5px;display:none;" ><p>No Debit/ATM cards linked to the custid.</p></div>
  
  
  </div>


<script>

</script>





